{% extends 'forum/Teacher_base.html' %}
{% load i18n %}
{% load forum_tags %}
{% load humanize %}


{% block breadcrumb %}

<li class="breadcrumb-item"><a href="{% url 'teacher_forum' %}">Forum</a></li>
<li>
    <a href="{% url 'teacher_nodegroup' pk=topic.node_group.pk %}">{{ topic.node_group.title }}</a>
</li>
<li class="active"><a href="{% url 'teacher_topic' pk=topic.pk %}">{{ topic.title }}</a></li>

{% endblock %}

{% block main_contain %}
{% include 'ForumInclude/SubcategoryList.html' %}

{% endblock %}