{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

<div class="outerdiv">

    <div class="headerDiv">
        <h2 class="tableHeader">
            {% if '/create/' in request.path %}
            {% trans 'Create New Assignment' %}
            {% else %}
            {% trans 'Edit Assignment' %}
            {% endif %}
        </h2>
        <hr class="header_hr">
    </div>
    <div class="col-md-12">
        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
            <form method="post" id="FormID">
                {% csrf_token %}
                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                    {{ form.Assignment_Topic|as_crispy_field }}
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                    <div id="div_id_Assignment_Deadline" class="form-group">
                        <label for="id_Assignment_Deadline" class="control-label ">
                            {% trans 'Assignment Deadline' %}
                        </label>
                        <div class="controls ">
                            <input type="date" name="Assignment_Deadline" class="datetimeinput form-control"
                                id="id_Assignment_Deadline">
                        </div>
                    </div>

                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                    <input type="hidden" name="Course_Code" id="id_Course_Code" value="{{ Course_Code.id }}"
                        class="select form-control">
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                    <input type="hidden" name="Chapter_Code" id="id_Chapter_Code" value="{{ Chapter_No.id }}"
                        class="select form-control">
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                    <input type="hidden" name="Register_Agent" id="id_Register_Agent" value="{{ request.user.id }}"
                        class="select form-control">
                </div>
                <div class="submitButton  col-md-12">
                    <button class="btn btn-success" type="submit">{% trans 'Submit' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>