{% load static %}
{% load i18n %}
{% load model_template_relation %}

<div class="modal fade" id="add_question_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold" id="add_question_modal_title">
                    {% trans "Add Question" %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body" id="add_question_modal_body">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editAssignmentModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold" id="editAssignmentModal_title">
                    {% trans "Edit Assignment" %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body" id="editAssignment_modal_body">
                <form method="post" id="ajaxassignmentinfoform">
                    {% csrf_token %}
                    <div class="alert alert-danger form-errors" style="display: none">
                    </div>
                    <div class="form-group">
                        <label for="id_Assignment_Topic_edit" class="control-label">
                            {% trans "Assignment Topic" %} <span class="asteriskField">*</span>
                        </label>
                        <input type="text" name="Assignment_Topic" maxlength="500" class="form-control"
                            id="id_Assignment_Topic_edit" valu e="{{ object.Assignment_Topic }}" required>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="id_Assignment_Start_edit" class="control-label">
                                    {% trans "Assignment Start" %} *
                                </label>
                                <input type="text" name="Assignment_Start_edit" class="form-control"
                                    id="id_Assignment_Start_edit" value="{{ object.Assignment_Start|date:'c' }}" min=""
                                    max="9999-12-31">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="id_Assignment_Deadline_edit" class="control-label">
                                    {% trans "Assignment Deadline" %} *
                                </label>
                                <input type="text" name="Assignment_Deadline_edit" class="form-control"
                                    id="id_Assignment_Deadline_edit" value="{{ object.Assignment_Deadline|date:'c' }}"
                                    min="{{ datetime|date:'Y-m-d' }}" max="9999-12-31" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <label for="id_Use_Flag">{% trans "Publish" %}</label><br>
                        <input type="checkbox" id="id_Use_Flag" class="js-switch" name="Use_Flag"
                            {% if object.Use_Flag == False %} &nbsp; {% elif object.Use_Flag == True %} checked
                            {% endif %}>
                    </div>

                    <div class="result text-center"></div>
                    <div class="form-group">
                        <input type="hidden" name="Register_Agent" id="id_Register_Agent" value="{{ request.user.id }}"
                            class="select form-control">
                        <input type="hidden" name="Course_Code" id="id_Course_Code" value="{{ object.Course_Code.id }}"
                            class="select form-control">
                        <input type="hidden" name="Chapter_Code" id="id_Chapter_Code"
                            value="{{ object.Chapter_Code.id }}" class="select form-control">
                        <input type="hidden" name="today_date" id="id_today_date" value="{{ datetime|date:'Y-m-d' }}"
                            class="select form-control">
                    </div>
                    <div class="submitButton text-center col-md-12">
                        <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 ">
        <div class="page-header">
            <div class="page-title">
                <h3 class="d-flex align-items-center">
                    <!-- <span class="icon-block text-primary">
                        {{ object.pk }}</span> &nbsp; -->
                    {{ object.Assignment_Topic }}
                </h3>
            </div>
        </div>
        
        <div class="mt-2 mb-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h4 class="text-primary mb-0">{% trans "List of Questions" %}</h4>
                {% if not "students" in request.get_full_path %}
                <div>
                    <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#add_question_modal"
                        id="add-newquestion-btn">
                        {% trans "Add Question" %}
                    </button>
                </div>
                {% endif %}
            </div>
            {% for question in Questions %}
            <div class="accordion mb-4" id="questionList{{ question.pk }}">
                <div class="card shadow-none border">
                    <div class="card-header justify-content-between" id="headingOne">
                        <div class="d-flex align-items-center pr-3">
                            <figure class="avatar avatar-sm">
                                <span class="avatar-title rounded-circle"> {{ forloop.counter }}</span>
                            </figure>
                            <h5 class="text-secondary m-0 pl-3 cursor-pointer">
                                {{ question.Question_Title }}
                            </h5>
                        </div>
                        <div class="d-flex" style="min-width: 120px;">
                            <div class="row align-items-center">
                                {% if '/students' in request.path %}
                                <button class="btn btn-sm btn-outline-primary answerButton mx-2" type="button" id="{{ question.pk }}">{% trans "ANSWER" %} <i class="fa fa-arrow-right"></i>
                                </button>
                                {% endif %}
                                {% if '/students' not in request.path %}
                                <div class="modal fade" id="editQuestionModal" tabindex="-1" role="dialog"
                                    aria-labelledby="editQuestionLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h5 class="modal-title text-primary font-weight-bold" id="editQuestionModal_title">{% trans 'Edit Question' %}
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <i class="ti-close"></i>
                                                </button>
                        
                                            </div>
                                            <div class="modal-body modal-auto" id="edit_question_modal_body">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-sm btn-info btn-floating editquestion-btn mx-2" data-toggle="modal"
                                    data-target="#editQuestionModal" id="editquestion-btn{{ question.pk }}"
                                    data-questionpk="{{ question.pk }}">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                {% if '/teachers' in request.path %}
                                <button id="{{ question.pk }}" class="btn btn-sm btn-danger btn-floating confirm-delete mx-2">
                                    <i class="fa fa-trash"></i>
                                </button>
                                <form method="post" action="{% url 'teacher_questioninfo_delete' assignment=object.pk pk=question.pk %}"
                                    id="deleteQuestion{{ question.pk }}">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ question.pk }}" name="question_id">
                                    <input type="hidden" value="{{ object.pk }}" name="assignment_id">
                                    <input type="hidden" value="{{ object.Course_Code.id }}" name="course_id">
                                    <input type="hidden" value="{{ object.Chapter_Code.id }}" name="chapter_id">
                                </form>
                                {% else %}
                                <button id="{{ question.pk }}" class="btn btn-sm btn-danger btn-floating confirm-delete mx-2">
                                    <i class="fa fa-trash"></i>
                                </button>
                                <form method="post" action="{% url 'webapp_questioninfo_delete' assignment=object.pk pk=question.pk %}"
                                    id="deleteQuestion{{ question.pk }}">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ question.pk }}" name="question_id">
                                    <input type="hidden" value="{{ object.pk }}" name="assignment_id">
                                    <input type="hidden" value="{{ object.Course_Code.id }}" name="course_id">
                                    <input type="hidden" value="{{ object.Chapter_Code.id }}" name="chapter_id">
                                </form>
                                {% endif %}
                                {% endif %}
                                

                            </div>
                            <a data-toggle="collapse" data-target="#question{{ question.pk }}" aria-expanded="true" aria-controls="collapseOne"
                                href="javascript:void(0)" class="ml-4">
                                <figure class="avatar avatar-sm">
                                    <span class="avatar-title rounded-circle">
                                        <i class="fa fa-chevron-down"></i>
                                    </span>
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div id="question{{ question.pk }}" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#questionList{{ question.pk }}">
                        <div class="row m-0">
                            <div class="col-7 p-3">
                                {% if question.Question_Description %}
                                <p class="mb-1">{% trans "Question Description" %} : {{ question.Question_Description | safe }}</p>
                                {% else %}
                                <p class="mb-1">{% trans "No Decription Given" %}</p>
                                {% endif %}
                                {% if question.Question_Media_File %}
                                <p class="mb-1">{% trans "Question Media" %} : </p>
                                <p>
                                    {% if question.extension == '.jpg' or question.extension == '.png' %}
                                    <img class="card-img-top" width="400px" src="{{ question.Question_Media_File.url }}">
                                    {% else %}
                                    <a href="{{ question.Question_Media_File.url }}" target="_blank"><b style="color:#017a9b">
                                            {% trans "Click to view attatched file" %}</b></a>
                                    {% endif %}
                                </p>
                                {% endif %}
                            </div>
                            <div class="col-5 p-3 border-left">
                                {% if question.Question_Score %}
                                <p>{% trans "Question Score" %} : {{ question.Question_Score }}</p>
                                {% endif %}
                            
                                {% if question.Answer_Type %}
                                <p>
                                    {% trans "Answer Type" %} : {% if question.Answer_Type == 'S' %}
                                    {% trans "Short Answer" %}
                                    {% else %}
                                    {% trans "File Upload" %}
                                    {% endif %}
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {%comment%}
            <div class="x_panel" id="answerContent{{ question.pk }}" style="display: none">
                <div class="x_content">
                    {% for answer in Answers %}
                    {% if question.id == answer.Question_Code.id %}

                    {% if answer.Assignment_Answer != '' %}
                            {# <p>{{ answer.Assignment_Answer }}</p> #}
                            <div class="short_answer">
                                <p class="short_answer_p"
                                    style="margin: 0;color:#000000;">{{ answer.Assignment_Answer|safe }}
                                </p>
                            </div>
                            {% now "Y-m-d H:i" as todays_date %}
                            {# {% if object.Assignment_Deadline|date:"Y-m-d H:i" >= todays_date and object.Assignment_Start|date:"Y-m-d H:i" <= todays_date %} #}
                            {% if object.active %}
                                <button class="btn btn-info editanswer"
                                        data-Student_Code="{{ request.user.id }}"
                                        data-Question_Code="{{ questions.id }}"
                                        data-Answer_Code="{{ answer.pk }}"
                                        value="{{ answer.pk }}"
                                        style="float: right;" title="Edit Answer"><i class="fa fa-edit"
                                                                                    aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-danger deleteanswer" value="{{ answer.pk }}"
                                        style="float: right" title="Delete Answer"><i
                                        class="fa fa-trash"
                                        aria-hidden="true"></i>
                                </button>
                            {% endif %}
                            <div class="assignment_update_form" style="display: none;">
                                <form class="form_{{ questions.id }}">
                                    <div class="form-group">
                                        {{ form.Assignment_Answer }}
                                        <input type="hidden" value="{{ request.user.id }}"
                                                name="Student_Code"
                                                id="id_Student_Code{{ questions.id }}">
                                        <input type="hidden" value="{{ questions.id }}"
                                                name="Question_Code"
                                                id="id_Question_Code{{ questions.id }}">
                                    </div>
                                    <div class="form-group text-center">
                                        <button class="btn btn-sm btn-primary cancelBtn" type="button"
                                                id="cancelButton{{ questions.pk }}">
                                            {% trans 'Cancel' %}
                                        </button>
                                        <button class="btn btn-sm btn-primary resetBtn" type="reset">
                                            {% trans 'Reset' %}
                                        </button>

                                        <button type="button"
                                                class="btn btn-sm btn-success submitAnswer"
                                                id="answer{{ questions.id }}"
                                                data-id="{{ questions.id }}"
                                                data-url="{% url 'assignanswerinfo_create_ajax' %}?editanswer={{ answer.pk }}">
                                            {% trans 'Submit' %}
                                        </button>
                                    </div>
                                </form>
                            </div>


                    {% else %}
                    <p style="margin: 0;color:#000000;">{% trans 'File has been Submitted' %}</p>
                    {# <p>{% trans "File has been Submitted" %}</p> #}
                        <a href="{{ answer.Assignment_File.url }}" target="_blank"><b style="color:#017a9b">
                                {% trans "Click to view Submitted file" %}</b></a>
                        <button class="btn btn-danger deleteanswer" value="{{ answer.pk }}" style="float: right"
                            title="Delete Answer"><i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    {% endif %}
                    {% endif %}
                    {% endfor %}

                    {% for answer in notAnswered %}
                    {% if  questions.id == answer %}
                        <form class="form_{{ questions.id }}">
                            {% if questions.Answer_Type == 'S' %}
                            <div class="form-group">
                                {{ form.Assignment_Answer }}
                                <!-- <textarea type="hidden" name="Assignment_Answer"
                                                                            id="id_Assignment_Answer{{ questions.id }}"
                                                                            required></textarea> -->
                                <input type="hidden" value="{{ request.user.id }}" name="Student_Code" id="id_Student_Code{{ questions.id }}">
                                <input type="hidden" value="{{ questions.id }}" name="Question_Code" id="id_Question_Code{{ questions.id }}">
                        
                            </div>
                        
                            <div class="form-group text-center">
                                {% now "Y-m-d H:i" as todays_date %}
                                {# {% if object.Assignment_Deadline|date:"Y-m-d H:i" >= todays_date and object.Assignment_Start|date:"Y-m-d H:i"
                                <= todays_date %} #} {# {% isAssignmentActive object as isanswerable %}#} {% if object.active %} <!-- <button
                                    class="btn btn-primary" type="button" id="cancelButton{{ questions.pk }}">
                                    Cancel
                                    </button> -->
                                    <button class="btn btn-sm btn-primary" type="reset">{% trans 'Reset' %}
                                    </button>
                        
                                    <button type="button" class="btn btn-sm btn-success submitAnswer" id="answer{{ questions.id }}"
                                        data-id="{{ questions.id }}" data-url="{% url 'assignanswerinfo_create_ajax' %}">
                                        {% trans 'Submit' %}
                                    </button>
                                    {% else %}
                                    <p class="text-danger">{% trans 'Submission is prohibited. Please check assignment start and end date' %}
                                    </p>
                                    {% endif %}
                            </div>
                        
                            {% elif questions.Answer_Type == 'F' %}
                        
                            <div class="form-group">
                                <label for="id_Assignment_File{{ questions.id }}" class="">
                                    <span style="font-size: 10px; color: #721c24">
                                        {% trans 'Assignment File' %} ({% trans 'Max' %}: 10 MB) </span>
                                </label>
                        
                                <input type="file" name="Assignment_File" id="id_Assignment_File{{ questions.id }}" required />
                                <input type="hidden" value="{{ request.user.id }}" name="Student_Code" id="id_Student_Code{{ questions.id }}">
                                <input type="hidden" value="{{ questions.id }}" name="Question_Code" id="id_Question_Code{{ questions.id }}">
                            </div>
                            <div class="form-group text-center">
                                {% now "Y-m-d H:i" as todays_date %}
                                {# {% if object.Assignment_Deadline|date:"Y-m-d H:i" >= todays_date and object.Assignment_Start|date:"Y-m-d H:i"
                                <= todays_date %} #} {# {% isAssignmentActive object as isanswerable %} #} {% if object.active %} <button
                                    class="btn btn-sm btn-primary" type="reset" id="cancelButton{{ questions.pk }}">
                                    {% trans 'Cancel' %}
                                    </button>
                        
                                    <button type="button" class="btn btn-sm btn-success submitAnswer" id="answer{{ questions.id }}"
                                        data-id="{{ questions.id }}" data-url="{% url 'assignanswerinfo_create_ajax' %}">
                                        {% trans 'Submit' %}
                                    </button>
                                    {% else %}
                                    <p class="text-danger">{% trans 'Submission is prohibited. Please check assignment start and end date' %}
                                    </p>
                                    {% endif %}
                            </div>
                            {% endif %}
                        </form>

                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {%endcomment%}
            <div class="x_panel" id="answerContent{{ question.pk }}" style="display: none">
                <div class="x_content">
                    {% for answer in Answers %}
                        {% if question.id == answer.Question_Code.id %}
                            {% if answer.Assignment_Answer != '' %}
                                <div class="short_answer">
                                    <p class="short_answer_p"
                                        style="margin: 0;color:#000000;">{{ answer.Assignment_Answer|safe }}</p>
                                </div>
                                {% now "Y-m-d H:i" as todays_date %}
                                {% if object.active %}
                                    <button class="btn btn-info editanswer"
                                            data-Student_Code="{{ request.user.id }}"
                                            data-Question_Code="{{ question.id }}"
                                            data-Answer_Code="{{ answer.pk }}"
                                            value="{{ answer.pk }}"
                                            style="float: right; position:relative; bottom:60px; left:5px;" title="Edit Answer"><i class="fa fa-edit"
                                                                                        aria-hidden="true"></i>
                                    </button>
                                    <button class="btn btn-danger deleteanswer" value="{{ answer.pk }}"
                                            style="float: right; position:relative; bottom:60px;" title="Delete Answer"><i
                                            class="fa fa-trash"
                                            aria-hidden="true"></i>
                                    </button>
                                {% endif %}
                                <div class="assignment_update_form" style="display: none;">
                                    <form class="form_{{ question.id }}">
                                        <div class="form-group">
                                            {{ form.Assignment_Answer }}
                                            <input type="hidden" value="{{ request.user.id }}"
                                                    name="Student_Code"
                                                    id="id_Student_Code{{ question.id }}">
                                            <input type="hidden" value="{{ question.id }}"
                                                    name="Question_Code"
                                                    id="id_Question_Code{{ question.id }}">
                                        </div>
                                        <div class="form-group text-center">
                                            <button class="btn btn-sm btn-primary cancelBtn" type="button"
                                                    id="cancelButton{{ question.pk }}">
                                                {% trans 'Cancel' %}
                                            </button>
                                            <button class="btn btn-sm btn-primary resetBtn" type="reset">
                                                {% trans 'Reset' %}
                                            </button>

                                            <button type="button"
                                                    class="btn btn-sm btn-success submitAnswer"
                                                    id="answer{{ question.id }}"
                                                    data-id="{{ question.id }}"
                                                    data-url="{% url 'assignanswerinfo_create_ajax' %}?editanswer={{ answer.pk }}">
                                                {% trans 'Submit' %}
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            {% else %}
                                <p style="margin: 0;color:#000000;">{% trans 'File has been Submitted' %}</p>

                                <a href="{{ answer.Assignment_File.url }}" target="_blank"><b
                                        style="color:#017a9b">{% trans 'Click to view Submitted file' %}</b></a>
                                {% if object.active %}
                                    <button class="btn btn-danger deleteanswer" value="{{ answer.pk }}"
                                            style="float: right" title="Delete Answer"><i
                                            class="fa fa-trash"
                                            aria-hidden="true"></i>
                                    </button>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% for answer in notAnswered %}
                        {% if  question.id == answer %}
                            <form class="form_{{ question.id }}">
                                {% if question.Answer_Type == 'S' %}
                                    <div class="form-group">
                                        {{ form.Assignment_Answer }}
                                        <!-- <textarea type="hidden" name="Assignment_Answer"
                                            id="id_Assignment_Answer{{ question.id }}"
                                            required></textarea> -->
                                        <input type="hidden" value="{{ request.user.id }}"
                                                name="Student_Code"
                                                id="id_Student_Code{{ question.id }}">
                                        <input type="hidden" value="{{ question.id }}" name="Question_Code"
                                                id="id_Question_Code{{ question.id }}">

                                    </div>

                                    <div class="form-group text-center">
                                        {% now "Y-m-d H:i" as todays_date %}
                                        {# {% if object.Assignment_Deadline|date:"Y-m-d H:i" >= todays_date and object.Assignment_Start|date:"Y-m-d H:i" <= todays_date %} #}
                                        {# {% isAssignmentActive object as isanswerable %}#}
                                        {% if object.active %}
                                            <!-- <button class="btn btn-primary" type="button" id="cancelButton{{ question.pk }}">
                                    Cancel
                                </button> -->
                                            <button class="btn btn-sm btn-primary" type="reset">{% trans 'Reset' %}
                                            </button>

                                            <button type="button"
                                                    class="btn btn-sm btn-success submitAnswer"
                                                    id="answer{{ question.id }}"
                                                    data-id="{{ question.id }}"
                                                    data-url="{% url 'assignanswerinfo_create_ajax' %}">
                                                {% trans 'Submit' %}
                                            </button>
                                        {% else %}
                                            <p class="text-danger">{% trans 'Submission is prohibited. Please check assignment start and end date' %}</p>
                                        {% endif %}
                                    </div>

                                {% elif question.Answer_Type == 'F' %}

                                    <div class="form-group">
                                        <label for="id_Assignment_File{{ question.id }}" class="">
                                            <span style="font-size: 10px; color: #721c24">
                                                {% trans 'Assignment File' %} ({% trans 'Max' %}: 10 MB) </span>
                                        </label>

                                        <input type="file" name="Assignment_File"
                                                id="id_Assignment_File{{ question.id }}"
                                                required/>
                                        <input type="hidden" value="{{ request.user.id }}"
                                                name="Student_Code"
                                                id="id_Student_Code{{ question.id }}">
                                        <input type="hidden" value="{{ question.id }}" name="Question_Code"
                                                id="id_Question_Code{{ question.id }}">
                                    </div>
                                    <div class="form-group text-center">
                                        {% now "Y-m-d H:i" as todays_date %}
                                        {# {% if object.Assignment_Deadline|date:"Y-m-d H:i" >= todays_date and object.Assignment_Start|date:"Y-m-d H:i" <= todays_date %} #}
                                        {#  {% isAssignmentActive object as isanswerable %} #}
                                        {% if object.active %}
                                            <button class="btn btn-sm btn-primary" type="reset"
                                                    id="cancelButton{{ question.pk }}">
                                                {% trans 'Cancel' %}
                                            </button>

                                            <button type="button"
                                                    class="btn btn-sm btn-success submitAnswer"
                                                    id="answer{{ question.id }}"
                                                    data-id="{{ question.id }}"
                                                    data-url="{% url 'assignanswerinfo_create_ajax' %}">
                                                {% trans 'Submit' %}
                                            </button>
                                        {% else %}
                                            <p class="text-danger">{% trans 'Submission is prohibited. Please check assignment start and end date' %}</p>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </form>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="px-4 pt-4">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5 class="text-primary">{% trans "Assignment Information" %}</h5>
                    <div class="d-inline-block dropdown">
                        <a href="javascript:void(0)" class="btn btn-outline-light btn-floating btn-sm"
                            data-toggle="dropdown">
                            <i class="ti-more-alt"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            {% if '/student' not in request.get_full_path %}
                            <a href="javascipt:void(0)" class="dropdown-item text-primary" data-toggle="modal" data-target="#editAssignmentModal"
                            id="editAssignment-btn">
                                {% trans "Edit Assignment" %}
                            </a>
                            {% if '/teachers' in request.path %}
                            <a href="javascipt:void(0)" class="dropdown-item text-danger assignment-confirm-delete"
                                id="{{ object.pk }}">{% trans "Delete Assignment" %}</a>
                            <form method="post" action="{% url 'teacher_assignmentinfo_delete' pk=object.pk %}"
                                id="deleteAssignment{{ object.pk }}">
                                {% csrf_token %}
                                <!-- <input type="hidden" value="{{question.pk}}" name="question_id"> -->
                                <input type="hidden" value="{{ object.pk }}" name="assignment_id">
                                <input type="hidden" value="{{ object.Course_Code.id }}" name="course_id">
                                <input type="hidden" value="{{ object.Chapter_Code.id }}" name="chapter_id">
                            </form>
                            {% else %}
                            <a href="javascipt:void(0)" class="dropdown-item text-danger assignment-confirm-delete"
                                id="{{ object.pk }}">{% trans "Delete Assignment" %}</a>
                            <form method="post" action="{% url 'assignmentinfo_delete' pk=object.pk %}"
                                id="deleteAssignment{{ object.pk }}">
                                {% csrf_token %}
                                <!-- <input type="hidden" value="{{question.pk}}" name="question_id"> -->
                                <input type="hidden" value="{{ object.pk }}" name="assignment_id">
                                <input type="hidden" value="{{ object.Course_Code.id }}" name="course_id">
                                <input type="hidden" value="{{ object.Chapter_Code.id }}" name="chapter_id">
                            </form>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <p>
                   {# {% trans "Assignment Start Date" %} : {{ object.Assignment_Start|date:'d M, Y h:i A' }} #}
                </p>
                <p>
                  {#  {% trans "Assignment End Date" %} : {{ object.Assignment_Deadline|date:'d M, Y h:i A' }} #}
                </p>


                <p>
                    {% trans "Course Name" %} : {{ object.Course_Code }}
                </p>
                <p>
                    {% trans "Chapter Name" %} : {{ object.Chapter_Code }}
                </p>
                <p>
                    {% trans "Status" %} :{% if object.Use_Flag is True %}
                    <span class="badge badge-success">{% trans "Published" %}</span>
                    {% elif object.Use_Flag is False %}
                    <span class="badge badge-danger">{% trans "Not Published" %}</span>
                    {% endif %}

                    {% now "Y-m-d H:i" as todays_datewithtime %}
                    {% if object.Assignment_Start and todays_datewithtime < object.Assignment_Start|date:"Y-m-d H:i" %}
                    <span class="badge badge-info">{% trans "Upcoming" %}</span>
                    {% elif object.Assignment_Deadline and todays_datewithtime > object.Assignment_Deadline|date:"Y-m-d H:i" %}
                    <span class="badge badge-danger">{% trans "Expired" %}</span>
                    {% else %}
                    <span class="badge badge-success">{% trans "Active" %}</span>
                    {% endif %}
                </p>

                <p>
                    {% trans "Register Agent" %} : {{ object.Register_Agent }}
                </p>
            </div>
                {% if 'teacher' in request.path %}
                <ul class="text-center">
                    <li class="p-2 border-top">
                        <a class="btn btn-info" href="{% url 'teacher_assignment_answers' object.pk %}">
                            {% trans "View Assignment Submissions" %}
                        </a>
                    </li>
                </ul>
                {% endif %}
        </div>

        <div class="card">
            <div>
                <table class="table">
                    {% if assigned_session %}
                        <tr>
                            <th class="custom-table-width border-top-0">{% trans 'Session' %}</th>
                            <th class="date-width border-top-0">{% trans 'Start Date' %}</th>
                            <th class="date-width border-top-0">{% trans 'End Date' %}</th>
                            <th class="border-top-0">{% trans 'Assignment Status' %}</th>
                           {% if '/students' not in request.path %}
                                <th class="border-top-0">{% trans 'Action' %}</th>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% for sessions in assigned_session %}
                 {#   {% if "students" in request.get_full_path %} #}
                        {% if sessions.is_active %}
                        <tr>
                            <td class="custom-table-width">
                                {{ sessions }}
                            </td>
                            {% getSessionMap object 'assignmentinfo' sessions as sessionmap %}
                            <td class="start-date dateconFullMonth date-width">{{ sessionmap.0.Start_Date|date:"d M, Y h:i A" }}</td>
                            <td class="end-date dateconFullMonth date-width">{{ sessionmap.0.End_Date|date:"d M, Y h:i A" }}</td>
                            <td>
                                {% now "Y-m-d H:i" as todays_datewithtime %}
                                {% if not sessionmap or not sessionmap.0.Start_Date or not sessionmap.0.End_Date  %}
                                    <span class="badge badge-danger">{% trans 'Inactive' %}</span>
                                {% elif sessionmap.0.Start_Date and todays_datewithtime < sessionmap.0.Start_Date|date:"Y-m-d H:i" %}
                                    <span class="badge badge-info">{% trans 'Upcoming' %}</span>
                                {% elif sessionmap.0.End_Date and todays_datewithtime > sessionmap.0.End_Date|date:"Y-m-d H:i" %}
                                    <span class="badge badge-danger">{% trans 'Expired' %}</span>
                                {% else %}
                                    <span class="badge badge-success">{% trans 'Active' %}</span>
                                {% endif %}
                                {% for chaptersession in object.Chapter_Code.chapter_sessionmaps.all %}
                                    {% if sessionmap.0.Session_Code == chaptersession.Session_Code %}
                                        {% if sessionmap.0.End_Date > chaptersession.End_Date and sessionmap.0.End_Date and chaptersession.End_Date %}
                                            <h6 class="text-danger">{% trans 'Assignment End Date is greater than Chapter' %}.</h6>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </td>

                            {% if not "students" in request.path %}
                                  <td>
                                    <button type="button" class="btn btn-sm btn-primary inningmap-btn"
                                            data-toggle="modal"
                                            data-target="#inningmap_form_modal" data-sessionid="{{ sessions.id }}"
                                            data-objectid="{{ object.id }}">
                                        {% trans 'Change' %}
                                    </button>
                                </td>
                            {% endif %}


                        </tr>
                     {#    {% endif %}  #}
               {% comment %}

               {% else %}
                        <tr>
                            <td class="custom-table-width">
                                {{ sessions }}
                                 {% if  '/teachers' not in request.path %}
                                    {% if sessions.is_active %}
                                        <span class=" text-success"> <b
                                                style="text-transform: uppercase; font-size:14px">[{% trans 'Active' %}]</b>  </span>
                                    {% else %}
                                        <span class=" text-danger"><b
                                                style="text-transform: uppercase; font-size:14px">[{% trans 'Inactive' %}]</b></span>
                                    {% endif %}
                                {% endif %}
                            </td>
                            {% getSessionMap object 'assignmentinfo' sessions as sessionmap %}
                            {#                                {% for sessionmap in object.assignment_sessionmaps.all %}#}
                            {#                                    {% if  sessionmap.Session_Code == sessions %}#}
                            <td class="start-date dateconFullMonth date-width">{{ sessionmap.0.Start_Date|date:"d M, Y h:i A" }}</td>
                            <td class="end-date dateconFullMonth date-width">{{ sessionmap.0.End_Date|date:"d M, Y h:i A" }}</td>
                            <td>
                                {% now "Y-m-d H:i" as todays_datewithtime %}
                                {% if not sessionmap or not sessionmap.0.Start_Date or not sessionmap.0.End_Date  %}
                                    <span class="badge badge-danger">{% trans 'Inactive' %}</span>
                                {% elif sessionmap.0.Start_Date and todays_datewithtime < sessionmap.0.Start_Date|date:"Y-m-d H:i" %}
                                    <span class="badge badge-info">{% trans 'Upcoming' %}</span>
                                {% elif sessionmap.0.End_Date and todays_datewithtime > sessionmap.0.End_Date|date:"Y-m-d H:i" %}
                                    <span class="badge badge-danger">{% trans 'Expired' %}</span>
                                {% else %}
                                    <span class="badge badge-success">{% trans 'Active' %}</span>
                                {% endif %}
                                {% for chaptersession in object.Chapter_Code.chapter_sessionmaps.all %}
                                    {% if sessionmap.0.Session_Code == chaptersession.Session_Code %}
                                        {% if sessionmap.0.End_Date > chaptersession.End_Date and sessionmap.0.End_Date and chaptersession.End_Date %}
                                            <h6 class="text-danger">{% trans 'Assignment End Date is greater than Chapter' %}.</h6>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            {#                                    {% endif %}#}
                            {#                                {% endfor %}#}
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary inningmap-btn"
                                            data-toggle="modal"
                                            data-target="#inningmap_form_modal" data-sessionid="{{ sessions.id }}"
                                            data-objectid="{{ object.id }}">
                                        {% trans 'Change' %}
                                    </button>
                                </td>
                        </tr>
                   {% endif %}

                   {% endcomment %}
                      {% endif %}
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
</div>

