{% extends "student_module/base.html" %}
{% load i18n %}

{% load quiz_tags %}

{% block title %} {% trans "Progress Page" %} {% endblock %}
{% block description %} {% trans "User Progress Page" %} {% endblock %}
{% block breadcrumb %}


  <li class="breadcrumb-item active" aria-current="page" style="text-transform: uppercase;">{% trans 'Progress Page' %}</li>
{% endblock %}

{% block content %}
  {% include 'WebApp/theme/alerts.html' %}
  <hr>
  <div class="exam-results text-center">
    <h2>{% trans "Below are the quizes that you have taken" %}</h2>
  </div>

  <table class="table table-bordered table-striped">

    <thead>
    <tr>
      <th class="quiz-capital">{% trans "Quiz Title" %}</th>
      <th class="quiz-capital">{% trans "Quiz Type" %}</th>
      <th class="quiz-capital">{% trans "Times Played" %}</th>
      <th class="quiz-capital">{% trans "Full Marks" %}</th>
      <th class="quiz-capital">{% trans "Marks Obtained" %}</th>
      <th class="quiz-capital">{% trans "Progress" %}</th>
      <th class="quiz-capital">{% trans "Complete" %}</th>
      <th class="quiz-capital">{% trans "History" %}</th>
    </tr>
    </thead>

    <tbody>

    {#    {% for sitting in sittings %}#}
    {% for sitting in sittings %}

      <tr>
        <td>
            {% if sitting.complete %}
            <a href="{% url 'student_progress_detail' pk=sitting.pk %}">
                {{ sitting.quiz.title }}
            </a>
            {% else %}
                {{ sitting.quiz.title }}
            {% endif %}
        </td>
        <td>
          {% if sitting.quiz.exam_paper %}
            {% trans 'Exam Paper' %}
          {% endif %}

          {% if sitting.quiz.pre_test and sitting.quiz.post_test %}
            {% trans 'Pre' %}-{% trans 'Test' %} / {% trans 'Post' %}-{% trans 'Test' %}
          {% elif sitting.quiz.pre_test %}
            {% trans 'Pre' %}-{% trans 'Test' %}
          {% elif sitting.quiz.post_test %}
            {% trans 'Post' %}-{% trans 'Test' %}
          {% endif %}


        </td>
        <td>
          {{ sitting.times_played }}
        </td>
        <td>{{ sitting.get_max_score }}</td>
        <td>{{ sitting.get_score_correct }}&nbsp;&nbsp;({{ sitting.get_percent_correct }}%)</td>
        <td>
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar"
                 aria-valuenow="{{ sitting.get_progress }}"
                 aria-valuemin="0" aria-valuemax="100" style="width:{{ sitting.get_progress }}%">
              {{ sitting.get_progress }}% Complete
            </div>
          </div>
        </td>
        <td>
          {% if sitting.complete %}
            <i class="fa fa-check fa-2x text-success"></i>
          {% else %}
            <i class="fa fa-times fa-2x text-danger"></i>
          {% endif %}
        </td>
        <td>
          <a href="#" class="quiz_history"
             data-toggle="modal"
             data-target="#sitting_history_popup"
             data-quiz_title="{{ sitting.quiz.title }}"
             data-quiz_id="{{ sitting.quiz.pk }}">{% trans 'View' %}</a>
        </td>
      </tr>
    {% endfor %}

    </tbody>

  </table>


  <div id="sitting_history_popup" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="sitting_modal_title"></h4>
        </div>
        <div class="modal-body" style="height: auto" id="sitting_modal_body">
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block customjss %}
  <script>
      $(".quiz_history").click(function () {
          let quiz_title = $(this).attr("data-quiz_title")
          $.ajax({
              type: "GET",
              url: "{% url 'student_progress_history' quiz=12345 %}".replace('12345', $(this).attr("data-quiz_id")),  // URL to your view that serves new info
              success: function (data) {
                  $("#sitting_modal_title").html(quiz_title);
                  $("#sitting_modal_body").html(data);
              }
          });
      })
  </script>
{% endblock %}
