{% extends "student_module/base.html" %} {% load static %} {% block stylesheets %}
  <link href="{% static 'build/css/studentCustom.css' %}" rel="stylesheet"/>
{% endblock stylesheets %} {% block breadcrumb %}
  <li class="breadcrumb-item" aria-current="page">
    <a href="{% url 'student_progress' %}">Progress List</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">{{ object.quiz.title }}</li>
  <style>
    .hover_me:hover {
      cursor: pointer;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="row well">
     <span class="" style="text-transform: uppercase; font-weight: 600; font-size: 20px; ">
      {{ object.quiz.title }}</span>
      <div class="hr2">

      </div>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-6 col-sm-6 col-xs-12 text-left"> <span class="text-bold"> Taken Date:</span> &nbsp; {{ object.start }}</div>
     
     
        <div class="col-md-6 col-sm-6 col-xs-12 text-right"><span class="text-bold"> Finished Date:</span> &nbsp;{{ object.end }}</div>

    </div>
    <div class="row" style="margin-bottom: 10px;"> 
        <div class="col-md-4 col-sm-4 col-xs-12 text-left"><span class="text-bold"> Full Marks:</span> &nbsp;{{ object.get_max_score }}</div>
        <div class="col-md-4 col-sm-4 col-xs-12 text-center"><span class="text-bold"> Marks Obtained:</span> &nbsp;{{ object.current_score }}</div>
        <div class="col-md-4 col-sm-4 col-xs-12  text-right"><span class="text-bold"> Percentage:</span>&nbsp; {{ object.get_percent_correct }}</div>

    </div>
   
    


  </div>

  {% if object.score_list == ""%}
    Not attempted
  {% endif %}

  <div class="panel-group row" id="accordion">
    {% for q in object.questions_with_user_answers %}
     {% if q.user_answer %}
      <div class="panel panel-default" style="margin-bottom: 10px; margin-top: 10px;">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}" class="hover_me">
            <h4 class="panel-title">
              <i class="fa fa-chevron-down fa-2x text-info" style="margin-right: 10px"></i>
              {{ q.content }}
              {#              <span style="float: right">{{ q.score_obtained }} / {{ q.score }}</span>#}
              {% if q.id in object.get_incorrect_questions %}
                <i class="fa fa-times fa-2x text-danger" style="float: right"></i>
              {% elif q.is_saq %}
                <i class="fa fa-ellipsis-h fa-2x text-info" style="float: right"></i>
              {% else %}
                <i class="fa fa-check fa-2x text-success" style="float: right"></i>
              {% endif %}
            </h4>
          </a>
        </div>
        <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
          {% if q.is_mcq %}
            <ul class="list-group">
              {% for option in q.get_answers %}
                {% if option.correct %}
                  <li class="list-group-item list-group-item-success">{{ forloop.counter }}. {{ option.content }}</li>
                {% else %}
                  {% if option.id|slugify == q.user_answer|slugify %}
                    <li class="list-group-item list-group-item-danger">
                      {#                      <i class="fa fa-times fa-2x text-danger"></i>#}
                      {{ forloop.counter }}. {{ option.content }}
                    </li>
                  {% else %}
                    <li class="list-group-item">{{ forloop.counter }}. {{ option.content }}</li>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
          {% if q.is_tfq %}
            <ul class="list-group">
              {% if q.correct %}
                <li class="list-group-item list-group-item-success">1. True</li>
                {% if q.correct|slugify == q.user_answer|slugify %}
                  <li class="list-group-item">2. False</li>
                {% else %}
                  <li class="list-group-item list-group-item-danger">2. False</li>
                {% endif %}
              {% else %}
                {% if q.correct|slugify == q.user_answer|slugify %}
                  <li class="list-group-item">1. True</li>
                {% else %}
                  <li class="list-group-item list-group-item-danger">1. True</li>
                {% endif %}
                <li class="list-group-item list-group-item-success">2. False</li>
              {% endif %}
            </ul>
          {% endif %}
          {% if q.is_saq %}
          <div class="col-md-12" style="margin-bottom: 10px;  ">
            <div class="sa-ans-only" style="background-color: white; padding: 5px 2px;">
                {{ q.user_answer }}
            </div>
             

          </div>
            
          {% endif %}
          <div class="panel-footer">
           <span class="total-score-progress ">Total Score: {{ q.score }}</span>  <span class="score-obtained-progress "> Score Obtained: {{ q.score_obtained }}</span> 
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}

  </div>
{% endblock %}

{% block customjss %}
{% endblock %}