{% load static %}

{% block stylesheets %}
  <link href="{% static 'build/css/studentCustom.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{#<div class="row" id="surveyheader">#}
{#  <div class="col-md-3 col-sm-12">#}
{#    <div class="btn-group" id="status" data-toggle="buttons">#}
{#      <label class="btn btn-default btn-on-3 btn-sm active" id="ActiveButton">#}
{#        <input type="radio" value="1" name="multifeatured_module[module_id][status]"#}
{#               checked="checked">Active</label>#}
{#      <label class="btn btn-default btn-off-3 btn-sm " id="ExpireButton">#}
{#        <input type="radio" value="0" name="multifeatured_module[module_id][status]">Expire</label>#}
{#      <label class="btn btn-default btn-off-3 btn-sm " id="LiveButton">#}
{#        <input type="radio" value="2" name="multifeatured_module[module_id][status]">Live Survey</label>#}
{#    </div>#}
{#  </div>#}
{#  <div class="col-md-9 col-sm-12" id="searchBarSurvey">#}
{#    <form method="get" action="">#}
{#      <div role="search" id="surveySearch">#}
{#        <input type="text" id="keywordInput" name="query" placeholder="Type to search"#}
{#               value="{{ request.GET.query }}" class="form-control">#}
{#            <div class=" pull-right searchButton">#}
{#        <button type="submit" id="navSearchBtn" class="btn btn-inverse"#}
{#                data-hover-z="1"><i class="fa fa-search"></i>#}
{#        </button>#}
{#            </div>#}
{#      </div>#}
{#    </form>#}
{#  </div>#}
{#</div>#}
<style>
  .box-part {
    background: #FFF;
    border-radius: 10px;
    padding: 35px 10px;
    margin: 15px 5px;
    width: auto;
}

.box-part:hover {
    background: #5981a8;
}
.box-part:hover .survey-title-name {
  text-decoration: none!important;
}

.box-part:hover .fa,
.box-part:hover .title,
.box-part:hover .text,
.box-part:hover {
    color: #FFF;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    text-decoration: none;
}

.box-part:hover a {
    background-color: white;
    padding: 10px;
    border-radius: 10px


}


.card_labels{
  list-style: none;
}
</style>

<div class="hR"></div>
{{ page_obj.per_page }}
<div class="row">
    

        <div class="se-pre-con-ajax"></div>

        {% for object in object_list %}

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 active_survey survey_card">
                <a href="{% if '/teachers' in request.path %}
            {% url 'surveyinfodetail' object.pk %}
         {% else %}
             {% url 'surveyinfo_detail' object.pk %}
         {% endif %}
            ">
                    <div class="box-part text-center">
                        {% if object.id in submittedSurvey %}
                            <i class="fa fa-check fa-5x" id="participatedSurvey" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa fa-{{ object.Category_Code.Category_Icon }} fa-5x" id="participatedSurvey"
                               aria-hidden="true"></i>
                        {% endif %}

                        <div class="" style="text-decoration: none ;">
                            <h3 class="survey-title-name">{{ object.Survey_Title|truncatechars:12 }}</h3>
            </div>

            <ul class="card_labels">
              <li><label>Questions: {{ object.questions_count }}</label></li>
              <li><label>Start date: {{ object.Start_Date }}</label></li>
              <li><label>End date: {{ object.End_Date }}</label></li>
            </ul>

          </div>
        </a>
      </div>
    {% endfor %}
  

  <!-- <div class=" text-center">
    {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li><a class="survey_next" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active">
              <span>{{ i }} <span class="sr-only">(current)</span></span>
            </li>
          {% else %}
            <li>
              <a class="survey_next" href="?page={{ i }}">{{ i }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a class="survey_next" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
  </div> -->

</div>


{% block javascript %}
  <script>
      $(document).ready(function categoryAddButton(categoryName) {
          // .................................................................................
          $(".mcq_question").on("click", function () {
              $("#mcq_que").show(100);
              $("#short_que").hide();
          });

          $(".short_question").on("click", function () {
              $("#short_que").show(100);
              $("#mcq_que").hide();
          });

          $(".active_survey").show();
          //$(this).css('color', 'white');
          $(".expire_survey").hide();
          $(".live_survey").hide();
      });

      $(document).ready(function () {
          var navListItems = $("div.setup-panel div a"),
              allWells = $(".setup-content"),
              allNextBtn = $(".nextBtn");

          allWells.hide();

          navListItems.click(function (e) {
              e.preventDefault();
              var $target = $($(this).attr("href")),
                  $item = $(this);

              if (!$item.hasClass("disabled")) {
                  navListItems.removeClass("btn-primary").addClass("btn-default");
                  $item.addClass("btn-primary");
                  allWells.hide();
                  $target.show();
                  $target.find("input:eq(0)").focus();
              }
          });

          allNextBtn.click(function () {
              var curStep = $(this).closest(".setup-content"),
                  curStepBtn = curStep.attr("id"),
                  nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]')
                      .parent()
                      .next()
                      .children("a"),
                  curInputs = curStep.find("input[type='text'],input[type='url']"),
                  isValid = true;

              $(".form-group").removeClass("has-error");
              for (var i = 0; i < curInputs.length; i++) {
                  if (!curInputs[i].validity.valid) {
                      isValid = false;
                      $(curInputs[i])
                          .closest(".form-group")
                          .addClass("has-error");
                  }
              }

              if (isValid) nextStepWizard.removeAttr("disabled").trigger("click");
          });

          $("div.setup-panel div a.btn-primary").trigger("click");
      });

      $(".survey_next").click(function (event) {
          event.preventDefault();
          {#alert("{% url 'surveyFilterCategory' %}" + $(this).attr('href'));#}
          {#var category_name = $(".card-text.active .category-name").id;#}
          var url="";
          {% if 'teachers' in request.path %}
              url = "{% url 'teacherSurveyFilterCategory' %}";
          {% else %}
              url = "{% url 'surveyFilterCategory' %}";
          {% endif %}
          console.log(url);
          $.ajax({
              type: "GET",
              data: {'category_name': "{{ category_name }}", 'date_filter': "{{ date_filter }}"},

              url: url + $(this).attr('href'),  // URL to your view that serves new info
              success: function (data) {
                  $("#rowCards").html(data);
              },
              complete: function () {
                  $(".se-pre-con-ajax").fadeOut("fast");
              }
          });
      });


  </script>
{% endblock %}