{% extends "base.html" %}
{% load static %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'courseinfo_list' %}">Course</a></li>
<li class="breadcrumb-item"><a href="{{ object.Course_Code.get_absolute_url }}">{{ object.Course_Code }}</a></li>
<li class="breadcrumb-item"><a href="{{ object.Chapter_Code.get_absolute_url }}">{{ object.Chapter_Code }}</a></li>
<li class="breadcrumb-item active" aria-current="page" style="max-width: 30ch; overflow: hidden;white-space: nowrap; text-overflow:ellipsis;
;margin-bottom: -5px;">
    {{ object.Assignment_Topic }}</li>
{% endblock %}
{% block content %}
{% include 'assignment/assignmentinfo_detail.html' %}



{% endblock %}
style="padding-left: 10px;
padding-right: 10px;
line-height: 1.5em;
height: 3em;
overflow-wrap:break-word;
overflow: hidden;
white-space: normal;
text-overflow: ellipsis;"