{% extends "base.html" %}
{% load static %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'courseinfo_list' %}">Course</a></li>
<li class="breadcrumb-item"><a href="{{ Course_Code.get_absolute_url }}">{{ Course_Code }}</a></li>
<li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object.Chapter_Name }}</a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    {% if '/create/' in request.path %}
        Create New Chapter
    {% else %}
        Edit Chapter
    {% endif %}
</li>
{% endblock %}

{% block content %}
    {% include 'chapter/chapterinfo_form.html' %}
{% endblock content %}

{% block customjss %}
    <script>
        $('#id_Start_Date').datetimepicker();
        $('#id_End_Date').datetimepicker();
        var isSubmit = false
        $("#FormID").submit(function (e) {
            if (!isSubmit) {
                e.preventDefault(); // avoid to execute the actual submit of the form.
                if ($('#id_Start_Date').val() != "") {
                    $('#id_Start_Date').val(new Date($('#id_Start_Date').val()).toISOString())
                }
                if ($('#id_End_Date').val() != "") {
                    $('#id_End_Date').val(new Date($('#id_End_Date').val()).toISOString())
                }
                if ($('#id_mustreadtime').val() != "") {
                    $('#id_mustreadtime').val(parseFloat($('#id_mustreadtime').val()) * 60)
                }
                isSubmit = true
                $("#FormID").submit()
            }
        });
    </script>
{% endblock %}