{% extends "student_module/base.html" %}
{% load static %}
{% block stylesheet %}
  <!-- Fullcalendar -->
    <link rel="stylesheet" href="{% static 'vendors/fullcalendar/fullcalendar.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'vendors/clockpicker/bootstrap-clockpicker.min.css' %}" type="text/css">

    <!-- Select2 -->
    <link rel="stylesheet" href="{% static 'vendors/select2/css/select2.css' %}" type="text/css">

{% endblock %}

{% block breadcrumb %}
 <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'start' %}">Home</a></li>
 <li class="breadcrumb-item active" aria-current="page"><a href="#">Calendar</a></li>
{% endblock %}

{% block content %}
{% include 'event_calendar/common/calendar.html' %}
{% endblock %}

{% block javascript %}

    <!-- Datepicker Example -->
    <script src="{% static 'js/examples/datepicker.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>

    <!-- Fullcalendar -->
    <script src="{% static 'vendors/fullcalendar/moment.min.js' %}"></script>
    <script src="{% static 'vendors/fullcalendar/fullcalendar.min.js' %}"></script>
    <!-- <script src="{% static 'js/examples/fullcalendar.js' %}"></script> -->

    <!-- Clockpicker -->
    <script src="{% static 'vendors/clockpicker/bootstrap-clockpicker.min.js' %}"></script>
    <script src="{% static 'js/examples/clockpicker.js' %}"></script>

    <!-- Select2 -->
    <script src="{% static 'vendors/select2/js/select2.full.js' %}"></script>

    <!-- Initialize Calendar -->
    <script>
        $(document).ready(function () {


        // Detail For Update Modal

        function update_fxn(e){
                    let event = e.data.param1;
                //    console.log("update fxn");


                    var modal = $('#createEventModal');
                    modal.find('.modal-title').text("Update Event");
                    modal.find('#id_title').val(event.title);
                   if (event.type === "Holiday")
                   {
                        modal.find("#customRadioInline3").prop("checked", true);
                   }else if (event.type === "Meeting")
                    {
                        modal.find("#customRadioInline2").prop( "checked", true );
                   }else{
                         modal.find("#customRadioInline1").prop( "checked", true );
                    }



                   if (event.allDay)
                    {
                      modal.find('#id_is_all_day').prop("checked", true);
                      $(".datetime_dynamic").hide();


                   }else {
                    modal.find('#id_is_all_day').prop("checked", false);
                    $(".datetime_dynamic").show();
                   }



                  let start = event.start;
                  start = start._d.toLocaleString();
                  let start_date = start.split(' ')[0].replace(/[,]/g, ' ');
                  let start_time = start.split(' ')[1];
                  let st = start.split(' ')[2];
                  let hours = Number(start_time.match(/^(\d+)/)[1]);
                  let minutes = Number(start_time.match(/:(\d+)/)[1]);
                  if (st == 'PM' && hours<12) hours = hours+12;
                  if(st == "AM" && hours==12) hours = hours-12;
                  var sHours = hours.toString();
                  var sMinutes = minutes.toString();
                  if(hours<10) sHours = "0" + sHours;
                  if(minutes<10) sMinutes = "0" + sMinutes;
                  stime = sHours + ":" + sMinutes





                  let end = event.end;
                  if (!end)
                  {
                  end = event.start;
                  }
                  end = end._d.toLocaleString();
                  let end_date = end.split(' ')[0].replace(/[,]/g, ' ');
                  let end_time = end.split(' ')[1];


                  let et = end.split(' ')[2];
                  let hours1 = Number(end_time.match(/^(\d+)/)[1]);
                  let minutes1 = Number(end_time.match(/:(\d+)/)[1]);
                  if (et == 'PM' && hours1<12) hours1 = hours1+12;
                  if(et == "AM" && hours1==12) hours1 = hours1-12;
                  var eHours = hours1.toString();
                  var eMinutes = minutes1.toString();
                  if(hours1<10) eHours = "0" + eHours;
                  if(minutes1<10) eMinutes = "0" + eMinutes;
                  etime = eHours + ":" + eMinutes



                modal.find('#event-start-date').val(start_date);
                modal.find('#event-start-time').val(stime);

                modal.find('#event-end-date').val( end_date);
                modal.find('#event-end-time').val(etime);


                $("#event-start-date").daterangepicker({
                        startDate: new Date(start_date),
                        endDate: new Date(start_date),
                        singleDatePicker: true,
                    })

               $("#event-end-date").daterangepicker({
                        startDate: new Date(end_date),
                        endDate: new Date(end_date),
                        singleDatePicker: true,
                    })








                    if (event.part === "All User")
                     {
                     modal.find("#id_participant_type_1").prop( "checked", true );
                     $(".participant_dynamic").hide();
                    }else if (event.part === "All Student")
                    {
                    $(".participant_dynamic").hide();
                    modal.find("#id_participant_type_2").prop( "checked", true );
                    }else if (event.part === "All Teacher")
                    {
                     $(".participant_dynamic").hide();
                     modal.find("#id_participant_type_3").prop( "checked", true );
                    }else
                    {
                     modal.find("#id_participant_type_4").prop( "checked", true );

                            $(".participant_dynamic").show();

                           console.log(event.event_part_list.length);
                           id = [];
                           for (i=0; i<event.event_part_list.length; i++){

                                id.push(event.event_part_list[i].id);
                               // console.log(id);
                          }
                          console.log(id);
                          $('#id_participants').val(id);
                          $('#id_participants').trigger('change');

                    }





                    modal.find("#id_description").html(" ");
                    modal.find("#id_description").html(event.description);
                    modal.find("#btn-save").text("Update");
                  //  modal.find(".close").click(function() {
                  //  location.reload();

                 //   })

                    modal.find("#calendar_event_form").attr('action', "{% url 'student_event_calendar_updated' pk=12345 %}".replace("12345", event.id.replace("event_id_", "")));


                    modal.modal();
                     $("#createEventModal").css("overflow-y", "scroll");
        }



            $("input[name='participation_type']").change();
            $("#id_is_all_day").change();

            var date = new Date();

            var events = [
                {% for event in object_list %}
                    {
                        title: '{{ event.title }}',
                        id: 'event_id_{{ event.pk }}',
                        type: '{{ event.get_event_type_display }}',
                        start: '{{ event.date_start.isoformat}}',
                       // end: '{{ event.date_end.isoformat }}',
                        end: '{{ event.get_end_date.isoformat }}',
                      //  allDay: false,
                        part: '{{ event.get_participation_type_display }}',
                        event_part: '{% for e in event.get_participants %} {{e.username}} {% endfor %}',
                        event_part_list: [
                            {% for part in event.get_participants %}
                                {   id: '{{ part.pk }}',
                                    username: '{{ part.username }}',
                                    fullname: '{{ part.getFullName }}',
                                    avatar: '{{ part.Avatar }}',

                                },
                            {% endfor %}
                            ],






                        //icon: "user-o",
                        description: `{{ event.description }}`,

                        {% if event.is_all_day %}
                            allDay: true,

                        {% else %}
                            allDay: false,

                        {% endif %}


                        {% if event.event_type == "PR" %}
                            icon: "building-o",
                            className: 'btn btn-info',
                        {% elif event.event_type == "ME" %}
                            icon: "user-o",
                            className: 'btn btn-danger',
                        {% elif event.event_type == "HO" %}
                            icon: "car",
                            className: 'btn btn-success',
                        {% else %}
                            // default values
                            icon: "diamond",
                            className: 'btn btn-info',
                        {% endif %}

                    },
                {% endfor %}
            ];

            $('#external-events .fc-event').each(function () {
                // store data so the calendar knows to render an event upon drop
                $(this).data('event', {
                    title: $.trim($(this).text()), // use the element's text as the event title
                    stick: true, // maintain when user navigates (see docs on the renderEvent method),
                    color: $(this).find('i').css("color"),
                    icon: $(this).find('i').data('icon')
                });

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });
            });


            $('#calendar-demo').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listMonth'
                },
                timezone:"local",
                nextDayThreshold: '00:00',
                editable: false,
                droppable: false,
                drop: function () {
                    // is the "remove after drop" checkbox checked?
                    if ($('#drop-remove').is(':checked')) {
                        // if so, remove the element from the "Draggable Events" list
                        $(this).remove();
                    }
                },
                eventStartEditable: false,
                eventResizableFromStart: false,
                eventDurationEditable: false,
                weekNumbers: true,
                eventLimit: true, // allow "more" link when too many events
                events: events,
                eventRender: function (event, element) {
                    if (event.icon) {
                        element.find(".fc-title").prepend("<i class='mr-1 fa fa-" + event.icon + "'></i>");
                    }
                },
                dayClick: function (date, jsEvent, view) {

                    $('#createEventModal').modal();
                    $(".modal-title").text("Create Event");
                    $("#id_title").val("");
                    $("#customRadioInline1").prop("checked", true);

                  //  let start_date = iso_to_django(event.start._d);
                    let start_date = date._d;


                    console.log(start_date);
                    let end_date = start_date;

                    $("#event-start-date").daterangepicker({
                            startDate: new Date(start_date),
                            endDate: new Date(start_date),
                            singleDatePicker: true,
                        })

                   $("#event-end-date").daterangepicker({
                            startDate: new Date(end_date),
                            endDate: new Date(end_date),
                            singleDatePicker: true,
                        })


                 $("#id_participant_type_1").prop("checked", true);
                 $("#id_description").html(" ");
                 $("#createEventModal #btn-save").text("Create");



                },



                  eventClick: function (event, jsEvent, view) {

                    var modal = $('#viewEventModal');


                        if (event.type == "Program")
                            {
                            modal.find('.event-type').removeClass('btn btn-danger btn-success');
                            modal.find('.event-type').addClass('btn btn-info');


                            }
                          if (event.type == "Holiday")
                            {
                            modal.find('.event-type').removeClass('btn btn-danger btn-info');
                            modal.find('.event-type').addClass('btn btn-success');

                            }
                          if (event.type == "Meeting")
                            {
                            modal.find('.event-type').removeClass("btn btn-success btn-info");
                            modal.find('.event-type').addClass("btn btn-danger");

                            }


                    // modal.find('.event-type').addClass(event.className);
                    modal.find('.event-type').html("<i class=' fa fa-" + event.icon + " '></i> &nbsp;" + event.type);
                    modal.find('.event-title').html(event.title);

                      let start = event.start;
                      start = start._d.toLocaleString();
                      let start_date = start.split(' ')[0].replace(/[,]/g, ' ');
                      let start_time = start.split(' ')[1];
                      let st = start.split(' ')[2];
                      let hours = Number(start_time.match(/^(\d+)/)[1]);
                      let minutes = Number(start_time.match(/:(\d+)/)[1]);
                      if (st == 'PM' && hours<12) hours = hours+12;
                      if(st == "AM" && hours==12) hours = hours-12;
                      var sHours = hours.toString();
                      var sMinutes = minutes.toString();
                      if(hours<10) sHours = "0" + sHours;
                      if(minutes<10) sMinutes = "0" + sMinutes;
                      stime = sHours + ":" + sMinutes


                      let end = event.end;
                    //  console.log(end);
                      if (!end)
                      {
                      end = event.start;
                      }
                   //   console.log(end);
                      end = end._d.toLocaleString();
                      console.log(end);
                      let end_date = end.split(' ')[0].replace(/[,]/g, ' ');
                      let end_time = end.split(' ')[1];
                      let et = end.split(' ')[2];
                      let hours1 = Number(end_time.match(/^(\d+)/)[1]);
                      let minutes1 = Number(end_time.match(/:(\d+)/)[1]);
                      if (et == 'PM' && hours1<12) hours1 = hours1+12;
                      if(et == "AM" && hours1==12) hours1 = hours1-12;
                      var eHours = hours1.toString();
                      var eMinutes = minutes1.toString();
                      if(hours1<10) eHours = "0" + eHours;
                      if(minutes1<10) eMinutes = "0" + eMinutes;
                      etime = eHours + ":" + eMinutes




                    if (event.allDay){
                        modal.find('.type_event').html("<a class='btn btn-sm btn-light'>All Day Event</a>");
                        if (start_date == end_date){
                             modal.find('.strt_at').html("Date: (MM/DD/YYYY)");
                             modal.find('.start_at').html(start_date);
                             modal.find('.end_at').empty();
                             modal.find('.en_at').empty();
                           //  modal.find('.en_at').hide();
                        }
                        else{


                            modal.find('.strt_at').html("Start At: (MM/DD/YYYY)")
                            modal.find('.en_at').html("End At: (MM/DD/YYYY)")
                            modal.find('.start_at').html(start_date);
                            modal.find('.end_at').html(end_date);
                        }

                    }else{
                        modal.find('.type_event').empty();
                        modal.find('.en_at').html("Time: (24Hrs.)");
                        modal.find('.end_at').html(stime + "&nbsp; to &nbsp;" + etime );
                        if(start_date == end_date){
                             modal.find('.strt_at').html("Date: (MM/DD/YYYY)")
                             modal.find('.start_at').html(start_date);

                        }
                        else{
                             modal.find('.strt_at').html("From: (MM/DD/YYYY)");
                             modal.find('.start_at').html(start_date +" &nbsp; to &nbsp; "+ end_date);
                        }
                    }


                    if (event.part == 'Choose User')
                    {
                        console.log(event.event_part_list);
                         modal.find('.participant').html("Participants:&nbsp;"+event.event_part_list.length);
                         $('.part_list').empty();
                        for (i = 0; i < event.event_part_list.length; i++){
                             $('.part_list').append(` <a href='#' class='list-group-item d-flex align-items-center'>
                                <div class='pr-3'>
                                    <div class='avatar'>
                                        <img src="${event.event_part_list[i].avatar}"
                                             class='rounded-circle'
                                             alt='image'>
                                    </div>
                                </div>
                                <div>
                                    <h6 class='mb-1 participant_name '> ${event.event_part_list[i].fullname} </h6>
                                </div>
                             </a>`);
                        }


                   // modal.find('.participant_name').text(event.event_part);
                    modal.find('.part_custom').show();



                    }else{
                  //   modal.find('.participant').append(event.part);
                     modal.find('.participant').html("Participants:&nbsp;"+ event.part);
                     modal.find('.part_custom').hide();
                    }
                    modal.find('.desc').html(" ");
                    modal.find('.desc').html(event.description);


                    let event_id = event.id.replace("event_id_", "");
                    modal.find('.delete_event').attr('action', '{% url "student_event_calendar_delete" 12345 %}'.replace("12345", event_id));


                  //// update button upon pressing display Form Detail Modal
                    $("#update_event_btn").click({param1: event}, update_fxn);
                    modal.find(".close").click(function() {
                    //    location.reload();
                     })


                    modal.modal();

                },


                eventResize: function (event, delta, revertFunc, jsEvent, ui, view) {
                    console.log("event resized", event);
                    if (event.id) {
                        console.log("event update", event.id);
                        update_event(event, delta, revertFunc, jsEvent, ui, view);
                    } else {
                        console.log("event create", event.id);
                        create_event(event, delta, revertFunc, jsEvent, ui, view);
                    }
                },
                eventDrop: function (event, delta, revertFunc, jsEvent, ui, view) {
                    console.log("event dragged", event);
                    if (event.id) {
                        console.log("event update", event.id);
                        update_event(event, delta, revertFunc, jsEvent, ui, view);
                    } else {
                        console.log("event create", event.id);
                        create_event(event, delta, revertFunc, jsEvent, ui, view);
                    }
                },
                eventReceive: function (event,  delta, revertFunc, jsEvent, ui, view) {
                    console.log("event received", event);
                    if (event.id) {
                        console.log("event update", event.id);
                        update_event(event, delta, revertFunc, jsEvent, ui, view);
                    } else {
                        console.log("event create", event.id);
                        // create_event(event, delta, revertFunc, jsEvent, ui, view);
                        drag_create(event);


                    }
                },

            });

            function drag_create(event){
                $('#createEventModal').modal();

                       $(".modal-title").text("Create Event");
                       $("#id_title").val("");

                       if (event.title === "Holiday"){
                            $("#customRadioInline3").prop("checked", true);

                         }
                         if (event.title === "Program"){
                            $("#customRadioInline1").prop("checked", true);
                         }
                         if (event.title === "Meeting"){
                            $("#customRadioInline2").prop("checked", true);
                         }

                       let start_date = iso_to_django(event.start._d);
                       let end_date = start_date;

                            $("#event-start-date").daterangepicker({
                                    startDate: new Date(start_date),
                                    endDate: new Date(start_date),
                                    singleDatePicker: true,
                                })

                           $("#event-end-date").daterangepicker({
                                    startDate: new Date(end_date),
                                    endDate: new Date(end_date),
                                    singleDatePicker: true,
                                })


                         $("#id_participant_type_1").prop("checked", true);
                         $("#id_description").html(" ");
                         $("#createEventModal #btn-save").text("Create");

                          $(".close").click(function (){
                            location.reload();

                         })


            }

            function update_event(event, delta, revertFunc, jsEvent, ui, view) {
                //// obtain event data
                let start_date = iso_to_django(event.start._d);
                let end_date = null;
                if (event.end) {
                    end_date = iso_to_django(event.end._d);
                } else {
                    end_date = start_date;
                }
                let post_data = {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    date_start: start_date,
                    date_end: end_date,
                }
                //// make ajax request to change the related object in the database
                $.ajax({
                    url: "{% url 'student_event_calendar_update' pk=12345 %}".replace("12345", event.id.replace("event_id_", "")), // URL to your view that serves new info
                    type: 'POST', // GET or POST
                    data: post_data,
                    success: function (response) {
                        //// on success, notify user about success
                        alert("Event change success !!!");
                    },
                    error: function () {
                        console.log('Error in posting form');
                        alert("Can't change event !!!");
                        revertFunc();

                    },
                    complete: function () {
                    }
                });
            }

            function create_event(event, delta, revertFunc, jsEvent, ui, view) {
                //// obtain event data

                let start_date = iso_to_django(event.start._d);
                console.log("sd_create",start_date);
                let end_date = null;
                let event_type = "PR";
                if (event.title === "Holiday") {
                    event_type = "HO";
                } else if (event.title === "Meeting") {
                    event_type = "ME";
                } else if (event.title === "Program") {
                    event_type = "PR";
                }
                console.log("et_create",event_type);
                if (event.end) {
                    end_date = iso_to_django(event.end._d);
                } else {
                    end_date = start_date;
                }
                console.log("ed_create", end_date);
                let post_data = {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    title: event.title,
                    event_type: event_type,
                    participation_type:"AL",
                    description: event.description,
                    date_start: start_date,
                    date_end: end_date,
                    is_all_day: true,
                }
                console.log(post_data);
                //// make ajax request to change the related object in the database
                $.ajax({
                    url: "{% url 'student_event_calendar_create' %}?return=json", // URL to your view that serves new info
                    type: 'POST', // GET or POST
                    data: post_data,
                    success: function (response) {
                        //// on success, notify user about success
                        alert("Event Create Success !!!");
                        console.log(response['pk']);
                        event.id = "event_id_" + response['pk'];
                        event.type = response['type'];
                        event.part = response['part'];

                        $('#calendar-demo').fullCalendar('updateEvent', event);
                    },
                    error: function () {
                        console.log('Error in posting form');
                        alert("Can't change event !!!");
                        event.id = "remove_event"
                        $('#calendar-demo').fullCalendar('updateEvent', event);
                        $('#calendar-demo').fullCalendar('removeEvents', ["remove_event",]);
                    },
                    complete: function () {
                    }
                });


            }
        });


        function iso_to_django(date_obj) {
            let mo = (date_obj.getUTCMonth() + 1).toString();       // month starts form zero
            let y = date_obj.getUTCFullYear().toString();
            let d = (date_obj.getUTCDate()).toString();
            let h = date_obj.getUTCHours().toString();
            let mi = date_obj.getUTCMinutes().toString();
            return y + "-" + mo + "-" + d + " " + h + ":" + mi;
        }

    </script>

    <script>
        $(".select2-example").select2({
            placeholder: 'Select',
           width: "element",
             multiple: true,
            templateResult: function (state) {
                // how dropdown list is displayed
                let filter_type = $("input[name='filter_type']:checked").val();
                let is_student = $(state.element).attr('data-is_student');
                let is_teacher = $(state.element).attr('data-is_teacher');
                if (filter_type === "A") {        // all user
                    return state.text;
                }
                if (filter_type === "S" && is_student === "true") {        // Students only
                    return state.text;
                }
                if (filter_type === "T" && is_teacher === "true") {        // Teachers only
                    return state.text;
                }
                return null;
            },
        });

        //// Calendar Event Create Form Submit:
        $("#calendar_event_form").submit(function (e) {


            console.log("Clicked")

            //// Convert date and time inputs to UTC and required format for django:

            let d_end = new Date($("#event-end-date").val() + " " + $("#event-end-time").val());
            let d_start = new Date($("#event-start-date").val() + " " + $("#event-start-time").val());

            //// Using one of django's default format: '%Y-%m-%d %H:%M', '2006-10-25 14:30':
            $("#id_date_end").val(iso_to_django(d_end));
            $("#id_date_start").val(iso_to_django(d_start));

            //// Validation Here:
            let is_valid = true;


             let title = $("#createEventModal #id_title").val();
             let sd = $("#event-start-date").val();
             let st = $("#event-start-time").val();
             let ed = $("#event-end-date").val();
             let et = $("#event-end-time").val();
             let is_ad = $("#createEventModal #id_is_all_day").is(':checked');
             let is_custom = $("#createEventModal #id_participant_type_4").is(':checked');
             let p_l = $(".select2-selection__rendered > li").length;




             if (title.length < 1){
                 $("#createEventModal #id_title").after('<span class="text-danger">This field is required</span>');
                is_valid = false;

             }
              if (sd === ""){
                 $("#event-start-date").after('<span class="text-danger">This field is required</span>');
                is_valid = false;

             }
              if (ed === ""){
                 $("#event-end-date").after('<span class="text-danger">This field is required</span>');


                is_valid = false;

             }
             if(!is_ad){
                if(st === ""){
                    $("#event-start-time").after('<span class=" text-danger">This field is required</span>');
                    is_valid = false;
                }
                if(et === ""){
                    $("#event-end-time").after('<span class=" text-danger">This field is required</span>');
                    is_valid = false;
                }

             }
            if(is_custom){
                if( p_l < 2 ){
                     $("#id_participants").after('<span class=" text-danger">This field is required</span>');
                     is_valid = false;

                }
            }



            if (!is_valid) {
                e.preventDefault();
                return false;
            }
        });

        $("input[name='participation_type']").change(function () {
            let ch_val = $("input[name='participation_type']:checked").val();
            //console.log("part_type changed: ", ch_val, ch_val === "CH");
            if (ch_val === "CH") {
                $(".participant_dynamic").show();
            } else {
                $(".participant_dynamic").hide();
                $(".select2-example").val("");
                $(".select2-example").trigger("change");
            }
        });

        $(".create_event_button").click(function () {



            //console.log("event create button click");
            $("#calendar_event_form").trigger("reset");
            $('#createEventModal .modal-title').text("Create Event");
            $('#createEventModal #id_is_all_day').prop("checked", true);

                    if ($("#createEventModal #id_is_all_day").is(':checked')) {
                         $(".datetime_dynamic").hide();
                         $("#event-start-time").val("00:00");
                         $("#event-end-time").val("00:00");
                    } else {
                        $(".datetime_dynamic").show();
                    }
            $("#event-start-date").val("");
            $("#event-end-date").val("");
            $("#event-start-time").val("");
            $("#event-end-time").val("");
            $("#createEventModal #id_title").val("");
            $("#createEventModal #id_description").val("");
            $("#createEventModal #btn-save").text("Create");
            $("#createEventModal").trigger("change");



            $("#id_participant_type_1").click();
            $("#id_filter_type_1").click();
        })

        $("#id_is_all_day").change(function () {
            if ($(this).is(':checked')) {
                $(".datetime_dynamic").hide();
            } else {
                $(".datetime_dynamic").show();
            }
        })



    </script>

<script>
    $("#update_event_btn").click(function(){
      $('#viewEventModal').modal('toggle');
    })

    $(".detail_btn").click(function(){
        $('#viewEventModal').removeClass("show");
    })

     $("#custom_Participant_Modal .close_prt").click(function(){
        $('#viewEventModal').addClass("show");
    })





</script>
{% endblock %}

