{% extends "mail/base.html" %}
{% load static%}

{%block checkbox_all%}
<input type="checkbox" class="custom-control-input" id="customCheckAll">
<label class="custom-control-label" for="customCheckAll"></label>
{%endblock%}

{% block mail_action %}
<a href="#" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
   With selected
</a>
<div class="dropdown-menu">

<!--   <a class="dropdown-item" href="#">Mark as read</a>-->
<!--   <a class="dropdown-item" href="#">Mark as unread</a>-->
<!--   <a class="dropdown-item" href="#">Spam</a>-->
<!--   <div class="dropdown-divider"></div>-->
<!--   <a class="dropdown-item text-danger" href="#">Delete</a>-->

    {% if 'inbox' in request.get_full_path %}
     <a class="dropdown-item text-primary email_status_select"
        data-email_status="read" href="#">Mark as read</a>

     <a class="dropdown-item text-secondary email_status_select"
        data-email_status="unread" href="#">Mark as unread</a>


     <a class="dropdown-item text-warning email_status_select"
        data-email_status="spam" href="#">Spam</a>
     <div class="dropdown-divider"></div>
     <a class="dropdown-item text-danger email_status_select"
        data-email_status="delete" href="#">Delete</a>

     {% elif 'send' in request.get_full_path %}
     <a class="dropdown-item text-danger email_status_select"
        data-email_status="delete" href="#">Delete</a>

     {% elif 'draft' in request.get_full_path %}

     <a class="dropdown-item text-danger email_status_select"
        data-email_status="delete" href="#">Delete</a>

     {% elif 'starred' in request.get_full_path %}
     <a class="dropdown-item text-light email_status_select"
        data-email_status="star" href="#">UnMark as Star</a>
     {% elif 'spam' in request.get_full_path %}
     <a class="dropdown-item text-success email_status_select"
        data-email_status="spam" href="#">UnMark as Spam</a>
     <a class="dropdown-item text-danger email_status_select"
        data-email_status="delete" href="#">Delete</a>
     {% elif 'trash' in request.get_full_path %}
     <a class="dropdown-item text-success email_status_select"
        data-email_status="delete" href="#">Recover Email</a>
     <a class="dropdown-item text-danger email_status_select"
        data-email_status="remove" href="#">Empty Trash</a>
         {%endif%}


</div>
{% endblock %}

{% block mail_order %}
<a href="#" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
   Order by
</a>
<div class="dropdown-menu dropdown-menu-right">

   {%if 'mail_outbox' in request.get_full_path%}

   <form action="{% url 'mail_send_list' %}">
      <input type="hidden" name="filter" value="date">
      <input type="hidden" name="email_type" value="{{email_type}}">
      <button class="dropdown-item
   {%if 'date' in request.get_full_path%}
   active
   {%endif%}
       " type="submit">Date
      </button>
   </form>

   <div class="dropdown-divider"></div>

   <form action="{% url 'mail_send_list' %}">
      <input type="hidden" name="filter" value="subject">
      <input type="hidden" name="email_type" value="{{email_type}}">
      <button class="dropdown-item
        {%if 'subject' in request.get_full_path%}
   active
   {%endif%}" type="submit">Subject
      </button>
   </form>

   {%else%}
<!--   <a class="dropdown-item" href="#">Date</a>-->
   <form action="{% url 'mail_list' %}">
   <input type="hidden" name="filter" value="date">
   <input type="hidden" name="email_type" value="{{email_type}}">
   <button class="dropdown-item
   {%if 'date' in request.get_full_path%}
   active
   {%endif%}"
   type="submit">Date</button>
   </form>


<!--   <a class="dropdown-item" href="#">From</a>-->
   <form action="{% url 'mail_list' %}">
   <input type="hidden" name="filter" value="from">
   <input type="hidden" name="email_type" value="{{email_type}}">
   <button class="dropdown-item
    {%if 'from' in request.get_full_path%}
   active
   {%endif%}" type="submit">From</button>
   </form>


<!--   <a class="dropdown-item" href="#">Subject</a>-->
   <form action="{% url 'mail_list' %}">
   <input type="hidden" name="filter" value="subject">
   <input type="hidden" name="email_type" value="{{email_type}}">
   <button class="dropdown-item
        {%if 'subject' in request.get_full_path%}
   active
   {%endif%}" type="submit">Subject</button>
    </form>


   <div class="dropdown-divider"></div>

<!--   <a class="dropdown-item" href="#">Size</a>-->
   <form action="{% url 'mail_list' %}">
   <input type="hidden" name="filter" value="UnRead">
   <input type="hidden" name="email_type" value="{{email_type}}">
   <button class="dropdown-item
        {%if 'UnRead' in request.get_full_path%}
   active
   {%endif%}" type="submit">Unseen</button>
    </form>
   {%endif%}

</div>
{% endblock %}

{%block mail_search_pagination%}
<form class="d-flex mr-3" method="GET"
      {% if email_type == "draft" or email_type == "send" %}
           action="{% url 'mail_send_list' %}"
                           {%else%}
               action="{% url 'mail_list' %}"
                           {%endif%}>
   <a href="#" class="app-sidebar-menu-button btn btn-outline-light">
      <i data-feather="menu" class="width-15 height-15"></i>
   </a>
   <div class="input-group">
      <input type="text" class="form-control" name="search"  placeholder="Email search"
              value="{{ search_q }}"
             aria-describedby="button-addon1">
      <input type="hidden" class="form-control" name = "email_type" value="{{email_type}}"
             aria-describedby="button-addon1">
      <div class="input-group-append">
         <button class="btn" type="submit" id="button-addon1">
            <i class="ti-search"></i>
         </button>
      </div>
   </div>
</form>


<div class="app-pager d-flex align-items-center">
   <div class="mr-3">{{ page_obj.start_index }} - {{page_obj.end_index}} of {{ page_obj.paginator.count }}</div>
   <nav aria-label="Page navigation example">
      <ul class="pagination">

         <li class="page-item">
            {% if page_obj.has_previous %}
            <a class="page-link"
               {%if "mail_outbox" in request.get_full_path%}
               href="{% url 'mail_send_list'%}?email_type={{email_type}}&filter={{filter}}&page={{page_obj.previous_page_number}}"
               {%else%}
               href="{% url 'mail_list'%}?email_type={{email_type}}&filter={{filter}}&page={{page_obj.previous_page_number}}"


            {%endif%}
            aria-label="Previous">
            <i class="ti-arrow-left"></i>
            </a>
            {%endif%}
         </li>


         <li class="page-item">
            {% if page_obj.has_next %}
            <a class="page-link"
               {%if "mail_outbox" in request.get_full_path%}
               href="{% url 'mail_send_list'%}?email_type={{email_type}}&filter={{filter}}&page={{page_obj.next_page_number }}"
               {%else%}
               href="{% url 'mail_list'%}?email_type={{email_type}}&filter={{filter}}&page={{page_obj.next_page_number }}"

            {%endif%}
            aria-label="Next">
            <i class="ti-arrow-right"></i>
            </a>
            {%endif%}
         </li>
      </ul>
   </nav>
</div>
{%endblock%}

{% block mail_list %}
{% for email in object_list%}
<li class="list-group-item card_display_email
   {% if 'inbox' in request.get_full_path %}
        {%if email.mail_viewed%}

                {%else%}
                bg-primary
                {%endif%}
            {%else%}

            {%endif%} "
    list_email_id="{{email.pk}}"
    id="email_list_li{{ email.pk }}">
    <div>
       <div class="custom-control custom-checkbox mr-2">
          <input type="checkbox" class="custom-control-input email_checkbox"
                 data-email_id="{{email.pk}}"
                 id="customCheck{{forloop.counter}}">
          <label class="custom-control-label" for="customCheck{{forloop.counter}}"></label>
       </div>
    </div>
    <div>
       <a href="#" class="add-star mr-3" title="Add stars">
       <i class="fa fa-star-o font-size-16"></i>
       </a>
    </div>
    <div>
       <figure class="avatar avatar-sm mr-3">
          <img src="{%static "/media/image/user/man_avatar5.jpg"%}"
             class="rounded-circle" alt="image">
       </figure>
    </div>
    <div class="flex-grow-1 min-width-0">
       <div class="mb-1 d-flex justify-content-between align-items-center">
          <div class="text-truncate app-list-title">
             {% if 'mail_outbox' in request.get_full_path %}
             {{email.sender}}
             &lt{{email.sender.email}}&gt
             {%else%}
             {{email.mail.sender}}
             &lt{{email.mail.sender.email}}&gt
             {%endif%}
<!--             Lucas Kriebel (via Twitter) -->
         </div>
          <div class="pl-3 d-flex">
             <span class="text-nowrap text-muted">
                 {% if 'mail_outbox' in request.get_full_path %}
                  {{email.created_date|date:"d F"}}
                       {%else%}
                {{email.received_date|date:"d F"}}
                     {%endif%}
<!--                15 July-->
             </span>
             <div class="dropdown ml-3">
                <a href="#" class="btn btn-outline-light btn-floating btn-sm"
                   data-toggle="dropdown">
                <i class="fa fa-ellipsis-h"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right ">

                   {% if '?email_type=inbox' in request.get_full_path%}
                   <a class="dropdown-item reply_view text-info" id="reply_view{{ email.pk }}"
                      data-email_id="{{ email.pk }}" href="#">Reply</a>
                   <a class="dropdown-item text-warning"
                      href="{%url 'mail_starred' email.pk%}?email_type={{email_type}}">
                      {%if email.mail_starred%}Remove Star{%else%} Add star {%endif%}</a>
                   <a class="dropdown-item text-danger" href="{%url 'mail_spam' email.pk%}?email_type={{email_type}}">Mark
                      as Spam </a>
                   <a class="dropdown-item text-danger"
                      href="{%url 'mail_deleted' email.pk%}?email_type={{email_type}}"> Delete </a>
                   {%endif%}


                   {% if '?email_type=send' in request.get_full_path%}
                   <a class="dropdown-item text-danger"
                      href="{%url 'sender_delete' email.pk%}?email_type={{email_type}}"> Delete </a>
                   <a class="dropdown-item text-warning"
                      href="{%url 'sender_starred' email.pk%}?email_type={{email_type}}">
                      {%if email.sender_starred%}Remove Star {%else%} Add star {%endif%}</a>
                   {%endif%}

                   {%if '?email_type=draft' in request.get_full_path%}
                   <a class="dropdown-item text-danger"
                      href="{%url 'sender_delete' email.pk%}?email_type={{email_type}}">Delete</a>
                   {%endif%}

                   {%if '?email_type=starred' in request.get_full_path%}
                   <a class="dropdown-item text-info" href="{%url 'mail_starred' email.pk%}?email_type={{email_type}}">Remove
                      Star</a>
                   <a class="dropdown-item text-warning" href="{%url 'mail_spam' email.pk%}?email_type={{email_type}}">Mark
                      as Spam</a>
                   <a class="dropdown-item text-danger"
                      href="{%url 'mail_deleted' email.pk%}?email_type={{email_type}}">Delete</a>
                   {%endif%}

                   {%if '?email_type=spam' in request.get_full_path%}
                   <a class="dropdown-item text-success" href="{%url 'mail_spam' email.pk%}?email_type={{email_type}}">Unmark
                      as Spam</a>
                   <a class="dropdown-item text-danger"
                      href="{%url 'mail_deleted' email.pk%}?email_type={{email_type}}">Delete</a>
                   {%endif%}

                   {% if '?email_type=trash' in request.get_full_path%}
                   <a class="dropdown-item text-success"
                      href="{%url 'mail_deleted' email.pk%}?email_type={{email_type}}">Recover Email</a>
                   <a class="dropdown-item text-danger" href="">Empty Trash</a>
                   {%endif%}


                </div>

                <!--                   <div class="dropdown-menu dropdown-menu-right">-->
<!--                   <a class="dropdown-item" href="#">Reply</a>-->
<!--                   <a class="dropdown-item" href="#">Add star</a>-->
<!--                   <a class="dropdown-item" href="#">Add label</a>-->
<!--                   <div class="dropdown-divider"></div>-->
<!--                   <a class="dropdown-item text-danger" href="#">Delete</a>-->
<!--                   </div>-->

             </div>


          </div>
       </div>
       <div class="text-muted d-flex justify-content-between">
          <div class="text-truncate small">
              {% if 'mail_outbox' in request.get_full_path  %}
             {{email.subject}}
                 {%else%}
             {{email.mail.subject}}
             {%endif%}
<!--             Lorem ipsum dolor sit amet, consectetur adipisicing-->
<!--             elit. Illum, labore?-->
          </div>
          <div class="text-nowrap pl-3">

             <ul class="list-inline">
                <li class="list-inline-item mb-0">
                    {%if email.mail.label == 'GR'%}
                  <i class="fa fa-circle text-secondary"></i>
                     {%endif%}
                     {%if email.mail.label == 'SP'%}
                  <i class="fa fa-circle text-warning"></i>
                     {%endif%}
                     {%if email.mail.label == 'AS'%}
                  <i class="fa fa-circle text-success"></i>
                      {%endif%}
                     {%if email.mail.label == 'EX'%}
                  <i class="fa fa-circle text-info"></i>
                     {%endif%}
                     {%if email.mail.label == 'PR'%}
                <i class="fa fa-circle text-danger"></i>
                     {%endif%}
                </li>
             </ul>

          </div>
       </div>
    </div>
 </li>
{%endfor%}




{% endblock %}





