{% extends "mail/base.html" %}
{% load static%}

{%block checkbox_all%}
<input type="checkbox" class="custom-control-input" id="customCheckAll">
<label class="custom-control-label" for="customCheckAll"></label>
{%endblock%}

{% block mail_action %}
<a href="#" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
   With selected
</a>

<div class="dropdown-menu">
 <a class="dropdown-item text-success email_status_select"
    data-email_status="recover" href="#">Recover Email</a>
 <a class="dropdown-item text-danger email_status_select"
    data-email_status="empty_trash" href="#">Empty Trash</a>

</div>
{% endblock %}

{% block mail_order %}
<a href="#" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
   Order by
</a>
<div class="dropdown-menu dropdown-menu-right">



   <form action="{% url 'trash_list' %}">
      <input type="hidden" name="filter" value="date">
      <input type="hidden" name="email_type" value="{{email_type}}">
      <button class="dropdown-item
   {%if 'date' in request.get_full_path%}
   active
   {%endif%}
       " type="submit">Date
      </button>
   </form>

   <div class="dropdown-divider"></div>

   <form action="{% url 'trash_list' %}">
      <input type="hidden" name="filter" value="subject">
      <input type="hidden" name="email_type" value="{{email_type}}">
      <button class="dropdown-item
        {%if 'subject' in request.get_full_path%}
   active
   {%endif%}" type="submit">Subject
      </button>
   </form>


</div>
{% endblock %}

{%block mail_search_pagination%}
<form class="d-flex mr-3" method="GET" action="{% url 'trash_list' %}">

   <a href="#" class="app-sidebar-menu-button btn btn-outline-light">
      <i data-feather="menu" class="width-15 height-15"></i>
   </a>
   <div class="input-group">
      <input type="text" class="form-control" name="search"  placeholder="Email search"
              value="{{ search_q }}"
             aria-describedby="button-addon1">
      <input type="hidden" class="form-control" name = "email_type" value="{{email_type}}"
             aria-describedby="button-addon1">
      <div class="input-group-append">
         <button class="btn" type="submit" id="button-addon1">
            <i class="ti-search"></i>
         </button>
      </div>
   </div>
</form>


<div class="app-pager d-flex align-items-center">
   <div class="mr-3">{{ page_obj.start_index }} - {{page_obj.end_index}} of {{ page_obj.paginator.count }}</div>
   <nav aria-label="Page navigation example">
      <ul class="pagination">

         <li class="page-item">
            {% if page_obj.has_previous %}
            <a class="page-link"

               href="{% url 'trash_list'%}?email_type={{email_type}}&filter={{filter}}&page={{page_obj.previous_page_number}}"

            aria-label="Previous">
            <i class="ti-arrow-left"></i>
            </a>
            {%endif%}
         </li>


         <li class="page-item">
            {% if page_obj.has_next %}
            <a class="page-link"

               href="{% url 'trash_list'%}?email_type={{email_type}}&filter={{filter}}&page={{page_obj.next_page_number }}"

            aria-label="Next">
            <i class="ti-arrow-right"></i>
            </a>
            {%endif%}
         </li>
      </ul>
   </nav>
</div>
{%endblock%}

{% block mail_list %}
{% for email in object_list%}
{%if email.rec_obj%}
<li class="list-group-item card_display_email"
     data-email_detail_url="{% url 'mail_detail' email.rec_obj.pk %}?email_type={{ email_type }}"
    list_email_id="{{email.rec_obj.pk}}"
    id="email_list_li{{ email.rec_obj.pk }}">
    <div>
       <div class="custom-control custom-checkbox mr-2">
          <input type="checkbox" class="custom-control-input email_checkbox"
                 data_email_model = "rec"
                 data-email_id="{{email.rec_obj.pk}}"
                 id="customCheck{{forloop.counter}}">
          <label class="custom-control-label" for="customCheck{{forloop.counter}}"></label>
       </div>
    </div>
    <div>
<!--     #   <a href="{%url 'mail_starred' email.rec_obj.pk%}?email_type={{email_type}}" class="add-star mr-3"-->
<!--           title="Add stars">-->
<!--    #    <i class="fa font-size-16{%if email.rec_obj.mail_starred%} text-warning fa-star {% else %} fa-star-o {%endif%} "></i></a>-->

    </div>
    <div>
       <figure class="avatar avatar-sm mr-3">
          <img src="{%static "/media/image/user/man_avatar5.jpg"%}"
             class="rounded-circle" alt="image">
       </figure>
    </div>
    <div class="flex-grow-1 min-width-0">
       <div class="mb-1 d-flex justify-content-between align-items-center">
          <div class="text-truncate app-list-title">

             {{email.sender}}
             &lt{{email.sender.email}}&gt


         </div>
          <div class="pl-3 d-flex">
             <span class="text-nowrap text-muted">


                {{email.rec_obj.received_date|date:"d F"}}

             </span>
             <div class="dropdown ml-3">
                <a href="#" class="btn btn-outline-light btn-floating btn-sm"
                   data-toggle="dropdown">
                <i class="fa fa-ellipsis-h"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right ">
                  <a class="dropdown-item text-success"
                      href="{%url 'mail_deleted' email.rec_obj.pk%}?email_type={{email_type}}">Recover Email</a>
                    <form action="{%url 'mail_receiver_delete' email.rec_obj.pk%}?email_type={{email_type}}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item text-danger">Empty Trash</button>
                    </form>
                </div>

             </div>


          </div>
       </div>
       <div class="text-muted d-flex justify-content-between">
          <div class="text-truncate small">

             {{email.subject}}

          </div>
          <div class="text-nowrap pl-3">

             <ul class="list-inline">
                <li class="list-inline-item mb-0">
                    {%if email.rec_obj.mail.label == 'GR'%}
                  <i class="fa fa-circle text-secondary"></i>
                     {%endif%}
                     {%if email.rec_obj.mail.label == 'SP'%}
                  <i class="fa fa-circle text-warning"></i>
                     {%endif%}
                     {%if email.rec_obj.mail.label == 'AS'%}
                  <i class="fa fa-circle text-success"></i>
                      {%endif%}
                     {%if email.rec_obj.mail.label == 'EX'%}
                  <i class="fa fa-circle text-info"></i>
                     {%endif%}
                     {%if email.rec_obj.mail.label == 'PR'%}
                <i class="fa fa-circle text-danger"></i>
                     {%endif%}
                </li>
             </ul>

          </div>
       </div>
    </div>
 </li>
{%else%}
<li class="list-group-item card_display_email"
    list_email_id="{{email.pk}}"
    data-email_detail_url="{% url 'send_detail' email.pk%}?email_type={{ email_type }}"
    id="email_list_li{{ email.pk }}">
    <div>
       <div class="custom-control custom-checkbox mr-2">
          <input type="checkbox" class="custom-control-input email_checkbox"
                 data_email_model = "mail"
                 data-email_id="{{email.pk}}"
                 id="customCheck{{forloop.counter}}">
          <label class="custom-control-label" for="customCheck{{forloop.counter}}"></label>
       </div>
    </div>
    <div>


<!--            #    <a href="{%url 'sender_starred' email.pk%}?email_type={{email_type}}"class="add-star mr-3"title="Add stars">-->
<!--            #    <i class="fa font-size-16 {%if email.sender_starred%} text-warning fa-star{% else %}fa-star-o {%endif%}"></i></a>-->


    </div>
    <div>
       <figure class="avatar avatar-sm mr-3">
          <img src="{%static "/media/image/user/man_avatar5.jpg"%}"
             class="rounded-circle" alt="image">
       </figure>
    </div>
    <div class="flex-grow-1 min-width-0">
       <div class="mb-1 d-flex justify-content-between align-items-center">
          <div class="text-truncate app-list-title">

             {{email.sender}}
             &lt{{email.sender.email}}&gt

         </div>
          <div class="pl-3 d-flex">
             <span class="text-nowrap text-muted">

                  {{email.created_date|date:"d F"}}

             </span>
             <div class="dropdown ml-3">
                <a href="#" class="btn btn-outline-light btn-floating btn-sm"
                   data-toggle="dropdown">
                <i class="fa fa-ellipsis-h"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right ">




                     <a class="dropdown-item text-success"href="{%url 'sender_delete' email.pk%}?email_type={{email_type}}">Recover Email</a>
                    <a class="dropdown-item text-danger"href="{%url 'mail_delete' email.pk%}?email_type={{email_type}}">Empty Trash</a>




                </div>

             </div>


          </div>
       </div>
       <div class="text-muted d-flex justify-content-between">
          <div class="text-truncate small">

             {{email.subject}}

          </div>
          <div class="text-nowrap pl-3">

             <ul class="list-inline">
                <li class="list-inline-item mb-0">
                    {%if email.label == 'GR'%}
                  <i class="fa fa-circle text-secondary"></i>
                     {%endif%}
                     {%if email.label == 'SP'%}
                  <i class="fa fa-circle text-warning"></i>
                     {%endif%}
                     {%if email.label == 'AS'%}
                  <i class="fa fa-circle text-success"></i>
                      {%endif%}
                     {%if email.label == 'EX'%}
                  <i class="fa fa-circle text-info"></i>
                     {%endif%}
                     {%if email.label == 'PR'%}
                <i class="fa fa-circle text-danger"></i>
                     {%endif%}
                </li>
             </ul>

          </div>
       </div>
    </div>
 </li>
{%endif%}
{%endfor%}




{% endblock %}





