{% load static %}
{% load crispy_forms_tags %}

<div class="se-pre-con-ajax"></div>

<form method="post" id="ajaxassignmentinfoform">
    {% csrf_token %}
    <div class="alert alert-danger form-errors" style="display: none">
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
        <div id="div_id_Assignment_Topic" class="form-group">
            <label for="id_Assignment_Topic" class="control-label ">
                Assignment Topic *
            </label>
            <div class="controls ">
                <input type="text" name="Assignment_Topic" maxlength="500" id="id_Assignment_Topic"
                       class="textinput textInput form-control" required="required"
                       value="{{ Object.Assignment_Topic }}">
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
        <div id="div_id_Assignment_Start" class="form-group">
            <label for="id_Assignment_Start" class="control-label ">
                Assignment Starting *
            </label>
            <div class="controls ">
                <input type="text" name="Assignment_Start" class="form-control"
                       id="id_Assignment_Start" value="{{ Object.Assignment_Start }}" max="9999-12-31">
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
        <div id="div_id_Assignment_Deadline" class="form-group">
            <label for="id_Assignment_Deadline" class="control-label ">
                Assignment Deadline *
            </label>
            <div class="controls ">
                <input type="text" name="Assignment_Deadline" class="form-control"
                       id="id_Assignment_Deadline" value="{{ Object.Assignment_Deadline }}" max="9999-12-31">
            </div>
        </div>
    </div>
    <div class="result text-center"></div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <label>
            Publish
        </label><br>
        <input type="checkbox" id="id_Use_Flag" class="js-switch" name="Use_Flag" checked><br> <br>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
        <input type="hidden" name="Register_Agent" id="id_Register_Agent" value="{{ request.user.id }}"
               class="select form-control">
    </div>
    <div class="submitButton text-center col-md-12">
        <button class="btn btn-success" type="submit">Submit</button>
    </div>

</form>
<script>
    $(document).ready(function () {
        $('#id_Assignment_Deadline').on('dp.change', function (event) {
            const result = document.querySelector('.result');
            var date = new Date();
            var deadline = new Date(event.target.value);
            var remaining = dateDifference(deadline, date);
            if (remaining < 0) {
                result.textContent = `Days Remaining : Invalid`;

            } else {
                result.textContent = `Days Remaining : ${remaining}`;

            }
            ;
        });
    })

</script>
<script>
    $(".se-pre-con-ajax").fadeOut("fast");
    $('#id_Assignment_Deadline').datetimepicker();
    $('#id_Assignment_Start').datetimepicker();
    $("#ajaxassignmentinfoform").submit(function (e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.
        $.ajax({
            url: "{% url 'assignmentinfo_create_ajax' %}",  // URL to your view that serves new info
            data: {
                "csrfmiddlewaretoken": '{{ csrf_token }}',
                "Assignment_Topic": $('#id_Assignment_Topic').val(),
                "Assignment_Start": new Date($('#id_Assignment_Start').val()).toISOString(),
                "Assignment_Deadline": new Date($('#id_Assignment_Deadline').val()).toISOString(),
                "Use_Flag": $('#id_Use_Flag').is(":checked"),
                "Course_Code": $('#id_Course_Code').val(),
                "Chapter_Code": $('#id_Chapter_Code').val(),
                "Register_Agent": $('#id_Register_Agent').val()
            },

            // get the form data
            type: $(this).attr('method'), // GET or POST
            success: function (response) {
                console.log('Success')
                location.reload()
            },
            error: function (err) {
                console.log('Error in posting assignment create form', err.responseJSON)
                $('.form-errors').empty().append(err.responseJSON.Message).css('display', 'block')
            }

        });
    });
</script>