{% load static %}
<div>
    <form method="post" id="ajaxassignmentinfoform">
        {% csrf_token %}

        <div class="form-group">
            <div class="form-control-material static required gapping">
                <input type="text" name="Assignment_Topic" maxlength="500" id="id_Assignment_Topic"
                    class="textinput textInput form-control" required="required">
                <label for="id_Assignment_Topic" class="font-weight-bold">Assignment Topic</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group form-control-material static gapping">
                    <input name="Assignment_Start" type="date" class="form-control" id="id_Assignment_Start">
                    <label for="Assignment_Start" class="font-weight-bold">Assignment Start</label>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group form-control-material static gapping">
                    <input name="Assignment_Deadline" type="date" class="form-control" id="id_Assignment_Deadline">
                    <label for="Assignment_Deadline" class="font-weight-bold">Assignment Deadline</label>
                </div>
            </div>
        </div>

        <div class="form-group text-center">
            <div class="checkbox gapping">
                <input type="checkbox" name="Use_Flag" id="id_Use_Flag" class="checkboxinput">
                <label for="id_Use_Flag" class="font-weight-bold">Use Flag</label>
            </div>
        </div>

        <input type="hidden" name="Register_Agent" id="id_Register_Agent" value="{{ request.user.pk }}"
            class="select form-control">
        <div class="text-center gapping">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    </form>
</div>

<!-- <script src="{% static 'vendorsx/switchery/dist/switchery.min.js' %}"></script> -->
<script>
    $("#ajaxassignmentinfoform").submit(function (e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.
        $.ajax({
            url: "{% url 'assignmentinfo_create_ajax' %}",  // URL to your view that serves new info
            data: {
                "csrfmiddlewaretoken": '{{ csrf_token }}',
                "Assignment_Topic": $('#id_Assignment_Topic').val(),
                "Use_Flag": $('#id_Use_Flag').is(":checked"),
                "Register_Agent": $('#id_Register_Agent').val(),
                "Course_Code": $('#id_Course_Code').val(),
                "Chapter_Code": $('#id_Chapter_Code').val(),
                "Assignment_Start": $('#id_Assignment_Start').val(),
                "Assignment_Deadline": $('#id_Assignment_Deadline').val(),

            },
            // get the form data
            type: $(this).attr('method'), // GET or POST
            success: function (response) {
                console.log('Success')
                location.reload()
            },
            error: function (err) {
                console.log('Error in posting chapter create form', err.responseJSON.errors.__all__[0])
                $('.form-errors').append(err.responseJSON.errors.__all__[0]).css('display', 'block')
            }
        });
    });
</script>