{% load static %}
<div>
    <form method="post" id="ajaxchapterinfoform">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="id_Chapter_No" class="font-weight-bold">Chapter No.</label>
                    <input type="number" class="form-control" name="Chapter_No" id="id_Chapter_No"
                        placeholder="Enter Chapter Number" required>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="form-group">
                    <label for="id_Chapter_Name" class="font-weight-bold">Chapter Name</label>
                    <input type="text" class="form-control" name="Chapter_Name" id="id_Chapter_Name"
                        placeholder="Enter Chapter Name" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="id_Summary" class="font-weight-bold">Summary</label>
            <textarea name="Summary" id="id_Summary" class="form-control" rows="10"></textarea><span
                class="ma-form-highlight"></span><span class="ma-form-bar"></span>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="Start_Date" class="font-weight-bold">Start Date</label>
                    <input name="Start_Date" type="date" class="form-control" id="id_Start_Date">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="End_Date" class="font-weight-bold">End Date</label>
                    <input name="End_Date" type="date" class="form-control" id="id_End_Date">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="form-group">
                    <label for="id_mustreadtime" class="font-weight-bold">Running Time (in minutes)</label>
                    <input type="number" class="form-control" name="mustreadtime" id="id_mustreadtime"
                        placeholder="Enter Running Time for Chapter" required>
                </div>
            </div>
            <div class="col-lg-5 text-center">
                <div class="form-group">
                    <label for="id_Use_Flag" class="font-weight-bold">Publish</label>
                    <br>
                    <input type="checkbox" name="Use_Flag" id="id_Use_Flag" class="checkboxinput">
                </div>
            </div>
        </div>
        <input type="hidden" name="Register_Agent" id="id_Register_Agent" value="{{ request.user }}"
            class="select form-control">
        <div class="text-center mt-3">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    </form>
</div>
<!-- <form method="post" id="ajaxchapterinfoform">
    {% csrf_token %}

    <div class="alert alert-danger form-errors" style="display: none">
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12 text-center">
        {{ form.Chapter_No }}<br>
    </div>
    <div class="col-md-9 col-sm-12 col-xs-12 text-center">
        {{ form.Chapter_Name }}<br>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <div id="div_id_Summary" class="form-group">
            <label for="id_Summary" class="control-label ">
                Summary
            </label>
            <div class="controls ">
                <textarea name="Summary" rows="3" class="textarea form-control" id="id_Summary"
                    cols="40">{{ object.Summary }}</textarea>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        {{ form.Start_Date }}<br>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        {{ form.End_Date }}<br>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        {{ form.mustreadtime }}<br>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" id="div_use_flag">
        <label for="id_Use_Flag" class="control-label ">Publish</label>
        <input type="checkbox" id="id_Use_Flag" class="js-switch" name="Use_Flag" checked>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <input type="hidden" name="Register_Agent" id="id_Register_Agent" value="{{ request.user.username }}"
               class="select form-control">
    </div>

    <div class="col-md-12 text-center" style="margin:2em auto;">
        <button class="btn btn-success" type="submit">Submit</button>
    </div>

</form> -->

<script src="{% static 'vendorsx/switchery/dist/switchery.min.js' %}"></script>
<script>

    $("#ajaxchapterinfoform").submit(function (e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.
        $.ajax({
            url: "{% url 'chapterinfo_create_ajax' %}",  // URL to your view that serves new info
            data: {
                "csrfmiddlewaretoken": '{{ csrf_token }}',
                "Chapter_No": $('#id_Chapter_No').val(),
                "Chapter_Name": $('#id_Chapter_Name').val(),
                "Summary": $('#id_Summary').val(),
                "mustreadtime": $('#id_mustreadtime').val() * 60,
                "Use_Flag": $('#id_Use_Flag').is(":checked"),
                "Register_Agent": $('#id_Register_Agent').val(),
                "Course_Code": $('#id_Course_Code').val(),
                "Start_Date": $('#id_Start_Date').val() != '' ? new Date($('#id_Start_Date').val()).toISOString() : '',
                "End_Date": $('#id_End_Date').val() != '' ? new Date($('#id_End_Date').val()).toISOString() : '',

            },
            // get the form data
            type: $(this).attr('method'), // GET or POST
            success: function (response) {
                console.log('Success')
                location.reload()
            },
            error: function (err) {
                console.log(err)
                $('.form-errors').empty()
                if (err.hasOwnProperty('responseJSON')) {
                    console.log('Error in posting chapter create form', err.responseJSON.errors.__all__[0])
                    $('.form-errors').append(err.responseJSON.errors.__all__[0]).css('display', 'block')
                } else {
                    console.log('Error in posting chapter create form')
                }
            }
        });
    });
</script>