{% load static %}
{% load crispy_forms_tags %}

{{ form.media }}
<div>
    <form method="post" id="ajaxquestioninfoform" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_Question_Title" class="control-label font-weight-bold">
                Question Title <span class="asteriskField">*</span>
            </label>
            <input type="text" name="Question_Title" maxlength="4000" class="form-control" required
                value="{{ object.Question_Title }}" id="id_Question_Title">
        </div>
        <div class="form-group">
            <label for="id_Question_Description" class="font-weight-bold">Question Description</label>
            {{ form.Question_Description }}
        </div>
        <div class="form-group">
            <label for="id_Question_Score" class="font-weight-bold">
                Question Score <span class="asteriskField">*</span>
            </label>
            <input type="numb er" name="Question_Score" value="{{ object.Question_Score }}" required
                id="id_Question_Score" class="form-control">
        </div>
        <div class="form-group">
            <label for="id_Answer_Type" class="float-left font-weight-bold">Answer Type <span
                    class="asteriskField">*</span></label>
            <select class="form-control" id="id_Answer_Type" name="Answer_Type">
                {% for x, y in form.fields.Answer_Type.choices %}
                <option value="{{ x }}" {% if form.fields.Answer_Type.value == x %} selected{% endif %}>{{ y }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="id_Course_Cover_File" class="font-weight-bold">Question Media File <span
                    class="asteriskField">*</span></label>
            <br>
            {{form.Question_Media_File}}
        </div>
        <!-- {{ form.Question_Score }}
        {{ form.Answer_Type }}
        {{ form.Question_Media_File }} -->
        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
            <input type="hidden" id="id_Use_Flag" name="Use_Flag" value="True">
            <input type="hidden" name="Register_Agent" id="id_Register_Agent" value="{{ request.user.pk }}"
                class="select form-control">
            <div class="text-center pt-3">
                <button type="submit" class="btn btn-primary" style="margin:auto">Submit</button>
            </div>
    </form>
</div>

<!-- <script src="{% static 'vendorsx/switchery/dist/switchery.min.js' %}"></script> -->
<script>
    var postURL;
    {% if object %}
    postURL = `/questioninfo/edit/{{object.pk}}/ajax/`
    {% else %}
    postURL = `{% url 'questioninfo_create_ajax' %}`
    {% endif %}
    var submitted = false
    $("#ajaxquestioninfoform").submit(function (e) {
        e.preventDefault(); // avoid to execute the actual submit of the form.
        var formdata = new FormData();
        var file = $('#id_Question_Media_File')[0].files[0];
        formdata.append("Question_Media_File", file);
        formdata.append("csrfmiddlewaretoken", '{{ csrf_token }}');
        formdata.append("Question_Title", $('#id_Question_Title').val());
        formdata.append("Question_Score", $('#id_Question_Score').val());
        formdata.append("Question_Description", $('#id_Question_Description').val());
        formdata.append("Answer_Type", $('#id_Answer_Type').val());
        formdata.append("Use_Flag", $('#id_Use_Flag').val());
        formdata.append("Register_Agent", $('#id_Register_Agent').val());
        formdata.append("Assignment_Code", $('#id_Assignment_Code').val());
        {% if object %}
        formdata.append("clear", $('#Question_Media_File-clear_id').prop('checked'));
        {% endif %}
        // console.log($('#id_Question_Title').val());

        $.ajax({
            url: postURL,  // URL to your view that serves new info
            data: formdata,
            // get the form data
            type: $(this).attr('method'), // GET or POST
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (response) {
                console.log('Success')
                location.reload()
            },
            error: function () {
                console.log('Error in posting assignment create form')
            }
        });
    });
</script>