{% load static %}

{#<link href="{% static 'build/css/studentCustom.css' %}" rel="stylesheet">#}
<link href="{% static 'vendorsx/jQuery-Smart-Wizard/styles/smart_wizard_theme_dots.css' %}" rel="stylesheet"/>

{% load crispy_forms_tags %}


<form id="categoryForm" action="{{ update_url }}" method="post">
  {% csrf_token %}
  <div class="row">

    <div class="col-md-12 text-center">
      <h2 class="StepTitle text-center" style="padding: 0em 0 !important;
            ">Survey Information</h2>
      <div class="col-xs-12">
        <div class="col-md-12">
          {{ form|crispy }}
        </div>

        <div class="text-danger survey_error"></div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <button id="survey_submit_button" class="btn btn-primary" type="submit">Submit</button>
    </div>
  </div>

</form>


<script src=" {% static 'build/js/survey.js' %}"></script>
<script src=" {% static 'duration_picker/bootstrap-duration-picker.js' %}"></script>
{% block customjss %}
  <script src=" {% static 'vendorsx/jQuery-Smart-Wizard/js/jquery.smartWizard.js' %}"></script>
  <script>
      $(document).ready(function () {
          {#$("#smartwizard").smartWizard({selected: 0,});#}

      });
  </script>
  <script>
      if ("{{ category_name }}" === "live" || "{{ category_name }}" === "course") {
          $('#id_End_Time').durationPicker({
              showSeconds: true,
              showDays: false,
              onChanged: function (newVal) {
              }
          });

          $(".bdp-block:visible").addClass("col-md-4")
      }

      $("#categoryForm").submit(function (e) {
          e.preventDefault();
          $.ajax({
              //https://stackoverflow.com/questions/166221/how-can-i-upload-files-asynchronously
              cache: false,
              contentType: false,
              processData: false,
              data: new FormData($(this)[0]),
              url: $(this).prop("action"), // URL to your view that serves new info
              //data: $(this).serialize(), // get the form data
              type: $(this).attr('method'), // GET or POST
              success: function (response) {
                  survey_create_content(response);
              },
              error: function () {
                  console.log('Error in posting form');
              }
          });
      });
  </script>

{% endblock customjss %}