{% load i18n %}

<div class="row">
    <div class="col-lg-3 col-md-5 col-sm-12">
        <div class="card">
                <div class="d-flex justify-content-between align-items-center p-3">
                    <h6 class="mb-0">{% trans 'Category' %}</h6>
                    <div>
                        <button class="btn btn-sm btn-outline-primary dropdown-toggle" data-toggle="dropdown">
                           {% if 'active' in request.get_full_path %} {% trans 'Active' %}{%endif%}{% if 'expire' in request.get_full_path %} {% trans 'Expired' %} {%endif%}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item
                                {% if 'active' in request.get_full_path %}
                                         active
                                        {%endif%} "
                                  href="{% url 'surveyinfo_list'%}?category_name={{cat}}&date_filter=active">{% trans 'Active' %}</a>
        
                            <div class="dropdown-divider"></div>
        
                            <a class="dropdown-item
                                {% if 'expire' in request.get_full_path %}
                                active
                                {%endif%} "
                                 href="{% url 'surveyinfo_list'%}?category_name={{cat}}&date_filter=expire">{% trans 'Expired' %}</a>
                        </div>
                    </div>
                </div>
                <div class="p-3 {% if 'all_survey' in request.get_full_path %} bg-facebook {% endif %}">
                    <a href="{% url 'surveyinfo_list' %}?category_name=all_survey&date_filter={{filter}}"
                       class="category-name
                       {% if 'all_survey' in request.get_full_path %} text-white {%else%} text-primary {%endif%}"
                       id="all_survey">
                        <i class="fa fa-bar-chart mr-2"id="categoryIcons"></i>{% trans 'All survey' %}
                    </a>
                </div>
                <ul>
                    {% for category in categories %}
                    <li class="p-3 border-top d-flex justify-content-between align-items-center">
                        <a href="{% url 'surveyinfo_list' %}?category_name={{ category.Category_Name }}&date_filter={{filter}}"
                            class="category-name
                                    {% if category.Category_Name  in request.get_full_path  %} bg-primary {%endif%}" id="{{ category.Category_Name }}">
                            <i class="fa fa-{{ category.Category_Icon }} mr-2
                                        {% if category.Category_Name in request.get_full_path %} text-light {%else%} text-primary {%endif%}">
                            </i>
                            {% trans category.Category_Name %}
                            <span class="small ml-auto"> </span>
                        </a>
                        {% if "teachers" in request.path or category.Category_Name|lower == "session" or category.Category_Name|lower == "course" %}
                        {% else %}
                        <button class=" {{ category.Category_Name }} btn add_survey_btn btn-sm
                                        {% if category.Category_Name in request.get_full_path %}btn-light{%else%}btn-primary{%endif%}"
                            id="category_Add_Button{{ category.Category_Name }}" style="margin: 0;" data-toggle="modal"
                            data-target="#survey_form_modal"><i class="ti-plus mr-2"></i>{% trans 'Add' %}
                        </button>
                        {%endif%}
                    </li>
                    
                    {%endfor%}
                    <div id="survey_form_modal" class="modal fade" style="height: -webkit-fill-available;">
                        <div class="modal-dialog">
                            <div class="modal-content" style="height: -webkit-fill-available; overflow: auto; overflow-x: hidden;">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                        style="position:relative; left:420px">&times;</button>
            
                                    <h4 class="modal-title" style="position:relative; right:288px; font-weight: bold;">
                                        {% trans 'Create New Survey' %}
                                    </h4>
                                </div>
                                <div class="modal-body" id="surveyForm">
            
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
        </div>
    </div>

    <div class="col-lg-9 col-md-7 col-sm-12 app-content">
        <div class="app-content-overlay"></div>
        <div class="app-action text-right mb-3">
            <div class="action-left"></div>
            <div class="action-right text-right">
                <div class="app-pager d-inline-flex">
                    <div class="mr-3">{{ page_obj.start_index }} - {{page_obj.end_index}} {% trans 'of' %} {{ page_obj.paginator.count}}
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                {% if page_obj.has_previous %}
                                <a class="page-link"

                                   href="{% url 'surveyinfo_list'%}?category_name={{cat}}&date_filter={{filter}}&page={{page_obj.previous_page_number}}"


                                   aria-label="Previous">
                                    <i class="ti-arrow-left"></i>
                                </a>
                                {%endif%}
                            </li>
                            <li class="page-item">
                                {% if page_obj.has_next %}
                                <a class="page-link"

                                   href="{% url 'surveyinfo_list'%}?category_name={{cat}}&date_filter={{filter}}&page={{page_obj.next_page_number }}"

                                   aria-label="Next">
                                    <i class="ti-arrow-right"></i>
                                </a>
                                {%endif%}
                            </li>
                        </ul>
                    </nav>
                </div>
                <form name="search_survey" id="search_survey" method="GET"  class="d-inline-block">
                    <div class="input-group">
                        <input type="text" class="form-control"  name="query" placeholder="{% trans 'Survey search' %}"
                               value="{{ search_q }}"
                               aria-describedby="button-addon1">
                        <input type="hidden" class="form-control" name = "category_name" value="{{cat}}"
                            aria-describedby="button-addon1">
                        <input type="hidden" class="form-control" name = "date_filter" value="{{filter}}"
                            aria-describedby="button-addon1">
                        <div class="input-group-append">
                            <button class="btn s_btn" type="submit" id="button-addon1">
                                <i class="ti-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="app-content-body">
            <div class="row">
                <div class="col-12">
                    <div class="card-columns">
                        {% for object in object_list%}
                        <div class="card p-3 survey-list-card">
                                <!-- <blockquote class="blockquote mb-0 card-body"> -->
                                    {% if object.id in submittedSurvey %}
                                    <i class="fa fa-check fa-4x" id="participatedSurvey" aria-hidden="true"></i>
                                    {% else %}
                                    <i class="fa fa-{{ object.Category_Code.Category_Icon }} fa-4x" id="participatedSurvey"
                                        aria-hidden="true"></i>
                                    {% endif %}
                                <div>
                                    <a href=" {% url 'surveyinfo_detail' object.pk %} ">
                                        <h4 class="survey-title-name">{{ object.Survey_Title }}</h4>
                                    </a>
                                    <!-- <small class="text-muted"> -->
                                    <ul class="card_labels">
                                        <li><label>{% trans 'Questions' %}: {{ object.questions_count }}</label></li>
                                        <li><label>{% trans 'Start date' %}: {{ object.Start_Date }}</label></li>
                                        <li><label>{% trans 'End date' %}: {{ object.End_Date }}</label></li>
                                    </ul>
                                    <!-- </small> -->
                                    <!-- </blockquote> -->
                                </div>
                        </div>
                        {% empty %}
                        <p class="m-4">{% trans 'No Any Surveys' %}!</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





