{% extends "base.html" %}
{% load static %}
{% block stylesheets %}

  <link href="{% static 'build/css/studentCustom.css' %}" rel="stylesheet">

{% endblock stylesheets %}

{% block breadcrumb %}
  <li class="breadcrumb-item active" aria-current="page">Survey</li>
  {% endblock %}
{% block content %}
   {% include 'survey/common/alerts.html' %}
  {% include 'survey/new_surveylist.html' %}
{% endblock %}


{% block javascript %}


<script>


</script>



  <script src=" {% static 'vendors/jquery.repeater.min.js'%}"></script>

 {# Survey Create AJAX POPUP -- ADMIN #}
  {% for category in categories %}
    <script>
       $('#category_Add_Button{{ category.Category_Name }}').on('click', function () {
            $('#surveyForm').append('<div class="se-pre-con-ajax"></div>');
            $.ajax({
                type: "GET",
                data: {'category_name': '{{category.Category_Name}}'},
                url: "{% url 'surveyinfo_ajax' %}",  // URL to your view that serves new info
                success: function (data) {
                    $("#surveyForm").html(data);
                },
                complete: function () {
                    $(".se-pre-con-ajax").fadeOut("fast");
                }
            });
        });
    </script>
 {% endfor %}


  <script>
      $('#category_Add_Button_live').on('click', function () {
          $('#surveyForm').append('<div class="se-pre-con-ajax"></div>');
          $.ajax({
              type: "GET",
              data: {'category_name': 'live'},
              url: "{% url 'surveyinfo_ajax' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#surveyForm").html(data);
              },
              complete: function () {
                  $(".se-pre-con-ajax").fadeOut("fast");
              }
          });
      });
  </script>

  <script>

      $(document).ready(function () {

       ////////////////////////////// Prevent Blank Search  /////////////////////////////////////////
          $('#search_survey').submit(function(){
                $('#search_survey input[type=text]').each(function(n,element){
                    if ($(element).val()=='') {
                        event.preventDefault();
                        return false;
                     }
                });
                return true;
          });

       ////////////////////// Repeater /////////////////////////////
         $('.repeater').repeater();

      });


  </script>
  <script>
      function survey_create_content(response) {
          //location.reload();
          console.log(response['url']);
          window.location.href = String(response['url']);
      }
  </script>


{# Prevent Default for Add Survey #}
  <script>
   $('.add_survey_btn').click(function(event){
          event.preventDefault();

    });
  </script>

{% endblock javascript %}