{% extends "base.html" %}
{% load static %}
{% block stylesheets %}

  <link href="{% static 'build/css/studentCustom.css' %}" rel="stylesheet">

{% endblock stylesheets %}

{% block breadcrumb %}
  <li class="breadcrumb-item active" aria-current="page">Survey</li>
{% endblock %}
{% block content %}
  {% include 'survey/new_surveylist.html' %}
{% endblock %}


{% block javascript %}

  <script src=" {% static 'vendors/jquery.repeater.min.js'%}"></script>
  {% for category in categories %}
    <script>

       $('#category_Add_Button{{ category.Category_Name }}').on('click', function () {
            $('#surveyForm').append('<div class="se-pre-con-ajax"></div>');
            $.ajax({
                type: "GET",
                data: {'category_name': '{{category.Category_Name}}'},
                url: "{% url 'surveyinfo_ajax' %}",  // URL to your view that serves new info
                success: function (data) {
                    $("#surveyForm").html(data);
                },
                complete: function () {
                    $(".se-pre-con-ajax").fadeOut("fast");
                }
            });
        });
    </script>

  {% endfor %}
  <script>
      $('#category_Add_Button_live').on('click', function () {
          $('#surveyForm').append('<div class="se-pre-con-ajax"></div>');
          $.ajax({
              type: "GET",
              data: {'category_name': 'live'},
              url: "{% url 'surveyinfo_ajax' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#surveyForm").html(data);
              },
              complete: function () {
                  $(".se-pre-con-ajax").fadeOut("fast");
              }
          });
      });
  </script>

  <script>

      $(document).ready(function () {

           $('.repeater').repeater();


          $.ajax({
              type: "GET",
              data: {
                  'category_name': "all_survey",
                  'date_filter': $("input[name='survey_filter_radio']:checked").val(),
              },
              url: "{% url 'surveyFilterCategory' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#rowCards").html(data);
              },
              complete: function () {
                  $(".se-pre-con-ajax").fadeOut("fast");
              }
          });
      });



      $('.category-name').on('click', function () {
          var category_name = this.id;
          $.ajax({
              type: "GET",
              data: {
                  'category_name': category_name,
                  'date_filter': $("input[name='survey_filter_radio']:checked").val(),
              },
              url: "{% url 'surveyFilterCategory' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#rowCards").html(data);
              },
              complete: function () {
                  $(".se-pre-con-ajax").fadeOut("fast");
              }
          });
      });

      // -----------------------------ACTIVE AND EXPIRE -------------------------------------
      $("#ActiveButton").on("click", function () {
          var category_name = $(".card-text.active .category-name").attr('id');
          $.ajax({
              type: "GET",
              data: {
                  'category_name': category_name,
                  'date_filter': 'active',
              },
              url: "{% url 'surveyFilterCategory' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#rowCards").html(data);
              },
              complete: function () {
                  $(".se-pre-con-ajax").fadeOut("fast");
              }
          });
      });
      $("#ExpireButton").on("click", function () {
         var category_name = $(".card-text.active .category-name").attr('id');
          $.ajax({
              type: "GET",
              data: {
                  'category_name': category_name,
                  'date_filter': 'expire',
              },
              url: "{% url 'surveyFilterCategory' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#rowCards").html(data);
              },
              complete: function () {
                  $(".se-pre-con-ajax").fadeOut("fast");
              }
          });
      });
      $("#LiveButton").on("click", function () {
          var category_name = $(".card-text.active .category-name").attr('id');
          $.ajax({
              type: "GET",
              data: {
                  'category_name': category_name,
                  'date_filter': 'live',
              },
              url: "{% url 'surveyFilterCategory' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#rowCards").html(data);
              },
              complete: function () {
                  $(".se-pre-con-ajax").fadeOut("fast");
              }
          });
      });


  </script>
  <script>
      function survey_create_content(response) {
          //location.reload();
          console.log(response['url']);
          window.location.href = String(response['url']);
      }
  </script>


    // Prevent Default for Add Survey
  <script>
   $('.add_survey_btn').click(function(event){
          event.preventDefault();

    });
  </script>

{% endblock javascript %}