{% load i18n %}

{% include 'WebApp/theme/alerts.html' %}
<div class="edit-buttons" style="float:right">
    <div class="col-md-12">
        <div class="col-md-6">

            <a href="
        {% if '/teachers' in request.path %}
					{% url 'teacher_quiz_update_info' quiz.id %}
					{% else %}
					{% url 'quiz_update_info' quiz.id %}
					{% endif %}">

                <button class="qts-button ">EDIT</button>
            </a>
        </div>
        <div class="col-md-6">
            <a href="
        {% url 'quiz_delete' quiz.id %}
        ">
                <button class="qts-button ">DELETE</button>
            </a>
        </div>
    </div>


</div>

<table class="table table-bordered ">

    <tbody>
    <tr>
        <td><p>Quiz</p></td>
        <td><p>{{ quiz.title }}</p></td>
    </tr>
    <tr>
        <td><p>Description</p></td>
        <td><p>{{ quiz.description }}</p></td>
    </tr>
    <tr>
        <td><p>Course </p></td>
        <td><p>{{ quiz.course_code }}</p></td>
    </tr>
    <tr>
        <td><p> Chapter</p></td>
        <td><p> {{ quiz.chapter_code }}</p></td>

    </tr>
    <tr>
        <td><p>Type of quiz</p></td>
        <td><p>{% if quiz.pre_test %}Pre Test <br>{% endif %}
            {% if quiz.post_test %}Post Test <br>{% endif %}
            {% if quiz.exam_paper %}Exam <br>{% endif %}</p></td>
    </tr>
    <tr>
        <td><p>Url</p></td>
        <td><p>{{ quiz.url }}</p></td>
    </tr>
    <tr>
        <td><p>Quiz Feature</p></td>
        <td>
            <p>
                {% if quiz.random_order %}Random Order <br>{% endif %}
                {% if quiz.single_attempt %}Single Attempt <br>{% endif %}
                {% if quiz.negative_marking %}Negative Marking - {{ quiz.negative_percentage }}% <br>{% endif %}
            </p>
        </td>

    </tr>
    <tr>
        <td><p>Status</p></td>
        <td>
            {% if quiz.draft is True %}
                <div class="col-md-12">
                    <div class="col-md-6">
                        <span class="text-danger">Inactive</span>
                    </div>
                    <div class="col-md-6">
                        <form action="{% url 'activate_quiz' pk=quiz.pk %}" method="post">{% csrf_token %}
                            <input type="hidden" value="{{ request.path }}" name="redirect-url">
                            <input type="button" value="Activate" style="float: right;color: #2A3F54;cursor:pointer"
                                   class="confirm-activate">
                        </form>
                    </div>
                </div>
            {% endif %}
            {% if quiz.draft is False %}
                <div class="col-md-12">
                    <div class="col-md-6">
                        <span class="text-success">Active</span>
                    </div>
                    <div class="col-md-6">
                        <form action="{% url 'deactivate_quiz' pk=quiz.pk %}" method="post">{% csrf_token %}
                            <input type="hidden" value="{{ request.path }}" name="redirect-url">
                            <input type="button" value="Deactivate" style="float: right;color: #2A3F54;cursor:pointer"
                                   class="confirm-deactivate">
                        </form>
                    </div>
                </div>
            {% endif %}
        </td>


    </tr>

    </tbody>
</table>


<div class="quiz-question-list">

    <a href="#mcqn_list" data-toggle="collapse">

        <p class="exam-results text-center">
         <span class="exam-results"> <i class="fa fa-list"></i>&nbsp;LIST OF MCQUESTIONS {% if quiz.has_mcqs %} <span class="fa fa-chevron-down"
            style="color:white"></span>{% endif %}</span>
            {% if not quiz.has_sittings %}
            <a href="" id="mcq_choose_button" data-toggle="modal"
               data-target="#question_form_popup">
                <span class="add-mcq-details" style="float: right;margin-right: 10px;"> CHOOSE PREVIOUS MCQ </span>
            </a>
            <a href="" id="mcq_create_button" data-toggle="modal"
               data-target="#question_form_popup">
                <span class="add-mcq-details" style="float: right">ADD MCQ +</span>
            </a>
            &nbsp;
        {% endif %}

        </p>

    </a>


    <div id="mcqn_list" class="collapse">
        <ul style="padding: 0px;">
            {% for quest in quiz.mcquestion.all %}
                <div class="mcq-list-details">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-9">

                                <li class="quiz-listing">  {{ quest.content }}</li>

                                {% if quest.figure %}
                                    <div class="detail-page-images">
                                        <img src="{{ quest.figure.url }}" alt="">

                                    </div>


                                {% endif %}


                            </div>


                            <div class="col-md-1 text-right " style="line-height: 24px;">
                                {% if quest.get_answers %}

                                    <a class="button-color-only1" href="#mcans_list_{{ quest.id }}"
                                       data-toggle="collapse">Options</a>

                                {% endif %}

                            </div>
                            <div class="col-md-1 text-right">
                                <input id="mcq_{{ quest.id }}_update_button" class="button-color-only" type="submit"
                                       value="Edit" style="float: right" data-toggle="modal"
                                       data-target="#question_form_popup">
                            </div>
                            {% if not quiz.has_sittings %}
                            <div class="col-md-1 text-right ">
                                <form action="{% url 'mcquestion_remove_link' qn_id=quest.id quiz_id=quiz.id %}"
                                      method="post">
                                    {% csrf_token %}
                                    <input class="button-color-only confirm-remove" type="submit" value="Remove">
                                </form>
                            </div>
                            {% endif %}


                        </div>

                    </div>
                </div>
                <div id="mcans_list_{{ quest.id }}" class=" correct-list collapse">
                    <ul >
                        {% for ans in quest.get_answers %}
                            <li class="quiz-answer-listing"></li>
                            {{ forloop.counter }} <span>)&nbsp;</span>
                            {{ ans.content }}{% if ans.correct %} -> <span class="mcq-correct">Correct</span>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="quiz-question-list">
    <a href="#tfqn_list" data-toggle="collapse">
        <p class="exam-results text-center">
            <span class="exam-results"> <i class="fa fa-bookmark "></i>&nbsp;LIST OF TFQUESTIONS {% if quiz.has_tfqs %}<span class="fa fa-chevron-down"
                style="color:white"></span> {% endif %}</span>

            {% if not quiz.has_sittings %}
                <a href="" id="tfq_choose_button" data-toggle="modal"
                data-target="#question_form_popup">
                    <span class="add-mcq-details" style="float: right;margin-right: 10px;"> CHOOSE PREVIOUS TFQ </span>
                </a>
                <a href="" id="tfq_create_button" data-toggle="modal"
                data-target="#question_form_popup">
                    <span class="add-mcq-details" style="float: right">ADD TFQ +</span>
                </a>
            {% endif %}
        </p>
    </a>
    <div id="tfqn_list" class="collapse">
        <ul style="padding: 0px;">
            {% for quest in quiz.tfquestion.all %}
                <div class="tfq-list-details">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-10">
                                <li class="quiz-listing">  {{ quest.content }}</li>
                                {% if quest.figure %}
                                    <div class="detail-page-images">
                                        <img src="{{ quest.figure.url }}" alt="">

                                    </div>


                                {% endif %}
                            </div>
                            <div class="col-md-1 text-right">
                                <input id="tfq_{{ quest.id }}_update_button" class="button-color-only" type="submit"
                                       value="Edit" style="float: right" data-toggle="modal"
                                       data-target="#question_form_popup">
                            </div>
                            {% if not quiz.has_sittings %}
                                <div class="col-md-1 text-right " style="line-height: 24px;">
                                    <form action="{% url 'tfquestion_remove_link' qn_id=quest.id quiz_id=quiz.id %}"
                                        method="post">
                                        {% csrf_token %}
                                        <input class="button-color-only confirm-remove" type="submit" value="Remove">
                                    </form>

                                </div>
                            {% endif %}

                        </div>

                    </div>


                </div>

            {% endfor %}

        </ul>
    </div>
</div>
<div class="quiz-question-list">
    <a href="#esqn_list" data-toggle="collapse">

        <p class="exam-results text-center">

                    <span class="exam-results"> <i class="fa fa-align-right  "></i>&nbsp;LIST OF SHORT ANSWER QUESTIONS  {% if quiz.has_saqs %}<span class="fa fa-chevron-down"
                        style="color:white"></span>{% endif %}</span>



                    {% if not quiz.has_sittings %}
                        <a href="" id="saq_choose_button" data-toggle="modal"
                        data-target="#question_form_popup">
                        <span class="add-mcq-details" style="float: right;margin-right: 10px;">CHOOSE PREVIOUS SAQ </span>
                        </a>



                        <a href="" id="saq_create_button" data-toggle="modal"
                        data-target="#question_form_popup">
                        <span class="add-mcq-details" style="float: right">ADD SAQ +</span>
                        </a>
                    {% endif %}




        </p>

    </a>

    <div id="esqn_list" class="collapse">
        <ul style="padding: 0px;">
            {% for quest in quiz.saquestion.all %}
                <div class="saq-list-details">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-10">
                                <li class="quiz-listing">  {{ quest.content }}</li>
                                {% if quest.figure %}
                                    <div class="detail-page-images">
                                        <img src="{{ quest.figure.url }}" alt="">

                                    </div>


                                {% endif %}
                            </div>
                            <div class="col-md-1 text-right">
                                <input id="saq_{{ quest.id }}_update_button" class="button-color-only" type="submit"
                                       value="Edit" style="float: right" data-toggle="modal"
                                       data-target="#question_form_popup">
                            </div>
                            {% if not quiz.has_sittings %}
                                <div class="col-md-1 text-right " style="line-height: 24px;">
                                    <form action="{% url 'saquestion_remove_link' qn_id=quest.id quiz_id=quiz.id %}"
                                        method="post">
                                        {% csrf_token %}
                                        <input class="button-color-only confirm-remove" type="submit" value="Remove">
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>


                </div>
            {% endfor %}
        </ul>
    </div>
    {% if '/teachers' in request.path %}
        <a href="/quiz/markingfilter/{{ quiz.pk }}/" class="btn btn-primary btn-lg active" role="button"
           aria-pressed="true">Assign Marks to Submitted Answers</a>
    {% endif %}

</div>

<div id="question_form_popup" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="question_model_title"></h4>
            </div>
            <div class="modal-body" style="height: auto" id="question_form_ajax">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

