{% load i18n %}
    
<div class="row">
    <div class="col-lg-9 col-md-6 col-sm-12">
        <div class="d-flex justify-content-between mb-4">
            <h3 class="text-primary"> Quiz Detail</h3>
            {% if '/teachers' in request.path %}
            <a href="/teachers/quiz/marking/{{object.pk}}" class=" btn btn-sm btn-info  qts-button  active" role="button"
                aria-pressed="true">View Marking</a>
            {% endif %}
        </div>
        <div class="accordion custom-accordion">
            <div class="accordion-row open">
                <a href="#" class="accordion-header px-0">
                    <div class="row col-12">
                        <div class="col-lg-8 col-md-6 col-sm-6" style="cursor:pointer">
                            <p class="panel-title mb-0" data-toggle="collapse" aria-expanded="true"> <i class="fa fa-list"></i>&nbsp; <b>List
                                    Of MCQuestions</b> </p>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 text-right p-0">
                            <button id="mcq_create_button" data-toggle="modal" data-target="#question_form_popup"
                                class="btn btn-outline-info btn-sm ">Add MCQ+</button>
                                &nbsp;
                            <button id="mcq_choose_button" data-toggle="modal" data-target="#question_form_popup"
                                class="btn btn-outline-info btn-sm ripple">Choose Previous MCQ</button>
                        </div>
                        <!-- <i class="accordion-status-icon close fa fa-chevron-up " ></i>
                                                <i class="accordion-status-icon open fa fa-chevron-down " ></i>   -->
                    </div>
                </a>
                <div>
                    {% for quest in quiz.mcquestion.all %}
                    <div class="mcq-list-details " style="border-bottom: 1px solid #e2e9e6; padding:5px 0">
                        <div class="row m-0" style="list-style: none;">
                            <div class="col-lg-9 col-md-6 col-sm-12" style="align-self: center;">
                                <li class="quiz-listing"> {{ quest.content }}</li>
                                {% if quest.figure %}
                                <div class="detail-page-images">
                                    <img src="{{ quest.figure.url }}" alt="">
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 d-flex align-items-center" style="justify-content: flex-end;">
                                {% if quest.get_answers %}
                                <a class="button-color-only1" href="#mcans_list_{{ quest.id }}" data-toggle="collapse">
                                    <button class="btn btn-light btn-sm ripple">Options</button>
                                </a>
                                {% endif %}
                                <input id="mcq_{{ quest.id }}_update_button" class=" btn btn-default btn-xs ripple ml-1" type="submit" value="Edit"
                                    style="float: right" data-toggle="modal" data-target="#question_form_popup">
                                <form action="{% url 'mcquestion_remove_link' qn_id=quest.id quiz_id=quiz.id %}" method="post">
                                    {% csrf_token %}
                                    <input class="button-color-only confirm-remove btn btn-default btn-xs ripple" type="submit" value="Remove">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="mcans_list_{{ quest.id }}" class="correct-list collapse p-3">
                        <ul style="list-style:none!important">
                            {% for ans in quest.get_answers %}
                            <li class="quiz-answer-listing"></li>
                            {{ forloop.counter }} <span>)&nbsp;</span>
                            {{ ans.content }}{% if ans.correct %} <i class="fa fa-arrow-right"></i> <span
                                class="btn btn-sm btn-success">Correct</span>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="accordion-row">
                <a href="#" class="accordion-header px-0">
                    <div class="row col-12">
                        <div class="col-md-8 col-sm-5 col-xs-5">
                            <p class="panel-title mb-0" data-toggle="collapse" aria-expanded="true"> <i class="fa fa-list"></i>&nbsp; <b>List
                                    Of TFQuestions </b> </p>
                        </div>
                
                        <div class="col-md-4 col-sm-6 col-xs-6 text-right p-0">
                            <button id="tfq_create_button" data-toggle="modal" data-target="#question_form_popup"
                                class="btn btn-outline-info btn-sm ripple">Add TFQ+</button>
                                &nbsp;
                            <button id="tfq_choose_button" data-toggle="modal" data-target="#question_form_popup"
                                class="btn btn-outline-info btn-sm ripple">Choose Previous TFQ</button>
                        </div>
                    </div>
                    <!-- <i class="accordion-status-icon close fa fa-chevron-up"></i>
                                        <i class="accordion-status-icon open fa fa-chevron-down"></i> -->
                </a>
                <div class="accordion">
                    {% for quest in quiz.tfquestion.all %}
                    <div class="tfq-list-details" style="border-bottom: 1px solid #e2e9e6; padding:5px 0">
                        <div class="row m-0" style="list-style: none;">
                            <div class="col-lg-10 col-sm-6 col-xs-12">
                                <li class="quiz-listing"> {{ quest.content }}</li>
                                {% if quest.figure %}
                                <div class="detail-page-images">
                                    <img src="{{ quest.figure.url }}" alt="">
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-lg-2 col-sm-6 col-xs-12 d-flex align-items-center">
                                <input id="tfq_{{ quest.id }}_update_button" class="button-color-only btn btn-default btn-xs ripple"
                                type="submit" value="Edit" style="float: right" data-toggle="modal" data-target="#question_form_popup">
                                <form action="{% url 'tfquestion_remove_link' qn_id=quest.id quiz_id=quiz.id %}" method="post">
                                    {% csrf_token %}
                                    <input class="button-color-only confirm-remove btn btn-default btn-xs ripple" type="submit"
                                        value="Remove">
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="accordion-row">
                <a href="#" class="accordion-header px-0">
                    <div class="row col-12">
                        <div class="col-md-8 col-sm-5 col-xs-5">
                            <p class="panel-title mb-0" data-toggle="collapse" data-target="#saq-list-detailsid"> <i
                                    class="fa fa-align-right  "></i>&nbsp; <b>List Of SAQuestions</b> </p>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6 text-right p-0">
                            <button id="saq_create_button" data-toggle="modal" data-target="#question_form_popup"
                                class="btn btn-outline-info btn-sm ripple">Add SAQ+</button>
                                &nbsp;
                            <button id="saq_choose_button" data-toggle="modal" data-target="#question_form_popup"
                                class="btn btn-outline-info btn-sm ripple">Choose Previous SAQ</button>
                        </div>
                    </div>
                    <!-- <i class="accordion-status-icon close fa fa-chevron-up"></i>
                                        <i class="accordion-status-icon open fa fa-chevron-down"></i> -->
                </a>
                <div class="accordion-body">
        
                    {% for quest in quiz.saquestion.all %}
                    <div class="saq-list-details" id="saq-list-detailsid"
                        style="border-bottom: 1px solid #e2e9e6; padding:5px 0">
                        <div class="col-md-12" style="list-style: none;">
                            <div class="row m-0">
                                <div class="col-lg-3 col-md-6 col-xs-12">
                                    <li class="quiz-listing"> {{ quest.content }}</li>
                                    {% if quest.figure %}
                                    <div class="detail-page-images">
                                        <img src="{{ quest.figure.url }}" alt="">
        
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="col-lg-3 col-md-6 col-xs-12 d-flex align-items-center">
                                    <input id="saq_{{ quest.id }}_update_button"
                                        class="button-color-only btn btn-default btn-xs ripple" type="submit" value="Edit"
                                        style="float: right" data-toggle="modal" data-target="#question_form_popup">
                                        <form action="{% url 'saquestion_remove_link' qn_id=quest.id quiz_id=quiz.id %}"
                                        method="post">
                                        {% csrf_token %}
                                        <input class="button-color-only confirm-remove btn btn-default btn-xs ripple"
                                            type="submit" value="Remove">
                                    </form>
                                </div>
                            </div>
                        </div>
        
        
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card py-3">
            <h3 class="text-primary text-center">Quiz Information</h3>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th class="table-active">Quiz Type</th>
                        <td> {% if quiz.pre_test %}Pre Test <br>{% endif %}
                            {% if quiz.post_test %}Post Test <br>{% endif %}
                            {% if quiz.exam_paper %}Exam <br>{% endif %}</td>
            
                    </tr>
                    <tr>
                        <th class="table-active">Course</th>
                        <td>{{ quiz.course_code }}</td>
            
                    </tr>
                    <tr>
                        <th class="table-active">Chapter</th>
                        <td>{{ quiz.chapter_code }}</td>
            
                    </tr>
                    <tr>
                        <th class="table-active">Attempt </th>
                        <td> {% if quiz.pre_test %}Pre Test <br>{% endif %}
                            {% if quiz.post_test %}Post Test <br>{% endif %}
                            {% if quiz.exam_paper %}Exam <br>{% endif %}</td>
                    </tr>
                    <tr>
                        <th class="table-active">URL</th>
                        <td>{{ quiz.url }}</td>
                    </tr>
                    <tr>
                        <th class="table-active">Quiz Feature</th>
                        <td>
                            <ul class="list-unstyled pl-3 mb-0" style="list-style: square;">
                                {% if quiz.random_order %} 
                                <li>Random Order </li> 
                                {% else %}
                                <li>Normal Order</li>
                                {% endif %}
                                {% if quiz.single_attempt %}
                                <li>Single Attempt</li>
                                {% else %}
                                <li>Multiple Attempt</li>
                                {% endif %}
                                {% if quiz.negative_marking %}
                                <li>Negative Marking  - {{ quiz.negative_percentage }}%</li>
                                {% else %}
                                <li>No Negative Marking</li>
                                {% endif %}
                            </ul>
                        </td>
            
                    </tr>
                    <tr>
                        <th class="table-active">Status</th>
                        <td> {% if quiz.draft is True %}
            
                            <div class="col-md-2" style="padding: 0px;">
                                <span class="badge badge-success">Inactive</span>
                            </div>
                            <!-- <div class="col-md-2">
                                                                        <form action="{% url 'activate_quiz' pk=quiz.pk %}" method="post">{% csrf_token %}
                                                                            <input type="hidden" value="{{ request.path }}" name="redirect-url">
                                                                            <input type="button" value="Activate" style="float: right;color: #2A3F54;cursor:pointer"
                                                                                class="confirm-activate btn btn-sm ">
                                                                        </form>
                                                                    </div> -->
            
                            {% endif %}
                            {% if quiz.draft is False %}
            
                            <div class="col-md-2" style="padding: 0px;">
                                <span class="badge badge-success">Active</span>
                            </div>
                            <!-- <div class="col-md-2">
                                                                        <form action="{% url 'deactivate_quiz' pk=quiz.pk %}" method="post">{% csrf_token %}
                                                                            <input type="hidden" value="{{ request.path }}" name="redirect-url">
                                                                            <input type="button" value="Deactivate" style=";color: #2A3F54;cursor:pointer"
                                                                                class="confirm-deactivate btn btn-sm">
                                                                        </form>
                                                                    </div> -->
            
            
                            {% endif %}
                        </td>
            
                    </tr>
                    <tr>
                        <th class="table-active">Description</th>
                        <td>{{ quiz.description }}</td>
            
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <a href="
                                    {% if '/teachers' in request.path %}
                                                {% url 'teacher_quiz_update_info' quiz.id %}
                                                {% else %}
                                                {% url 'quiz_update_info' quiz.id %}
                                                {% endif %}">
            
                    <button class="btn btn-outline-primary  qts-button ">Edit</button>
                </a>
                <a href="
                                        {% if '/teachers' in request.path %}
                                            {% url 'teacher_quiz_delete' quiz.id %}
                                        {% else %}
                                            {% url 'quiz_delete' quiz.id %}
                                        {% endif %}
                                    " onclick="return confirm('Are you sure you want to delete?')">
                    <button class="btn  btn-outline-danger qts-button ">Delete</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="question_form_popup" class="modal fade">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold" id="question_model_title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body" style="height: auto;" id="question_form_ajax">
            </div>
        </div>
    </div>
</div>

    
<!-- <div class="panel  ">
    <div class="table-responsive">

      <table id="quiz-detail-table" class="table table-bordered " style="overflow: hidden; table-layout:fixed; width:100%">

            <tbody>
            <tr>
                <td><p> <b>Quiz</b>   </p></td>
                <td><p>{{ quiz.title }}</p></td>
            </tr>
            <tr>
                <td><p>  
                 <b>Description</b>   </p></td>
                <td><p>{{ quiz.description }}</p></td>
            </tr>
            <tr>
                <td><p> <b>Course</b>   </p></td>
                <td><p>{{ quiz.course_code }}</p></td>
            </tr>
            <tr>
                <td><p> <b>Chapter</b> </p></td>
                <td><p> {{ quiz.chapter_code }}</p></td>

            </tr>
            <tr>
                <td><p> <b>Type of quiz</b>  </p></td>
                <td><p>{% if quiz.pre_test %}Pre Test <br>{% endif %}
                    {% if quiz.post_test %}Post Test <br>{% endif %}
                    {% if quiz.exam_paper %}Exam <br>{% endif %}</p></td>
            </tr>
            <tr>
                <td><p><b>Url</b>  </p></td>
                <td><p>{{ quiz.url }}</p></td>
            </tr>
            <tr>
                <td><p>  <b> Quiz Feature</b>  </p></td>
                <td><p>{% if quiz.random_order %}Random Order <br>{% endif %}
                    {% if quiz.single_attempt %}Single Attempt <br>{% endif %}</p>

            </tr>
            <tr>
                <td><p><b>Status</b>  </p></td>
                <td>
                    {% if quiz.draft is True %}
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">

                            
                                <div class="col-md-4 col-sm-6">
                                    <span class="text-danger">Inactive</span>
                                </div>
                                <div class="col-md-8 col-sm-6" >
                                    <form action="{% url 'activate_quiz' pk=quiz.pk %}" method="post">{% csrf_token %}
                                        <input type="hidden" value="{{ request.path }}" name="redirect-url">
                                        <input type="button" value="Activate" style="float: right;color: #2A3F54;cursor:pointer"
                                            class="confirm-activate">
                                    </form>
                                </div>
                          </div> 
                        </div>
                    {% endif %}
                    {% if quiz.draft is False %}
                        <div class="col-md-12" style="padding: 0 10px;">
                            <div class="row">

                        
                            <div class="col-md-6" style="padding: 0px;">
                                <span class="text-success">Active</span>
                            </div>
                            <div class="col-md-6" style="padding: 0px;">
                                <form action="{% url 'deactivate_quiz' pk=quiz.pk %}" method="post">{% csrf_token %}
                                    <input type="hidden" value="{{ request.path }}" name="redirect-url">
                                    <input type="button" value="Deactivate" style="float: right;color: #2A3F54;cursor:pointer"
                                        class="confirm-deactivate">
                                </form>
                            </div>
                          </div>
                        </div>
                    {% endif %}
                </td>


            </tr>

            </tbody>
        </table>
    </div>    
</div> -->
<!-- OLD MCQ -->
<!-- <div class="quiz-question-list">

    <a href="#mcqn_list" data-toggle="collapse">

        <p class="exam-results text-center">
         <span class="exam-results"> <i class="fa fa-list"></i>&nbsp;LIST OF MCQUESTIONS {% if quiz.has_mcqs %} <span class="fa fa-chevron-down"
            style="color:white"></span>{% endif %}</span>
            <a href="" id="mcq_choose_button" data-toggle="modal"
               data-target="#question_form_popup">
                <span class="add-mcq-details" style="float: right;margin-right: 10px;"> CHOOSE PREVIOUS MCQ </span>
            </a>
            <a href="" id="mcq_create_button" data-toggle="modal"
               data-target="#question_form_popup">
                <span class="add-mcq-details" style="float: right">ADD MCQ +</span>
            </a>
            &nbsp;

        </p>
        

    </a>




   


     <div id="mcqn_list" class="collapse"> 
        <ul style="padding: 0px;">
            {% for quest in quiz.mcquestion.all %}
                <div class="mcq-list-details">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-9">

                                <li class="quiz-listing">  {{ quest.content }}</li>

                                {% if quest.figure %}
                                    <div class="detail-page-images">
                                        <img src="{{ quest.figure.url }}" alt="">

                                    </div>


                                {% endif %}


                            </div>


                            <div class="col-md-1 text-right " style="line-height: 24px;">
                                {% if quest.get_answers %}

                                    <a class="button-color-only1" href="#mcans_list_{{ quest.id }}"
                                       data-toggle="collapse">Options</a>

                                {% endif %}

                            </div>
                            <div class="col-md-1 text-right">
                                <input id="mcq_{{ quest.id }}_update_button" class="button-color-only" type="submit"
                                       value="Edit" style="float: right" data-toggle="modal"
                                       data-target="#question_form_popup">
                            </div>
                            <div class="col-md-1 text-right ">
                                <form action="{% url 'mcquestion_remove_link' qn_id=quest.id quiz_id=quiz.id %}"
                                      method="post">
                                    {% csrf_token %}
                                    <input class="button-color-only confirm-remove" type="submit" value="Remove">
                                </form>
                            </div>


                        </div>

                    </div>
                </div>
                <div id="mcans_list_{{ quest.id }}" class=" correct-list collapse">
                    <ul >
                        {% for ans in quest.get_answers %}
                            <li class="quiz-answer-listing"></li>
                            {{ forloop.counter }} <span>)&nbsp;</span>
                            {{ ans.content }}{% if ans.correct %} -> <span class="mcq-correct">Correct</span>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </ul>
    </div> 
</div> -->
<!-- OLD TFQ -->
 <!-- <div class="quiz-question-list">
    <a href="#tfqn_list" data-toggle="collapse">
        <p class="exam-results text-center">
            <span class="exam-results"> <i class="fa fa-bookmark "></i>&nbsp;LIST OF TFQUESTIONS {% if quiz.has_tfqs %}<span class="fa fa-chevron-down"
                style="color:white"></span> {% endif %}</span>

            <a href="" id="tfq_choose_button" data-toggle="modal"
               data-target="#question_form_popup">
                <span class="add-mcq-details" style="float: right;margin-right: 10px;"> CHOOSE PREVIOUS TFQ </span>
            </a>
            <a href="" id="tfq_create_button" data-toggle="modal"
               data-target="#question_form_popup">
                <span class="add-mcq-details" style="float: right">ADD TFQ +</span>
            </a>
        </p>
    </a>
    <div id="tfqn_list" class="collapse">
        <ul style="padding: 0px;">
            {% for quest in quiz.tfquestion.all %}
                <div class="tfq-list-details">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-10">
                                <li class="quiz-listing">  {{ quest.content }}</li>
                                {% if quest.figure %}
                                    <div class="detail-page-images">
                                        <img src="{{ quest.figure.url }}" alt="">

                                    </div>


                                {% endif %}
                            </div>
                            <div class="col-md-1 text-right">
                                <input id="tfq_{{ quest.id }}_update_button" class="button-color-only" type="submit"
                                       value="Edit" style="float: right" data-toggle="modal"
                                       data-target="#question_form_popup">
                            </div>
                            <div class="col-md-1 text-right " style="line-height: 24px;">
                                <form action="{% url 'tfquestion_remove_link' qn_id=quest.id quiz_id=quiz.id %}"
                                      method="post">
                                    {% csrf_token %}
                                    <input class="button-color-only confirm-remove" type="submit" value="Remove">
                                </form>

                            </div>

                        </div>

                    </div>


                </div>

            {% endfor %}

        </ul>
    </div>
</div>  -->
<!-- OLD SAQ -->
<!-- <div class="quiz-question-list">
    <a href="#esqn_list" data-toggle="collapse">

        <p class="exam-results text-center">
            
                    <span class="exam-results"> <i class="fa fa-align-right  "></i>&nbsp;LIST OF SHORT ANSWER QUESTIONS  {% if quiz.has_saqs %}<span class="fa fa-chevron-down"
                        style="color:white"></span>{% endif %}</span>




                    <a href="" id="saq_choose_button" data-toggle="modal"
                    data-target="#question_form_popup">
                     <span class="add-mcq-details" style="float: right;margin-right: 10px;">CHOOSE PREVIOUS SAQ </span>
                 </a>



                    <a href="" id="saq_create_button" data-toggle="modal"
                    data-target="#question_form_popup">
                     <span class="add-mcq-details" style="float: right">ADD SAQ +</span>
                 </a>




        </p>

    </a>

    <div id="esqn_list" class="collapse">
        <ul style="padding: 0px;">
            {% for quest in quiz.saquestion.all %}
                <div class="saq-list-details">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-10">
                                <li class="quiz-listing">  {{ quest.content }}</li>
                                {% if quest.figure %}
                                    <div class="detail-page-images">
                                        <img src="{{ quest.figure.url }}" alt="">

                                    </div>


                                {% endif %}
                            </div>
                            <div class="col-md-1 text-right">
                                <input id="saq_{{ quest.id }}_update_button" class="button-color-only" type="submit"
                                       value="Edit" style="float: right" data-toggle="modal"
                                       data-target="#question_form_popup">
                            </div>
                            <div class="col-md-1 text-right " style="line-height: 24px;">
                                <form action="{% url 'saquestion_remove_link' qn_id=quest.id quiz_id=quiz.id %}"
                                      method="post">
                                    {% csrf_token %}
                                    <input class="button-color-only confirm-remove" type="submit" value="Remove">
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            {% endfor %}
        </ul>
    </div>
    {% if '/teachers' in request.path %}
        <a href="/quiz/markingfilter/{{ quiz.pk }}/" class="btn btn-primary btn-lg active" role="button"
           aria-pressed="true">Assign Marks to Submitted Answers</a>
    {% endif %}

</div> -->
<!-- 
<div class="MCQ"> 

    <div class="panel panel-default accordion" data-toggle="panel-collapse" data-open="true">
      <div class="panel-heading ">
        
      </div>
      <div class="panel-body list-group">
        <ul class="list-group list-group-menu">
           
            {% for quest in quiz.mcquestion.all %}
            <div class="mcq-list-details " id="mcq-list-detailsid" style="border-bottom: 1px solid #e2e9e6; padding:5px 0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="list-style: none;">
                        <div class="col-md-9 col-sm-6 col-xs-12">

                            <li class="quiz-listing">  {{ quest.content }}</li>

                            {% if quest.figure %}
                                <div class="detail-page-images">
                                    <img src="{{ quest.figure.url }}" alt="">

                                </div>


                            {% endif %}


                        </div>


                        <div class="col-md-1 col-sm-2 col-xs-12  text-right " style="line-height: 24px;">
                            {% if quest.get_answers %}

                                <a class="button-color-only1" href="#mcans_list_{{ quest.id }}"
                                   data-toggle="collapse">
                                 <button class="btn btn-default btn-xs ripple">Options</button>  
                                </a>

                            {% endif %}

                        </div>
                        <div class="col-md-1 col-sm-2 col-xs-12 text-right">
                            <input id="mcq_{{ quest.id }}_update_button" class=" btn btn-default btn-xs ripple " type="submit"
                                   value="Edit" style="float: right" data-toggle="modal"
                                   data-target="#question_form_popup">

                        </div>
                        <div class="col-md-1 col-sm-2 col-xs-12 text-right ">
                            <form action="{% url 'mcquestion_remove_link' qn_id=quest.id quiz_id=quiz.id %}"
                                  method="post">
                                {% csrf_token %}
                                <input class="button-color-only confirm-remove btn btn-default btn-xs ripple" type="submit" value="Remove">
                            </form>
                        </div>


                    </div>

                </div>
            </div>
            <div id="mcans_list_{{ quest.id }}" class=" correct-list collapse">
                <ul style="list-style:none!important">
                    {% for ans in quest.get_answers %}
                        <li class="quiz-answer-listing"></li>
                        {{ forloop.counter }} <span>)&nbsp;</span>
                        {{ ans.content }}{% if ans.correct %}  <i class="fa fa-arrow-right"></i> <span class="btn btn-xs btn-success">Correct</span>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
           
   

     
        </ul>
      </div>
    </div>
    

   

  </div>
<div class=" TFQ">

    <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
      <div class="panel-heading panel-collapse-trigger">
        <div class="row">
            <div class="col-md-7 col-sm-5 col-xs-5">
                <p class="panel-title" data-toggle="collapse" data-target="#tfq-list-detailsid"> <i class="fa fa-list"></i>&nbsp;List Of TFQuestions  </p>
    
              </div>
               <div class="col-md-4 col-sm-6 col-xs-6 text-right" style="padding: 0;" >
                   <button id="tfq_create_button" data-toggle="modal"
                   data-target="#question_form_popup" class="btn btn-info btn-sm ripple">Add TFQ+</button>
                   <button id="tfq_choose_button" data-toggle="modal" data-target="#question_form_popup" class="btn btn-info btn-sm ripple">Choose Previous TFQ</button>
               </div>

          </div>
      </div>
      <div class="panel-body list-group">
        <ul class="list-group list-group-menu">
           
                {% for quest in quiz.tfquestion.all %}
                <div class="tfq-list-details" id="tfq-list-detailsid" style="border-bottom: 1px solid #e2e9e6; padding:5px 0">
                    <div class="row">
                        <div class="col-md-12" style="list-style: none;"> 
                            <div class="col-md-10">
                                <li class="quiz-listing">  {{ quest.content }}</li>
                                {% if quest.figure %}
                                    <div class="detail-page-images">
                                        <img src="{{ quest.figure.url }}" alt="">

                                    </div>


                                {% endif %}
                            </div>
                            <div class="col-md-1 text-right">
                                <input id="tfq_{{ quest.id }}_update_button" class="button-color-only btn btn-default btn-xs ripple" type="submit"
                                       value="Edit" style="float: right" data-toggle="modal"
                                       data-target="#question_form_popup">
                            </div>
                            <div class="col-md-1 text-right " style="line-height: 24px;">
                                <form action="{% url 'tfquestion_remove_link' qn_id=quest.id quiz_id=quiz.id %}"
                                      method="post">
                                    {% csrf_token %}
                                    <input class="button-color-only confirm-remove btn btn-default btn-xs ripple" type="submit" value="Remove">
                                </form>

                            </div>

                        </div>

                    </div>


                </div>

            {% endfor %}
           
   

     
        </ul>
      </div>
    </div>
    

   

  </div>




  <div class=" SAQ">

    <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
      <div class="panel-heading panel-collapse-trigger">
      <div class="col-md-12">

       
        <div class="row">
            <div class="col-md-7 col-sm-5 col-xs-5">
                <p class="panel-title" data-toggle="collapse" data-target="#saq-list-detailsid">  <i class="fa fa-align-right  "></i>&nbsp;List Of SAQuestions  </p>
    
              </div>
               <div class="col-md-4 col-sm-6 col-xs-6 text-right" style="padding: 0;" >
                   <button id="saq_create_button" data-toggle="modal"
                   data-target="#question_form_popup" class="btn btn-info btn-sm ripple">Add SAQ+</button>
                   <button id="saq_choose_button" data-toggle="modal"
                   data-target="#question_form_popup" class="btn btn-info btn-sm ripple">Choose Previous SAQ</button>
               </div>

          </div>
        </div>     
      </div>
      <div class="panel-body list-group">
        <ul class="list-group list-group-menu">
           
            {% for quest in quiz.saquestion.all %}
            <div class="saq-list-details" id="saq-list-detailsid" style="border-bottom: 1px solid #e2e9e6; padding:5px 0">
                <div class="row">
                    <div class="col-md-12"style="list-style: none;">
                        <div class="col-md-10">
                            <li class="quiz-listing">  {{ quest.content }}</li>
                            {% if quest.figure %}
                                <div class="detail-page-images">
                                    <img src="{{ quest.figure.url }}" alt="">

                                </div>


                            {% endif %}
                        </div>
                        <div class="col-md-1 text-right">
                            <input id="saq_{{ quest.id }}_update_button" class="button-color-only btn btn-default btn-xs ripple" type="submit"
                                   value="Edit" style="float: right" data-toggle="modal"
                                   data-target="#question_form_popup">
                        </div>
                        <div class="col-md-1 text-right " style="line-height: 24px;">
                            <form action="{% url 'saquestion_remove_link' qn_id=quest.id quiz_id=quiz.id %}"
                                  method="post">
                                {% csrf_token %}
                                <input class="button-color-only confirm-remove btn btn-default btn-xs ripple" type="submit" value="Remove">
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        {% endfor %}
           
   

     
        </ul>
      </div>
    </div>
    

   

  </div>  -->


  