{% load static %}
{% load i18n %}

    




<h2>{% trans "List of complete exams" %}</h2>
{% if sitting_list %}

<table id="MarkingList" class="table table-striped table-bordered bg-white nowrap">
    <thead class="thead-light bg-primary">

        <td>{% trans "User" %}</td>
        <td>{% trans "Quiz" %}</td>
        <td>{% trans "Completed" %}</td>
        <td>{% trans "Score" %}(%)</td>
        <td></td>
        

    </thead>

    <tbody>
        <tr>
            <form action="" method="GET">
                <td><input type="text" name="user_filter" /></td>
                <td><input type="text" name="quiz_filter" /></td>
                <td></td>
                <td></td>
                <td>
                    <button type="submit" class="btn btn-default">{% trans "Filter" %}</button>
                </td>
           
            </form>
        </tr>


        {% for sitting in sitting_list %}

        <tr>
            <td>{{ sitting.user }}</td>
            <td>{{ sitting.quiz }}</td>
            <td>{{ sitting.end|date }}</td>
            <td>{{ sitting.get_percent_correct }}</td>
           
            <td>
                    <a href="
                    {% if '/teachers' in request.path %}
                        {% url 'teacher_quiz_marking_detail' pk=sitting.id %} 
                        {% else %}
                        {% url 'quiz_marking_detail' pk=sitting.id %} 
                        {% endif %}
                    ">
                        {% trans "View details" %}
                    </a>
                </td>
        </tr>

        {% endfor %}

    </tbody>

</table>
{% else %}
<p>{% trans "There are no matching quizzes" %}.</p>
{% endif %}