{% load i18n %}
{% load quiz_tags %}

 <h2>{% trans "Quiz title" %}:<a href="{% url 'teacher_quiz_detail'  sitting.quiz.pk %}">  {{ sitting.quiz.title }}   </a> </h2>
<h3>{% trans "Category" %}: {{ sitting.quiz.category }}</h3>
<p>{{ sitting.quiz.description }}</p>
<hr>
<p>{% trans "User" %}: {{ sitting.user }}</p>
<p>{% trans "Started" %}: <span class="datecon">{{ sitting.start|date:'d M, Y h:i A' }}</span></p>
<p>{% trans "Completed" %}: <span class="datecon">{{ sitting.end|date:'d M, Y h:i A' }}</span></p>
<p>{% trans "Time taken" %}: {{ sitting.duration|time }}</p>

<p>{% trans "Score" %}: {{ sitting.get_percent_correct }}%</p>
<p>{% trans "Negative Marking" %}: {{ sitting.quiz.negative_marking }}</p>


<table class="table table-bordered table-striped">

  <thead>
  <tr>
    <th>{% trans "Question" %}</th>
    <th>{% trans "User answer" %}</th>
    <th>{% trans "Correct" %}</th>
    <th>{% trans "Full Marks" %}</th>
    <th>{% trans "Marks Obtained" %}</th>
    <th>{% trans "Action" %}</th>
  </tr>
  </thead>

  <tbody>
  {% for question in questions %}

    <tr>
      <td>
        {{ question.content }}
        {% if question.figure %}
          <div class="detail-page-images" style="max-width: 100px;"><img src="{{ question.figure.url }}"
                                                                         alt="{{ question.figure }}"/></div>
        {% endif %}
      </td>
{#      <td style="overflow: scroll">{{ question|answer_choice_to_string:question.user_answer }}</td>#}
      <td>{{ question|answer_choice_to_string:question.user_answer }}</td>
      <td>
        {% if question.id in sitting.get_incorrect_questions %}
          <i class="fa fa-times fa-2x text-danger"></i>
        {% elif question.is_saq %}
          ---
        {% else %}
          <i class="fa fa-check fa-2x text-success"></i>
        {% endif %}
      </td>
      <td id="score{{ question.id }}">
        {{ question.score }}
      </td>
      <td>
        {{ question.score_obtained }}
      </td>
      {% if question.is_saq %}
        <td style="text-align: center">
          <form action="" method="POST">{% csrf_token %}
            <input type="number" name="new_score" min="0" max="{{ question.score }}" id="input{{ question.id }}"
                   step="0.5" style="width: -webkit-fill-available;" required>
            <input type="hidden" name="saq_id" value="{{ question.id }}">
            <br>
            <br>
            <button type="submit" class="btn btn-warning score_submit" id="{{ question.id }}">{% trans "Change Score" %}</button>
          </form>
        </td>
      {% else %}
        <td>---</td>
      {% endif %}
    </tr>

  {% endfor %}
  <tr></tr>
  <tr>
    <td></td>
    <td></td>
    <td>Total</td>
    <td>{{ total }}</td>
    <td>{{ total_score_obtained }}</td>
  </tr>
  </tbody>

</table>
