{% load i18n %}
{% load quiz_tags %}

<h3>Mark Short Answers</h3>

  <hr class="header_hr">

<div class="row" style="padding-bottom: 0px ;">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <p><b> Tile:</b> {{ quiz.title }}</p>

            </div>
            <div class="col-md-4">
                <p><b>Course :</b> {{ quiz.course_code }}</p>

            </div>
            <div class="col-md-4">
                <p><b>Chapter :</b> {{ quiz.chapter_code }}</p>

            </div>
            <div class="col-md-4">
                <p><b>Type of Quiz :</b> {% if quiz.pre_test %}Pre Test <br>{% endif %}
                    {% if quiz.post_test %}Post Test <br>{% endif %}
                    {% if quiz.exam_paper %}Exam <br>{% endif %}</p>

            </div>
            <div class="col-md-4">
                <p><b>Status :</b>
                    {% if quiz.draft is True %}
             
                        <span class="text-danger"> <b>Inactive</b>
                            </span>
               
            {% endif %}
            {% if quiz.draft is False %}
               
                        <span class="text-success"> <b>Active</b>   </span>
                   
                 
               
            {% endif %}</p>
            </div>
            <div class="col-md-4">
                <p><b> URL:</b>{{ quiz.url }}</p>

            </div> 
            <div class="col-md-12">
                <p style="font-size: 14px;"><b>Description:</b> {{  quiz.description }}</p>
            </div>
            
        </div>
    </div>
</div>

<hr class="header_hr">
{% for saq in quiz.get_saquestions %}
    
 


    <p style="font-size: 16px; font-weight:500">  <b>{{forloop.counter}}</b>. {{ saq }}
    
        <button style="float:right" class="btn btn-primary btn-xs" type="button" data-toggle="collapse"
        data-target="#mcqn_list{{ saq.id }}"
        aria-expanded="false" aria-controls="collapseExample">
             View Answer
     </button>
    
    </p>
    
   <div  id="mcqn_list{{ saq.id }}" class="col-md-12 collapse " style="margin-bottom: 25px;">
    <table style="width:100%!important"  class=" table table-bordered table-striped MarkingDetail ">

        <thead class="thead-light bg-primary">
        <tr>
            <th>{% trans "S No." %}</th>
            <th>{% trans "Username" %}</th>
            <th>{% trans "User answer" %}</th>
            <th>{% trans "Full Marks" %}</th>
            <th>{% trans "Marks Obtained" %}</th>
            <th>{% trans "Action" %}</th>
        </tr>
        </thead>

        <tbody>
        {% for sitting in quiz.sitting_set.all %}
            {% for question in sitting.questions_with_user_answers %}
                {% if question.pk == saq.pk %}
                    {% if question.is_saq %}
                        <tr>
                            <td> {{forloop.counter}} </td>
                            <td> {{ sitting.user }} </td>

                            <td>{{ question.user_answer }}</td>

                            <td>{{ question.score }}</td>
                            <td>{{ question.score_obtained }}</td>

                            <td style="text-align: center">
                                <form action="" method="POST">{% csrf_token %}
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <input type="number" name="new_score" min="0" max="{{ question.score }}"
                                            id="input{{ question.id }}"
                                            step="0.5" style="width: -webkit-fill-available;" required>
                                     <input type="hidden" name="saq_id" value="{{ question.id }}">
                                     

                                        </div>
                                        <div class="col-sm-4">
                                            <button type="submit" class="btn btn-warning score_submit btn-xs"
                                            id="{{ question.id }}">{% trans "Change Score" %}</button>
                                        </div>
                                    </div>
                                
                                   
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </tbody>

    </table>

   </div> 
  
    
    <br>

{% endfor %}


