{% load i18n %}
{% load quiz_tags %}

 {# <p style="font-size: 18px;"> <b>Quiz Title</b><a href="{% url 'teacher_quiz_detail'  sitting.quiz.pk %}">  {{ sitting.quiz.title }}   </a> </p>#}
<p style="font-size: 18px;"><b>Category:</b> {{ sitting.quiz.category }}</p>
<p>{{ sitting.quiz.description }}</p>
<hr>
<div class="row" style="padding-bottom: 20px ;">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <p><b>User:</b> {{ sitting.user }}</p>

      </div>
      <div class="col-md-4">
        <p><b>Started :</b> <span class="datecon">{{ sitting.start|date:'d M, Y h:i A' }}</span></p>

      </div>
      <div class="col-md-4">
        <p> <b>Completed :</b> <span class="datecon">{{ sitting.end|date:'d M, Y h:i A' }}</span></p>

      </div>
      <div class="col-md-4">
        <p> <b>Time Taken :</b> {{ sitting.duration|time }}</p>

      </div>
      <div class="col-md-4">
        <p> <b>Score :</b>{{ sitting.get_percent_correct }}%</p>
      </div>
      <div class="col-md-4">
        <p> <b>Negative Marking :</b> {{ sitting.quiz.negative_marking }}</p>

      </div>
    </div>
  </div>
</div>









<table class="table table-bordered table-striped" id="MarkingDetail">

  <thead class="thead-light bg-primary">
  <tr>
    <th>{% trans "Question" %}</th>
    <th>{% trans "User answer" %}</th>
    <th>{% trans "Correct" %}</th>
    <th>{% trans "Full Marks" %}</th>
    <th>{% trans "Marks Obtained" %}</th>
    <th>{% trans "Action" %}</th>
  </tr>
  </thead>

  <tbody>
  {% for question in questions %}

    <tr>
      <td>
        {{ question.content }}
        {% if question.figure %}
          <div class="detail-page-images" style="max-width: 100px;"><img src="{{ question.figure.url }}"
                                                                         alt="{{ question.figure }}"/></div>
        {% endif %}
      </td>
{#      <td style="overflow: scroll">{{ question|answer_choice_to_string:question.user_answer }}</td>#}
      <td>{{ question.user_answer }}</td>
      <td>
        {% if not question.ans_correct %}
          <i class="fa fa-times fa-2x text-danger"></i>
        {% elif question.is_saq %}
          ---
        {% else %}
          <i class="fa fa-check fa-2x text-success"></i>
        {% endif %}
      </td>
      <td id="score{{ question.id }}">
        {{ question.score }}
      </td>
      <td>
        {{ question.score_obtained }}
      </td>
      {% if question.is_saq %}
        <td style="text-align: center">
          <form action="" method="POST">{% csrf_token %}
            <input type="number" name="new_score" min="0" max="{{ question.score }}" id="input{{ question.id }}"
                   step="0.5" style="width: -webkit-fill-available;" required>
            <input type="hidden" name="saq_id" value="{{ question.id }}">
            <br>
            <br>
            <button type="submit" class="btn btn-warning score_submit" id="{{ question.id }}">{% trans "Change Score" %}</button>
          </form>
        </td>
      {% else %}
        <td>---</td>
      {% endif %}
    </tr>

  {% endfor %}
  
  <tr>
    <td></td>
    <td></td>
    <td>Total</td>
    <td>{{ total }}</td>
    <td>{{ total_score_obtained }}</td>
    <td></td>
  </tr>
  </tbody>

</table>



