{% load static %}
{% load crispy_forms_tags %}
{{ wizard.form.media }}


<div id="" class="form_wizard wizard_horizontal">
    <ul class="wizard_steps anchor">
        <li>
            <a href="#step-1" class="done" isdone="1" rel="1">
                <span class="step_no">1</span>
                <span class="step_descr">Basic  Info</span>
            </a>
        </li>
        <li>
            <a href="#step-2" class="selected" isdone="1" rel="2">
                <span class="step_no">2</span>
                <span class="step_descr">Select  Quiz Type</span>
            </a>
        </li>
        <li>
            <a href="#step-3" class="disabled" isdone="0" rel="3">
                <span class="step_no">3</span>
                <span class="step_descr">Add  Question</span>
            </a>
        </li>
    </ul>
</div>
<form action="" method="post" onsubmit="return validateForm()">
    {{ wizard.form.non_field_errors }}
    {{ wizard.management_form }}
    {#      {{ wizard.form|crispy }}#}
    {% crispy wizard.form %}
</form>
