# ULMS V1.0 Requirements
Django==2.2.5
django-extensions==2.2.1
djangorestframework==3.7.7
django-crispy-forms==1.7.0
psycopg2-binary==2.8.3
channels==2.4.0
channels-redis==2.4.2
#gunicorn
whitenoise
#django-heroku
coverage
django-coverage
celery==4.3.1
mistune==0.8.4
Pillow==6.0.0
xxhash==1.3.0
django-rest-auth==0.9.5
djangorestframework==3.7.7
django-filter==2.2.0
django-addanother==2.0.0
textblob
django-formtools
#selenium
pytest
pytest-django
pytest-cov
django-model-utils==3.2.0
django-import-export
#pyvimeo
pandas==0.24.2
markdown
django-decorator-include
#sentry-sdk==0.13.1
django-url-filter
python-resize-image
django-createsuperuserwithpassword
django-cors-headers
django-datatables-view==1.19.1
cloudinary==1.20.0
django-summernote==0.8.11.6
xlsxwriter==1.2.9
Jinja2==2.11.2
# cx-Oracle==8.0.1
django-rosetta==0.9.5