{% load static %}
{% load i18n %}

<!-- sidebar menu -->
{% if user.is_authenticated %}
<div class="navigation-menu-wrapper">
    <!-- Menu tab -->
    <div class="navigation-menu-tab">
        <ul>
            <li>
                <a href="#" data-menu-target="#dashboard">
                    <span class="menu-tab-icon">
                        <i data-feather="home"></i>
                    </span>
                    <span>{% trans 'Dashboard' %}</span>
                </a>
            </li>
            <li>
                <a href="#" data-menu-target="#members">
                    <span class="menu-tab-icon">
                        <i data-feather="users"></i>
                    </span>
                    <span>{% trans 'Members' %}</span>
                </a>
            </li>
            <li>
                <a href="#" data-menu-target="#courses">
                    <span class="menu-tab-icon">
                        <i data-feather="book"></i>
                    </span>
                    <span>{% trans 'Courses' %}</span>
                </a>
            </li>
            <li>
                <a href="#" data-menu-target="#session">
                    <span class="menu-tab-icon">
                        <i data-feather="align-justify"></i>
                    </span>
                    <span>{% trans 'Session' %}</span>
                </a>
            </li>
            <li class="text-center">
                <a href="#" data-menu-target="#quiz">
                    <span class="menu-tab-icon">
                        <i data-feather="help-circle"></i>
                    </span>
                    <span >{% trans 'Assessment' %} <br>{% trans 'Store' %}
                    </span>
                </a>
            </li>
            <li>
                <a href="#" data-menu-target="#forum">
                    <span class="menu-tab-icon">
                        <i data-feather="message-square"></i>
                    </span>
                    <span>{% trans 'Forum' %}</span>
                </a>
            </li>
            <li>
                <a href="#" data-menu-target="#survey">
                    <span class="menu-tab-icon">
                        <i data-feather="clipboard"></i>
                    </span>
                    <span>{% trans 'Survey' %}</span>
                </a>
            </li>
            <li>
                <a href="#" data-menu-target="#achievement">
                    <span class="menu-tab-icon">
                        <i data-feather="archive"></i>
                    </span>
                    <span>{% trans 'My Menu' %}</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- ./ Menu tab -->

    <!-- Menu body -->
    <div class="navigation-menu-body">
        <ul id="dashboard">
            <li class="navigation-divider">{% trans 'Dashboard' %}</li>
            <li>
                <a href="{% url 'start' %}">
                    <span class="nav-link-icon" data-feather="airplay"></span>
                    <span>{% trans 'Home Page' %}</span>
                </a>
            </li>
        </ul>
        <ul id="members">
            <li class="navigation-divider">{% trans 'Members' %}</li>
            <li>
                <a href="{% url 'memberinfo_list' %}">
                    <span class="nav-link-icon" data-feather="users"></span>
                    <span>{% trans 'Member List' %}</span>
                    <!-- <span class="badge badge-danger">5</span> -->
                </a>
            </li>
            <li>
                <a  href="{% url 'departmentinfo_list'%}">
                    <span class="nav-link-icon" data-feather="briefcase"></span>
                    <span>{% trans 'Department List' %}</span>
                    <!-- <span class="badge badge-danger">5</span> -->
                </a>
            </li>
            <li>
                <a href="{% url 'memberinfo_create' %}">
                    <span class="nav-link-icon" data-feather="user-plus"></span>
                    <span>{% trans 'Register Members' %}</span>
                </a>
            </li>
        </ul>
        <ul id="courses">
            <li class="navigation-divider">{% trans 'Courses' %}</li>
            <li>
                <a href="{% url 'courseinfo_grid_active' %}">
                    <span class="nav-link-icon">
                        <i data-feather="book"></i>
                    </span>
                    <span>{% trans 'Course List' %}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'courseinfo_create' %}">
                    <span class="nav-link-icon">
                        <i data-feather="plus"></i>
                    </span>
                    <span>{% trans 'Register Course' %}</span>
                </a>
            </li>
        </ul>
        <ul id="session">
            <li class="navigation-divider">{% trans 'Sessions' %}</li>
            <li>
                <a href="{% url 'inninginfo_list' %}">
                    <span class="nav-link-icon" data-feather="align-justify"></span>
                    <span>{% trans 'Session List' %}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'groupmapping_list' %}">
                    <span class="nav-link-icon" data-feather="user"></span>
                    <span>{% trans 'Student Group' %}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'inninggroup_list' %}">
                    <span class="nav-link-icon" data-feather="clipboard"></span>
                    <span>{% trans 'Teacher Course Allocation' %}</span>
                </a>
            </li>

        </ul>
        <ul id="quiz">
            <li class="navigation-divider">{% trans 'Quiz' %}</li>
            <li>
                <a href="{% url 'quiz_list' %}">
                    <span class="nav-link-icon" data-feather="help-circle"></span>
                    <span>{% trans 'Quiz ' %}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'quiz_exam_list' %}">
                    <span class="nav-link-icon" data-feather="book-open"></span>
                    <span>{% trans ' Exam' %}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'quiz_exam_list' %}">
                    <span class="nav-link-icon" data-feather="book-open"></span>
                    <span>{% trans 'Question Store' %}</span>
                </a>
            </li>
        </ul>

        <ul id="forum">
            <li class="navigation-divider">{% trans 'Forum' %}</li>
            <li>
                <a href="{% url 'forum:index' %}">
                    <span class="nav-link-icon">
                        <i data-feather="home"></i>
                    </span>
                    <span>{% trans 'Home' %}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'forum:user_info' request.user.pk %}">
                    <span class="nav-link-icon">
                        <i data-feather="info"></i>
                    </span>
                    <span>{% trans 'Profile' %}</span>
                </a>
            </li>
        </ul>
        <ul id="survey">
            <li class="navigation-divider">{% trans 'Survey' %}</li>
            <li>
                <a href="{% url 'surveyinfo_list' %}?category_name=all_survey&date_filter=active">

                    <span class="nav-link-icon">
                        <i data-feather="layers"></i>
                    </span>
                    <span>{% trans 'Survey List' %}</span>
                </a>
            </li>
        </ul>

        <ul id="achievement">
            <li class="navigation-divider">{% trans 'My Menu' %}</li>
            <li>
                <a href="{% url 'mail_list' %}?email_type=inbox">
                    <span class="nav-link-icon">
                        <i data-feather="mail"></i>
                    </span>
                    <span>{% trans 'Internal Mail' %}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'event_calendar' %}">
                    <span class="nav-link-icon">
                        <i data-feather="calendar"></i>
                    </span>
                    <span>{% trans 'Calendar' %}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'teacher_report' %}">
                    <span class="nav-link-icon">
                        <i data-feather="file-text"></i>
                    </span>
                    <span>{% trans 'Teacher Report' %}</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- ./ Menu body -->
</div>
{% endif %}

<script>
    //$(function () {
    //    var current = location.pathname;
    //    $('#nav li a').each(function () {
    //        var $this = $(this);
            // if the current path is like this link, make it active
    //        if ($this.attr('href').indexOf(current) !== -1) {
    //            $this.addClass('active');
    //        }
    //    })
    //})
</script>
<!-- /sidebar menu -->