{% extends "student_module/base.html" %}
{% load static %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'student_home' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'student_mycourses_list' %}">My Courses</a></li>
<li class="breadcrumb-item"><a href="{{ object.Course_Code.student_get_absolute_url }}">{{ object.Course_Code }}</a>
</li>
<li class="breadcrumb-item"><a href="{{ object.Chapter_Code.student_get_absolute_url }}">{{ object.Chapter_Code }}</a>
</li>
<li class="breadcrumb-item active" aria-current="page" style="max-width: 30ch; overflow: hidden;white-space: nowrap; text-overflow:ellipsis;
;margin-bottom: -5px;">{{ object.Assignment_Topic }}</li>
{% endblock %}
{% block content %}
{% include 'assignment/assignmentinfo_detail.html' %}
{% endblock content %}

{% block javascript %}

<script src="{% static 'vendorsx/jquery/dist/jquery.min.js' %}"></script>
<script src=" {% static 'vendorsx/jQuery-Smart-Wizard/js/jquery.smartWizard.js' %}"></script>
<script src="{% static 'vendorsx/moment/min/moment.min.js' %}"></script>
<script src="{% static 'vendorsx/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
<script>    $(".se-pre-con-ajax").fadeOut("fast");</script>



<script>
   // $('#myModal').on('shown.bs.modal', function () {
  //      $('#myInput').trigger('focus')
//    });



    var submitted = false;
    $(".submitAnswer").on('click',  function (e) {
        e.preventDefault(); // avoid to execute the actual submit of the form.
        if (submitted) {
            return false
        }
        submitted = true;
        var answerdata = new FormData();
        if ($(`#id_Assignment_File${$(this).attr('data-id')}`).val()) {
            var answer_file = $(`#id_Assignment_File${$(this).attr('data-id')}`)[0].files[0];
        } else {
            var answer_file = 0;
        }
        var answer_text = $(`.form_${$(this).attr('data-id')}`).find(`iframe`).contents().find('.note-editable').html();

        if (!answer_text) {
            answer_text = '';
        }

        if (answer_file == 0 && answer_text == '') {
            console.log('empty');
        } else {
            answerdata.append("Assignment_File", answer_file);
            answerdata.append("csrfmiddlewaretoken", '{{csrf_token}}');
            answerdata.append("Assignment_Answer", answer_text);
            answerdata.append("Question_Code", $(`#id_Question_Code${$(this).attr('data-id')}`).val());
            answerdata.append("Student_Code", $(`#id_Student_Code${$(this).attr('data-id')}`).val());

            var answerformdiv = $(this).closest('form');
            $.ajax({
                url: $(this).attr('data-url'),  // URL to your view that serves new info
                data: answerdata,
                // get the form data
                type: 'post', // GET or POST
                enctype: 'multipart/form-data',
                processData: false,
                xhr: function () {
                    var xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener("progress", function (evt) {
                        if (evt.lengthComputable) {
                            var bar = $('.bar');
                            var percent = $('.percent');
                            var progress = $('.progress');
                            var percentComplete = Math.round((evt.loaded * 100) / evt.total);
                            var percentVal = percentComplete + '%';
                            percent.width(percentVal);
                            percent.html(percentVal);
                            // $('#status').html('<b> Uploading -> ' + (Math.round(percentComplete * 100)) + '% </b>');
                        }
                    }, false);
                    return xhr;
                },
                contentType: false,
                success: function (response) {
                    console.log('Success');
                    location.reload();
                },
                beforeSend: function () {
                    var html = `
                            <div class="progress" style="max-height: 10px;">
                                <div class="percent" style="max-width: 100%; background-color: limegreen;">0%</div >
                            </div>
                        `;
                    $(html).insertAfter($(answerformdiv).find('input[type=file]'));
                    var percent = $('.percent');
                    var progress = $('.progress');
                    var percentVal = '0%';
                    percent.width(percentVal);
                },
                complete: function (xhr) {
                    progress.remove();
                },
                error: function (e) {
                    submitted = false;
                    alert(e.responseJSON.msg)
                    console.log('Error in submitting file. ' + e.responseJSON.msg)
                }
            });
        }
    });

    $('button[type=reset]').on('click', function () {
        $(this).closest('form').find('.progress').remove();
    })
</script>

<script>
    $(".answerButton").click(function () {
        $(`#answerContent${this.id}`).toggle();
    });
   // $(".moreButton").click(function () {
   //     $(`#questionContent${this.id}`).toggle();
   // });
</script>

<script>
    $(document).ready(function () {
        $('.deleteanswer').on('click', function () {
            var answerpk = this.value
            var result = confirm("Are you sure you want to delete this answer?");
            if (!result) {
                return false
            }
            $.ajax({
                method: 'POST',
                url: "{% url 'assignanswerinfo_delete' %}",  // URL to your view that serves new info
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'answerpk': answerpk,
                },
                success: function (response) {
                    location.reload()
                },
                error: function (err) {
                    console.log(err.responseText)
                    location.reload()
                },
            });
        });

        $('.editanswer').click(function () {
            var assignementForm = $(this).parent().find(`.assignment_update_form`);
            var iframe = $(this).parent().find(`iframe`);
            var innerDoc = iframe.contents();
            var shortAns = $(this).parent().find(`.short_answer`).html();
            $(this).parent().children().css('display', 'none');
            assignementForm.show();

            innerDoc.find(`.note-editable`).html(shortAns);
            $(this).parent().find(`#id_Assignment_Answer`).html(shortAns);
        });

        $('.cancelBtn').on('click',  function () {
            $(this).closest('.assignment_update_form').parent().children().css('display', 'block');
            $(this).closest('.assignment_update_form').hide();
        })

    });




</script>

{% endblock %}
