{% extends "student_module/base.html" %}
{% block title %}

{% endblock %}

{% load static %}
{% load i18n %}
{% block stylesheets %}
<link href="{% static 'vendorsx/fullcalendar/dist/fullcalendar.min.css' %}" rel='stylesheet'>
<link href="{% static 'vendorsx/fullcalendar/dist/fullcalendar.print.css' %}" rel="stylesheet" media="print">
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">{% trans 'Calendar' %}</li>
{% endblock %}


{% block content %}
<div class="clearfix"></div>
<div class="row">

    <div class="x_panel">
        <div class="x_title">
            <h2>{% trans 'Calendar' %} {% trans 'Events' %}</h2>
            <ul class="nav navbar-right panel_toolbox">
                <!-- <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li> -->
                <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li> -->
                <!-- <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li> -->
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id='calendar'></div>
        </div>
    </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <b>
                    <h5 class="modal-title" id="exampleModalLabel" style="
                    font-weight: 600;
                    text-align: center;
                "></h5>
                </b>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" style="
            height: auto;
        ">
                <b> {% trans 'Title' %} : </b><span id="Assignment_name"></span><br><br>

                <b> {% trans 'Start Date' %}: </b><span id="starts-at"></span><br><br>


                <b> {% trans 'Submission Deadline' %}: </b><span id="Assignment_end_date"></span><br><br>

                <a href="">
                    <button type="button" id="viewDetails" class="btn btn-primary"
                        style="margin:auto;display:block">{% trans 'View Details' %}</button></a>


            </div>

        </div>
    </div>
</div>


{% endblock %}
{% block javascripts %}
<script src="{% static 'vendorsx/fullcalendar/dist/fullcalendar.min.js' %}"></script>
<script>
    $(document).ready(function () {

        $('#calendar').fullCalendar({
            defaultDate: '{% now "Y-m-d" %}',
            editable: false,
            eventLimit: true, // allow "more" link when too many events
            events: [
                {% for i in activeassignments %}
        {
                title: "{{ i.Assignment_Topic}}",
                start: '{{ i.startdate|date:"Y-m-d" }}',
                end: '{{ i.deadline|date:"Y-m-d" }}',
                url: '{% url 'student_assignmentinfo_detail' course=i.Course_Code.pk chapter=i.Chapter_Code.pk pk=i.pk  %}',
                extendedProps: {
                    type: 'Assignment'
                },

            },
            {% endfor %}
            {% for c in activesurvey %}
    {
        title: "{{ c.Survey_Title }}",
            start: '{{ c.Start_Date|date:"Y-m-d" }}',
                end: '{{ c.End_Date|date:"Y-m-d" }}',
                    url: '{% url 'questions_student_detail' pk=c.pk  %}',
                        extendedProps: {
            type: 'Survey'
        },

    },
    {% endfor %}



        

    ],

    eventClick: function (calEvent, jsEvent, view) {
        jsEvent.preventDefault();
        $('#exampleModal').modal('show');
        $('#Assignment_name').html(calEvent.title);
        $('#starts-at').html(moment(calEvent.start).format('MMMM Do YYYY dddd'));
        $('#Assignment_end_date').html(moment(calEvent.end).format('MMMM Do YYYY dddd'));
        $("a").attr("href", calEvent.url)

        if (calEvent.extendedProps.type == 'Assignment') {
            $('#exampleModalLabel').html("Assignment");

        }

        if (calEvent.extendedProps.type == 'Survey') {
            $('#exampleModalLabel').html("Survey");

        }




    }

        });
    });


</script>
{% endblock %}