{% extends "student_module/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'student_home' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'student_user_profile' %}">Profile</a></li>
<li class="breadcrumb-item active" aria-current="page">Change Password</li>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="page-title d-block text-center">
        <h2>Add/Change Password</h2>
    </div>
</div>
<div class="col-md-6 card" style="margin:auto">
    <div class="card-body text-center">
        <h2>Member ID -
            {% if usr.username %}
            <B>{{ usr.username }}</B>
            {% elif request.user.username %}
            <B>{{ request.user.username }}</B>
            {% endif %}
        </h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Change" class="btn btn-success">
        </form>
    </div>
</div>
{% endblock %}