{% extends "student_module/base.html" %}
{% load static %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'student_home' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'student_mycourses_list' %}">My Courses</a></li>
<li class="breadcrumb-item"><a href="{{ object.Course_Code.student_get_absolute_url }}">{{ object.Course_Code }}</a>
</li>
<li class="breadcrumb-item active" aria-current="page">{{ object.Chapter_Name }}</li>
{% endblock %}
{% block content %}

{% include 'chapter/chapterinfo_detail.html' %}

<!-- Bootstrap Modal -->
<div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Redirect Notice </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-warning">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- ---------------------------------------------------------------------------------------- -->

{% endblock content %}