{% extends "student_module/base.html" %}
{% load model_template_relation %}
{% load static %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'student_home' %}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">My Assignments</li>
{% endblock %}

{% block content %}
<style>
    .header-menu .active {
        background-color: #5c6bc0;
        color: white;
    }
</style>
<div class="page-header">
    <div class="page-title">
        <h2>List of My Assignments </h2>
    </div>
</div>
<div class="header-menu text-center">
    <button class="btn btn-link tablinks active" onclick="openTab(event, 'activeAssignments')">Active</button>
    <button class="btn btn-link tablinks" onclick="openTab(event, 'allAssignments')">All</button>
    <button class="btn btn-link tablinks" onclick="openTab(event, 'expiredAssignments')">Expired</button>
</div>

<div class="tabcontent py-3" id="activeAssignments">
    {% if activeAssignment %}
    {% for a in activeAssignment %}
    {% ifchanged a.Course_Code %}
    <h3 class="text-center">Course -
        <a href="{{ a.Course_Code.student_get_absolute_url }}" class="text-primary">{{ a.Course_Code }}</a>
    </h3>
    {% endifchanged %}
    <div class="card p-3">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <h5> {{ a.Assignment_Topic }} </h5>
                Chapter - {{ a.Chapter_Code }}
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 align-self-center">
                <span class="assignment_status">
                    {% getAssignmentsScore a user as Assignment_Score %}
                    {% if  Assignment_Score.questions|length > 0 %}
                    {% if Assignment_Score.answers|length > 0 %}
                    {% if Assignment_Score.total_score_obtained %}
                    {{ Assignment_Score.total_score_obtained }} / {{ Assignment_Score.total_score }}
                    {% else %}
                    <span class="text-danger" style="font-weight: bold"> Not Graded </span>
                    {% endif %}
                    <button type="button" class="btn btn-primary btn-xs assignmentDetailsBtn" data-toggle="modal"
                        data-target="#AssignmentResultModal" data-assignment_pk="{{ a.pk }}"
                        data-modal-title="{{ a.Chapter_Code }} - {{ a.Assignment_Topic }}">
                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                    </button>
                    {% else %}
                    <button type="button" class="btn btn-primary btn-xs assignmentDetailsBtn " disabled>
                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                    </button>
                    {% endif %}
                    {% endif %}
                </span>
                <a href="{{ a.student_get_absolute_url }}" class="pull-right">
                    <button type="button" class="btn btn-sm btn-outline-primary">CONTINUE
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </a>
            </div>
            <div class="col-12">
                <hr>
                Submission Deadline - <span class="text-success">{{ a.deadline|timeuntil }} left </span>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

<div class="tabcontent py-3" id="allAssignments" style="display: none;">
    {% if Assignment %}
    {% for a in Assignment %}
    {% ifchanged a.Course_Code %}
    <h3 class="text-center">Course -
        <a href="{{ a.Course_Code.student_get_absolute_url }}" class="text-primary">{{ a.Course_Code }}</a>
    </h3>
    {% endifchanged %}
    <div class="card p-3">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <h5> {{ a.Assignment_Topic }} </h5>
                Chapter - {{ a.Chapter_Code }}
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 align-self-center">
                <span class="assignment_status">
                    {% getAssignmentsScore a user as Assignment_Score %}
                    {% if  Assignment_Score.questions|length > 0 %}
                    {% if Assignment_Score.answers|length > 0 %}
                    {% if Assignment_Score.total_score_obtained %}
                    {{ Assignment_Score.total_score_obtained }} / {{ Assignment_Score.total_score }}
                    {% else %}
                    <span class="text-danger font-weight-bold"> Not Graded </span>
                    {% endif %}
                    <button type="button" class="btn btn-primary btn-xs assignmentDetailsBtn " data-toggle="modal"
                        data-target="#AssignmentResultModal" data-assignment_pk="{{ a.pk }}"
                        data-modal-title="{{ a.Chapter_Code }} - {{ a.Assignment_Topic }}">
                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                    </button>
                    {% else %}
                    <button type="button" class="btn btn-primary btn-xs assignmentDetailsBtn " disabled>
                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                    </button>
                    {% endif %}
                    {% endif %}
                </span>
                <a href="{{ a.student_get_absolute_url }}" class="pull-right">
                    <button type="button" class="btn btn-sm btn-outline-primary">CONTINUE
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </a>
            </div>
            <div class="col-12">
                <hr>
                Submission Deadline -
                {% if a.active %}
                <span class="text-success">{{ a.deadline|timeuntil }} left </span>
                {% else %}
                <span class="text-danger">Expired</span>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

<div class="tabcontent py-3" id="expiredAssignments" style="display: none;">
    {% if expiredAssignment %}
    {% for a in expiredAssignment %}
    {% ifchanged a.Course_Code %}
    <h3 class="text-center">Course -
        <a href="{{ a.Course_Code.student_get_absolute_url }}" class="text-primary">{{ a.Course_Code }}</a>
    </h3>
    {% endifchanged %}
    <div class="card p-3">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <h5> {{ a.Assignment_Topic }} </h5>
                Chapter - {{ a.Chapter_Code }}
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 align-self-center">
                <span class="assignment_status">
                    {% getAssignmentsScore a user as Assignment_Score %}
                    {% if  Assignment_Score.questions|length > 0 %}
                    {% if Assignment_Score.answers|length > 0 %}
                    {% if Assignment_Score.total_score_obtained %}
                    {{ Assignment_Score.total_score_obtained }} / {{ Assignment_Score.total_score }}
                    {% else %}
                    <span class="text-danger font-weight-bold"> Not Graded </span>
                    {% endif %}
                    <button type="button" class="btn btn-primary btn-xs assignmentDetailsBtn " data-toggle="modal"
                        data-target="#AssignmentResultModal" data-assignment_pk="{{ a.pk }}"
                        data-modal-title="{{ a.Chapter_Code }} - {{ a.Assignment_Topic }}">
                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                    </button>
                    {% else %}
                    <button type="button" class="btn btn-primary btn-xs assignmentDetailsBtn " disabled>
                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                    </button>
                    {% endif %}
                    {% endif %}
                </span>
                <a href="{{ a.student_get_absolute_url }}" class="pull-right">
                    <button type="button" class="btn btn-sm btn-outline-primary">CONTINUE
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </a>
            </div>
            <div class="col-12">
                <hr>
                Submission Deadline -
                <span class="text-danger">Expired</span>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>


<!-- Modal -->
<div class="modal fade" id="AssignmentResultModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#2A3F54;">
                <h5 class="modal-title" id="exampleModalLabel" style="text-align:center; color:white;"></h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i style="color: white;" class="fa fa-times"></i></span>
                    </button> -->
            </div>
            <div class="assignment-modal-body" style="padding: 20px; max-height:80vh; overflow:auto">


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}

<script>
    document.getElementById("allAssignments").click();

    function openTab(event, tabName) {
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        event.currentTarget.className += " active";
    }

    $('.assignment-modal-body').on('click', '.answerbtn', function () {
        $(this).closest('.answer_div').find('.answers').toggle(300)
    })

    $('.assignment-modal-body').on('click', '.feedbackbtn', function () {
        $(this).closest('.feedback_div').find('.feedbacks').toggle(300)
    })

    $('.assignmentDetailsBtn').on('click', function () {
        $('.modal-title').text($(this).attr('data-modal-title'))
        $.ajax({
            url: '/students/assignmentdetails/' + $(this).attr('data-assignment_pk') + '/',
            method: 'GET',
            success: function (data) {
                $('.assignment-modal-body').empty()
                $('.assignment-modal-body').append(`
                        <div class="row" style="font-weight: bold; font-size: 14px">
                        <p style="float: right">
                          <b> Question Attempted: </b> ${data.assignmentDetails.length}/${data.questions_count}
                          </p>
                        </div>
                    `)
                $.each(data.assignmentDetails, function (index, value) {
                    let answer = ''
                    if (value.question_type == 'S') {
                        answer = `<p>${value.Assignment_Answer}</p>`
                    } else {
                        answer = `<p><a href="${value.Assignment_File}" target="_blank">Answer File</a></p>`
                    }
                    $('.assignment-modal-body').append(`
                            <hr>
                            <div class="row">
                                <p>  <b>${index + 1}. Question:</b> ${value.question_title}</p>
                                <div class="feedback_div">
                                    <button class="btn btn-info feedbackbtn"> Feedback </button>
                                    <div style="display:none" class="feedbacks">${value.Assignment_Feedback}</div>
                                </div>
                                <div class="answer_div">
                                    <button class="btn btn-info answerbtn"> Answer </button>
                                    <div style="display:none" class="answers">${answer}</div>
                                </div>
                            </div>
                        `)
                })
            }
        })
    })
</script>

{% endblock %}