{% extends "student_module/base.html" %}
{% load model_template_relation %}
{% load static %}
{% load i18n %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">{% trans 'My Assignments' %}</li>
{% endblock %}

{% block content %}

    <h2 class="tableHeader">{% trans 'List of My Assignments' %}</h2>
    <h4 class="text-center"><b>
        <button class="tablinks tabButton active" onclick="openTab(event, 'activeAssignments')">{% trans 'Active' %}</button>
        <button class="tablinks tabButton" onclick="openTab(event, 'allAssignments')">{% trans 'All' %}</button>
        <button class="tablinks tabButton" onclick="openTab(event, 'expiredAssignments')">{% trans 'Expired' %}</button>
    </b>
    </h4>

    <hr class="header_hr">
    <div class="tabcontent" id="allAssignments" style="display: none;">
        {% if Assignment %}

            {% for a in Assignment %}
                {% ifchanged a.Course_Code %}
                    <h3 align="center">{% trans 'Course' %} -
                        <a href="{{ a.Course_Code.student_get_absolute_url }}"><b>{{ a.Course_Code }}</b> </a>
                    </h3>
                {% endifchanged %}
                <div class="col-md-12 col-sm-12 col-xs-12 " style="margin-bottom: 5px;">

                    <div class="col-md-8 col-sm-8 col-xs-8 leftborder">
                        <!-- <h5 style="padding-top: 3px; color: #000000"> Assignment No: {{ forloop.counter }}</h5> -->
                        <h5>
                            <b style="color: #000000">{{ a.Assignment_Topic }}</b>
                        </h5>
                        <h5>Chapter - {{ a.Chapter_Code }}</h5>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 text-right" style=" margin-top: 20px;">
                        {% getAssignmentsScore a user as Assignment_Score %}
                        {% if  Assignment_Score.questions|length > 0 %}
                            {% if Assignment_Score.answers|length > 0 %}
                                {% if Assignment_Score.total_score_obtained %}
                                    {{ Assignment_Score.total_score_obtained }} / {{ Assignment_Score.total_score }}
                                {% else %}
                                    <span class="text-danger" style="font-weight: bold"> {% trans 'Not Graded' %} </span>
                                {% endif %}
                                <button type="button" class="btn btn-primary btn-xs assignmentDetailsBtn "
                                        data-toggle="modal"
                                        data-target="#AssignmentResultModal" data-assignment_pk="{{ a.pk }}"
                                        data-modal-title="{{ a.Chapter_Code }} - {{ a.Assignment_Topic }}"
                                        style="margin-right: 10px; padding:3px 4px">
                                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-primary btn-xs assignmentDetailsBtn "
                                        disabled
                                        style="margin-right: 10px; padding:3px 4px">
                                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                </button>
                            {% endif %}
                        {% endif %}
                        <a href="{{ a.student_get_absolute_url }}">
                            <button type="button" style="float: right;width:100px;height:25px;border: 1px solid #017a9b;color:#017a9b;background-color: white;border-radius: 4px;
                                margin-bottom: 10px;">CONTINUE <i class="fa fa-arrow-right"></i>
                            </button>
                        </a>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 leftborder">
                        <hr style="margin-top: 1px; margin-bottom: 10px;">
                        <p>
                         {% trans 'Submission Deadline' %} -
                            {% if a.active %}
                                  <span class="text-success">{% blocktrans %}{{ a.deadline|timeuntil }} left {% endblocktrans %}</span>
                            {% else %}
                                <span class="text-danger">{% trans 'Expired' %}</span>
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="tabcontent" id="activeAssignments">
        {% if activeAssignment %}
            {% for a in activeAssignment %}
                {% ifchanged a.Course_Code %}
                    <h3 align="center">{% trans 'Course' %} -
                        <a href="{{ a.Course_Code.student_get_absolute_url }}"><b>{{ a.Course_Code }}</b> </a>
                    </h3>
                {% endifchanged %}
                <div class="col-md-12 col-sm-12 col-xs-12 " style="margin-bottom: 5px;">

                    <div class="col-md-8 col-sm-8 col-xs-8 leftborder">
                        <!-- <h5 style="padding-top: 3px; color: #000000"> Assignment No: {{ forloop.counter }}</h5> -->
                        <h5>
                            <b style="color: #000000">{{ a.Assignment_Topic }}</b>
                        </h5>
                        <h5>Chapter - {{ a.Chapter_Code }}</h5>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 text-right" style=" margin-top: 20px;">
                        {% getAssignmentsScore a user as Assignment_Score %}
                        {% if  Assignment_Score.questions|length > 0 %}
                            {% if Assignment_Score.answers|length > 0 %}
                                {% if Assignment_Score.total_score_obtained %}
                                    {{ Assignment_Score.total_score_obtained }} / {{ Assignment_Score.total_score }}
                                {% else %}
                                    <span class="text-danger" style="font-weight: bold"> {% trans 'Not Graded' %} </span>
                                {% endif %}
                                <button type="button" class="btn btn-primary btn-xs assignmentDetailsBtn "
                                        data-toggle="modal"
                                        data-target="#AssignmentResultModal" data-assignment_pk="{{ a.pk }}"
                                        data-modal-title="{{ a.Chapter_Code }} - {{ a.Assignment_Topic }}"
                                        style="margin-right: 10px; padding:3px 4px">
                                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-primary btn-xs assignmentDetailsBtn "
                                        disabled
                                        style="margin-right: 10px; padding:3px 4px">
                                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                </button>
                            {% endif %}
                        {% endif %}
                        <a href="{{ a.student_get_absolute_url }}">
                            <button type="button" style="float: right;width:100px;height:25px;border: 1px solid #017a9b;color:#017a9b;background-color: white;border-radius: 4px;
                                   margin-bottom: 10px;text-transform: uppercase;">{% trans 'Continue' %} <i class="fa fa-arrow-right"></i>
                            </button>
                        </a>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 leftborder">
                        <hr style="margin-top: 1px; margin-bottom: 10px;">
                        <p>{% blocktrans %} Submission Deadline - <span class="text-success">{{ a.deadline|timeuntil }} left </span> {% endblocktrans %}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="tabcontent" id="expiredAssignments" style="display: none;">
        {% if expiredAssignment %}

            {% for a in expiredAssignment %}
                {% ifchanged a.Course_Code %}
                    <h3 align="center">Course -
                        <a href="{{ a.Course_Code.student_get_absolute_url }}"><b>{{ a.Course_Code }}</b> </a>
                    </h3>
                {% endifchanged %}
                <div class="col-md-12 col-sm-12 col-xs-12 " style="margin-bottom: 5px;">

                    <div class="col-md-8 col-sm-8 col-xs-8 leftborder">
                        <!-- <h5 style="padding-top: 3px; color: #000000"> Assignment No: {{ forloop.counter }}</h5> -->
                        <h5>
                            <b style="color: #000000">{{ a.Assignment_Topic }}</b>
                        </h5>
                        <h5>Chapter - {{ a.Chapter_Code }}</h5>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 text-right" style=" margin-top: 20px;">
                        {% getAssignmentsScore a user as Assignment_Score %}
                        {% if  Assignment_Score.questions|length > 0 %}
                            {% if Assignment_Score.answers|length > 0 %}
                                {% if Assignment_Score.total_score_obtained %}
                                    {{ Assignment_Score.total_score_obtained }} / {{ Assignment_Score.total_score }}
                                {% else %}
                                    <span class="text-danger" style="font-weight: bold"> {% trans 'Not Graded' %} </span>
                                {% endif %}
                                <button type="button" class="btn btn-primary btn-xs assignmentDetailsBtn "
                                        data-toggle="modal"
                                        data-target="#AssignmentResultModal" data-assignment_pk="{{ a.pk }}"
                                        data-modal-title="{{ a.Chapter_Code }} - {{ a.Assignment_Topic }}"
                                        style="margin-right: 10px; padding:3px 4px">
                                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-primary btn-xs assignmentDetailsBtn "
                                        disabled
                                        style="margin-right: 10px; padding:3px 4px">
                                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                </button>
                            {% endif %}
                        {% endif %}
                        <a href="{{ a.student_get_absolute_url }}">
                            <button type="button" style="float: right;width:100px;height:25px;border: 1px solid #017a9b;color:#017a9b;background-color: white;border-radius: 4px;
                                    margin-bottom: 10px;">{% trans 'CONTINUE' %} <i class="fa fa-arrow-right"></i>
                            </button>
                        </a>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 leftborder">
                        <hr style="margin-top: 1px; margin-bottom: 10px;">
                        <p>{% trans 'Submission Deadline' %} -
                            <span class="text-danger">{% trans 'Expired' %}</span>
                        </p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>


    <!-- Modal -->
    <div class="modal fade" id="AssignmentResultModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#2A3F54;">
                    <h5 class="modal-title" id="exampleModalLabel" style="text-align:center; color:white;"></h5>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i style="color: white;" class="fa fa-times"></i></span>
                    </button> -->
                </div>
                <div class="assignment-modal-body" style="padding: 20px; max-height:80vh; overflow:auto">


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}
{% block javascripts %}

    <script>
        document.getElementById("allAssignments").click();

        function openTab(event, tabName) {
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(tabName).style.display = "block";
            event.currentTarget.className += " active";
        }

        $('.assignment-modal-body').on('click', '.answerbtn', function () {
            $(this).closest('.answer_div').find('.answers').toggle(300)
        })

        $('.assignment-modal-body').on('click', '.feedbackbtn', function () {
            $(this).closest('.feedback_div').find('.feedbacks').toggle(300)
        })

        $('.assignmentDetailsBtn').on('click', function () {
            $('.modal-title').text($(this).attr('data-modal-title'))
            $.ajax({
                url: '/students/assignmentdetails/' + $(this).attr('data-assignment_pk') + '/',
                method: 'GET',
                success: function (data) {
                    $('.assignment-modal-body').empty()
                    $('.assignment-modal-body').append(`
                        <div class="row" style="font-weight: bold; font-size: 14px">
                        <p style="float: right">
                          <b> Question Attempted: </b> ${data.assignmentDetails.length}/${data.questions_count}
                          </p>
                        </div>
                    `)
                    $.each(data.assignmentDetails, function (index, value) {
                        let answer = ''
                        if (value.question_type == 'S') {
                            answer = `<p>${value.Assignment_Answer}</p>`
                        } else {
                            answer = `<p><a href="${value.Assignment_File}" target="_blank">Answer File</a></p>`
                        }
                        $('.assignment-modal-body').append(`
                            <hr>
                            <div class="row">
                                <p>  <b>${index + 1}. Question:</b> ${value.question_title}</p>
                                <div class="feedback_div">
                                    <button class="btn btn-info feedbackbtn"> Feedback </button>
                                    <div style="display:none" class="feedbacks">${value.Assignment_Feedback}</div>
                                </div>
                                <div class="answer_div">
                                    <button class="btn btn-info answerbtn"> Answer </button>
                                    <div style="display:none" class="answers">${answer}</div>
                                </div>
                            </div>
                        `)
                    })
                }
            })
        })
    </script>

{% endblock %}