{% extends "student_module/base.html"%}

{% load static %}
{% block title %}
Polls
{% endblock %}
{% block stylesheets %}
<link href="{% static 'build/css/studentCustom.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Survey</li>
{% endblock %}

{% block content %}

<div class="clearfix"></div>
<div class="container" id="mainSurveyPage">
    <div id="surveyContainer">
        <div class="col-md-2 col-sm-2 col-xs-12" style="z-index: 1;">
            <div class="categoryContainer">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title "><strong>Category</strong></h2>
                        <hr>
                        <div id="card_category">

                            <h5 class=" card-text active">
                                <a href="#" class="category-name" id="0">
                                    <i class="fa fa-bar-chart" id=""></i>&nbsp All
                                    survey</a>
                            </h5>
                            {% for category in categories %}
                                <h5 class="card-text">
                                    <a href="#" class=" category-name " id=" {{ category.id }}"><i
                                            class="fa fa-{{ category.Category_Icon }}" id="categoryIcons"></i>
                                        {{ category.Category_Name }}
                                    </a>
                                    {#                                <!-- <button class=" {{ category.Category_Name }}  btn btn-success"#}
                                    {#                                    id="category_Add_Button" data-popup-open="popup-1">Add</button> -->#}
                                </h5>

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-10 col-sm-10 col-xs-12" style="z-index: 0;">
            <div id="rowCards">
                {##}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                data: {'categoryId': 0},
                url: "{% url 'surveyFilterCategory_student' %}",  // URL to your view that serves new info
                success: function (data) {
                    $("#rowCards").html(data);
                    console.log(data)
                }
            });
        });

        $('.category-name').on('click', function () {
            var categoryId = this.id;
            $.ajax({
                type: "GET",
                data: {'categoryId': categoryId},
                url: "{% url 'surveyFilterCategory_student' %}",  // URL to your view that serves new info
                success: function (data) {
                    $("#rowCards").html(data);
                    console.log(data)
                }
            });
        });
    </script>
{% endblock %}