{% extends "student_module/base.html" %}

{% load static %}
{% load i18n %}
{% block title %}
  Polls
{% endblock %}
{% block stylesheets %}
  <link href="{% static 'build/css/studentCustom.css' %}" rel="stylesheet">
  <style>
    ul,ol{
        list-style: none;
    }
  </style>
{% endblock stylesheets %}

{% block breadcrumb %}
  <li class="breadcrumb-item active" aria-current="page">{% trans 'Survey' %}</li>
{% endblock %}

{% block content %}
        {% include 'WebApp/theme/alerts.html' %}

  <div class="clearfix"></div>
  <div class="container" id="mainSurveyPage">
    <div class="row" id="surveyheader">
      <div class="col-md-3 col-sm-12">
        <div class="btn-group" id="status" data-toggle="buttons">
          <label class="btn btn-default btn-on-3 btn-sm active" id="ActiveButton">
            <input type="radio" value="active" name="survey_filter_radio"
                   checked="checked">{% trans 'Active' %}</label>
          <label class="btn btn-default btn-off-3 btn-sm " id="ExpireButton">
            <input type="radio" value="expire" name="survey_filter_radio">{% trans 'Expired' %}</label>
{#          <label class="btn btn-default btn-off-3 btn-sm " id="LiveButton">#}
{#            <input type="radio" value="live" name="survey_filter_radio">Live Survey</label>#}
        </div>
      </div>

      <div class="col-md-9 col-sm-12" id="searchBarSurvey">
        <form method="get" action="">
          <div role="search" id="surveySearch">
            <input type="text" id="keywordInput" name="query" placeholder="Type to search"
                   value="{{ request.GET.query }}" class="form-control">
            {#            <div class=" pull-right searchButton">#}
            <button type="submit" id="navSearchBtn" class="btn btn-inverse"
                    data-hover-z="1"><i class="fa fa-search"></i>
            </button>
            {#            </div>#}
          </div>
        </form>
      </div>
    </div>
    <div id="surveyContainer">

      <div class="col-md-2 col-sm-2 col-xs-12" style="z-index: 1;">
        <div class="categoryContainer">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title "><strong>{% trans 'Category' %}</strong></h2>
              <hr>
              <div id="card_category">

                <h5 class="card-text active">
                  <a href="#" class="category-name" id="all_survey"><i
                      class="fa fa-bar-chart" id="categoryIcons"></i>{% trans 'All survey' %}</a>
                </h5>
                {% for category in categories %}
                  <h5 class="card-text">
                    <a href="#" class="category-name" id="{{ category.Category_Name }}"><i
                        class="fa fa-{{ category.Category_Icon }}"
                        id="categoryIcons"></i>
                      {{ category.Category_Name }}
                    </a>
                  </h5>

                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-10 col-sm-10 col-xs-12" style="z-index: 0;">
        <div id="rowCards">
          {##}
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascripts %}
  <script>
      $(document).ready(function () {
          $.ajax({
              type: "GET",
              data: {
                  'category_name': "all_survey",
                  'date_filter': $("input[name='survey_filter_radio']:checked").val(),
              },
              url: "{% url 'surveyFilterCategory_student' %}",
              success: function (data) {
                  $("#rowCards").html(data);
              },
              complete: function () {
                  $(".se-pre-con-ajax").fadeOut("fast");
              }
          });
      });

      $('.category-name').on('click', function () {
          var category_name = this.id;
          $.ajax({
              type: "GET",
              data: {
                  'category_name': category_name,
                  'date_filter': $("input[name='survey_filter_radio']:checked").val(),
              },
              url: "{% url 'surveyFilterCategory_student' %}", // URL to your view that serves new info
              success: function (data) {
                  $("#rowCards").html(data);
              },
              complete: function () {
                  $(".se-pre-con-ajax").fadeOut("fast");
              }
          });
      });
      // -----------------------------ACTIVE AND EPIRE -------------------------------------
      $("#ActiveButton").on("click", function () {
          var category_name = $(".card-text.active .category-name").attr('id');
          $.ajax({
              type: "GET",
              data: {
                  'category_name': category_name,
                  'date_filter': 'active',
              },
              url: "{% url 'surveyFilterCategory_student' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#rowCards").html(data);
              },
              complete: function () {
                  $(".se-pre-con-ajax").fadeOut("fast");
              }
          });
      });
      $("#ExpireButton").on("click", function () {
          var category_name = $(".card-text.active .category-name").attr('id');
          $.ajax({
              type: "GET",
              data: {
                  'category_name': category_name,
                  'date_filter': 'expire',
              },
              url: "{% url 'surveyFilterCategory_student' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#rowCards").html(data);
              },
              complete: function () {
                  $(".se-pre-con-ajax").fadeOut("fast");
              }
          });
      });
      $("#LiveButton").on("click", function () {
          var category_name = $(".card-text.active .category-name").attr('id');
          $.ajax({
              type: "GET",
              data: {
                  'category_name': category_name,
                  'date_filter': 'live',
              },
              url: "{% url 'surveyFilterCategory_student' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#rowCards").html(data);
              },
              complete: function () {
                  $(".se-pre-con-ajax").fadeOut("fast");
              }
          });
      });

      {% if 'iframe' in request.GET %}
          $(document).on('click', 'a', function (e) {
              e.preventDefault()
          })
          $('.categoryContainer, #surveySearch').remove()
      {% endif %}
  </script>
{% endblock %}