{% load forum_tags %}
{% load i18n %}
{% load static %}


<div class="panel panel-default">
    <div class="panel-body">
        <div class="profile_pic">
            <img src="{{ request.user.Avatar }}" alt="..." class="img-circle profile_img" />
        </div>

        <a href="{% url 'teacher_info' request.user.pk %}">
            <h3 class="btn-white btn-flat UserName">{{ request.user.username }}</h3>
        </a>
        <ul class="list-unstyled user_data">
            <li><a class="btn-white btn-flat" href="{% url 'teacher_threads' request.user.pk %}"><i
                        class="fa fa-question-circle fa-lg"></i> Questions
                    Asked: {{ request.user.threads.count }}</a>
            </li>
            <li><a class="btn-white btn-flat reply_count" href="{% url 'teacher_posts' request.user.pk %}">
                    <i class="fa fa-reply-all fa-lg"></i> Replies: {{ request.user.posts.count }}</a>
            </li>

            <li>
                <p class="user_type"><i class="fa fa-user fa-lg"></i>
                    {% if request.user.is_superuser %}
                    Super User
                    {% elif request.user.Is_Teacher %}
                    , Teacher
                    {% elif request.user.Is_Student %}
                    , Student
                    {% elif request.user.Is_CenterAdmin %}
                    , Center Admin
                    {% elif request.user.Is_Parent %}
                    , Parent
                    {% endif %}
                </p>
            </li>

        </ul>
        <a class="btn btn-primary" href="{% url 'teacher_info' request.user.pk %}">
            <i class="fa fa-user-md m-right-xs"></i> View Profile</a>
        <br>

    </div>
</div>