{% extends 'forum/Student_Base.html' %}
{% load i18n %}
{% load forum_tags %}
{% load humanize %}
{% load static %}

{% block breadcrumb %}

<li class="breadcrumb-item"><a href="{% url 'student_forum' %}">Forum</a></li>
<li class="breadcrumb-item"><a href="{% url 'student_info' pk=user.pk %}">{{ user.username }}</a></li>
<li class="breadcrumb-item active">
    <a href="{% url 'student_thread' pk=user.pk %}">Threads</a>
</li>

{% endblock %}

{% block main_contain %}
{% include 'ForumInclude/UserThread.html' %}
{% endblock %}