{% load comment_tags %}
{% load i18n %}


<div class=" text-left{% if comment.has_flagged_state %}flagged-comment {% endif %}{% block content_wrapper_cls %}{% if has_valid_profile %} col-md-10{% else %}co-11 mx-3{% endif %}{% endblock content_wrapper_cls %}">
    {% block comment_content %}

        <p style="font-size: 20px;">{% render_content comment 30 %}</p>


    {% endblock comment_content %}
    <div class="blockquote-footer">
        <small>
            {% include "comment/reactions/reactions.html" with comment=comment %}

            <a class="{% block username_cls %}{% endblock username_cls %}" href="javascript:void(0)"
               title="View {{ comment.user }} profile">{{ comment.user }}</a> |
            {% if comment.is_edited %}
                <span class="font-italic"
                      title="{% trans 'Edited' %}">{% blocktrans with edited_time=comment.edited|timesince %}Edited:
                    <b> {{ edited_time }} </b>ago{% endblocktrans %}</span>
            {% else %}
                <span class="font-italic"
                      title="{% trans 'Posted' %}">{% blocktrans with posted_time=comment.posted|timesince %}
                    <b>{{ posted_time }}</b>  ago{% endblocktrans %}</span>
            {% endif %}

            {% can_delete_comment comment user as can_delete %}
            {% can_hide_comment comment user as can_hide %}
            {% can_close_comment comment user as can_close %}
            {% if comment.user == user %}
                | {% include 'comment/comments/edit_icon.html' %}
                {% include 'comment/comments/delete_icon.html' %}
                {% if comment.is_visible %}
                    {% include 'comment/comments/hide_comment.html' %}
                {% else %}
                    {% include 'comment/comments/show_comment.html' %}
                {% endif %}

                {% if comment.is_closed %}
                    {% include 'comment/comments/open_comment.html' %}
                {% else %}
                    {% include 'comment/comments/close_comment.html' %}
                {% endif %}
            {% else %}
                {% if can_delete %}
                    | {% include 'comment/comments/delete_icon.html' %}
                    {% if comment.is_flagged %}
                        {% include 'comment/comments/reject_icon.html' %}
                        {% if comment.is_edited %}
                            {% include 'comment/comments/resolve_icon.html' %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if can_hide %}
                    {% if comment.is_visible %}
                        | {% include 'comment/comments/hide_comment.html' %}
                    {% else %}
                        | {% include 'comment/comments/show_comment.html' %}
                    {% endif %}
                {% endif %}

                {% if can_close %}
                    {% if comment.is_closed %}
                        {% include 'comment/comments/open_comment.html' %}
                    {% else %}
                        {% include 'comment/comments/close_comment.html' %}
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if comment.is_parent %}
                {% get_replies_count comment user as reply_count %}
                | <span class="js-reply-number text-dark">{{ reply_count }}</span>
                <a class="js-reply-link {% block reply_link_cls %}btn btn-link ml-1{% endblock reply_link_cls %}"
                   href="#">
                    {% blocktrans with plural_str=reply_count|pluralize:"y,ies" %} Repl{{ plural_str }}
                    {% endblocktrans %}
                </a>
            {% endif %}
        </small>
    </div>
</div>
