{% load comment_tags %}

<style>
    {% block stylesheet %}

    {% endblock stylesheet %}
</style>


<div class="row" {% if not comment.is_visible %}style="background-color: #dcc9c9; padding:0 10px" {% endif %}>
    {% if has_valid_profile %}
        <div class="{% block image_wrapper_cls %} col-md-1{% endblock image_wrapper_cls %}">
            <a href="{% get_profile_url comment %}">
                <img class="{% block image_cls %}w-100{% endblock image_cls %}"
                     src="{% get_img_path comment %}" alt="{{ comment.user.username }}"
                     onerror="this.onerror=null;this.src='https://placeimg.com/200/300/animals';">
            </a>
        </div>
    {% endif %}
    {% include 'comment/comments/comment_content.html' with comment=comment %}
    {% if allowed_flags and comment.user != user %}
        <div class="col-1">
            {% include "comment/flags/flags.html" %}
        </div>
    {% endif %}
</div>
