{% load comment_tags %}
{% load static %}

<button title="{% if comment.is_closed %}Open{% else %}Close{% endif %} comment"
        class="js-comment-open {% block hide_btn_cls %}btn btn-sm btn-link{% endblock hide_btn_cls %}"
        data-url="{% url 'comment:open' pk=comment.id %}?comments_per_page={{ comments_per_page }}&model_name={% get_model_name model_object %}&model_id={{ model_object.id }}&app_name={% get_app_name model_object %}&oauth={{ oauth }}">
    <!--<img src="{% static 'svg/icons8-open-door-100.png' %}" height="20px" width="20px">-->
    <i data-feather="maximize"></i>
</button>
