{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'quiz_list' %}">QUIZ</a></li>


  <li class="breadcrumb-item active" aria-current="page">Quiz Create</li>
{% endblock %}
{% block content %}
  <!-- >>>> form media >>>>>> -->
{{ wizard.form.media }}
<!-- <<<<< form media <<<<< -->
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>
  <div id="" class="form_wizard wizard_horizontal">
    <ul class="wizard_steps anchor">
      <li>
        <a href="#step-1" class="done" isdone="1" rel="1">
          <span class="step_no">1</span>
          <span class="step_descr">Basic  Info</span>
        </a>
      </li>
      <li>
        <a href="#step-2" class="done" isdone="1" rel="2">
          <span class="step_no">2</span>
          <span class="step_descr">Select  Quiz Type</span>
        </a>
      </li>
      <li>
        <a href="#step-3" class="selected" isdone="1" rel="3">
          <span class="step_no">3</span>
          <span class="step_descr">Add  Question</span>
        </a>
      </li>
    </ul>
  </div>

  <form action="{% url 'quizfw' %}" method="post" id="quiz_form_3">{% csrf_token %}
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
      {{ wizard.form.management_form }}
      {% for form in wizard.form.forms %}
        {{ form|crispy }}
      {% endfor %}
    {% else %}
      <div class="form-group">
        {{ wizard.form.non_field_errors }}
        <div class="row questions-wrapper">
          <div class="col-md-2"></div>
          <div class="col-md-7">
          {{ wizard.form.mcquestion|as_crispy_field }}
          {{ wizard.form.mcquestion.help_text }}
          {{ wizard.form.mcquestion.errors }}
          </div>
          <div class="col-md-3">
            <!-- <a class="btn qts-button" id="mcq_create_button"> Add MCQ question </a> -->
            <button type="button" class="btn btn-primary" id="mcq_create_button" data-toggle="modal"
              data-target="#question_form_popup">Add MCQ question
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row questions-wrapper">
          <div class="col-md-2"></div>
          <div class="col-md-7">
            {{ wizard.form.tfquestion|as_crispy_field }}
            {{ wizard.form.tfquestion.help_text }}
            {{ wizard.form.tfquestion.errors }}
          </div>
          <div class="col-md-3">
            <!-- <a class="btn qts-button" href="{% url 'tfquestion_create' %}" > Add T/F question </a> -->
            <button type="button" class="btn btn-primary" id="tfq_create_button" data-toggle="modal"
              data-target="#question_form_popup">Add T/F question
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12 questions-wrapper">
          <div class="col-md-2"></div>
          <div class="col-md-7">
            {{ wizard.form.saquestion|as_crispy_field }}
            {{ wizard.form.saquestion.help_text }}
            {{ wizard.form.saquestion.errors }}
          </div>
          <div class="col-md-3">
            <!-- <a class="btn qts-button" href="{% url 'saquestion_create' %}" > Add Short question </a>    -->
            <button type="button" class="btn btn-primary" id="saq_create_button" data-toggle="modal"
                    data-target="#question_form_popup">Add SA question
            </button>
          </div>
        </div>
      </div>
    {% endif %}
    <input type="hidden" name="form3-mcquestion_order" id="id_mcquestion_order">
    <input type="hidden" name="form3-saquestion_order" id="id_saquestion_order">
    <input type="hidden" name="form3-tfquestion_order" id="id_tfquestion_order">
    <input type="hidden" id="wizard_goto_input">
    <div class="col-md-12 submitforquiz">
      <div class="col-md-4"></div>
      <div class="col-md-4 text-center">
        <div class="quiz-admin-btn">
          <button id="" class="btn btn-success " type="submit">Submit</button>
        </div>
      </div>
      <div class="col-md-4 button-place">
        <button id="step_3_prev" name="wizard_goto_step" value="{{ wizard.steps.prev }}" class="add-mcq">Previous
        </button>
      </div>
    </div>

  </form>
  <div id="question_form_popup" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="question_model_title"></h4>
        </div>
        <div class="modal-body" style="height: auto" id="question_form_ajax">
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <style>
    @media (min-width: 350px) and (max-width: 825px) {
        .selector-available {
            width: 100% !important;
        }

        .selector-chosen {
            width: 100% !important;
        }

        .filtered {
            width: 100% !important;
        }

        .selector ul.selector-chooser {
            float: left; 
            width: 22px;
            background-color: #eee;
            border-radius: 10px;
            margin: 5px auto 0 45% !important;
            padding: 0;
            transform: rotate(90deg);
            transition: all 0.3s ease;
        }
    }
</style>
{% endblock %}
{% block customjss %}
  <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  <script src=" {% static 'vendorsx/nprogress/nprogress.js' %}"></script>
  <script src=" {% static 'vendorsx/jQuery-Smart-Wizard/js/jquery.smartWizard.js' %}"></script>
  <script>

    $("#quiz_form_3").submit(function(e){
        // e.preventDefault();
        $('#id_form3-mcquestion_to option').prop('selected', true);
        $('#id_form3-saquestion_to option').prop('selected', true);
        $('#id_form3-tfquestion_to option').prop('selected', true);
        
        //////////////////////////////////////////////////////////////
        // get question chosen order and set to related input:      //
        $('#id_mcquestion_order').val("");                          //            
        $('#id_saquestion_order').val("");
        $('#id_tfquestion_order').val("");
        
        let mcq_order = []
        let saq_order = []
        let tfq_order = []
        
        $("#id_form3-mcquestion_to option").each(function(){
            mcq_order.push($(this).val());
        });                                                                      
        $("#id_form3-saquestion_to option").each(function(){
            saq_order.push($(this).val());
        });                                                                      
        $("#id_form3-tfquestion_to option").each(function(){
            tfq_order.push($(this).val());
        });
        
        $('#id_mcquestion_order').val(mcq_order.toString());
        $('#id_saquestion_order').val(saq_order.toString());
        $('#id_tfquestion_order').val(tfq_order.toString());        //       
        //////////////////////////////////////////////////////////////
    });

      $('#mcq_create_button').on('click', function () {
          $.ajax({
              type: "GET",
              data: {'course_from_quiz': '{{ course_from_quiz.id }}'},
              url: "{% url 'mcquestion_create' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#question_model_title").html("Create Multiple Choice Question");
                  $("#question_form_ajax").html(data);
              }
          });
      });
      $('#tfq_create_button').on('click', function () {
          $.ajax({
              type: "GET",
              data: {'course_from_quiz': '{{ course_from_quiz.id }}'},
              url: "{% url 'tfquestion_create' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#question_model_title").html("Create True False Question");
                  $("#question_form_ajax").html(data);
              }
          });
      });
      $('#saq_create_button').on('click', function () {
          $.ajax({
              type: "GET",
              data: {'course_from_quiz': '{{ course_from_quiz.id }}'},
              url: "{% url 'saquestion_create' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#question_model_title").html("Create Short Answer Question");
                  $("#question_form_ajax").html(data);
              }
          });
      });
      $('#id_form3-mcquestion').change(function () {
          $('#selected_mcq_num').text($('#id_form3-mcquestion option:selected').length);
      });
      $('#id_form3-tfquestion').change(function () {
          $('#selected_tfq_num').text($('#id_form3-tfquestion option:selected').length);
      });
      $('#id_form3-saquestion').change(function () {
          $('#selected_saq_num').text($('#id_form3-saquestion option:selected').length);
      });

      function mcq_success(response) {
          $('#id_form3-mcquestion').prepend(
              `<option value="${response['new_mcq_id']}" selected>${response['new_mcq_content']}</option>`);
          $('#id_form3-mcquestion').change();
          $('#question_form_popup').modal('toggle');
      }

      function tfq_success(response) {
          $('#id_form3-tfquestion').prepend(
              `<option value="${response['new_tfq_id']}" selected>${response['new_tfq_content']}</option>`);
          $('#id_form3-tfquestion').change();
          $('#question_form_popup').modal('toggle');
      }

      function saq_success(response) {
          $('#id_form3-saquestion').prepend(
              `<option value="${response['new_saq_id']}" selected>${response['new_saq_content']}</option>`);
          $('#id_form3-saquestion').change();
          $('#question_form_popup').modal('toggle');
      }

  </script>
{% endblock customjss %}