{% load static %}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>
{% load crispy_forms_tags %}
{{ wizard.form.media }}
<ul class="wizard_steps anchor">
  <li>
    <a href="#step-1" class="selected" isdone="1" rel="1">
      <span class="step_no">1</span>
      <span class="step_descr">Basic  Info</span>
    </a>
  </li>
  <li>
    <a href="#step-2" class="disabled" isdone="1" rel="2">
      <span class="step_no">2</span>
      <span class="step_descr">Select  Quiz Type</span>
    </a>
  </li>
  <li>
    <a href="#step-3" class="disabled" isdone="1" rel="3">
      <span class="step_no">3</span>
      <span class="step_descr">Add  Question</span>
    </a>
  </li>
</ul>
<div class="col-md-12">
  <div class="col-md-6"></div>
  <div class="col-md-6 text-right">

    <h4>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h4>
  </div>

</div>

<form action="" method="post" id="quiz_form_1">{% csrf_token %}
    {{ wizard.management_form }}
  <div id="id_div_myform">
    {{ wizard.form|crispy }}
  </div>
  <div class="col-md-12 submitforquiz">
    <div class="col-md-6"></div>
    <div class="col-md-6 text-right">
      <button name="wizard_goto_step" class="add-mcq">Next</button>
    </div>
  </div>
</form>

{% block customjss %}
  <script>
      $('.buttonNext').on('click', function () {
          $("#quiz_form_1").submit();
      });

      $("#quiz_form_1").submit(function (e) {
          console.log('inside step 1 script');
          e.preventDefault(); // avoid to execute the actual submit of the form.
          $.ajax({
              url: "{% url 'quizfw' %}", // URL to your view that serves new info
              data: $(this).serialize(), // get the form data
              type: $(this).attr('method'), // GET or POST
              success: function (data) {
                  $("#form1_ajax").html(data);
              },
              error: function () {
                  console.log('Error in posting form');
              }
          });
      });

      $('#div_id_form1-title, #div_id_form1-url').wrapAll("<div class=\"col-md-12\"></div>");
      $('#div_id_form1-title, #div_id_form1-url').wrap("<div class=\"col-md-6\"></div>");
      $('#div_id_form1-description').wrap("<div class=\"col-md-12\"></div>");
      $('#div_id_form1-description').wrap("<div class=\"col-md-12\"></div>");
      $('#id_div_myform label').addClass("quiz-add-label");
      $('#div_id_form1-course_code').wrap("<div class=\"col-md-12\"></div>");
      $('#div_id_form1-course_code').wrap("<div class=\"col-md-6\"></div>");

  </script>
{% endblock customjss %}
