{% extends "student_module/base.html" %} {% load static %} {% block stylesheets %}
    <link href="{% static 'build/css/studentCustom.css' %}" rel="stylesheet"/>

{% endblock stylesheets %} {% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'surveyinfo_list' %}?category_name=all_survey&date_filter=active">Survey</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ object.Survey_Title }}</li>
{% endblock %}
<style>

</style>
{% block content %}


    {% include 'student_module/survey/common/new_detail.html' %}

<br><br>

{% endblock %}

{% block javascript %}
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'worldcloud.js' %}"></script>
    <script src="{% static 'js/jspdf.debug.js' %}"></script>
    <script src="{% static 'jspdf-autotable/dist/jspdf.plugin.autotable.min.js' %}"></script>



    <script>
        var current_progress = 0;
        $(document).ready(function () {



            var table_main = $('.SATable').DataTable({
                colReorder: true

            });



            $('#survey_form_modal').on('hidden.bs.modal', function () {
                location.reload();
            });

            var interval = setInterval(function () {
                if ($('#chk').prop('checked')) {

                    current_progress += 10;
                    $("#dynamic")
                        .css("width", current_progress + "%")
                        .attr("aria-valuenow", current_progress)
                        .text("Refreshing In :" + (10 - (current_progress / 10)));
                } else {
                    $("#dynamic").text("Paused");
                }

                if (current_progress >= 100) {
                    clearInterval(interval);
                   location.reload();

                }

            }, 1000);
        });

    </script>

    <script>













    </script>

    <script>


    </script>

    <script>

    </script>
     <script>


    </script>

{% endblock %}