{% load static %}
{% load i18n %}

<div class="modal fade" id="create_chapter_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold" id="create_chapter_modal_title">
                    {% trans "Create Chapter" %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body" id="create_chapter_modal_body">

            </div>
        </div>
    </div>
</div>

<div id="quiz_create_popup" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" style="height: 90vh;overflow: auto;">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold">
                    {% trans "Create Quiz" %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body modal-auto" id="quiz_form_ajax" style="padding: 10%;">
                <img src="/static/images/uLMS2019_Loading_SVG.svg" alt="">

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-md-12">
        <div class="page-header">
            <div class="page-title">
                <h3>{{ object.Course_Name }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-sm-12">
                <div class="slider-for">
                    <div class="slick-slide-item text-center">
                        <img src="{% if object.Course_Cover_File %}
                        /media/{{ object.Course_Cover_File }}
                    {% else %}
                        {% static '/media/image/course.jpg' %}
                    {% endif %}" class="img-fluid rounded img-height-30" />
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-sm-12 mt-4">
                {{ object.Course_Description }}
            </div>
        </div>
        <div class="card mt-4 p-3">
            <h4 class="text-primary m-2">{% trans "List of Chapters" %}</h4>
            <ul>
                <script> var lastchapter = 0;</script>
                {% for chapter in chapters %}
                <li class="p-3">
                    <a href="{% if '/students' in request.path %}
            {{ chapter.student_get_absolute_url }}
            {% elif '/teachers' in request.path %}
            {{ chapter.teacher_get_absolute_url }}
            {% else %}
            {{ chapter.get_absolute_url }}
            {% endif %}">
                        <figure class="avatar avatar-sm">
                            <span class="avatar-title rounded-circle"> {{ chapter.Chapter_No }}</span>
                        </figure> &nbsp;
                        {{ chapter.Chapter_Name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="px-4 pt-4">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5 class="text-primary">{% trans "Course" %}</h5>
                    <div class="d-inline-block dropdown">
                        <a href="javascript:void(0)" class="btn btn-outline-light btn-floating btn-sm"
                            data-toggle="dropdown">
                            <i class="ti-more-alt"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            {% if '/student' not in request.get_full_path %}
                            <a class="dropdown-item text-primary" data-z="1" data-animated href="{% if '/teachers' in request.path %}
                    /teachers{{ object.get_update_url }}
                        {% else %}
                            {{ object.get_update_url }}
                        {% endif %}">{% trans "Edit Course" %}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <p>
                    {% trans "Difficulty" %} :
                    {% for i in '12345'|make_list %}
                    {% if object.Course_Level >= forloop.counter %}
                    <span class="fa fa-fw fa-star text-warning"></span>
                    {% else %}
                    <span class="fa fa-fw fa-star-o text-warning"></span>

                    {% endif %}
                    {% endfor %}
                </p>
                <p>{% trans "Course Provider" %} : {{ object.Course_Provider }}
                </p>
                <p>{% trans "Status" %} : &nbsp;
                    {% if object.Use_Flag == True %}
                    <span class="badge bg-success-bright text-success">{% trans "Active" %}</span>
                    </span>
                    {% elif object.Use_Flag == False %}
                    <span class="badge bg-danger-bright text-danger">{% trans "Inactive" %}</span>
                    {% endif %}

                </p>
                <!-- <p><i class="fa fa-clock-o fa-fw"></i> &nbsp;
                    <i class="fa fa-calendar fa-fw"></i>
                </p> -->
                <p>{% trans "Instructor" %} :
                    {% if object.get_teachers_of_this_course %}
                <ul class="row">
                    {% for eachTeacher in object.get_teachers_of_this_course %}
                    <li>
                        <img class="img-circle" src="{{ eachTeacher.Avatar }}" alt="Profile_picture" width="20"
                            height="22">
                        {{ eachTeacher.getFullName }}
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                &nbsp;{% trans "No Teachers Assigned Yet" %}
                {% endif %}
                </p>
                <!-- <p>Max. students: 50</p> -->
                <!-- <p>{% trans "Attending" %} : </p> -->
            </div>
            {% if '/students' not in request.path %}
            <ul class="text-center">
                <li class="p-2 border-top">
                    <button class="btn btn-success relative" data-z="1" data-toggle="modal"
                        data-target="#create_chapter_modal" data-animated id="add-newchapter-btn">
                        {% trans "Add Chapter" %}</button>
                </li>
            </ul>
            {% endif %}
        </div>
        <div class="card">
            <ul class="text-center">
                <li class="p-3">
                    <a href="
                    {% if ' /teachers' in request.path %}
                    {% url 'course_progress' object.pk %} 
                    {% elif '/students' or '/teachers' not in request.path %} 
                    {% url 'admin_course_progress' object.pk %} 
                    {% endif %} " class="text-success">
                        <i class="fa fa-trophy"></i> &nbsp;
                        <b style="text-transform: uppercase;"> {% trans ' Achievement' %} </b>
                    </a>
                </li>
                <li class="p-3 border-top">
                    {% if topic %}
                    <a target="_blank" href="
                        {% if '/teachers' in request.path %}
                        {% url 'Teacher_Course_Forum' object.pk %}
                        {% elif '/students' in request.path %}
                        {% url 'Student_Course_Forum' object.pk %}
                        {% else %}
                        {% url 'Course_Forum' object.pk %}
                        {% endif %}" class="text-secondary">
                        <i class="fa fa-comment-o"></i>
                        <b style="text-transform: uppercase;"> {% trans 'Forum' %} </b>
                    </a>
                    {% else %}
                    {% if '/students' not in request.path %}
                    <a target="_blank" href="
                        {% if '/teachers' in request.path %}
                        {% url 'Teacher_Course_Forum' object.pk %}
                        {% else %}
                        {% url 'Course_Forum' object.pk %}
                        {% endif %}" class="text-secondary">
                        <i class="fa fa-comment-o"></i> &nbsp; <b> {% trans 'Add Forum' %} </b></a>
                    {% endif %}
                    {% endif %}
                </li>
                {% if not "students" in request.path %}
                <li class="p-3 border-top">
                    <!-- Quick   Button -->
                    <button type="button" class="btn btn-outline-info qts-button" id="new_survey_btn"
                        data-toggle="modal" data-target="#survey_content_modal">
                        <i class="fa fa-plus"></i> &nbsp;
                        {% trans 'Survey' %}
                    </button>
                    <!-- End of Quick Survey Button -->

                    <button type="button" class="btn btn-outline-secondary qts-button ml-4" id="exam_paper_popup"
                        data-toggle="modal" data-target="#quiz_create_popup">
                        <i class="fa fa-plus"></i> &nbsp;
                        {% trans 'Exam' %}
                    </button>
                </li>
                {% endif %}
            </ul>
        </div>


        <div class="card">
            <div class="p-3">
                <h5 class="text-primary m-0">{% trans "Other Courses" %}</h5>
            </div>
            <ul class="text-center">
                {% for courses in other_courses %}
                <li class="p-3 border-top">
                    <a href="{{ courses.get_absolute_url }}">{{ courses.Course_Name }}</a>
                </li>
                {% empty %}
                <li class="p-3 border-top">
                    {% trans "No other Courses Available" %}
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>

<table class="table">
    {% if quizcount %}
    <tr class="course-info">
        <td style="border-top:0 ">
            <div class="col-md-8 col-sm-8 col-xs-8 no-padding" style="width: -webkit-fill-available;">

                <div class=" panel-group" id="accordionm" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwobb">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionm"
                                    href="#collapseTwoc" aria-expanded="false" aria-controls="collapseTwoc">
                                    {% trans 'Exams' %}: ({{ quizcount.count }}) <i class="fa fa-angle-double-down"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwoc" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingTwobb">
                            <div class="panel-body custom-panel-body">
                                {% for eachquiz in quizcount %}
                                <br> {{ eachquiz.title }}
                                {% if "students" in request.path %}-
                                {% if not eachquiz.draft %}
                                {# {% getUserQuizStatus eachquiz.sitting_set.all_user as student_quiz_status %} #}

                                {% if student_quiz_status.isExist and student_quiz_status.isComplete %}
                                {% if eachquiz.single_attempt %}
                                <span style="color: limegreen; font-weight: bold">{% trans 'Completed' %}</span>
                                {% else %}
                                <a target="_blank" href="/quiz/quiz{{ eachquiz.pk }}/take/">
                                    <span style="color: limegreen; font-weight: bold">
                                        {% trans 'Take Exam Again' %}
                                    </span></a>
                                {% endif %}
                                {% else %}
                                <a target="_blank" href="/quiz/quiz{{ eachquiz.pk }}/take/">
                                    <span style="font-weight: bold; color: #721c24">{% trans 'Take Exam' %}</span>
                                </a>
                                {% endif %}
                                {% endif %}
                                {% elif "teachers" in request.path %}
                                <br> <a style="color: #0c83e4; font-size: large"
                                    href="/teachers/quiz/detail/{{ eachquiz.pk }}/">{% trans 'Detail' %}</a>
                                <br>
                                <p style="color: #00A000">
                                    {{ eachquiz.draft|yesno:"Inactive, Active" }}
                                <p>
                                    <hr>
                                    {% else %}
                                    <br> <a style="color: #0c83e4; font-size: large"
                                        href="/quiz/detail/{{ eachquiz.pk }}/">{% trans 'Detail' %}</a><br>
                                <p style="color: #00A000">
                                    {{ eachquiz.draft|yesno:"Inactive, Active" }}
                                <p>
                                    <hr>
                                    {% endif %}
                                    {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </td>
        {# <td style="border-top:0; ">#}
            {# #}
            {##}
            {# </td>#}

        <td style="border-top:0; ">

        </td>
    </tr>
    {% else %}
    {% trans 'No Active Exams' %}

    <hr>




    {% endif %}
    <tr>
        {% if surveycount %}
        {# <td>#}
            {# <div class="col-md-8 col-sm-8 col-xs-8 no-padding">#}
                {# Number of Survey#}
                {# </div>#}
            {# #}
            {# </td>#}
        {# <td>#}
            {# {{ surveycount.count }}#}
            {# </td>#}
        <td style="border-top:0 ">
            <div class="col-md-8 col-sm-8 col-xs-8 no-padding" style="width: -webkit-fill-available;">

                <div class="panel-group" id="accordionmk" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwobbv">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionmk"
                                    href="#collapseTwocd" aria-expanded="false" aria-controls="collapseTwocd">
                                    {% trans 'Surveys' %}: ({{ surveycount|length }}) <i
                                        class="fa fa-angle-double-down"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwocd" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingTwobbv">
                            <div class="panel-body custom-panel-body">
                                {% for eachquiz in surveycount %}
                                <br> {{ eachquiz.Survey_Title }}
                                {% if "students" in request.path %}-
                                {% if not eachquiz.draft %}
                                <a target="_blank" href="/students/questions_student_detail/detail/{{ eachquiz.pk }}">
                                    {# {% getSurveyStatus eachquiz user as can_submit %} #}
                                    {% if can_submit.0 %}
                                    {% trans 'Participate' %}
                                    {% else %}
                                    <span style="color: green"> {% trans 'Completed' %} </span>
                                    {% endif %}
                                </a>
                                {% endif %}
                                {% elif "teachers" in request.path %}
                                <br> <a style="color: #0c83e4; font-size: large"
                                    href="/teachers/surveyinfodetail/detail/{{ eachquiz.pk }}/">{% trans 'Detail' %}</a>
                                <br>
                                <p style="color: #00A000">
                                    {{ eachquiz.draft|yesno:"Inactive, Active" }}
                                <p>
                                    <hr>
                                    {% else %}
                                    <br> <a style="color: #0c83e4; font-size: large"
                                        href="/survey/surveyinfo/detail/{{ eachquiz.pk }}/">{% trans 'Detail' %}</a>
                                    <br>
                                <p style="color: #00A000">
                                    {{ eachquiz.draft|yesno:"Inactive, Active" }}
                                <p>
                                    <hr>
                                    {% endif %}
                                    {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </td>

        {% else %}
        {% trans 'No Active Surveys' %}
        <hr>
        {% endif %}

    </tr>


    <tr class="course-info">
        {% if numberOfQuizExclExams.count %}
        <td>
            <div style="width: -webkit-fill-available;">
                <div class="panel-group" id="accordionmo" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwobbx">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionmo"
                                    href="#collapseTwocn" aria-expanded="false" aria-controls="collapseTwocn">
                                    {% trans 'Quizzes' %}: ({{ numberOfQuizExclExams.count }}) <i
                                        class="fa fa-angle-double-down"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwocn" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingTwobbx">
                            <div class="panel-body custom-panel-body">
                                {% for eachquiz in numberOfQuizExclExams %}
                                <br> {{ eachquiz.title }}
                                {% if "students" in request.path %}-
                                {# {% getUserQuizStatus eachquiz.sitting_set.all user as student_quiz_status %} #}

                                {% if student_quiz_status.isExist and student_quiz_status.isComplete %}
                                {% if eachquiz.single_attempt %}
                                <span style="color: limegreen; font-weight: bold">{% trans 'Completed' %}</span>
                                {% else %}
                                <a target="_blank" href="/quiz/quiz{{ eachquiz.pk }}/take/">
                                    <span style="color: limegreen; font-weight: bold">
                                        {% trans 'Take Quiz Again' %}
                                    </span></a>
                                {% endif %}
                                {% else %}
                                <a target="_blank" href="/quiz/quiz{{ eachquiz.pk }}/take/">
                                    <span style="font-weight: bold; color: #721c24">{% trans 'Take Quiz' %}</span>
                                </a>
                                {% endif %}
                                {% elif "teachers" in request.path %}
                                <br> <a style="color: #0c83e4; font-size: large"
                                    href="/teachers/quiz/detail/{{ eachquiz.pk }}/">{% trans 'Detail' %}</a>
                                <br>
                                <p style="color: #00A000">
                                    {{ eachquiz.draft|yesno:"Inactive, Active" }}
                                <p>

                                    <hr>
                                    {% else %}
                                    <br> <a style="color: #0c83e4; font-size: large"
                                        href="/quiz/detail/{{ eachquiz.pk }}/">{% trans 'Detail' %}</a>
                                    <br>
                                <p style="color: #00A000">
                                    {{ eachquiz.draft|yesno:"Inactive, Active" }}
                                <p>
                                    <hr>
                                    {% endif %}
                                    {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </td>
        {# <td>#}
            {# #}
            {# </td>#}
        {% else %}
        {% trans 'No Active Quizzes' %}
        <hr>
        {% endif %}
    </tr>x

</table>

{% include 'chapter/content-viewer-moules/QuickSurvey.html' %}
