{% load static %}
<link href="{% static 'vendorsx/select2/dist/css/select2.min.css' %}" rel="stylesheet">

<!-- Modal -->
<div class="modal fade" id="edit_checked_details_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Sessions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="
            {% if '/inactive' in request.path %}
                {% url 'inninginfo_inactive_edit_checked' %}
            {% else %}
                {% url 'inninginfo_edit_checked' %}
            {% endif %}
            ">
                {% csrf_token %}
                <input type="hidden" name="inning_ids[]" id="inning_ids">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Student_Group"> Select Student Group</label>
                        <select class="form-control" id="Student_Group" name="Student_Group">
                            {% for groupmapping in student_group_list %}
                                <option value="{{ groupmapping.pk }}">{{ groupmapping.GroupMapping_Name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="start_Date">Start Date</label>
                        <input type="date" class="form-control" id="start_Date" name="start_Date">
                    </div>

                    <div class="form-group">
                        <label for="end_Date">End Date</label>
                        <input type="date" class="form-control" id="end_Date" name="end_Date">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'vendorsx/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendorsx/select2/dist/js/select2.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $(".editCheckedInnings").on('click', function () {
            let seleced_innings = []
            $.each($('#inning_dataTable input[type="checkbox"]:checked'), function (index) {
                seleced_innings.push($(this).val())
            })
            $('#inning_ids').val(seleced_innings)
        });
    });

    $('#Student_Group').select2({
        width: '100%',
    });

    $('.inningInfoCheckAll').on('click', function () {
        $('#inning_dataTable input:checkbox').not(this).prop('checked', this.checked);
        checkboxChangeEvent()
    })

    $('.inningInfoCheckbox').on('click', function () {
        checkboxChangeEvent()
    })

    function checkboxChangeEvent() {
        let checkBoxlength = $('#inning_dataTable input[type="checkbox"]:checked').not('.inningInfoCheckAll').length

        if (checkBoxlength > 0) {
            $('.checkboxCheckedLength').text(checkBoxlength + ' of ' + $('.inningInfoCheckbox').length + ' selected')
            $('.editCheckedInnings, .deleteCheckedInnings').removeAttr('disabled')
        } else {
            $('.checkboxCheckedLength').text('')
            $('.editCheckedInnings, .deleteCheckedInnings').prop('disabled', 'disabled')
        }
    }

    checkboxChangeEvent()
</script>