{% load static %}

<!-- {% block stylesheet %}
<link href="{% static 'vendorsx/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendorsx/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendorsx/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
{% endblock %} -->
<div class="row mb-2">
    <div class="col-lg-8 col-md-7 col-sm-6">
        <h2 class="text-primary">List of Active Sessions</h2>
    </div>

    <div class="col-lg-4 col-md-5 col-sm-6 text-right">
        <a href="javascript:void(0)" class="btn btn-sm btn-outline-primary" title="List" data-toggle="tooltip"
            id="tableButton">
            <i class="fa fa-th-list"></i>
        </a>
        <a href="javascript:void(0)" class="btn btn-sm btn-outline-primary ml-2" title="Grid" data-toggle="tooltip"
            id="cardButton">
            <i class="fa fa-th-large"></i>
        </a>
    </div>
</div>

<form method="post" action="{% url 'inninginfo_delete_checked' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-6">
            <button class="btn btn-link view-inactive" style="padding-right: 10px;"><a href="
                {% if '/mysessions' not in request.path %}
                    {% url 'inninginfo_list_inactive' %}
                {% else %}
                    {% url 'teachers_mysession_list_inactive' %}
                {% endif %}
                ">View Inactive Sessions</a>
            </button>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
            {% if request.user.Is_CenterAdmin and '/mysessions' not in request.path %}
            <div class="pull-right">
                <a class="btn btn-outline-success" href="{% url 'inninginfo_create' %}">Register New Session</a>
                <button class="btn btn-outline-danger btn-floating deleteCheckedInnings" type="submit"
                    onclick="return confirm('Are you sure you want to delete ?')">
                    <i class="fa fa-trash"></i>
                </button>
                <button class="btn btn-outline-info btn-floating editCheckedInnings" type="button" data-toggle="modal"
                    data-target="#edit_checked_details_modal">
                    <i class="fa fa-edit"></i>
                </button>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="table-responsive mt-3" id="tableView">
        <span class="checkboxCheckedLength"></span>
        <table class="table table-striped nowrap" id="inning_dataTable">
            <thead class="thead-light">
                <tr class="tableTitleRow">
                    <th>
                        <input type="checkbox" class="inningInfoCheckAll">
                    </th>
                    <th>ID</th>
                    <th>Session Name</th>
                    <th>Student Group</th>
                    <th>No. of Courses</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <td>
                        <input type="checkbox" class="inningInfoCheckbox" name="inning_id[]" value="{{ object.pk }}">
                    </td>
                    <td style="vertical-align: middle;">{{ forloop.counter }}</td>
                    <td style="vertical-align: middle;"><b>
                            <a
                                href="


                                        {% if '/mysessions' not in request.path %}{{ object.get_absolute_url }}{% elif 'mysessions' in request.path %}{% url 'teachers_mysession_detail' object.pk %}{% endif %}">{{ object.Inning_Name }}</a>
                        </b></td>
                    <td style="vertical-align: middle;">{{ object.Groups }}</td>
                    <td style="vertical-align: middle;">{{ object.Course_Group.count }}</td>
                    <td style="vertical-align: middle;">{{ object.Start_Date }}</td>
                    <td style="vertical-align: middle;">{{ object.End_Date }}</td>
                    <td class="text-center"><a class="btn btn-sm btn-info" href="   {% if '/mysessions' not in request.path %}
                                        {{ object.get_absolute_url }}
                                    {% elif 'mysessions' in request.path %}
                                        {% url 'teachers_mysession_detail' object.pk %}
                                    {% endif %}">Edit</a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</form>

<div id="cardView" style="display:none;padding: 0;" class="col-md-12 col-sm-12 col-xs-12">
    <div class="container" id="divID">
        {% for object in object_list %}
        <div class="col-md-4 col-sm-6 col-xs-12 card-body" id="listCard">
            <div class="card-header" style="background: white">
                <h5 class="card-title"><strong>Session : &nbsp;<a
                            href="{{ object.get_absolute_url }}">{{ object.Inning_Name }}</a></strong>
                </h5>
                <h5 class="card-title"><b>Student Group &nbsp; : </b>&nbsp;{{ object.Groups }}</h5>
                <h5 class="card-title"><b><u>Courses :</u></b></h5>
                <span class="card-title">
                    <p style="height:40px; overflow:auto;padding:0 10px">
                        {% for groups in object.Course_Group.all %}
                        {{ groups.Course_Code }}
                        {% endfor %}
                    </p>
                </span><br>
                <h5 class="card-title"><b>Start Date : </b>&nbsp;{{ object.Start_Date|date:'Y M d' }}</h5>
                <h5 class="card-title"><b>End Date : </b>&nbsp;{{ object.End_Date|date:'Y M d' }}</h5>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'inning/inninginfo_form_common.html' %}