{% load static %}

{% block content %}
    <div class="outerdiv">
        {% include 'WebApp/theme/alerts.html' %}

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-8 col-sm-12 col-xs-12 text-center">
                <h2 class="detailListHeader">Session Detail</h2>
            </div>
            {% if request.user.Is_CenterAdmin and '/mysession' not in request.path %}
                <div class="col-md-4 col-sm-12 col-xs-12 text-center" id="buttons">
                    <a class="btn-sm btn-primary" href="{% url 'session-manager' object.pk %}">Session Manager</a>
                    <a class="btn-sm btn-primary" href="{{ object.get_update_url }}">Edit Session</a>
                    <a class="btn-sm btn-danger inning-confirm-delete" id="{{ object.pk }}" style="cursor: pointer;">Delete
                        Session</a>
                    <form method="post" action="{% url 'inninginfo_delete' pk=object.pk %}"
                        id="deleteInning{{ object.pk }}">
                        {% csrf_token %}
                        <!-- <input type="hidden" value="{{questions.pk}}" name="question_id"> -->
                        <input type="hidden" value="{{ object.pk }}" name="inning_id">
                    </form>
                </div>
            {% endif %}
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <hr class="header_hr">
            <br>
            <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2">
                <h5><b>
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td>Center Code</td>
                            <td>{{ object.Center_Code }}</td>
                        </tr>
                        <tr>
                            <td>Session Name</td>
                            <td>{{ object.Inning_Name }}</td>
                        </tr>
                        <tr>
                            <td>Student Group Name</td>
                            <td>{{ object.Groups }}</td>
                        </tr>

                        <tr>
                            <td>Start Date</td>
                            <td>{{ object.Start_Date }}</td>
                        </tr>
                        <tr>
                            <td>End Date</td>
                            <td>{{ object.End_Date }}</td>
                        </tr>

                        <tr>
                            <td>Courses</td>
                            <td> {% for groups in object.Course_Group.all %} {{ groups }}<br>{% endfor %}</td>
                        </tr>

                        <tr>
                            <td>Register Agent</td>
                            <td>{{ object.Register_Agent }}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>{% if object.Use_Flag == True %}
                                Active
                            {% else %}
                                Inactive
                            {% endif %}</td>
                        </tr>
                        <tr>
                            <td>
                                Session Managers
                            </td>
                            <td>
                                {% for x in session_managers.memberinfoobj.all %}
                                    {{x}}
                                {% endfor %}
                            </td>
                        </tr>
                    </table>

                </b></h5>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12 text-center">
                <h5>
                    <b>

                        <h3><b>List of Students</b></h3>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <td>
                                    <h4><b>{{ object.Groups }} Students &nbsp; ( {{ object.Groups.Students.count }}
                                        )</b>
                                        <span style="font-size: 15px;float:right;"> <a
                                                href="
                                                {% if '/mysession' in request.path %}
                                                    {% url 'teachers_groupmapping_update' object.Groups.pk %}
                                                {% else %}
                                                    {{ object.Groups.get_update_url }}
                                                {% endif %}
                                                "><u>Edit</u>
                                        </a></span>
                                    </h4>

                                </td>
                            </tr>
                            <tr>
                                <td>{% for students in object.Groups.Students.all %}{{ forloop.counter }}.
                                    &nbsp; {{ students }}<br>{% endfor %}</td>
                            </tr>

                        </table>
                    </b>
                </h5>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 text-center">
                <h5>
                    <b>
                        <h3><b>List of Teachers</b></h3>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <td>
                                    <h4><b>Courses</b></h4>
                                </td>
                                <td>
                                    <h4><b>Teachers</b></h4>
                                </td>
                            </tr>
                            {% for groups in object.Course_Group.all %}
                                <tr>

                                    <td><a style="float: left" href="
                                    {% if not '/mysession' in request.path %}
                                        {{ groups.get_update_url }}
                                    {% else %}
                                        {% url 'teachers_inninggroup_detail' groups.pk %}
                                    {% endif %}
                                    "><i
                                            class="fa fa-edit"></i></a><a
                                            href="
                                            {% if not '/mysession' in request.path %}
                                                {{ groups.get_update_url }}
                                            {% else %}
                                                {% url 'teachers_inninggroup_detail' groups.pk %}
                                            {% endif %}
                                            ">{{ groups }}</a></td>
                                    <td>{% for teachers in groups.Teacher_Code.all %}
                                        {{ teachers }}<br>{% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </b>
                </h5>
            </div>
        </div>
        <br>
        <!-- <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top: 30px;">
        <a class="btn-lg btn-sm btn-primary" href="{% url 'groupmapping_create' %}">Assign Student</a>
        &nbsp;&nbsp;&nbsp;
        <a class="btn-lg btn-sm btn-primary" href="{% url 'inninggroup_create' %}">Assign Course</a>
    </div> -->

        <div class="row text-center" style="    padding: 30px;">

            <button class=" Session btn btn-success"
                    id="category_Add_ButtonSession"
                    style="    float: left;   "
                    data-toggle="modal"
                    data-target="#survey_form_modal">Add Session Survey
            </button>

            {% if SessionSurvey %}
                <h3><b>List of Surveys</b></h3>


                <table id="table_survey" class="table table-striped table-bordered bg-white nowrap">
                    <thead class="thead-light bg-primary">
                    <td>Survey Title</td>
                    <td>Start Date</td>
                    <td>End Date</td>

                    </thead>

                    <tbody>

                    {% for survey in SessionSurvey %}

                        <tr>
                            <td>
                                <a href="
                                {% if '/mysession' in request.path %}
                                    {% url 'surveyinfodetail' pk=survey.id %}
                                {% else %}
                                    {% url 'surveyinfo_detail' pk=survey.id %}
                                {% endif %}
                                
                                ">{{ survey.Survey_Title }}</a>
                            </td>
                            <td>{{ survey.Start_Date }}</td>
                            <td>{{ survey.End_Date }}</td>


                        </tr>

                    {% endfor %}


                    </tbody>

                </table>


            {% else %}
                <h4><b>No Survey Created for this session.</b></h4>
            {% endif %}

        </div>

        <div id="survey_form_modal" class="modal fade" style="height: -webkit-fill-available;">
            <div class="modal-dialog">
                <div class="modal-content" style="height: -webkit-fill-available; overflow: auto; overflow-x: hidden;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create Survey</h4>
                    </div>
                    <div class="modal-body" id="surveyForm">
                        <div>
                            <img src="/static/images/uLMS2019_Loading_SVG.svg" alt="">
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
