{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="st-content">
    <div class="container-fluid">
        <div class="page-section">
            <div class="media media-grid v-middle">
                <div class="media-left">
                    <span class="icon-block half bg-blue-300 text-white">{{ object.Chapter_No }}</span>
                </div>
                <div class="media-body">
                    <h1 class="text-display-1 margin-none">{{ object.Chapter_Name }}</h1>
                </div>
            </div>
            <br />
            <p>{{ object.Summary }}</p>
        </div>
    </div>
</div>
{% endblock %}