{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    id="create_chapter_modal" xmlns="http://www.w3.org/1999/html">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title" id="exampleModalLabel"><b>Create Chapter</b>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </div>
            <div class="modal-body modal-auto" id="create_chapter_modal_body">
            </div>
        </div>
    </div>
</div>

<div class="st-pusher">
    <!-- sidebar effects INSIDE of st-pusher: -->
    <!-- st-effect-3, st-effect-6, st-effect-7, st-effect-8, st-effect-14 -->
    <!-- this is the wrapper for the content -->
    <!-- extra div for emulating position:fixed of the menu -->

    <div class="container-fluid">
        <div class="media media-grid media-clearfix-xs">
            <div class="media-body">
                <div class="page-section">
                    <div class="media">
                        <div class="media-left">
                            <span class="icon-block s60 bg-lightred"><i class="fa fa-book"></i></span>
                        </div>
                        <div class="media-body">
                            <h1 class="text-display-1 margin-none">{{ object.Course_Name }}</h1>
                            <p class="small margin-none">
                                Difficulty :
                                {% for i in object.Course_Level|make_list %}
                                <span class="fa fa-fw fa-star text-yellow-800"></span>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="page-section">
                    <div class="paragraph-inline">
                        <img src="{% if object.Course_Cover_File %}
                                    /media/{{ object.Course_Cover_File }}
                                {% else %}
                                    {% static '/images/course.jpg' %}
                                {% endif %}" class="width-350">
                    </div>
                    <div class="course-description-div">
                        {{ object.Course_Description }}
                    </div>
                </div>
                <div class="page-section">
                    <!-- <h2 class="text-headline margin-none">Chapters</h2> -->
                    <p class="text-headline">List of Chapters</p>
                    <ul class="list-group relative paper-shadow margin-none" data-hover-z="0.5" data-animated>
                        <!-- <li class="list-group-item">
                            <div class="media v-middle">
                                <div class="media-left">
                                    <div class="icon-block s30 bg-red-300 text-white img-circle">
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="media-body text-body-2">
                                    Basics of GIT and how to become a STAR.
                                </div>
                            </div>
                        </li> -->
                        {% for chapter in chapters %}
                        <a href="{% if '/students' in request.path %}
                        {{ chapter.student_get_absolute_url }}
                    {% elif '/teachers' in request.path %}
                        {{ chapter.teacher_get_absolute_url }}
                    {% else %}
                       {{ chapter.get_absolute_url }}
                    {% endif %}">
                            <li class="list-group-item paper-shadow">
                                <div class="media v-middle">
                                    <div class="media-left">
                                        <div class="icon-block s30 bg-green-300 text-white img-circle">
                                            {{ chapter.Chapter_No }}
                                        </div>
                                    </div>
                                    <div class="media-body text-body-2">
                                        {{ chapter.Chapter_Name }}
                                    </div>
                                </div>
                            </li>
                        </a>
                        {% endfor %}
                        <!-- <li class="list-group-item paper-shadow">
                            <div class="media v-middle">
                                <div class="media-left">
                                    <div class="icon-block s30 bg-indigo-300 text-white img-circle">
                                        <i class="fa fa-trophy"></i>
                                    </div>
                                </div>
                                <div class="media-body text-body-2">
                                    Eaque ex exercitationem quia reprehenderit?
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item paper-shadow">
                            <div class="media v-middle">
                                <div class="media-left">
                                    <div class="icon-block s30 bg-orange-300 text-white img-circle">
                                        <i class="fa fa-code-fork"></i>
                                    </div>
                                </div>
                                <div class="media-body text-body-2">
                                    Ab distinctio nemo, provident quia quibusdam ullam.
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item paper-shadow">
                            <div class="media v-middle">
                                <div class="media-left">
                                    <div class="icon-block s30 bg-grey-500 text-white img-circle">
                                        <i class="fa fa-check"></i>
                                    </div>
                                </div>
                                <div class="media-body text-body-2">
                                    Conclusion & Notes.
                                </div>
                            </div>
                        </li> -->
                    </ul>
                </div>
                <!-- 
                <div class="pull-right">
                    <a class="btn btn-white btn-circle paper-shadow relative" data-z="1" href="#"><i
                            class="md md-add"></i></a>
                </div>

                <h2 class="text-headline margin-none">Testimonials</h2>
                <p class="text-subhead text-light">A few words from our past students</p>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="testimonial">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet
                                        doloremque enim error id, inventore magni odio odit quo tenetur.</p>
                                </div>
                            </div>
                            <div class="media v-middle">
                                <div class="media-left">
                                    <img src="images/people/50/guy-7.jpg" alt="People" class="img-circle width-40" />
                                </div>
                                <div class="media-body">
                                    <p class="text-subhead margin-v-5-0">
                                        <strong>Adrian D. <span class="text-muted">@ Mosaicpro
                                                Inc.</span></strong>
                                    </p>
                                    <p class="small">
                                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                                        <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                        <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="testimonial">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet
                                        doloremque enim error id, inventore magni odio odit quo tenetur.</p>
                                </div>
                            </div>
                            <div class="media v-middle">
                                <div class="media-left">
                                    <img src="images/people/50/guy-4.jpg" alt="People" class="img-circle width-40" />
                                </div>
                                <div class="media-body">
                                    <p class="text-subhead margin-v-5-0">
                                        <strong>Adrian D. <span class="text-muted">@ Mosaicpro
                                                Inc.</span></strong>
                                    </p>
                                    <p class="small">
                                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                                        <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                        <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>
            <div class="media-right">

                <div class="page-section width-270 width-auto-xs">

                    <!-- .panel -->
                    <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
                        <div class="panel-heading">
                            <h4 class="text-headline">Course</h4>
                        </div>
                        <div class="panel-body">
                            <p class="text-caption margin-none">
                                <i class="fa fa-clock-o fa-fw"></i> 4 hrs &nbsp;
                                <i class="fa fa-calendar fa-fw"></i> 21/10/14
                                <br />
                                <i class="fa fa-user fa-fw"></i> Instructor:
                                {% if object.get_teachers_of_this_course %}
                                <ul class="row">
                                    {% for eachTeacher in object.get_teachers_of_this_course %}
                                    <li>
                                        {{ eachTeacher.getFullName }}
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                &nbsp; No Teachers Assigned Yet
                                {% endif %}
                                <br />
                                <i class="fa fa-mortar-board fa-fw"></i> Max. students: 50
                                <br />
                                <i class="fa fa-check fa-fw"></i> Attending: 30
                            </p>
                        </div>
                        <hr class="margin-none" />
                        <ul class="list-group text-center">
                            <li class="list-group-item">
                                <a class="btn btn-primary btn-sm paper-shadow relative" data-z="1" data-hover-z="2"
                                    data-animated href="{% if '/teachers' in request.path %}
                                /teachers{{ object.get_update_url }}
                                    {% else %}
                                        {{ object.get_update_url }}
                                    {% endif %}">Edit Course</a>
                            </li>
                            {% if '/students' not in request.path %}
                            <li class="list-group-item">
                                <button class="btn btn-success btn-sm paper-shadow relative" data-z="1"
                                    data-toggle="modal" data-target="#create_chapter_modal" data-animated
                                    id="add-newchapter-btn">Add
                                    Chapter</button>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- // END .panel -->

                    <!-- .panel -->
                    <div class=" panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
                        <div class="panel-body">
                            <div class="media v-middle">
                                <div class="media-left">
                                    <img src="images/people/110/guy-6.jpg" alt="About Adrian" width="60"
                                        class="img-circle" />
                                </div>
                                <div class="media-body">
                                    <h4 class="text-title margin-none"><a href="#">Adrian Demian</a></h4>
                                    <span class="caption text-light">Biography</span>
                                </div>
                            </div>
                            <br />
                            <div class="expandable expandable-indicator-white expandable-trigger">
                                <div class="expandable-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus
                                        aut
                                        consectetur consequatur cum cupiditate debitis doloribus, error ex
                                        explicabo harum illum minima mollitia nisi nostrum officiis omnis
                                        optio
                                        qui quisquam
                                        saepe sit sunt totam vel velit voluptatibus? Adipisci ducimus
                                        expedita
                                        id nostrum quas quia!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // END .panel -->

                    <!-- .panel -->
                    <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
                        <div class="panel-body">
                            <h4 class="text-headline">Other Courses</h4>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="media v-middle">
                                    <div class="media-left">
                                        <div class="icon-block s30 bg-grey-400 text-white">
                                            <i class="fa fa-mortar-board"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="link-text-color">Dolores explicabo mollitia nisi
                                            perspiciatis quas. Itaque.</a>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media v-middle">
                                    <div class="media-left">
                                        <div class="icon-block s30 bg-grey-400 text-white">
                                            <i class="fa fa-mortar-board"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="link-text-color">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing.
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media v-middle">
                                    <div class="media-left">
                                        <div class="icon-block s30 bg-grey-400 text-white">
                                            <i class="fa fa-mortar-board"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="link-text-color">A aliquam dolore et explicabo
                                            possimus vitae?</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- // END .panel -->

                </div>
                <!-- // END .page-section -->

            </div>
        </div>

    </div>

    <!-- /st-content-inner -->

    <!-- /st-content -->

</div>
<script>
    $('#add-newchapter-btn').on('click', function () {
        $('#create_chapter_modal_body').empty();
        $("#create_chapter_modal_body").append('<div class="se-pre-con-ajax"></div>');
        $('#create_chapter_modal_body').append(`<input type="hidden" name="Course_Code" id="id_Course_Code" value="{{ object.pk }}" class="select form-control">`);

        $.ajax({
            type: "GET",
            url: "{% url 'chapterinfo_create_ajax' %}",  // URL to your view that serves new info
            success: function (response) {
                $('#create_chapter_modal_body').append(response);
                Switchery(document.querySelector('.js-switch'));
            },
            error: function () {
                console.log('Error in generating chapter create form')
            },
            complete: function () {
                $(".se-pre-con-ajax").fadeOut("fast");
                $("#id_Chapter_No").val(lastchapter + 1);
            }
        });


    });
</script>
{% endblock %}