{% extends base_file %}
{% load static %}
{% load crispy_forms_tags %}

{% block stylesheet %}
{{ form.media }}
<link href="{% static 'vendorsx/nprogress/nprogress.css' %}" rel="stylesheet" />
<link href="{% static '/build/css/custom.min.css' %}" rel="stylesheet" />
<!-- <link href="{% static 'vendorsx/jQuery-Smart-Wizard/styles/smart_wizard.css' %}" rel="stylesheet" /> -->
<link href="{% static 'vendorsx/jQuery-Smart-Wizard/styles/smart_wizard_theme_dots.css' %}" rel="stylesheet" />
<style>
    .selector-available,
    .selector-chosen {
        width: 280px !important;
    }

    .selector select {
        width: 280px !important;
    }

    .selector .selector-available input {
        width: 210px !important;
    }
</style>
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item" aria-current="page">
    <a href="{% url 'inninginfo_list' %}">Session</a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    {% if '/inninginfo/create/' == request.path %} Register New Session {% else %}
    Edit Session {% endif %}
</li>
{% endblock %}

{% block content %}
<div class="headerDiv">
    <h2 class="infoFormHeader">
        {% if '/inninginfo/create/' == request.path %}
        Register New Sessions
        {% else %}
        Edit Session
        {% endif %}
    </h2>
    <hr class="header_hr" />
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" id="create_session_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">
                    Add New Session Name
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </div>
            <div class="modal-body" id="create_session_modal_body"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" id="create_group_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content box2">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">
                    Create Students Group
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </div>
            <div class="modal-body" id="create_groupmapping_modal_body"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" id="create_inninggroup_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content box3">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">
                    Assign Course to Teachers
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </div>
            <div class="modal-body" id="create_inninggroup_modal_body"></div>
        </div>
    </div>
</div>

<form class="form-horizontal form-label-left" method="post" id="FormID">
    {% csrf_token %}

    <div id="smartwizard" class="sw-theme-dots">
        <ul>
            <li><a href="#step-1">Step 1 <br><small>Choose Session Name</small></a></li>
            <li><a href="#step-2">Step 2<br /><small>Choose Interval</small></a></li>
            <li><a href="#step-3">Step 3<br /><small>Choose Students</small></a></li>
            <li><a href="#step-4">Step 4<br /><small>Choose Courses</small></a></li>
        </ul>
        <div>
            <div id="step-1">
                <h2 class="StepTitle text-center">Select Session Name</h2>
                {% block inning_name %}
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="col-md-9 col-sm-10 col-xs-12">
                        <div class="col-md-8 col-sm-12 col-xs-12 no-padding" style="float: right;">
                            {{ form.Inning_Name | as_crispy_field }}
                            <span id="step0Validate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-2 col-xs-12">
                        <h1>
                            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                data-target="#exampleModal1" id="add-newsession-btn"
                                style="margin-top: 17px; float: left;">
                                + Add New
                            </button>
                        </h1>

                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <br><span class="text-info">These session name are already predefined by University.<br>
                            Only if the session name is not defined previously you can create
                            New.</span>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="button-info">Read More Info...</div>
                        <div class="col-md-3"></div>
                        <p class="info-text col-md-6 col-sm-12 col-xs-12">
                            INFO: Session is the interval for which the particular
                            Course are taught and finished within it. It is the
                            breakdown of a program. For Ex: A Computer Engineering Bachelor
                            program can be divided into 8 Session and each Session has a fixed
                            Session Name, If it was taught yearwise then each year
                            can be named as Session Name. So Session represents the breakdown
                            of a particular study, where certain Courses are taught.
                        </p>
                    </div>
                </div>
                {%  endblock %}
            </div>
            <div id="step-2">
                <h2 class="StepTitle text-center">Select the duration of the Session</h2>
                <div class="col-md-12 col-sm-12 text-center">
                    <div class="col-md-6 col-sm-12 col-md-offset-3 text-center">
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <div id="div_id_Start_Date" class="form-group">
                                <label for="id_Start_Date" class="control-label">
                                    Start Date*
                                </label>
                                <div class="controls ">
                                    <input value="{{ object.Start_Date|date:'Y-m-d' }}" type="date" name="Start_Date"
                                        required="" id="id_Start_Date" class="datetimeinput form-control"
                                        max="9999-12-31" />
                                </div>
                            </div>
                            <span id="step1aValidate" class="text-danger"></span>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <div id="div_id_End_Date" class="form-group">
                                <label for="id_End_Date" class="control-label  requiredField">
                                    End Date*
                                </label>
                                <div class="controls ">
                                    <input value="{{ object.End_Date | date:'Y-m-d' }}" type="date" name="End_Date"
                                        required="" id="id_End_Date" class="datetimeinput form-control"
                                        min="{{datetime|date:'Y-m-d'}}" max="9999-12-31" />
                                </div>
                            </div>
                            <span id="step1bValidate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="step-3">
                <h2 class="StepTitle text-center">Choose Student Group for this Session</h2>
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="col-md-8 col-sm-12 col-xs-12 no-padding" style="float: right;">
                            {{ form.Groups | as_crispy_field }}
                            <span id="step2Validate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <h1>
                            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                data-target="#exampleModal2" id="add-newgroup-btn"
                                style="margin-top: 17px; float: left;">
                                + Create New Group
                            </button>
                        </h1>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="button-info">Read More Info...</div>
                        <div class="col-md-3"></div>
                        <p class="info-text col-md-6 col-sm-12 col-xs-12">
                            INFO: Please select the student group you have created for this
                            session. The student group will consists all the students enrolled
                            in this session. You can see it in detail in student group page.
                            Please make sure you have already created the batch or you can
                            also create it from here.
                        </p>
                    </div>
                </div>
            </div>
            <div id="step-4" class="no-padding">
                <h2 class="StepTitle text-center">Select Courses for Session</h2>
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <button type="button" class="btn btn-sm btn-primary" id="add-inninggroup-btn" data-toggle="modal"
                        data-target="#exampleModal3" style="margin-left:5em">+ Assign New Course </button>

                    <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3" style="width: auto;">
                        {{ form.Course_Group }}
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <span id="step3Validate" class="text-danger"></span>
                        <br>*You can select multiple courses by holding <code> ctrl</code> key on
                        Windows and <code> Command⌘</code> key on MAC.
                        <div class="text-center">
                            <div class="button-info">Read More Info...</div>
                            <div class="col-md-3"></div>
                            <p class="info-text col-md-6 col-sm-12 col-xs-12">
                                INFO: Please select the courses that are included in this session.
                                You can assign multiple courses, here the courses are mapped with
                                teachers who taught them in this session, multiple teachers can be
                                associated with the same course for particular session. Teacher
                                allocation can be diffenent among same course in different session
                                so a convient name can be given to it. EX: For Math course taught
                                in computer can be named as MATH COMP. and same course can be
                                taught by different teachers in electonics and named as MATH ELEX.
                                It is just a grouping of a course and differnt teachers associated
                                with it.
                            </p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <input type="hidden" id="id_Use_Flag" name="Use_Flag" value="True" />
                        </div>

                        <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                            <input type="hidden" name="Center_Code" id="id_Center_Code"
                                value="{{ request.user.Center_Code.id }}" class="select form-control" />
                        </div>
                        <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                            <input type="hidden" name="Register_Agent" id="id_Register_Agent"
                                value="{{ request.user.username }}" class="select form-control" />
                        </div>
                    </div>
                </div>

                <div class="submitButton col-md-12 col-sm-12 col-xs-12 text-center">
                    <button class="btn btn-success" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>


{% endblock %}

{% block javascript %}

<script src=" {% static 'vendorsx/jQuery-Smart-Wizard/js/jquery.smartWizard.js' %}"></script>

<script type="text/javascript">

    // Script to validate each step in wizard
    $(document).ready(function () {
        $("#smartwizard").smartWizard();
        $("#smartwizard").on("leaveStep", function (e, anchorObject, stepNumber, stepDirection) {
            if (stepNumber == 0) {
                if ($("#id_Inning_Name").val() == "") {
                    e.preventDefault()
                    $("#step0Validate").html("Select an Inning Name")
                }
                else {
                    $("#step0Validate").html("")
                }
            };
            if (stepNumber == 1) {
                var startDate = document.getElementById("id_Start_Date").value;
                var endDate = document.getElementById("id_End_Date").value;
                if ($("#id_Start_Date").val() == "") {
                    e.preventDefault()
                    $("#step1aValidate").html("Insert Start Date")
                }
                else if ($("#id_End_Date").val() == "") {
                    e.preventDefault()
                    $("#step1aValidate").html("")
                    $("#step1bValidate").html("Insert End Date")
                }
                else if (Date.parse(endDate) <= Date.parse(startDate)) {
                    e.preventDefault()
                    $("#step1aValidate").html("")
                    $("#step1bValidate").html("End date should be greater than Start date")
                }
                else {
                    $("#step1aValidate").html("")
                    $("#step1bValidate").html("")
                }
            };
            if (stepNumber == 2) {
                if ($("#id_Groups").val() == "") {
                    e.preventDefault()
                    $("#step2Validate").html("Select a Student Group")
                }
                else {
                    $("#step2Validate").html("")
                }
            };

        });
        $("#FormID").submit(function (e) {
            if ($("#id_Course_Group_to").has('option').length == '0') {
                e.preventDefault()
                $("#step3Validate").html("Select a Course")
            }
            else {
                $("#step3Validate").html("")

            }

        })
    });

    // toggle read more info display
    $(".button-info").click(function () {
        $("p.info-text").toggle();
    });

    // Display Add new session name popup modal
    $("#add-newsession-btn").on("click", function () {
        $("#create_session_modal_body").empty();
        $("#create_session_modal_body").append('<div class="se-pre-con-ajax"></div>');

        $.ajax({
            type: "GET",
            url: "{% url 'sessioninfo_create_ajax' %}", // URL to your view that serves new info
            success: function (response) {
                $("#create_session_modal_body").append(response);
            },
            error: function () {
                console.log("Error in generating session create form");
            },
            complete: function () {
                $(".se-pre-con-ajax").fadeOut("fast");
            }
        });

    });

    // Display add new student group popup modal
    $("#add-newgroup-btn").on("click", function () {
        $("#create_groupmapping_modal_body").empty();
        $("#create_groupmapping_modal_body").append('<div class="se-pre-con-ajax"></div>');

        $.ajax({
            type: "GET",
            url: "{% url 'group_create_ajax' %}", // URL to your view that serves new info
            success: function (response) {
                $("#create_groupmapping_modal_body").append(response);
            },
            error: function () {
                console.log("Error in generating group create form");
            },
            complete: function () {
                $(".se-pre-con-ajax").fadeOut("fast");
            }
        });

    });

    // Display add new teacher-course allocation popup modal
    $("#add-inninggroup-btn").on("click", function () {
        $("#create_inninggroup_modal_body").empty();
        $("#create_inninggroup_modal_body").append('<div class="se-pre-con-ajax"></div>');

        $.ajax({
            type: "GET",
            url: "{% url 'inninggroup_create_ajax' %}", // URL to your view that serves new info
            success: function (response) {
                $("#create_inninggroup_modal_body").append(response);
                window.addEventListener("load", function (e) {
                    $("select.selectfilter, select.selectfilterstacked").each(function () {
                        var $el = $(this),
                            data = $el.data();
                        SelectFilter.init(
                            $el.attr("id"),
                            data.fieldName,
                            parseInt(data.isStacked, 10)
                        );
                    });
                });
            },
            error: function () {
                console.log("Error in generating group create form");
            },
            complete: function () {
                $(".se-pre-con-ajax").fadeOut("fast");
            }
        });

    });

</script>

{% endblock %}