{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block breadcrumb %}
{% if usr %}
    <li class="breadcrumb-item"><a href="{% url 'memberinfo_list' %}">{% trans 'Member' %}</a></li>
{% else %}
    <li class="breadcrumb-item"><a href="{% url 'user_profile' %}">{% trans 'Profile' %}</a></li>
{% endif %}
{% if usr.username %}
<li class="breadcrumb-item"><a href="{{ usr.get_absolute_url }}">{{ usr.username }}</a></li>
{% endif %}
<li class="breadcrumb-item active" aria-current="page">{% trans 'Change Password' %}</li>
{% endblock %}
{% block content %}
<div class="col-md-6 changePW" id="FormID">

    <h3>{% trans 'Add' %}/{% trans 'Change Password' %}</h3>
    <h2>{% trans 'Member ID' %} -
        {% if usr.username %}
        <B>{{ usr.username }}</B>
        {% elif request.user.username %}
        <B>{{ request.user.username }}</B>
        {% endif %}
    </h2>


    <form method="post">

        {% csrf_token %}
        {{ form|crispy }}

        <input type="submit" value="Change" class="btn btn-success">
    </form>
</div>
{% endblock %}