{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
{% if usr %}
<li class="breadcrumb-item"><a href="{% url 'memberinfo_list' %}">Member</a></li>
{% else %}
<li class="breadcrumb-item"><a href="{% url 'user_profile' %}">Profile</a></li>
{% endif %}
{% if usr.username %}
<li class="breadcrumb-item"><a href="{{ usr.get_absolute_url }}">{{ usr.username }}</a></li>
{% endif %}
<li class="breadcrumb-item active" aria-current="page">Change Password</li>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="page-title d-block text-center">
        <h2>Add/Change Password</h2>
    </div>
</div>
<div class="col-md-6 card" style="margin:auto">
    <div class="card-body text-center">
        <h2>Member ID -
            {% if usr.username %}
            <B>{{ usr.username }}</B>
            {% elif request.user.username %}
            <B>{{ request.user.username }}</B>
            {% endif %}
        </h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Change" class="btn btn-success">
        </form>
    </div>
</div>
{% endblock %}