{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>LMS | Login</title>

    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/floating-labels.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"/>
</head>
<body>

<style>
    .form-label-group input:not(:placeholder-shown) ~ label {
        display: none;
    }


    .se-pre-con {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url(/static/images/uLMS2019_Loading_SVG.svg) center no-repeat #fff;
    }

</style>

<div class="se-pre-con"></div>

<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="alertModalLabel">Alert Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Skip</button>
        <button type="button" id="forcelogout" class="btn btn-warning">Force Logout & Continue</button>
    </div>
    </div>
</div>
</div>

<form class="form-signin" method="POST" action="" id="FormID">
    {% csrf_token %}
    <a href="/">
        <div class="text-center mb-4">
            <img class="mb-4" src="{% static 'images/logo_orange.png' %}" alt="UBL-logo-orange" width="80%"/>
        </div>

        <h1 class="mb-4" style="color: gray; text-align: center">
            <hr>
            u-LMS {% now "Y" %}
            <hr>
        </h1>
    </a>

    <div class="errors">
        {% include 'WebApp/theme/alerts.html' %}
    </div>
    

    <div class="form-inputs">
        <div class="form-label-group">
            <input name="username" type="text" id="id_username" class="form-control" placeholder="Username" required
                   autofocus>
            <label for="id_username">User Name</label>
        </div>

        <div class="form-label-group">
            <input name="password" type="password" id="id_password" class="form-control" placeholder="Password"
                   required>
            <label for="id_password">Password</label>
        </div>

        <div id="CreateAcc">
            Not Registered Yet? <a href="{% url 'register' %}">&nbsp;Create an Account </a>
        </div>

        <button class="btn btn-lg btn-primary btn-block" id="signIn" type="submit">
            Sign in
        </button>
    </div>

</form>
<div>

</div>

<script src="{% static 'vendorsx/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendorsx/bootstrap/dist/js/bootstrap-4.3.1.min.js' %}"></script>

<script>

    try {
        Print.postMessage('loginRequired');
        setTimeout(function () {
            $('div.alert').fadeOut('slow');
        }, 3000);
    } catch (e) {

    }

    try {
        localStorage.clear();

    } catch (e) {

    }

    try {
        self.caches.delete('pwabuilder-adv-cache');
        navigator.serviceWorker.getRegistrations().then(function (registrations) {
            for (let registration of registrations) {
                registration.unregister()
            }
        });
    } catch (e) {

    }

    $(window).load(function () {
        $(".se-pre-con").fadeOut("fast");
    });

    window.addEventListener('beforeunload', function (e) {
        // the absence of a returnValue property on the event will guarantee the browser unload happens
        $(".se-pre-con").fadeIn("fast");
    });

    // Login Submit
    $('#signIn').click(function(e) {
        e.preventDefault();
        $('#signIn').append(`<span class="spinner-border spinner-border-sm" style="width: 1.5rem; height: 1.5rem;" role="status" aria-hidden="true"></span>`);
        $('#signIn').attr('disabled', true);
        $.ajax({
            type: "POST",
            url: "{% url 'login' %}",
            data: {
                csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
                username: $("#id_username").val(), // < note use of 'this' here
                password: $("#id_password").val(),
                forcelogin: ''
            },
            success: function(result) {
                if(result.msg){
                    $('#alertModal').modal('show');
                    $('.modal-body').html(`<br>${result.msg}<br><br>`);
                    $('#signIn').attr('disabled', false);
                    $('#signIn').find(`.spinner-border`).remove();
                } else {
                    location.reload();
                }
            },
            error: function(result) {
                alert('Error login Try again');
            }
        });
    });

    $('#forcelogout').click(function(e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'login' %}",
            data: {
                csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
                username: $("#id_username").val(), // < note use of 'this' here
                password: $("#id_password").val(),
                forcelogin: '1' 
            },
            success: function(result) {
                location.reload();
            },
            error: function(result) {
                alert('Error login Try again');
            }
        });
    });

    setTimeout(function () {
        $('#alert-message').fadeOut('slow');
    }, 3000);

</script>

</body>
</html>
