{% load static %}
{% load crispy_forms_tags %}

<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>

{{ form.media }}
<form method="post" id="mcq_form_post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">

        {{ form.content|as_crispy_field }}

        <div id="option_dynamic_append">
            {{ answers_formset.management_form }}
            {% for form in answers_formset %}
                <div class="row form-group form-row">
                    <div style="display: none" class="delete-ans-checkbox">
                        {{ form.DELETE }}
                    </div>
                    <div class="">
                        {{ form.content|as_crispy_field }}
                    </div>

                    <div class="correct-ans-checkbox col-md-2">
                        {{ form.correct|as_crispy_field }}
                    </div>

                    <div class="form-button-div col-md-1">
                        <button type="button" class="btn btn-danger remove-form-row">x</button>
                    </div>
                    
                    
                </div>
                {% for fields in form.hidden_fields %}
                    {{ fields }}
                {% endfor %}
            {% endfor %}
        </div>
        <div class="text-danger" id="option_error"></div>
        <div class="add-more">
            <a class="add-more-text" value="Add More" id="add_more"> <i class=" fa fa-plus">&nbsp;</i>Add more
                options</a>
        </div>
        <hr>


        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1">More Options</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">

                    {{ form.answer_order|as_crispy_field }}
                    {{ form.figure|as_crispy_field }}
                    {{ form.score|as_crispy_field }}
                    {{ form.explanation|as_crispy_field }}

                    {{ form.course_code|as_crispy_field }}
                    {{ form.cent_code|as_crispy_field }}
                </div>
            </div>
        </div>


    </div>
    {% if quiz_id %}
        <input name="quiz_id" value="{{ quiz_id }}" type="hidden">
    {% endif %}

    <hr>
    <!-- <input class="add-mcq" type="button" value="Add More" id="add_more">  -->
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

{% block customjss %}
    <script>
        function cloneMore(selector, prefix) {
            var newElement = $(selector).clone(true);
            var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
            newElement.find(':input:not([type=button])').each(function () {
                var name = $(this).attr('name').replace('-' + (total - 1) + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });
            newElement.find('label').each(function () {
                var forValue = $(this).attr('for');
                if (forValue) {
                    forValue = forValue.replace('-' + (total - 1) + '-', '-' + total + '-');
                    $(this).attr({'for': forValue});
                }
            });
            newElement.find('div:nth-child(2) .form-group').attr({'id': "div_id_answer_set-"+ total +"-content"});
            newElement.find('.form-group .checkbox').attr({'id': "div_id_answer_set-"+ total +"-correct"});
            newElement.find('.checkboxinput').removeAttr( "value");
            total++;
            $('#id_' + prefix + '-TOTAL_FORMS').val(total);
            $(selector).after(newElement);
            var conditionRow = $('.form-row:not(:last)');
            return false;
        }

        function updateElementIndex(el, prefix, ndx) {
            var id_regex = new RegExp('(' + prefix + '-\\d+)');
            var replacement = prefix + '-' + ndx;
            if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
            if (el.id) el.id = el.id.replace(id_regex, replacement);
            if (el.name) el.name = el.name.replace(id_regex, replacement);
        }

        function deleteForm(prefix, btn) {
            var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
            if ($('.form-row:visible').length > 2) {
                btn.closest('.form-row').css('display', 'none');
                btn.closest('.form-row').find('.delete-ans-checkbox input[type=checkbox]').prop('checked', true);
                btn.closest('.form-row').find('.correct-ans-checkbox input[type=checkbox]').prop('checked', false);
                var forms = $('.form-row');
                $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);

                for (var i = 0, formCount = forms.length; i < formCount; i++) {
                    $(forms.get(i)).find(':input').each(function () {
                        updateElementIndex(this, prefix, i);
                    });
                }
            }
            return false;
        }

        $(document).on('click', '.remove-form-row', function (e) {
            e.preventDefault();
            deleteForm('answer_set', $(this));
            return false;
        });

        function copyEmptyOption(selector, append_after, type) {
            var optionId = $('#id_' + type + '-TOTAL_FORMS').val();
            var str1 = String(type + '-' + optionId);
            var r1 = new RegExp(type + '\-__prefix__', 'g');

            $(append_after).append($(selector).html().replace(r1, str1));
            optionId++;
            $('#id_' + type + '-TOTAL_FORMS').val(optionId);
        }

        $('#add_more').click(function (e) {
            {#copyEmptyOption('#emptyOptionForm', '#option_dynamic_append', 'answer_set');#}
            e.preventDefault();
            cloneMore('.form-row:visible:last', 'answer_set');
            return false;
        });


        $(".multiField").addClass("col-md-12");
        $(".multiField > .form-group").addClass('col-md-3');

        $('div[id$="-content"]').addClass("col-md-6");
        $('div[id$="-content"]').removeClass("col-md-3");
        //$('div[id$="-correct"]').addClass("col-md-3");
        //$('div[id$="-DELETE"]').addClass("col-md-3");
        $('p[id^="hint_id_answer_set"]').remove();

        //$(".control-label").after(`&nbsp;`);

        $('div[id^="div_id_answer_set"]').wrapInner("<div class='col-md-12 answer_set_wrapper' ></div>");
        $('label[for^="id_answer_set"]').wrap("<div class='col-md-3'></div>");
        $('.answer_set_wrapper > .controls').addClass('col-md-9');

        $('#div_id_content').addClass('col-md-12');
        $('#div_id_answer_order, #div_id_figure, #div_id_score').wrapAll("<div class = col-md-12></div>");
        $('#div_id_answer_order').addClass('col-md-4');
        $('#div_id_figure').addClass('col-md-4');
        $('#div_id_score').addClass('col-md-4');


        $('label').addClass("quiz-add-label");

        $("#mcq_form_post").submit(function (e) {
            e.preventDefault(); // avoid to execute the actual submit of the form.
            //form validation:

            var is_checked = false;
            var cnt = 0;
            var non_empty_count = 0;
            console.log(new FormData($(this)[0]));
            for (cnt = 0; cnt < $("#id_answer_set-TOTAL_FORMS").val(); cnt++) {
                if ($("#id_answer_set-" + cnt + "-correct").is(':checked')) {
                    is_checked = true;
                    if ($("#id_answer_set-" + cnt + "-content").val().length == 0) {
                        $("#option_error").html("Correct answer cannot be empty");
                        return false;
                    }
                }
                if ($("#id_answer_set-" + cnt + "-content").val().length > 0) {
                    non_empty_count++;
                }
            }
            if (non_empty_count < 2) {
                $("#option_error").html("Please enter at least two answers");
                return false;
            }
            if (!is_checked) {
                $("#option_error").html("Please select at least one correct answer");
                return false;
            }

            
            $.ajax({
                //https://stackoverflow.com/questions/166221/how-can-i-upload-files-asynchronously
                cache: false,
                contentType: false,
                processData: false,
                data: new FormData($(this)[0]),
                url: "{{ post_url }}", // URL to your view that serves new info
                //data: $(this).serialize(), // get the form data
                type: $(this).attr('method'), // GET or POST
                success: function (response) {
                    mcq_success(response);
                },
                error: function () {
                    console.log('Error in posting form');
                }
            });
        });

        $("#div_id_course_code").hide();
        $("#id_course_code").val('{{ course_from_quiz }}');
        $("#div_id_cent_code").hide();
        $("#id_cent_code").val('{{ request.user.Center_Code.id }}');
        $('.modal-dialog').css("width", "80%").css("height", "90vh").css("overflow", "auto");
    </script>
{% endblock customjss %}