{% load i18n %}
<table class="table table-bordered table-striped">

    <thead>
    <tr>
      <th class="quiz-capital">{% trans "S.N." %}</th>
      <th class="quiz-capital">{% trans "Start Date" %}</th>
      <th class="quiz-capital">{% trans "End Date" %}</th>
      <th class="quiz-capital">{% trans "Marks Obtained" %}</th>
      <th class="quiz-capital">{% trans "Progress" %}</th>
      <th class="quiz-capital">{% trans "Complete" %}</th>
    </tr>
    </thead>

    <tbody>

    {#    {% for sitting in sittings %}#}
    {% for sitting in sittings %}

      <tr>
        <td><a href="{% url 'student_progress_detail' pk=sitting.pk %}">{{ forloop.counter }}</a></td>
        <td>{{ sitting.start|date:'M d, Y H:i' }}</td>
        <td>{{ sitting.end|date:'M d, Y H:i' }}</td>
        <td>{{ sitting.current_score }}&nbsp;&nbsp;({{ sitting.get_percent_correct }}%)</td>
        <td>
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar"
                 aria-valuenow="{{ sitting.get_progress }}"
                 aria-valuemin="0" aria-valuemax="100" style="width:{{ sitting.get_progress }}%">
              {{ sitting.get_progress }}% Complete
            </div>
          </div>
        </td>
        <td>
          {% if sitting.complete %}
            <i class="fa fa-check fa-2x text-success"></i>
          {% else %}
            <i class="fa fa-times fa-2x text-danger"></i>
          {% endif %}
        </td>
      </tr>
    {% endfor %}

    </tbody>

  </table>
