{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">QUIZ</li>
{% endblock %}

{% block content %}
<style>
    .filter-quiz li{
        display: inline;
        padding-right: 10px;
    }
</style>

<div class="mb-3">
    <h2 class="text-primary d-inline">
        {% trans 'List Of Quizzes' %}
    </h2>
    <div class="float-right pt-1">
        <!-- <a class="btn btn-primary icon-quiz-list " href="{% url 'quizfw' %}">
            <i data-feather="plus"></i>&nbsp;
            {% trans 'Create Quiz' %}
        </a> -->
        <button class="btn btn-primary icon-quiz-list " data-toggle="modal" data-target="#create_quiz_modal" id="create_quiz_modal_btn">
            <i data-feather="plus"></i>&nbsp;
            {% trans 'Create Quiz' %}
        </button>
    </div>
</div>
    
{% if quiz_list %}

<div class="col-12 text-center mb-3">
    <ul class="filter-quiz text-center" style="list-style: none; ">
        <li class="font-weight-bold">Filter:</li>
        <li>
            <div class="dropdown">
                <button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-toggle="dropdown">
                Course
                </button>
                <div class="dropdown-menu">
                {% for quiz in quiz_list %}
                    <a class="dropdown-item" href="#">{{ quiz.course_code }}</a>
                {% endfor %}  
                </div>  
            </div>
        </li>
        <li>
            <div class="dropdown">
                <button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-toggle="dropdown">
                Chapter
                </button>
                <div class="dropdown-menu">
                    {% for quiz in quiz_list %}
                        <a class="dropdown-item" href="#">{{ quiz.chapter_code }}</a>
                    {% endfor %}  
                </div>
            </div>
        </li>
        <li>
            <div class="dropdown">
                <button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-toggle="dropdown">
                Session
                </button>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="table-responsive">
    <table id="QuizTable" data-toggle="data-table" class="table table-striped table-bordered" cellspacing="0"
        width="100%">
        <thead class="thead-dark">
            <tr>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Course " %}</th>
                <th>{% trans "Chapter" %}</th>
                <th>{% trans "No. of Questions" %}</th>
                <th>{% trans "Attempt Type" %}</th>
                <th>{% trans "Updated On" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Action" %}</th>
            </tr>
        </thead>

        <tbody>
            {% for quiz in quiz_list %}
            {% if not quiz.exam_paper %}
            <tr>
                <td>{% if quiz.pre_test %}
                    Pre Test <br>
                    {% endif %}
                    {% if quiz.post_test %}
                    Post Test <br>
                    {% endif %}
                    {% if quiz.exam_paper %}
                    Exam <br>
                    {% endif %}
                </td>
                <td>{{ quiz.title }}</td>
                <td>{{ quiz.course_code }}</td>
                <td>{{ quiz.chapter_code }}</td>
                <td>{{ quiz.question_count }}</td>
                <td>{% if quiz.single_attempt %}
                    Single Attempt <br>
                    {% endif %}
                </td>
                <td class="datecon">
                    {{ quiz.updated_date|date:'M d, Y H:i' }}
                </td>
                <td>{% if quiz.draft is True %}
                    <span class="badge badge-danger">Inactive</span>
                    {% else %}
                    <span class="badge badge-success">Active</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'quiz_detail' pk=quiz.id %}">
                        <span class="text-primary"> <b>{% trans "View details" %}</b>
                        </span>
                    </a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% else %}
    <p>{% trans "There are no available quizzes" %}.</p>
{% endif %}

<div class="modal fade" id="create_quiz_modal" tabindex="-1" role="dialog" aria-labelledby="create_quiz_modal_label"
    aria-hidden="true" style="overflow-y: scroll;">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold" id="create_quiz_modal_label">Create Quiz</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body" id="create_quiz_modal_body">
                
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="create_question_modal" tabindex="-1" role="dialog"
    aria-labelledby="create_question_modal_label" aria-hidden="true" style="overflow-y: scroll;">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold" id="create_question_modal_label">Create Question
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#create_quiz_modal">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body" id="create_question_modal_body">
               
            </div>
        </div>
    </div>
</div>

{% endblock %}


<!-- <button type="button" class="btn btn-outline-primary mr-2 mb-2" data-toggle="modal" data-target="#exampleModal">
                    <i data-feather="plus"></i>&nbsp;  Create Quiz
                    </button>
                    
                    <div class="modal" tabindex="-1" role="dialog" id="exampleModal" style="height: 90vh; overflow:auto">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="ti-close"></i>
                            </button>
                        </div>
                        <div class="modal-body text-left">
                            <form method="post" id="quiz_form_post" onsubmit="return validateForm()" action="/quiz/create/?chapter_id=None&amp;course_id=2&amp;test_type=exam_paper">
                                <input type="hidden" name="csrfmiddlewaretoken" value="cXh08Om7P5pu0dHnm1Da0A9BonrNh7J4V6UbGDL5rfuIhYxcXlNNqQ6UT0r0hFTl">
                                    <div class="title_div mb-4">
                                        <div id="div_id_title" class="form-group">
                                            <label for="id_title" class="control-label  requiredField">
                                            Title
                                                <span class="asteriskField">*</span>
                                            </label>
                                            <div class="controls ">
                                                <input type="text" name="title" value="testing: Quiz 01/30/21 18:37" class="textinput textInput form-control" required="" id="id_title">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="accordion">
                                            <div class="card">
                                                <div class="card-header border-0" id="headingOne">
                                                    <h5 class="mb-0">
                                                        <a href="javascript:void(0)" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" type="button" class="text-dark collapsed">
                                                            <i class="fa fa-list"></i>
                                                    Manage Multiple Choice Questions
                                                
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" style="">
                                                    <div class="card-body">
                                                        <div id="div_id_mcquestion" class="form-group">
                                                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                                                <label for="id_mcquestion" class="control-label ">
                                            Multiple Choice Questions
                                        </label>
                                                            </div>
                                                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                                                <button type="button" class="btn btn-sm btn-outline-secondary qts-button mb-5" id="mcq_create_button" data-toggle="modal" data-target="#question_form_popup">Add Multiple Choice Question
                                        </button>
                                                            </div>
                                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="accordion">
                                                <div class="card">
                                                    <div class="card-header border-0" id="headingTwo">
                                                        <h5 class="mb-0">
                                                            <a href="javascript:void(0)" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" type="button" class="text-dark collapsed">
                                                                <i class="fa fa-bookmark "></i>
                                                    Manage True/False Questions
                                                
                                                            </a>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                                                        <div class="card-body">
                                                            <div id="div_id_tfquestion" class="form-group">
                                                                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                                                    <label for="id_tfquestion" class="control-label ">
                                            True/False Questions
                                        </label>
                                                                </div>
                                                                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                                                    <button type="button" class="btn btn-sm btn-outline-secondary qts-button mb-5" id="tfq_create_button" data-toggle="modal" data-target="#question_form_popup">Add True/False question
                                        </button>
                                                                </div>
                                                            
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="accordion">
                                                    <div class="card">
                                                        <div class="card-header border-0" id="headingThree">
                                                            <h5 class="mb-0">
                                                                <a href="javascript:void(0)" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" type="button" class="text-dark collapsed">
                                                                    <i class="fa fa-align-right"></i>
                                                    Manage Short Answer Type Questions
                                                
                                                                </a>
                                                            </h5>
                                                        </div>
                                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion" style="">
                                                            <div class="card-body">
                                                                <div id="div_id_saquestion" class="form-group">
                                                                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                                                        <label for="id_saquestion" class="control-label ">
                                            Short Answer Type Questions
                                        </label>
                                                                    </div>
                                                                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                                                        <button type="button" class="btn btn-sm btn-outline-secondary qts-button mb-5" id="saq_create_button" data-toggle="modal" data-target="#question_form_popup">Add Short Answer question
                                        </button>
                                                                    </div>
                                                                    <div class="controls ">
                                                                        <div class="selector">
                                                                            <div class="selector-available">
                                                                                <h2>Available SAQs 
                                                                                    <span class="help help-tooltip help-icon" title="This is the list of available SAQs. You may choose some by selecting them in the box below and then clicking the &quot;Choose&quot; arrow between the two boxes."></span>
                                                                                </h2>
                                                                                <p id="id_saquestion_filter" class="selector-filter">
                                                                                    <label for="id_saquestion_input">
                                                                                        <span class="help-tooltip search-label-icon" title="Type into this box to filter down the list of available SAQs."></span>
                                                                                    </label>
                                                                                    <input type="text" placeholder="Filter" id="id_saquestion_input">
                                                                                    </p>
                                                                                    <select name="saquestion_old" class="filtered" id="id_saquestion_from" multiple="" data-field-name="SAQs" data-is-stacked="0"></select>
                                                                                    <a title="Click to choose all SAQs at once." href="#" id="id_saquestion_add_all_link" class="selector-chooseall">Choose all</a>
                                                                                </div>
                                                                                <ul class="selector-chooser">
                                                                                    <li>
                                                                                        <a title="Choose" href="#" id="id_saquestion_add_link" class="selector-add">Choose</a>
                                                                                    </li>
                                                                                    <li>
                                                                                        <a title="Remove" href="#" id="id_saquestion_remove_link" class="selector-remove">Remove</a>
                                                                                    </li>
                                                                                </ul>
                                                                                <div class="selector-chosen">
                                                                                    <h2>Chosen SAQs 
                                                                                        <span class="help help-tooltip help-icon" title="This is the list of chosen SAQs. You may remove some by selecting them in the box below and then clicking the &quot;Remove&quot; arrow between the two boxes."></span>
                                                                                    </h2>
                                                                                    <select id="id_saquestion_to" multiple="multiple" size="0" name="saquestion" class="filtered" style="height: 241.8px;"></select>
                                                                                    <a title="Click to remove all chosen SAQs at once." href="#" id="id_saquestion_remove_all_link" class="selector-clearall">Remove all</a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="accordion">
                                                        <div class="card">
                                                            <div class="card-header border-0" id="headingFour">
                                                                <h5 class="mb-0">
                                                                    <a href="javascript:void(0)" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" type="button" class="text-dark collapsed">
                                                                        <i class="fa fa-align-right"></i>
                                                    More Options
                                                
                                                                    </a>
                                                                </h5>
                                                            </div>
                                                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion" style="">
                                                                <div class="card-body">
                                                                    <div id="div_id_description" class="form-group">
                                                                        <label for="id_description" class="control-label ">
                                            Description
                                        </label>
                                                                        <div class="controls ">
                                                                            <textarea name="description" cols="40" rows="4" class="textarea form-control" id="id_description"></textarea>
                                                                            <p id="hint_id_description" class="help-block">a description of the quiz</p>
                                                                        </div>
                                                                    </div>
                                                                    <div id="div_id_duration" class="form-group">
                                                                        <label for="id_duration" class="control-label ">
                                            Time limit for quiz
                                        </label>
                                                                        <div class="controls ">
                                                                            <input type="number" name="duration" value="1800" class="numberinput form-control" id="id_duration" style="display: none;">
                                                                                <div class="bdp-input">
                                                                                    <div class="bdp-block hidden">
                                                                                        <input class="form-control input-sm" type="number" min="0" value="0">
                                                                                            <div id="bdp-days-label">days</div>
                                                                                        </div>
                                                                                        
                                                                                            <div class="bdp-block ">
                                                                                                <input class="form-control input-sm" type="number" min="0" value="0" max="59">
                                                                                                    <div id="bdp-minutes-label">minutes</div>
                                                                                                </div>
                                                                                                <div class="bdp-block hidden">
                                                                                                    <input class="form-control input-sm" type="number" min="0" value="0" max="59">
                                                                                                        <div id="bdp-seconds-label">seconds</div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <p id="hint_id_duration" class="help-block">Time limit for quiz</p>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div id="div_id_pass_mark" class="form-group">
                                                                                            <label for="id_pass_mark" class="control-label ">
                                            Pass Mark
                                        </label>
                                                                                            <div class="controls ">
                                                                                                <input type="number" name="pass_mark" value="40" class="numberinput form-control" id="id_pass_mark">
                                                                                                    <p id="hint_id_pass_mark" class="help-block">Percentage required to pass exam.</p>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <div id="div_id_negative_marking" class="checkbox">
                                                                                                    <label for="id_negative_marking" class="">
                                                                                                        <input type="checkbox" name="negative_marking" class="checkboxinput" id="id_negative_marking">
                                                Negative Marking
                                            
                                                                                                        </label>
                                                                                                        <p id="hint_id_negative_marking" class="help-block">If checked, incorrect answers will have negative marking</p>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div id="div_id_negative_percentage" class="form-group" style="display: none;">
                                                                                                    <label for="id_negative_percentage" class="control-label ">
                                            Negative Marking Percentage
                                        </label>
                                                                                                    <div class="controls ">
                                                                                                        <input type="number" name="negative_percentage" value="0" class="numberinput form-control" id="id_negative_percentage">
                                                                                                            <p id="hint_id_negative_percentage" class="help-block">Percentage of total marks to use for negative marking</p>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="form-group">
                                                                                                        <div id="div_id_random_order" class="checkbox">
                                                                                                            <label for="id_random_order" class="">
                                                                                                                <input type="checkbox" name="random_order" class="checkboxinput" id="id_random_order">
                                                Random Order
                                            
                                                                                                                </label>
                                                                                                                <p id="hint_id_random_order" class="help-block">Display the questions in a random </p>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-12 mt-3 text-center">
                                                                                            <button id="quiz_submit_button" class="btn btn-success" type="submit">Submit</button>
                                                                                        </div>
                                                                                    </form>
                        </div>
                        
                        </div>
                    </div>
                    </div> -->

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
    var table_main = $('#QuizTable').DataTable({
        responsive: true,
        dom: 'lBfrtip',
        buttons: [],
        "bSort" : false
        });
    });

    $('#create_quiz_modal_btn').on('click', function () {
        $.ajax({
            type: "GET",
            url: "{% url 'quiz_single_page' %}",  // URL to your view that serves new info
            success: function (response) {
                $('#create_quiz_modal_body').empty();
                $('#create_quiz_modal_body').append(response);
            },
            error: function () {
                console.log('Error in generating create quiz form')
            }
        });
    });

   
</script>
{% endblock %}