{% extends 'base.html' %}
{% load i18n %}


{% block title %}
  {{ quiz.title }}
{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'quiz_list' %}">QUIZ</a></li>



  <li class="breadcrumb-item active" aria-current="page">{{ quiz.title }}</li>
{% endblock %}

{% block content %}
  
{% include "../quiz_base/quiz_detail.html" %}
  
{% endblock %}

{% block javascript %}
  <script>
      $(document).on('click', '.confirm-remove', function (event) {
          ans = confirm('Are you sure you want to remove this Question?');
          if (ans == true) {
              $(this).parents('form:first').submit();
          } else {
              return false;
          }
      });
      $(document).on('click', '.confirm-activate', function (event) {
          ans = confirm('Are you sure you want to activate this Quiz?');
          if (ans == true) {
              $(this).parents('form:first').submit();
          } else {
              return false;
          }
      });
      $(document).on('click', '.confirm-deactivate', function (event) {
          ans = confirm('Are you sure you want to deactivate this Quiz?');
          if (ans == true) {
              $(this).parents('form:first').submit();
          } else {
              return false;
          }
      });
      $('#mcq_create_button').on('click', function () {
          $.ajax({
              type: "GET",
              data: {'course_from_quiz': '{{ quiz.course_code.id }}', 'quiz_id': '{{ quiz.id }}'},
              url: "{% url 'mcquestion_create' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#question_model_title").html("Create Multiple Choice Question");
                  $("#question_form_ajax").html(data);
              }
          });
      });
      $('#mcq_choose_button').on('click', function () {
          $.ajax({
              type: "GET",
              url: "{% url 'choose_mcq' pk=quiz.pk %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#question_model_title").html("Choose Multiple Choice Question");
                  $("#question_form_ajax").html(data);
              }
          });
      });
      $('#tfq_create_button').on('click', function () {
          $.ajax({
              type: "GET",
              data: {'course_from_quiz': '{{ quiz.course_code.id }}', 'quiz_id': '{{ quiz.id }}'},
              url: "{% url 'tfquestion_create' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#question_model_title").html("Create True/False Question");
                  $("#question_form_ajax").html(data);
              }
          });
      });
      $('#tfq_choose_button').on('click', function () {
          $.ajax({
              type: "GET",
              url: "{% url 'choose_tfq' pk=quiz.pk %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#question_model_title").html("Choose True/False Question");
                  $("#question_form_ajax").html(data);
              }
          });
      });
      $('#saq_create_button').on('click', function () {
          $.ajax({
              type: "GET",
              data: {'course_from_quiz': '{{ quiz.course_code.id }}', 'quiz_id': '{{ quiz.id }}'},
              url: "{% url 'saquestion_create' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#question_model_title").html("Create Short Answer Question");
                  $("#question_form_ajax").html(data);
              }
          });
      });
      $('#saq_choose_button').on('click', function () {
          $.ajax({
              type: "GET",
              url: "{% url 'choose_saq' pk=quiz.pk %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#question_model_title").html("Choose Short Answer Question");
                  $("#question_form_ajax").html(data);
              }
          });
      });
      {% for quest in quiz.mcquestion.all %}
          $('#mcq_{{ quest.id }}_update_button').on('click', function () {
              $.ajax({
                  type: "GET",
                  data: {'course_from_quiz': '{{ quiz.course_code.id }}', 'quiz_id': '{{ quiz.id }}'},
                  url: "{% url 'mcquestion_update' pk=quest.pk %}",  // URL to your view that serves new info
                  success: function (data) {
                      $("#question_model_title").html("Create Multiple Choice Question");
                      $("#question_form_ajax").html(data);
                  }
              });
          });
      {% endfor %}
      {% for quest in quiz.tfquestion.all %}
          $('#tfq_{{ quest.id }}_update_button').on('click', function () {
              $.ajax({
                  type: "GET",
                  data: {'course_from_quiz': '{{ quiz.course_code.id }}', 'quiz_id': '{{ quiz.id }}'},
                  url: "{% url 'tfquestion_update' pk=quest.pk %}",  // URL to your view that serves new info
                  success: function (data) {
                      $("#question_model_title").html("Create True/False Question");
                      $("#question_form_ajax").html(data);
                  }
              });
          });
      {% endfor %}
      {% for quest in quiz.saquestion.all %}
          $('#saq_{{ quest.id }}_update_button').on('click', function () {
              $.ajax({
                  type: "GET",
                  data: {'course_from_quiz': '{{ quiz.course_code.id }}', 'quiz_id': '{{ quiz.id }}'},
                  url: "{% url 'saquestion_update' pk=quest.pk %}",  // URL to your view that serves new info
                  success: function (data) {
                      $("#question_model_title").html("Create Short Answer Question");
                      $("#question_form_ajax").html(data);
                  }
              });
          });
      {% endfor %}
      function mcq_success(response) {
          location.reload();
      }

      function tfq_success(response) {
          location.reload();
      }

      function saq_success(response) {
          location.reload();
      }
  </script>
{% endblock javascript %}