{% load static %}
{% load crispy_forms_tags %}
{{ form.media }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'duration_picker/bootstrap-duration-picker.css' %}"/>

{% block content %}
<style>
    .control-label{
        color: #5c6bc0;
        font-weight: bold;
        margin-bottom: 0;
    }
    .help-block{
        color: #33b5e5;
        margin-bottom: 0;
    }
    .select-div{
        text-align: center;
        position: relative;
        left: 14%;
    }
    .select-div-choices{
        width: auto;
        padding: 10px;
        border: 1px solid;
        cursor: pointer;
    }
    .choose-mcq:hover,
    .choose-saq:hover,
    .choose-tfq:hover{
        background-color: #5c6bc0;
        color: white;
    }

    .question-selected{
        visibility: visible;
        height: auto;
    }
    .question-unselected{
        visibility: hidden;
        height: 0;
    }
    .option-selected{
        background-color: #5c6bc0;
        color: white;
    }
    .option-unselected{
        background-color: white;
        color: black;
    }
</style>
    <!-- <div class="col-12 text-center">
        <h2 class="text-primary">Edit {{ quiz.title }}</h2>
    </div> -->
    <form action="{% url 'quiz_single_page' %}" method="post" onsubmit="return validateForm()">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="col-12 p-0 mb-2">
            {{ form.title|as_crispy_field }}
        </div>
        <div class="row">
            <div class="col-6 mb-2">
                {{ form.course_code|as_crispy_field }}
            </div>
            <div class="col-6 mb-2">
                {{ form.chapter_code|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-2">
                <div id="div_id_description" class="form-group">
                    <div class="d-flex align-items-center justify-content-between">
                        <label for="id_description" class="control-label quiz-add-label">
                            Description
                        </label>
                        <p id="hint_id_description" class="help-block">(A description of the quiz)</p>
                    </div>
                    <div class="controls">
                        <textarea name="description" cols="40" rows="12" class="textarea form-control h-auto"
                            id="id_description"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-6 mb-2">
                <div id="div_id_success_text" class="form-group">
                    <div class="d-flex align-items-center justify-content-between">
                        <label for="id_success_text" class="control-label quiz-add-label">
                            Success Text
                        </label>
                        <p id="hint_id_success_text" class="help-block">(Displayed if user passes)</p>
                    </div>
                    <div class="controls">
                        <textarea name="success_text" cols="40" rows="1" class="textarea form-control h-auto"
                            id="id_success_text">Congratulations!!!.</textarea>
                    </div>
                </div>
                <hr />
                <div id="div_id_fail_text" class="form-group">
                    <div class="d-flex align-items-center justify-content-between">
                        <label for="id_fail_text" class="control-label quiz-add-label">
                            Fail Text
                        </label>
                        <p id="hint_id_fail_text" class="help-block">(Displayed if user fails)</p>
                    </div>
                    <div class="controls ">
                        <textarea name="fail_text" cols="40" rows="1" class="textarea form-control h-auto"
                            id="id_fail_text">Sorry, You Failed!.</textarea>
                    </div>
                </div>
            </div>
        </div>
       <hr />
        <div class="row">
            <label class="control-label col-12 mb-3">
                Choose Quiz Type
            <div id="test_error" class="text-danger"></div>

            </label>
            <div class="col-6">
                {{ form.pre_test|as_crispy_field }}
                {{ form.post_test|as_crispy_field }}
                {{ form.exam_paper|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.duration|as_crispy_field }}
                {{ form.pass_mark|as_crispy_field }}
            </div>
        </div>
        <hr />
        <div>
            <label class="control-label mb-3">
                Choose Quiz Features
            </label>
            <div class="d-flex justify-content-between">
                <!-- <div id="negate_per"> -->
                {{ form.negative_marking|as_crispy_field }}
                <!-- </div> -->
                {{ form.random_order|as_crispy_field }}
                {{ form.single_attempt|as_crispy_field }}
                {{ form.draft|as_crispy_field }}
            </div>
            <div>
                {{ form.negative_percentage|as_crispy_field}}
            </div>
        </div>
        <hr />
        <div class="mb-3">
            <label class="control-label mb-2">
                Choose Type of Question 
            <div id="select_error" class="text-danger font-weight-bold"></div>
            </label>
            <div class="d-flex justify-content-center">
                <div class="select-div-choices choose-mcq">Multiple Choice Question</div>
                <div class="select-div-choices choose-saq">Short Answer Question</div>
                <div class="select-div-choices choose-tfq">True/False Question</div>
            </div>
        </div>
        <div class="d-inline-block select-div mcq-div">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create_question_modal" id="create_question_modal_btn">
                <i data-feather="plus"></i>&nbsp;
                Add MCQ
            </button>
            {{ form.mcquestion|as_crispy_field }}
        </div>
        <div class="d-inline-block select-div saq-div">
            {{ form.saquestion|as_crispy_field }}
        </div>
        <div class="d-inline-block select-div tfq-div">
            {{ form.tfquestion|as_crispy_field }}
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <div class="modal fade" id="create_question_modal" tabindex="-1" role="dialog" aria-labelledby="create_question_modal_label"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold" id="create_question_modal_label">Create Question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body" id="create_question_modal_body">
                
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    <script src=" {% static 'vendors/nprogress/nprogress.js' %}"></script>
    <script src=" {% static 'vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js' %}"></script>
    <script src=" {% static 'duration_picker/bootstrap-duration-picker.js' %}"></script>
    <script src="{% static 'build/js/CustomSelectFilter2.js' %}"></script>

    <script>
        $('label').addClass("quiz-add-label");
        $(document).ready(function () {
            if ($("#id_exam_paper").is(':checked')) {
                $("#div_id_duration").show();
                $("#div_id_pass_mark").show();
            } else {
                $("#div_id_duration").hide();
                $("#div_id_pass_mark").hide();
            }
            $("#test_error").hide();
            $.ajax({
                type: "GET",
                data: {'course_id': $('#id_course_code').val()},
                url: "{% url 'get_course_chapter' %}",  // URL to your view that serves new info
                success: function (data) {
                    $('#id_chapter_code').empty();
                    $.each(data, function (key, value) {
                        $('#id_chapter_code').append($("<option></option>").attr("value", key).text(value));
                    });
                    if ('{{ form.chapter_code.value }}' != 'None') {
                        $('#id_chapter_code').val({{ form.chapter_code.value }});
                    }
                }
            });
        });
        $('#id_duration').durationPicker({
            showDays: false,
        });

        //forms.py cannot send disabled otherwise, it won't update fields when changed.
        // readonly can be set to input only, checkbox cannot be set readonly.
        $('.readonly-field').each(function () {
            $(this).removeClass('readonly-field');
            $(this).prop('disabled', 'disabled')
        })
        $("#id_exam_paper").change(function () {
            if (this.checked) {
                {#$('#id_single_attempt').prop('disabled', 'disabled')#}
                $('#id_chapter_code').prop('disabled', 'disabled')
                $('#id_single_attempt').prop('checked', 'checked')
                $("#div_id_duration").show();
                $("#div_id_pass_mark").show();
            } else {
                {#$('#id_single_attempt').removeAttr('disabled readonly')#}
                $('#id_chapter_code').removeAttr('disabled readonly');
                $('#id_single_attempt').prop('checked', false);
                $("#div_id_duration").hide();
                $("#div_id_pass_mark").hide();
            }
        });

        function validateForm() {
            if ($("#id_exam_paper").is(':checked')) {
                if ($("#id_pre_test").is(':checked') || $("#id_post_test").is(':checked')) {
                    $("#test_error").show();
                    $("#test_error").html("Exam cannot be pre or post test.");
                    return false;
                }
            } else if (!($("#id_pre_test").is(':checked') || $("#id_post_test").is(':checked'))) {
                $("#test_error").show();
                $("#test_error").html("Please select at least one test type.");
                return false;
            
            } else if ($("#id_pre_test").is(':checked') && $("#id_post_test").is(':checked')) {
                $("#test_error").show();
                $("#test_error").html("Exam can only be pre test or post test");
                return false;
            }
            if (($('#id_mcquestion_to option').length + $('#id_saquestion_to option').length +$('#id_tfquestion_to option').length) == 0 ){
                $("#select_error").show();
                $("#select_error").html("Please Select atleast one question");
                return false;
            }
        }

        $('#id_course_code').change(function () {
            $.ajax({
                type: "GET",
                data: {'course_id': $(this).val()},
                url: "{% url 'get_course_chapter' %}",  // URL to your view that serves new info
                success: function (data) {
                    $('#id_chapter_code').empty();
                    $.each(data.chapters, function (key, value) {
                        $('#id_chapter_code').append($("<option></option>").attr("value", key).text(value));
                    });

                    $('#id_mcquestion_from').empty();
                    $('#id_mcquestion_to').empty();
                    SelectBox.cache.id_mcquestion_from = [];
                    SelectBox.cache.id_saquestion_from = [];
                    SelectBox.cache.id_tfquestion_from = [];
                    SelectBox.cache.id_mcquestion_to = [];
                    SelectBox.cache.id_saquestion_to = [];
                    SelectBox.cache.id_tfquestion_to = [];
                    $.each(data.mcq, function (key, value) {
                        $('#id_mcquestion_from').prepend('<option value=' + key + ' title ='+ value +'>' + value + '</option>');
                        $('#id_mcquestion_from').change();
                        $('#id_mcquestion_to').change();
                        SelectBox.add_to_cache("id_mcquestion_from", {
                            value: String(key),
                            text: value,
                            displayed: 1
                        });
                    });
                    $('#id_saquestion_from').empty();
                    $('#id_saquestion_to').empty();
                    $.each(data.saq, function (key, value) {
                        $('#id_saquestion_from').prepend('<option value=' + key + ' title ='+ value +'>' + value + '</option>');
                        $('#id_saquestion_from').change();
                        $('#id_saquestion_to').change();
                        SelectBox.add_to_cache("id_saquestion_from", {
                            value: String(key),
                            text: value,
                            displayed: 1
                        });
                    });
                    $('#id_tfquestion_from').empty();
                    $('#id_tfquestion_to').empty();
                    $.each(data.tfq, function (key, value) {
                        $('#id_tfquestion_from').prepend('<option value=' + key + ' title ='+ value +'>' + value + '</option>');
                        $('#id_tfquestion_from').change();
                        $('#id_tfquestion_to').change();
                        SelectBox.add_to_cache("id_tfquestion_from", {
                            value: String(key),
                            text: value,
                            displayed: 1
                        });
                    });

                }
            });


        });

        $(document).ready(function () {
            checkNegativeMarking($("#id_negative_marking"))
            $("#id_negative_marking").on('change', function () {
                checkNegativeMarking($(this))
            });
        })

        function checkNegativeMarking($this) {
            if ($this[0].checked) {
                $("#div_id_negative_percentage").show();
            } else {
                $("#div_id_negative_percentage").hide();
            }
        }
        
        $('.mcq-div,.saq-div,.tfq-div').addClass('question-unselected') 
        $('.choose-mcq,.choose-saq,.choose-tfq').addClass('option-unselected')

        $('.choose-mcq').click(function(){
        $('.saq-div,.tfq-div').removeClass('question-selected')  
        $('.saq-div,.tfq-div').addClass('question-unselected')  
        $('.choose-saq,.choose-tfq').removeClass('option-selected')  
        $('.choose-saq,.choose-tfq').addClass('option-unselected')  
        $('.mcq-div').removeClass('question-unselected') 
        $('.mcq-div').addClass('question-selected') 
        $('.choose-mcq').removeClass('option-unselected')
        $('.choose-mcq').addClass('option-selected')
        });

        $('.choose-saq').click(function(){
        $('.mcq-div,.tfq-div').removeClass('question-selected')  
        $('.mcq-div,.tfq-div').addClass('question-unselected')  
        $('.choose-mcq,.choose-tfq').removeClass('option-selected')  
        $('.choose-mcq,.choose-tfq').addClass('option-unselected')  
        $('.saq-div').removeClass('question-unselected') 
        $('.saq-div').addClass('question-selected') 
        $('.choose-saq').removeClass('option-unselected')
        $('.choose-saq').addClass('option-selected')
        });

        $('.choose-tfq').click(function(){
        $('.saq-div,.mcq-div').removeClass('question-selected')  
        $('.saq-div,.mcq-div').addClass('question-unselected')  
        $('.choose-saq,.choose-mcq').removeClass('option-selected')  
        $('.choose-saq,.choose-mcq').addClass('option-unselected')  
        $('.tfq-div').removeClass('question-unselected') 
        $('.tfq-div').addClass('question-selected') 
        $('.choose-tfq').removeClass('option-unselected')
        $('.choose-tfq').addClass('option-selected')
        });

        $('#create_question_modal_btn').click(function(){
            $('#create_question_modal').focus()
        })
   </script>
{% endblock javascript %}