{% extends 'teacher_module/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'teacher_quiz_list' %}">QUIZ</a></li>


    <li class="breadcrumb-item active" aria-current="page">MARKING</li>
{% endblock %}


{% block content %}

        {% include 'WebApp/theme/alerts.html' %}

    <h2>{% trans "List of Submitted Answers" %}</h2>


    <a onclick="location.reload()" class="btn btn-info btn-2x" style="
    float: right;
">
        <span class="glyphicon glyphicon-refresh"></span> Refresh
    </a>

    <hr>
    {% if sitting_list %}


        <table id="MarkingList" class="table table-striped table-bordered bg-white nowrap">
            <thead class="thead-light bg-primary">

            <td>{% trans "User" %}</td>
            <td>{% trans "Quiz" %}</td>
            <td>{% trans "Completed" %}</td>
            <td>{% trans "Score" %}(%)</td>
            <td></td>

            </thead>

            <tbody>
            <tr>
                <form action="" method="GET">
                    <td><input type="text" name="user_filter"/></td>
                    <td><input type="text" name="quiz_filter"/></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-default">{% trans "Filter" %}</button>
                    </td>
                </form>
            </tr>


            {% for sitting in sitting_list %}

                <tr>
                    <td>{{ sitting.user }}</td>
                    <td>{{ sitting.quiz }}</td>
                    <td>{{ sitting.end|date }}</td>
                    <td>{{ sitting.get_percent_correct }}</td>
                    <td>
                        <a href="{% url 'quiz_marking_detail' pk=sitting.id %}">
                            {% trans "View details" %}
                        </a>
                </tr>

            {% endfor %}

            </tbody>

        </table>
    {% else %}
        <p>{% trans "There are no answers submitted yet." %}.</p>
    {% endif %}
    <table class="table table-bordered ">

        <tbody>
        <tr>
            <td><p>Quiz</p></td>
            <td><p><a href="/teachers/quiz/detail/{{ quiz.pk }}/"> {{ quiz.title }} </a></p></td>
        </tr>
        <tr>
            <td><p>Description</p></td>
            <td><p>{{ quiz.description }}</p></td>
        </tr>
        <tr>
            <td><p>Course </p></td>
            <td><p>{{ quiz.course_code }}</p></td>
        </tr>
        <tr>
            <td><p> Chapter</p></td>
            <td><p> {{ quiz.chapter_code }}</p></td>

        </tr>
        <tr>
            <td><p>Type of quiz</p></td>
            <td><p>{% if quiz.pre_test %}Pre Test <br>{% endif %}
                {% if quiz.post_test %}Post Test <br>{% endif %}
                {% if quiz.exam_paper %}Exam <br>{% endif %}</p></td>
        </tr>


        </tbody>
    </table>

<br>

    <script>
        function askIfRemoveAll() {
            var answer = window.confirm("This will remove all student's submitted answers and cannot be undone. Continue?")
            if (answer) {
                window.location.href = "{% url 'DeleteAllSittingAftermarkingfilter'  Quiz_Id=quiz.pk %}";
            } else {
                //some code
            }
        }

    </script>

    <a onclick="askIfRemoveAll()" class="btn btn-danger btn-2x" style="
    float: left;
">
        <span class="glyphicon glyphicon-remove"></span> Delete All Submitted Answers

    </a>


{% endblock %}



{% block customjss %}
    <script src="{% static 'vendorsx/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendorsx/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

    <script src="{% static 'vendorsx/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendorsx/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendorsx/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'vendorsx/datatables.net-buttons/js/buttons.print.min.js' %}"></script>

    <script src="{% static 'vendorsx/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'vendorsx/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            var table_main = $('#MarkingList').DataTable({
                dom: 'lBfrtip',
                buttons: []

            });
        });


    </script>
{% endblock %}