{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

  <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>

  {{ form.media }}
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>

<div id="question_form_popup" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Question</h4>
        </div>
        <div class="modal-body" style="height: auto" id="question_form_ajax">
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block javascript %}
  <script>
    var all_qns_div = $("#div_id_mcquestion, #div_id_tfquestion, #div_id_saquestion");
    all_qns_div.wrapAll("<div class='container'></div>");
    all_qns_div.wrap("<div class='row'></div>");
    all_qns_div.wrap("<div class='col-md-12'></div>");
    all_qns_div.before("<div class='col-md-2'></div>");
    all_qns_div.after("<div class='col-md-2'></div>");
    all_qns_div.wrap("<div class='col-md-8 '></div>");

    $("#div_id_mcquestion").after(`<button type="button" class="btn qts-button" id="mcq_create_button" data-toggle="modal"
                    data-target="#question_form_popup">Add MC question
            </button>`);
    $("#div_id_tfquestion").after(`<button type="button" class="btn qts-button" id="tfq_create_button" data-toggle="modal"
                    data-target="#question_form_popup">Add TF question
            </button>`);
    $("#div_id_saquestion").after(`<button type="button" class="btn qts-button" id="saq_create_button" data-toggle="modal"
                    data-target="#question_form_popup">Add SA question
            </button>`);

    $('#mcq_create_button').on('click', function () {
          $.ajax({
              type: "GET",
              data: {'course_from_quiz': '{{ course_from_quiz.id }}'},
              url: "{% url 'mcquestion_create' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#question_form_ajax").html(data);
              }
          });
      });
    $('#tfq_create_button').on('click', function () {
        $.ajax({
            type: "GET",
            data: {'course_from_quiz': '{{ course_from_quiz.id }}'},
            url: "{% url 'tfquestion_create' %}",  // URL to your view that serves new info
            success: function (data) {
                $("#question_form_ajax").html(data);
            }
        });
    });
    $('#saq_create_button').on('click', function () {
        $.ajax({
            type: "GET",
            data: {'course_from_quiz': '{{ course_from_quiz.id }}'},
            url: "{% url 'saquestion_create' %}",  // URL to your view that serves new info
            success: function (data) {
                $("#question_form_ajax").html(data);
            }
        });
    });
  </script>
{% endblock  %}
