{% extends "teacher_module/base.html" %}
{% load static %}
{% block breadcrumb %}

    <li class="breadcrumb-item"><a href="{% url 'teacher_mycourses_list' %}">My Courses</a></li>
    <li class="breadcrumb-item"><a href="{% url 'teacher_myassignmentinfo_list' %}">My Assignments</a></li>
    <li class="breadcrumb-item"><a
            href="{{ Assignment.Course_Code.teacher_get_absolute_url }}">{{ Assignment.Course_Code }}</a>
    </li>
    <li class="breadcrumb-item"><a
            href="{{ Assignment.Chapter_Code.teacher_get_absolute_url }}">{{ Assignment.Chapter_Code }}</a>
    </li>

    {% for question in questions|slice:":1" %}
        <li class="breadcrumb-item"><a
                href="{{ question.Assignment_Code.teacher_get_absolute_url }}">{{ question.Assignment_Code }}</a>
        </li>

    {% endfor %}

    <li class="breadcrumb-item active" aria-current="page">Answers</li>
{% endblock %}

{% block content %}
    <style>
        @keyframes glowing {
            0% {
                box-shadow: 0 0 -10px #c4a300;
            }
            40% {
                box-shadow: 0 0 20px #c4a300;
            }
            60% {
                box-shadow: 0 0 20px #c4a300;
            }
            100% {
                box-shadow: 0 0 -10px #c4a300;
            }
        }

    </style>
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" id="create_session_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Answer
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>
                <div class="modal-body" style="color: black;height: -webkit-fill-available;">
                    <div id="answercontent">

                    </div>
                    <hr>
                    <div id="StudentScore">

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="session-detail" style="padding: 10px 0;">
        <span style="font-size:18px"><b> Session: </b></span>
        <select id="select_session" class="" style="width: 50%;">
            {% for x in session_list %}
                {% for session in x %}
                    <option value="{{ session.pk }}"
                            {% if session.pk == inning.pk %}
                            selected
                            {% endif %}
                    > {{ session }}</option>
                {% endfor %}
            {% endfor %}
        </select>


    </div>
    {% if questions %}
        <div style="padding-bottom: 10px;">
        {% for question in questions|slice:":1" %}
            <h4 class="pageHeader"> {{ question.Assignment_Code }}</h4>
        {% endfor %}
        <hr class="header_hr">
    {% endif %}
{% for question in questions %}
    <h5>Question : <br><br> <b>{{ question.Question_Title }}</b></h5>
    <table class="table table-striped table-bordered bg-white nowrap">
        <thead class="thead-light bg-primary">
        <tr class="tableTitleRow">
            <td>S.No.</td>
            <td>Student Name</td>
            <td>Total Marks</td>
            <td>Marks Obtained</td>
            <td>Submission</td>


        </tr>
        </thead>

        {% for answer in Answers %}
            {% if question.id == answer.Question_Code.id %}
                <tr>
                    <td class="counterCell" style=" padding-top: 15px;"></td>
                    <td style=" padding-top: 15px;">{{ answer.Student_Code }}</td>
                    <td>{{ answer.Question_Code.Question_Score }} </td>
                    {% if answer.Assignment_Score is None %}
                        <td id="Score_{{ answer.pk }}"> Not graded</td>
                    {% else %}
                        <td id="Score_{{ answer.pk }}">
                            {{ answer.Assignment_Score }}
                        </td>
                    {% endif %}
                    <td>{% if answer %}
                        Submitted on {{ answer.Updated_DateTime|date:'M d, Y ' }}
                    {% elif not answer %}
                        Not Submitted
                    {% endif %}

                        <button class="btn btn-sm btn-info showanswer" data-toggle="modal" data-target="#exampleModal1"
                                value="{{ answer.id }}" style="float: right;color:black">
                            <b>View Answer</b>
                        </button>
                    </td>
                </tr>

            {% endif %}
        {% endfor %}

    </table>
{% endfor %}
</div>





{% endblock content %}
{% block customjss %}
    <script>
        $('table').on('click', '.showanswer', function () {
            {% for answer in Answers %}
                if (this.value == '{{ answer.id }}') {
                    $('#answercontent').text(`{{answer.Assignment_Answer}}`)

                    if ('{{ answer.Assignment_File }}') {
                        $('#answercontent').append(`
                            <a href="/media/{{ answer.Assignment_File }}" target="_blank">   <button  class="btn btn-sm btn-info " style="text-align: center;color:black">
                                <b>View File</b>
                            </button>
                            </a>
                        `)
                    }
                    $('#StudentScore').html(`
                        <form onsubmit="return submitscoreajax()" id="StudentScoreForm">Score <input type="number" id="studentScoresubmit" value=" {{ answer.Assignment_Score }}"  max="{{ answer.Question_Code.Question_Score }}" >
                            <button type="submit" class="btn btn-sm btn-info " tyle="text-align: center;color:black">SubmitScore</button>
                        </form>
                        <br> Full Score: <b>{{ answer.Question_Code.Question_Score }} </b>
                         <input type="hidden" id="answerpk" value="{{ answer.pk }}">

                    `)
                }
            {% endfor %}
        })

        function submitscoreajax() {
            var answer_pk = $('#answerpk').val();
            var stu_score = $('#studentScoresubmit').val() ? $('#studentScoresubmit').val() : 0;

            const http = new XMLHttpRequest()
            http.onload = () => $('#Score_' + answer.pk).val(http.responseText);
            http.open("GET", '/teachers/submitStudentscore/' + answer_pk + '/' + stu_score + '/');
            http.send();
            http.onload = () => {
                if (http.responseText === "success") {
                    $('#Score_' + answer_pk).html(stu_score).css("text-shadow", "2px 2px 5px red;");
                    $('#Score_' + answer_pk).css("animation", "glowing 5000ms 1");
                    $('#exampleModal1').modal('toggle');
                }
            }
            return false;
        }


    </script>
    <script type="text/javascript">

        $(document).ready(function () {

            var table_main = $('.table').DataTable({
                responsive: true,
                stateSave: true,
                dom: 'lBfrtip',

                buttons: [
                    {
                        extend: 'csv',
                        text: '<span class="exportcsv"><i class="fa fa-paper-plane-o"></i> Export to CSV </span>',
                        exportOptions: {
                            columns: [1, 2, 3, 4,]
                        }
                    },
                    {
                        extend: 'print',
                        text: '<span class="print"><i class="fa fa-print"></i> Print </span>',
                        fieldSeparator: '\t'
                    }
                ],
                columnDefs: []

            });

            $("#select_session").on("change", function () {
                {% if 'iframe' in request.GET %}
                    {% if '/teachers' in request.path %}
                        {#window.location.href = `/teachers/courseinfo/detail/{{course.pk}}/inning/${this.value}/progress/?iframe=1`#}
                        window.location.href = `/teachers/assignment_answers/{{Assignment.pk}}/inning/${this.value}/?iframe=1`
                    {% endif %}
                {% else %}
                    {% if '/teachers' in request.path %}
                        window.location.href = `/teachers/assignment_answers/{{Assignment.pk}}/inning/${this.value}/`
                    {% endif %}
                {% endif %}
            });
        });


    </script>
{% endblock %}