{% extends "teacher_module/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'teacher_user_profile' %}">{% trans 'Profile' %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans 'Change Password' %}</li>
{% endblock %}
{% block content %}
<div class="col-md-6 changePW" id="FormID">

    <h3>{% trans 'Change Password' %}</h3>
    <h2>{% trans 'Member ID'%} -
        <b>{{ request.user.username }}</b>
    </h2>


    <form method="post">

        {% csrf_token %}
        {{ form|crispy }}

        <input type="submit" value="Change" class="btn btn-success">
    </form>
</div>
{% endblock %}