{% extends basefile %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load getMemberFromPk %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Progress</li>

{% endblock %}

{% block content %}

    <style>
        .highcharts-figure, .highcharts-data-table table {
            min-width: 310px;
            max-width: 800px;
            margin: 1em auto;
        }

        #container {
            height: 400px;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #EBEBEB;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }

    </style>
    {% include 'WebApp/theme/alerts.html' %}
    <div class="container">

        <div style="font-size:18px; font-weight: 700; margin-bottom:20px"> [Course Info]</div>


        <div class=" courseinfo-detail-only col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6">

                <div class="center-name" style="padding: 10px 0;">
                    <span style="font-size:18px;"><b> Course Title: </b></span>
                    <span style="font-size: 16px;">{{ course }}</span>

                </div>
                <div class="session-detail" style="padding: 10px 0;">
                    <span style="font-size:18px"><b> Session: </b></span>
                    <select id="select_session" class="" style="width: 50%;">
                        {% for x in session_list %}
                            {% for session in x %}

                                <option value="{{ session.pk }}"
                                        {% if session.pk == inning.pk %}
                                        selected
                                        {% endif %}
                                > {{ session }}</option>
                            {% endfor %}
                        {% endfor %}
                    </select>


                </div>


            </div>
            <div class="col-md-6">
                <div class="no-student" style="padding: 10px 0;">
                    <span style="font-size:18px"><b> No of Student: </b></span>
                    <span style="font-size: 16px;">{{ number_of_students }}</span>
                </div>
                <div class="time-period" style="padding: 10px 0;">
                    <span style="font-size:18px"><b> Period: </b></span>
                    <span style="font-size: 16px;">{{ inning.Start_Date|date:"Y/m/d" }} - {{ inning.End_Date|date:"Y/m/d" }}</span>

                </div>
            </div>
        </div>


        <div class="col-md-12">
            <span style="font-size:18px; font-weight: 700;">[List of Chapters]  </span>
        </div>


        <div class=" chapter-only col-md-12 col-sm-12 col-xs-12">
            {% for chapter in chapter_list %}
                <button type="button" class=" custom-btn1 btn btn-info btn-circle chapterBtn" value="{{ chapter.pk }}">
                    {{ chapter.Chapter_No }}
                </button>
            {% endfor %}
            <button type="button" class="custom-btn1 btn btn-info btn-circle chapterBtn" value="all">All
            </button>
        </div>
        <div class="col-md-12">
            <hr class="header_hr">

        </div>


        <div class="col-md-12 col-sm-12 col-xs-12">


            <div id="attendancecontainer" class="col-md-4 col-sm-4 col-xs-12"
                 style="min-width: 310px; height: 400px; margin: 0 auto"></div>


            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="col-md-5 col-sm-4 col-xs-12" style="position: relative; height:300px">

                    <div class="progressbar position-progress" data-animate="false">
                        <div class="circle2" data-percent="10">
                            <div></div>
                        </div>
                        <div><h3>&nbsp;&nbsp;&nbsp;Progress</h3>
                        </div>
                    </div>

                </div>
                <div class="col-md-7 col-sm-8 col-xs-12 text-left">
                    <figure class="highcharts-figure">
                        <div id="container"></div>
                        <p class="highcharts-description">

                        </p>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <span style="font-size:18px; font-weight: 700;"> [Chapter Info] </span>

        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 chapterinfo-detail-only  ">

            <div id="chapter-details" class=" ">
                <div class="col-md-6">
                    <div class="center-name" style="padding: 5px 0;">
                        <span style="font-size:18px"><b> Chapter Title: </b></span>
                        <span id="chapter-title" style="font-size: 16px;"></span>

                    </div>
                    <div class="time-period" style="padding: 5px 0;">
                        <span style="font-size:18px"><b> Visited Students: </b></span>
                        <span id="visited-students" style="font-size: 14px;"></span>

                    </div>

                </div>
                <div class="col-md-6">
                    <div class="no-student" style="padding: 5px 0;">
                        <span style="font-size:18px"><b> No of Quiz: </b></span>
                        <span id="visited-students" style="font-size: 16px;"></span>
                    </div>
                    <div class="no-chapter" style="padding: 5px 0;">
                        <span style="font-size:18px"><b> Chapter Status: </b></span>
                        <span id="chapter-status" style="font-size: 16px;"></span>
                    </div>
                    <div class="no-chapter" style="padding: 5px 0;">
                        <span style="font-size:18px"><b> Chapter Running Time: </b></span>
                        <span id="chapter-runningtime" style="font-size: 16px;"></span>
                    </div>

                </div>


            </div>

            <!--
            <input type="radio" name="mychart" class="mychart" id="attendancecolumn" value="column"
                   onclick="chartfunc()" checked>Column &nbsp;
            <input type="radio" name="mychart" class="mychart" id="attendancebar" value="bar" onclick="chartfunc()">Bar
            &nbsp;
            <input type="radio" name="mychart" class="mychart" id="attendancepie" value="pie" onclick="chartfunc()">Pie
            &nbsp;
            <input type="radio" name="mychart" class="mychart" id="attendanceline" value="line" onclick="chartfunc()">Line
        -->
        </div>
        {% if session_list.count > 0 %}
            <div class="no-attendance-display text-center">
                <h3 style="font-size:24px; text-transform:uppercase;"><b>No Session Created</b>
                </h3>
            </div>
        {% else %}
            <div id=" container student_progress-table">
                {% if student_progress_data|length is not 0 %}
                    <div class="col-md-12">
                        <h3 class="detailListHeader2 ">Student Progress List</h3>
                    </div>

                    <table id="QuizTable" class="table table-striped table-bordered"
                           data-title="Progress Report of Course: {{ course }}" style="width:100%">
                        <thead class="thead-light bg-info">
                        <tr>
                            <th>{% trans " No." %}</th>
                            <th>{% trans "Study Progress" %}</th>
                            <th>{% trans "Fullname" %}</th>
                            <th>{% trans "Chapter " %}</th>
                            <th>{% trans "Running Time" %}</th>
                            <th>{% trans "Study Time" %}</th>
                            <th>{% trans "Last Visit" %}</th>
                            <th>{% trans "Quiz Achievement" %}</th>
                            <th>{% trans "Attendance" %}</th>
                            <th>{% trans "History" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for a in student_progress_data %}
                            <tr data-chapterpk="{{ a.chapter.chapterObj.pk }}">
                                <td></td>
                                <td>
                                    <div class="progressbar" data-animate="false">
                                        <div class="circle" data-percent="{{ a.chapter.progresspercent }}">
                                            <div></div>
                                        </div>
                                    </div>
                                    <span style="visibility: hidden">{{ a.chapter.progresspercent }}%</span>
                                </td>
                                <td>  {{ a.student }} </td>
                                <td>  {{ a.chapter.chapterObj.Chapter_No }}. {{ a.chapter.chapterObj.Chapter_Name }} </td>
                                <td>  {{ a.chapter.chapterObj.getmustreadtimeinformat }} </td>
                                <td>
                                    {{ a.chapter.totalstudytime }}
                                    {% if a.chapter.laststudydate and a.chapter.currentpagenumber %}
                                        {% if '/students' not in request.path %}
                                            <span class="edit_progress_studytime" data-toggle="modal"
                                                  data-target="#edit_progress_studytime_modal"
                                                  data-chapterpk="{{ a.chapter.chapterObj.pk }}"
                                                  data-chaptername="{{ a.chapter.chapterObj }}"
                                                  data-studentpk="{{ a.student.pk }}"
                                                  data-student_name="{{ a.student }}"
                                                  data-totalstudytime="{{ a.chapter.totalstudytime }}">
                                            <i class="fa fa-edit"></i>
                                        </span>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td class="laststudydate" data-laststudydate="{{ a.chapter.laststudydate }}"
                                    data-laststudydatewithutc="{{ a.chapter.laststudydate }} UTC">  {{ a.chapter.laststudydate }} </td>
                                <td class="quiztd" data-quiz_completed="{{ a.quiz.completed_quiz }}"
                                    data-quiz_total="{{ a.quiz.quiz_count }}"
                                    data-score_obtained="{{ a.quiz.avg_percent_score }}">
<span style="font-weight: 600;">Score Obtained</span>:- {{ a.quiz.avg_percent_score }} %<br>
<span style="font-weight: 600;">Completed/Total Quiz</span>:- {{ a.quiz.completed_quiz }}/{{ a.quiz.quiz_count }}

                                </td>
                                <td class="attendance" data-attendance="{{ a.chapter.attendance }}">
                                    {% if a.chapter.attendance == None %}
                                        No Chapter Running Time
                                    {% elif a.chapter.attendance == True %}
                                        Present
                                    {% else %}
                                        Absent
                                    {% endif %}
                                </td>
                                <td>
                                    {% if 'teachers' in request.path %}
                                        <a href="{% url 'student_chapter_progress_teacher' courseid=course.id chapterid=a.chapter.chapterObj.id studentid=a.student.id %}">View</a>
                                        </td>
                                    {% else %}
                                        <a href="{% url 'student_chapter_progress' courseid=course.id chapterid=a.chapter.chapterObj.id studentid=a.student.id %}">View</a>
                                        </td>
                                    {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>{% trans "There are no available Student Progress" %}.</p>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <!-- Modal -->
    <div id="edit_progress_studytime_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        Edit Study Progress Time of <span id="edit_progress_studytime_student_span"></span> in <span
                            id="edit_progress_studytime_chapter_span"></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="edit_progress_studytime_form">
                        <label>Study Time</label>
                        <input type="number" id="edit_progress_studytime_timeinputhh"
                               name="edit_progress_studytime_inputhr" min="0" placeholder="hh">
                        <input type="number" id="edit_progress_studytime_timeinputmm"
                               name="edit_progress_studytime_inputmm" min="0" max="59" placeholder="mm">
                        <input type="number" id="edit_progress_studytime_timeinputss"
                               name="edit_progress_studytime_inputss" min="0" max="59" placeholder="ss">
                        {#                        <input type="hidden" id="edit_progress_studytime_timeinput" name="edit_progress_studytime_input">#}
                        <input type="hidden" id="edit_progress_studytime_chapterinput"
                               name="edit_progress_studytime_chapterinput">
                        <input type="hidden" id="edit_progress_studytime_studentinput"
                               name="edit_progress_studytime_studentinput">
                        <input type="submit">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block customjss %}
    {#    <script src="https://code.highcharts.com/highcharts.js"></script>#}
    <script src="{% static 'js/highcharts.js' %}"></script>
    <!-- Highchart for Quiz Achievement -->
    <script>
        $(document).ready(function () {
            // Create the chart
            Highcharts.chart('container', {
                chart: {
                    type: 'column',
                    height: 300
                },
                title: {
                    text: 'Total Achievement'
                },
                subtitle: {
                    text: ''
                },
                accessibility: {
                    announceNewData: {
                        enabled: true
                    }
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: 'Score'
                    }

                },
                credits: {
                    enabled: false
                },

                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.1f}%'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of Total<br/>'
                },

                series: [
                    {
                        name: "Browsers",
                        colorByPoint: true,
                        data: []
                    }
                ],

            });

        })
    </script>

    <!-- Circle Progress for Course Progress -->
    <script>
        $(document).ready(function ($) {
            function animateElements() {
                $('.progressbar').each(function () {
                    var elementPos = $(this).offset().top;
                    var topOfWindow = $(window).scrollTop();
                    var percent = $(this).find('.circle , .circle2').attr('data-percent');
                    var percentage = parseInt(percent, 10) / parseInt(100, 10);
                    var animate = $(this).data('animate');
                    if (elementPos < topOfWindow + $(window).height() - 30 && !animate) {
                        $(this).data('animate', true);
                        $(this).find('.circle , .circle2').circleProgress({
                            startAngle: -Math.PI / 2,
                            value: percent / 100,
                            thickness: 14,
                            fill: {
                                color: '#1B58B8'
                            }
                        }).on('circle-animation-progress', function (event, progress, stepValue) {
                            $(this).find('div').text((stepValue * 100).toFixed(1) + "%");
                        }).stop();
                    }
                });
            }

            // Show animated elements
            animateElements();
            $(window).scroll(animateElements);
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#select_session").on("change", function () {
                {% if 'iframe' in request.GET %}
                    {% if '/teachers' in request.path %}
                        window.location.href = `/teachers/courseinfo/detail/{{course.pk}}/inning/${this.value}/progress/?iframe=1`
                    {% elif '/students' or '/teachers' not in request.path %}
                        window.location.href = `/courseinfo/detail/{{course.pk}}/inning/${this.value}/progress/?iframe=1`;
                    {% endif %}
                {% else %}
                    {% if '/teachers' in request.path %}
                        window.location.href = `/teachers/courseinfo/detail/{{course.pk}}/inning/${this.value}/progress/`;
                    {% elif '/students' or '/teachers' not in request.path %}
                        window.location.href = `/courseinfo/detail/{{course.pk}}/inning/${this.value}/progress/`;
                    {% endif %}
                {% endif %}
            });
        });

        $('.laststudydate').each(function () {
            if ($(this).attr('data-laststudydate') != 'None') {
                $(this).text(new Date($(this).attr('data-laststudydatewithutc')).toLocaleString())
            }
        })
    </script>

    <!-- Highchart for Student Attendance -->
    <script>
        var chart1;
        if ($('#attendancecontainer').length > 0) {
            $(function () {
                // Create the chart
                var options = {
                    chart: {
                        type: 'column',
                        height: 300,
                        events: {
                            drilldown: function (e) {
                                if (!e.seriesOptions) {
                                    var chart = this;
                                    // Show the loading label
                                    chart.showLoading('Loading ...');
                                    setTimeout(function () {
                                        chart.hideLoading();
                                        chart.addSeriesAsDrilldown(e.point, series);
                                    }, 1000);
                                }

                            }
                        },
                        plotBorderWidth: 0
                    },

                    title: {
                        text: 'Student Progress Record',
                    },
                    //

                    //
                    xAxis: {
                        type: 'category',
                        categories: ['Completed', 'OnProgess'],
                    },
                    //
                    yAxis: {
                        title: {
                            margin: 10,
                            text: 'Progress'
                        },
                    },
                    //
                    legend: {
                        enabled: false,
                    },
                    //
                    plotOptions: {
                        series: {
                            pointPadding: 0.2,
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true
                            }
                        },
                        pie: {
                            plotBorderWidth: 0,
                            allowPointSelect: true,
                            cursor: 'pointer',
                            size: '100%',
                            dataLabels: {
                                enabled: true,
                                format: '{point.name}: <b>{point.y}</b>'
                            }
                        }
                    },
                    //
                    series: [{
                        name: 'Students',
                        colorByPoint: true,
                        data: [2, 2]
                    }],
                    //
                    drilldown: {
                        series: []
                    },
                    credits: {
                        enabled: false
                    },
                };

                // Column chart
                options.chart.renderTo = 'attendancecontainer';
                options.chart.type = 'column';
                chart1 = new Highcharts.Chart(options);

                chartfunc = function () {
                    var column = document.getElementById('attendancecolumn');
                    var bar = document.getElementById('attendancebar');
                    var pie = document.getElementById('attendancepie');
                    var line = document.getElementById('attendanceline');

                    if (column.checked) {
                        options.chart.renderTo = 'attendancecontainer';
                        options.chart.type = 'column';
                        var chart1 = new Highcharts.Chart(options);
                    } else if (bar.checked) {
                        options.chart.renderTo = 'attendancecontainer';
                        options.chart.type = 'bar';
                        var chart1 = new Highcharts.Chart(options);
                    } else if (pie.checked) {
                        options.chart.renderTo = 'attendancecontainer';
                        options.chart.type = 'pie';
                        var chart1 = new Highcharts.Chart(options);
                    } else {
                        options.chart.renderTo = 'attendancecontainer';
                        options.chart.type = 'line';
                        var chart1 = new Highcharts.Chart(options);
                    }
                }
            });
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var table_main = $('#ProgressTable').DataTable({
                responsive: true,
                stateSave: true,

                buttons: [],
                columnDefs: [
                    {"width": "15%", "targets": 1}
                ]
            });

            var table2_main = $('#QuizTable').DataTable({
                responsive: true,
                stateSave: true,
                dom: 'lBfrtip',

                buttons: [
                    {
                        title: function () {
                            return $('#QuizTable').attr('data-title');
                        },
                        extend: 'pdf',
                        text: '<span class="exportcsv"><i class="fas fa-file-pdf"></i> Export to PDF </span>',
                        exportOptions: {
                            modifier: {
                                page: 'visible'
                            }
                        },
                        orientation: 'landscape',
                    },
                    {
                        extend: 'print',
                        title: function () {
                            return $('#QuizTable').attr('data-title');
                        },
                        text: '<span class="print"><i class="fa fa-print"></i> Print </span>',
                        fieldSeparator: '\t',
                        orientation: 'landscape',
                    },
                    {
                        extend: 'csv',
                        title: function () {
                            return $('#QuizTable').attr('data-title');
                        },
                        text: 'Export To CSV',
                        exportOptions: {
                            modifier: {
                                page: 'visible',
                            }
                        }
                    }
                ],
                columnDefs: [
                    {"width": "15%", "targets": 1}
                ]

            });
            table2_main.on('order.dt search.dt', function () {
                table2_main.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                    table2_main.cell(cell).invalidate('dom');
                });
            }).draw();

            $('.chapterBtn').on('click', function () {
                chapterpk = this.value
                var vs = 0; // visited students
                $('#chapter-details').css('display', 'block')
                {% for x in student_progress_data %}
                    if (chapterpk == '{{ x.chapter.chapterObj.pk|safe }}') {
                        $('#chapter-title').text(`{{ x.chapter.chapterObj|safe}}`)
                        if ('{{ x.chapter.chapterObj.Use_Flag|safe}}') {
                            $('#chapter-status').text('Active')
                        } else {
                            $('#chapter-status').text('Inactive')
                        }
                        $('#quiz-count').text('{{ x.quiz.quiz_count|safe }}')
                        if ('{{ x.chapter.laststudydate|safe }}' != 'None') {
                            vs++
                        }
                        $('#visited-students').text(vs + ' of {{ number_of_students }}')
                        $('#chapter-runningtime').text(`{{ x.chapter.chapterObj.getmustreadtimeinformat|safe}}`)
                    }
                {% endfor %}
                $.fn.dataTable.ext.search.push(
                    function (settings, data, dataIndex) {
                        if (chapterpk == 'all') {
                            $('#QuizTable').attr('data-title', 'Progress Report of Course: {{ course }}')
                            $('#chapter-details').css('visibility', 'false')
                            return $(table2_main.row(dataIndex).node());
                        }
                        $('#QuizTable').attr('data-title', 'Progress Report of Course: {{ course }} Chapter: ' + $('#chapter-title').text())
                        return $(table2_main.row(dataIndex).node()).attr('data-chapterpk') == chapterpk;
                    }
                );
                table2_main.draw();
                calculateProgressPercent(chapterpk);
                quizProgressPercent(chapterpk)
                calculateAttendance(chapterpk)
            });

            calculateProgressPercent('all')
            quizProgressPercent('all')
            calculateAttendance('all')

            function calculateProgressPercent(chapterpk = null) {
                sum = 0
                count = 0

                table2_main.rows().every(function (rowIdx, tableLoop, rowLoop) {
                    var node = this.node();
                    if (chapterpk == 'all') {
                        sum = sum + parseFloat($(node).find('.circle').attr('data-percent'));
                        count++;
                    } else if (chapterpk == $(node).attr('data-chapterpk')) {
                        sum = sum + parseFloat($(node).find('.circle').attr('data-percent'));
                        count++;
                    }
                });
                avg = sum / count;
                $('.circle2').circleProgress({
                    value: avg / 100,
                });
            }

            function quizProgressPercent(chapterpk = null) {
                completed = 0
                total = 0
                pending = 0
                count = 0

                table2_main.rows().every(function (rowIdx, tableLoop, rowLoop) {
                    var node = this.node();
                    if (chapterpk == 'all') {
                        completed = completed + parseFloat($(node).find('.quiztd').attr('data-quiz_completed'));
                        total = total + parseFloat($(node).find('.quiztd').attr('data-quiz_total'));
                        count++;
                    } else if (chapterpk == $(node).attr('data-chapterpk')) {
                        completed = completed + parseFloat($(node).find('.quiztd').attr('data-quiz_completed'));
                        total = total + parseFloat($(node).find('.quiztd').attr('data-quiz_total'));
                        count++;
                    }
                });

                pending = pending + (total - completed);
                var chart = $('#container').highcharts();

                var new_serie = [{
                    "name": "Quiz Progress",
                    colorByPoint: true,
                    "data": [
                        {
                            name: "Total",
                            y: total * 100 / total
                        },
                        {
                            name: "Completed",
                            y: completed * 100 / total
                        },
                        {
                            name: "Pending",
                            y: pending * 100 / total
                        },
                    ],
                }]
                for (var i = chart.series.length - 1; i >= 0; i--) {
                    chart.series[i].remove();
                }
                for (var y = new_serie.length - 1; y >= 0; y--) {
                    chart.addSeries(new_serie[y]);
                }
            }

            table2_main.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var node = this.node();
                if ($(node).find('.attendance').attr('data-attendance').includes('True')) {
                    $(node).find('.attendance').text('Present').parent().css('background-color', '#9fe890')
                } else if ($(node).find('.attendance').attr('data-attendance').includes('None')) {
                    $(node).find('.attendance').text('No Chapter Running Time').parent().css('background-color', '#f5f590')
                } else {
                    $(node).find('.attendance').text('Absent')
                }
            });

            function calculateAttendance(chapterpk = null) {
                present = 0;
                absent = 0;
                table2_main.rows().every(function (rowIdx, tableLoop, rowLoop) {
                    var node = this.node();
                    if (chapterpk == 'all') {
                        if ($(node).find('.attendance').attr('data-attendance').includes('True')) {
                            present++;
                        } else if ($(node).find('.attendance').attr('data-attendance').includes('None')) {
                            absent++;
                        } else {
                            absent++;
                        }
                    } else if (chapterpk == $(node).attr('data-chapterpk')) {
                        if ($(node).find('.attendance').attr('data-attendance').includes('True')) {
                            present++;
                        } else if ($(node).find('.attendance').attr('data-attendance').includes('None')) {
                            absent++;
                        } else {
                            absent++;
                        }
                    }
                });

                var attendancenew_series = [{
                    colorByPoint: true,
                    "data": [
                        present, absent
                    ],
                }]
                for (var i = chart1.series.length - 1; i >= 0; i--) {
                    chart1.series[i].remove();
                }
                for (var y = attendancenew_series.length - 1; y >= 0; y--) {
                    chart1.addSeries(attendancenew_series[y]);
                }
            }
        });

        $('.edit_progress_studytime').on('click', function (e) {
            $('#edit_progress_studytime_student_span').text($(this).attr('data-student_name'));
            $('#edit_progress_studytime_chapter_span').text($(this).attr('data-chaptername'));
            $('#edit_progress_studytime_studentinput').val($(this).attr('data-studentpk'));
            $('#edit_progress_studytime_chapterinput').val($(this).attr('data-chapterpk'));
            total_studytime = $(this).attr('data-totalstudytime').split(':')
            $('#edit_progress_studytime_timeinputhh').val(total_studytime[0]);
            $('#edit_progress_studytime_timeinputmm').val(total_studytime[1]);
            $('#edit_progress_studytime_timeinputss').val(total_studytime[2]);
        });

        $('#edit_progress_studytime_form').on('submit', function (e) {
            e.preventDefault()
            totalstudytime = parseInt($('#edit_progress_studytime_timeinputhh').val()) * 60 * 60 + parseInt($('#edit_progress_studytime_timeinputmm').val()) * 60 + parseInt($('#edit_progress_studytime_timeinputss').val())
            studentpk = $('#edit_progress_studytime_studentinput').val();
            chapterpk = $('#edit_progress_studytime_chapterinput').val();
            $.ajax({
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': "{{ csrf_token }}",
                    'edit_progress_studytime_timeinput': totalstudytime,
                },
                url: `/editstudentChapterProgressTime/${chapterpk}/${studentpk}/`,
                success: function (data) {
                    location.reload()
                },
                error: function (response) {
                    console.log(response)
                    alert(response.responseJSON.message)
                }
            });
        })
    </script>
{% endblock %}