{% extends "teacher_module/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load getMemberFromPk %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Progress</li>

{% endblock %}

{% block content %}

    <style>
        .highcharts-figure, .highcharts-data-table table {
            min-width: 310px;
            max-width: 800px;
            margin: 1em auto;
        }

        #container {
            height: 400px;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #EBEBEB;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }

    </style>
    {% include 'WebApp/theme/alerts.html' %}
    <div class="container">

        <span style="font-size:18px; font-weight: 700;"> Course Info </span>
        <div class=" courseinfo-detail-only col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6">

                <div class="center-name">
                    <span style="font-size:18px"><b> Course Title: </b></span>
                    <span style="font-size: 16px;">{{ request.user.Center_Code }}</span>

                </div>
                <div class="session-detail">
                    <span style="font-size:18px"><b> Session: </b></span>
                    <select id="select_session" class="" style="width: 50%;">
                        {% for x in session_list %}
                            {% for session in x %}
        
                                <option value="{{ session.pk }}"
                                        {% if session.pk == inning.pk %}
                                        selected
                                        {% endif %}
                                > {{ session }}</option>
                            {% endfor %}
                        {% endfor %}
                    </select>
        
        
                </div>
             
           


            </div>
            <div class="col-md-6">
                <div class="no-student">
                    <span style="font-size:18px"><b> No of Student: </b></span>
                    <span style="font-size: 16px;">{{ number_of_students }}</span>
                </div>
                <div class="time-period">
                    <span style="font-size:18px"><b> Period: </b></span>
                    <span style="font-size: 16px;">{{ inning.Start_Date }} - {{ inning.End_Date }}</span>

                </div>
            </div>
        </div>

        
        
        <div class="col-md-12">
            <span style="font-size:18px; font-weight: 700;"> List of Chapters </span>
        </div>
       

        <div class=" chapter-only col-md-12 col-sm-12 col-xs-12">
            {% for chapter in chapter_list %}
                <button type="button" class=" custom-btn1 btn btn-info btn-circle chapterBtn" value="{{ chapter.pk }}">
                    {{ chapter.Chapter_No }}
                </button>
            {% endfor %}
            <button type="button" class="custom-btn1 btn btn-info btn-circle chapterBtn" value="all">All
            </button>
        </div>


       <div class="col-md-12">
        <span style="font-size:18px; font-weight: 700;"> Chapter Info </span>

       </div>
       
       
     <div class="col-md-12 col-sm-12 col-xs-12"> 
                <div class=" chapterinfo-detail-only col-md-4 col-sm-12 col-xs-12">
                    <div class="center-name" style="padding: 10px 0;">
                        <span style="font-size:18px"><b> Chapter Title: </b></span>
                        <span id="chapter-title" style="font-size: 16px;"></span>
    
                    </div>
                    <div class="time-period" style="padding: 10px 0;">
                        <span style="font-size:18px"><b> Visited Students: </b></span>
                        <span id = "visited-students"style="font-size: 14px;"></span>
    
                    </div>
                    <div class="no-student" style="padding: 10px 0;">
                        <span style="font-size:18px"><b> No of Quiz: </b></span>
                        <span id="visited-students" style="font-size: 16px;"></span>
                    </div>
                    <div class="no-chapter" style="padding: 10px 0;">
                        <span style="font-size:18px"><b> Chapter Status: </b></span>
                        <span id="chapter-status" style="font-size: 16px;"></span>
                    </div>

                </div>

                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="col-md-5 col-sm-4 col-xs-12" style="position: relative; height:300px">

                        <div class="progressbar position-progress" data-animate="false"
                            >
                            

                            <div class="circle2" data-percent="10">

                                <div></div>

                            </div>
                            <div><h3>Progress</h3>
                                </div>
                        </div>

                    </div>
                    <div class="col-md-7 col-sm-8 col-xs-12 text-left">
                        <figure class="highcharts-figure">
                            <div id="container"></div>
                            <p class="highcharts-description">

                            </p>
                        </figure>
                    </div>
                </div>
    </div>  
        {% if session_list.count > 0 %}
            <div class="no-attendance-display text-center">
                <h3 style="font-size:24px; text-transform:uppercase;"><b>No Session Created</b>
                </h3>
            </div>
        {% else %}
            <div id=" container student_progress-table">
                {% if student_progress_data|length is not 0 %}
                     <div class="col-md-12">
                        <h3 class="detailListHeader2 ">Student Progress List</h3>s

                     </div>
                 
                    <table id="QuizTable" class="table table-striped table-bordered" style="width:100%">
                        <thead class="thead-light bg-info">
                        <tr>
                            <th>{% trans " No." %}</th>
                            <th>{% trans "Study Progress" %}</th>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Chapter " %}</th>
                            <th>{% trans "Study Time" %}</th>
                            <th>{% trans "Last Visit" %}</th>
                            <th>{% trans "Quiz Achievement" %}</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for a in student_progress_data %}
                            <tr data-chapterpk="{{ a.chapter.chapterObj.pk }}">
                                <td>  {{ forloop.counter }} </td>
                                <td>
                                    <div class="progressbar" data-animate="false">
                                        <div class="circle" data-percent="{{ a.chapter.progresspercent }}">
                                            <div></div>
                                        </div>
                                    </div>
                                </td>
                                <td>  {{ a.student.username }} </td>
                                <td>  {{ a.chapter.chapterObj.Chapter_No }}. {{ a.chapter.chapterObj.Chapter_Name }} </td>
                                <td>  {{ a.chapter.totalstudytime }} </td>
                                <td>  {{ a.chapter.laststudydate }} </td>
                                <td class="quiztd" data-quiz_completed="{{ a.quiz.completed_quiz }}"
                                    data-quiz_total="{{ a.quiz.quiz_count }}"
                                    data-score_obtained="{{ a.quiz.avg_percent_score }}"><span
                                        style="font-weight: 600;">Score Obtained</span>

                                    :- {{ a.quiz.avg_percent_score }} %<br>
                                    <span style="font-weight: 600;">Completed/Total Quiz</span>
                                    :- {{ a.quiz.completed_quiz }}/{{ a.quiz.quiz_count }}

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>{% trans "There are no available Student Progress" %}.</p>
                {% endif %}
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block customjss %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
        $(document).ready(function () {
            // Create the chart
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Total Achievement'
                },
                subtitle: {
                    text: ''
                },
                accessibility: {
                    announceNewData: {
                        enabled: true
                    }
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: 'Score'
                    }

                },
                credits: {
                    enabled: false
                },

                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.1f}%'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of Total<br/>'
                },

                series: [
                    {
                        name: "Browsers",
                        colorByPoint: true,
                        data: [
                            {
                                name: "Total",
                                y: 82.74,

                            },
                            {
                                name: "Average",
                                y: 10.57,

                            },
                            {
                                name: "My point",
                                y: 7.23,

                            }

                        ]
                    }
                ],

            });
        })
    </script>

    <script>
        $(document).ready(function ($) {
            function animateElements() {
                $('.progressbar').each(function () {
                    var elementPos = $(this).offset().top;
                    var topOfWindow = $(window).scrollTop();
                    var percent = $(this).find('.circle , .circle2').attr('data-percent');
                    var percentage = parseInt(percent, 10) / parseInt(100, 10);
                    var animate = $(this).data('animate');
                    if (elementPos < topOfWindow + $(window).height() - 30 && !animate) {
                        $(this).data('animate', true);
                        $(this).find('.circle , .circle2').circleProgress({
                            startAngle: -Math.PI / 2,
                            value: percent / 100,
                            thickness: 14,
                            fill: {
                                color: '#1B58B8'
                            }
                        }).on('circle-animation-progress', function (event, progress, stepValue) {
                            $(this).find('div').text((stepValue * 100).toFixed(1) + "%");
                        }).stop();
                    }
                });
            }

            // Show animated elements
            animateElements();
            $(window).scroll(animateElements);
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#select_session").on("change", function () {
                {% if 'iframe' in request.GET %}
                    window.location.href = "{% url 'course_progress_withinning' course.pk 919 %}/?iframe=1".replace('919', this.value);
                {% else %}
                    window.location.href = "{% url 'course_progress_withinning' course.pk 919 %}".replace('919', this.value);
                {% endif %}
            });

        });


    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var table_main = $('#ProgressTable').DataTable({
                responsive: true,
                stateSave: true,

                buttons: [],
                columnDefs: [
                    {"width": "15%", "targets": 1}
                ]
            });


            var table2_main = $('#QuizTable').DataTable({
                responsive: true,
                stateSave: true,

                buttons: [],
                columnDefs: [
                    {"width": "15%", "targets": 1}
                ]

            });

            $('.chapterBtn').on('click', function () {
                chapterpk = this.value
                var vs = 0;
                $('#chapter-details').css('display', 'block')
                {% for x in student_progress_data %}
                    if (chapterpk == '{{ x.chapter.chapterObj.pk|safe }}') {
                        $('#chapter-title').text('{{ x.chapter.chapterObj|safe}}')
                        if ('{{ x.chapter.chapterObj.Use_Flag|safe}}') {
                            $('#chapter-status').text('Active')
                        } else {
                            $('#chapter-status').text('Inactive')
                        }
                        $('#quiz-count').text('{{ x.quiz.quiz_count|safe }}')
                        if ('{{ x.chapter.laststudydate|safe }}' != 'None') {
                            vs++
                        }
                        $('#visited-students').text(vs + ' of {{ number_of_students }}')
                    }
                {% endfor %}
                $.fn.dataTable.ext.search.push(
                    function (settings, data, dataIndex) {
                        if (chapterpk == 'all') {
                            $('#chapter-details').css('display', 'none')
                            return $(table2_main.row(dataIndex).node());
                        }
                        return $(table2_main.row(dataIndex).node()).attr('data-chapterpk') == chapterpk;
                    }
                );
                table2_main.draw();
                calculateProgressPercent();
                quizProgressPercent()
            });

            calculateProgressPercent()
            quizProgressPercent()

            function calculateProgressPercent() {
                sum = 0
                count = 0
                $('.circle').each(function () {
                    sum = sum + parseFloat($(this).attr('data-percent'));
                    count++;
                })
                avg = sum / count;
                $('.circle2').circleProgress({
                    value: avg / 100,
                });
            }

            function quizProgressPercent() {
                completed = 0
                total = 0
                pending = 0
                count = 0
                $('.quiztd').each(function () {
                    completed = completed + parseFloat($(this).attr('data-quiz_completed'));
                    total = total + parseFloat($(this).attr('data-quiz_total'));
                    count++;
                });
                pending = pending + (total - completed);
                var chart = $('#container').highcharts();
                var new_serie = [{
                    "name": "Quiz Progress",
                    colorByPoint: true,
                    "data": [
                        {
                            name: "Total",
                            y: total * 100 / total
                        },
                        {
                            name: "Completed",
                            y: completed * 100 / total
                        },
                        {
                            name: "Pending",
                            y: pending * 100 / total
                        },
                    ],
                }]
                for (var i = chart.series.length - 1; i >= 0; i--) {
                    chart.series[i].remove();
                }
                for (var y = new_serie.length - 1; y >= 0; y--) {
                    chart.addSeries(new_serie[y]);
                }
            }
        });
    </script>
{% endblock %}