{% extends "teacher_module/base.html" %}
{% load static %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'teacher_home' %}">Home</a></li>
<li class="breadcrumb-item"><a href="
        {% if object.Course_Code.Use_Flag %}
            {% url 'teacher_mycourses_list_active' %}
        {% else %}
            {% url 'teacher_mycourses_list_inactive' %}
        {% endif %}
    ">My Courses</a></li>
<li class="breadcrumb-item"><a href="{{ object.Course_Code.teacher_get_absolute_url }}">{{ object.Course_Code }}</a>
</li>
<li class="breadcrumb-item active" aria-current="page">{{ object.Chapter_Name }}</li>
{% endblock %}
{% block content %}
{% include 'chapter/chapterinfo_detail.html' %}
{% include 'inning/inningmapFormModal.html' %}

{% endblock content %}

{% block javascript %}

<!-- <script src="{% static 'vendorsx/jquery/dist/jquery.min.js' %}"></script>
<script src=" {% static 'vendorsx/jQuery-Smart-Wizard/js/jquery.smartWizard.js' %}"></script> -->
<script>
    $(".info-text").on('click' ,function(){
        $('.truncatedDescription').toggleClass('d-block d-none');
        $('.fullDescription').toggleClass('d-none d-block');
        $(this).text($(this).text() == 'Read Less' ? 'Read More' : 'Read Less');
    })
</script>
<script>

  $(document).ready(function () {
    {% if not object.is_commentable %}
    $('.js-comment-input').attr('disabled', true);
    {% endif %}
  });
</script>

<script>
  $(document).on('click', '.chapter-confirm-delete', function () {
    ans = confirm('Are you sure you want to delete this Chapter?');
    if (ans == true) {
      $(`#deleteChapter${this.id}`).submit();
    } else {
      return false;
    }
  });
</script>
<script>
  let params = new URLSearchParams(location.search);
  $(document).ready(function () {


    if (params.get('ifquiz')) {
      $('.left_col, .top_nav , .breadcrumb  , .detailListHeader , #buttons , #add-newassignment-btn , .header_hr , #edit-delete , #footerText').remove();
      $('#pre_test_popup').click();

    }
    params.get('ifquiz')
  });


</script>

<script>
  {% for quiz in pre_quizes %}
  $('#feedbackbtn-quiz{{ quiz.id }}').click(function () {
    $('#quizmodalbody').html(`<iframe style="height: 90vh; width: 100%"
        src="/quiz/{{ quiz.url }}/take/"
        frameborder="0px"></iframe>`);
  })

  {% endfor %}
</script>

<script>
  $(document).ready(function () {
    $('.pre_test_change').change(function () {
      // console.log(this.id);
      // console.log($('#radio-buttons input[name=pre-test-radio]:checked').val());
      $.ajax({
        url: "{% url 'change_quiz_test' %}", // URL to your view that serves new info
        data: $(this).serialize(), // get the form data
        type: $(this).attr('method'), // GET or POST
        success: function (response) {
          console.log('posted form');
        },
        error: function () {
          console.log('Error in posting form');
        }
      });

    });
    $('.post_test_change').change(function () {
      // console.log($('#radio-buttons1 input[name=post-test-radio]:checked').val());
      $.ajax({
        url: "{% url 'change_quiz_test' %}", // URL to your view that serves new info
        data: $(this).serialize(), // get the form data
        type: $(this).attr('method'), // GET or POST
        success: function (response) {
          console.log('posted form');
        },
        error: function () {
          console.log('Error in posting form');
        }
      });
    });
  });
  $('#course-viewer').click(function (e) {
    e.preventDefault();
    $.ajax({
      type: "GET",
      url: "{% url 'chapterviewer' %}",  // URL to your view that serves new info
      data: {
        'chapterID': '{{ object.id }}'
      },
      success: function (response) {
        if (response.data == "0") {
          alert("There are no contents available in this chapter.");
          return
        }
        window.open($('#course-viewer').attr('href'), '_self');
      },
      error: function () {
        console.log('Error in getting chapters')
      }
    });
  });
</script>


<script src=" {% static 'vendorsx/jQuery-Smart-Wizard/js/jquery.smartWizard.js' %}"></script>
<script>
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
  });

  $('#add-newassignment-btn').on('click', function () {
    $('#create_assignment_modal_body').empty();
    $('#create_assignment_modal_body').append(
      `<input type="hidden" name="Course_Code" id="id_Course_Code" value="{{ object.Course_Code.id }}"
               class="select form-control">
            <input type="hidden" name="Chapter_Code" id="id_Chapter_Code" value="{{ object.id }}"
               class="select form-control">`
    )

    $.ajax({
      type: "GET",
      url: "{% url 'assignmentinfo_create_ajax_chapter_id' object.id %}",  // URL to your view that serves new info
      success: function (response) {
        let url = "{% url 'assignmentinfo_create_ajax' %}";  // URL to your view that serves new info
        $('#create_assignment_modal_body').append(response);
        $('#ajaxassignmentinfoform').attr('action', url);

        $('#id_Assignment_Deadline').attr('min', '{{datetime|date:"Y-m-d"}}');
        Switchery(document.querySelector('.js-switch'));
      },
      error: function () {
        console.log('Error in generating assignment create form')
      },
      complete: function () {
        $(".se-pre-con-ajax").fadeOut("fast");
      }
    });
  });
</script>

<script>
  $('#pre_test_popup').on('click', function () {
    $.ajax({
      type: "GET",
      data: {
        'course_id': '{{ object.Course_Code.id }}',
        'chapter_id': {{ object.id }},
    'test_type': 'pre_test',
                },
    url: "{% url 'quiz_create_ajax'%}",  // URL to your view that serves new info
    success: function (data) {
      $("#quiz_form_ajax").html(data);
    }
            });
        });
  $('#post_test_popup').on('click', function () {
    $.ajax({
      type: "GET",
      data: {
        'course_id': '{{ object.Course_Code.id }}',
        'chapter_id': {{ object.id }},
    'test_type': 'post_test',
                },
    url: "{% url 'quiz_create_ajax'%}",  // URL to your view that serves new info
    success: function (data) {
      $("#quiz_form_ajax").html(data);
    }
            });
        });
  $('#qn_close').on("click", function () {
    $("#quiz_create_popup").modal("show");
  });

  function quiz_create_content(response) {
    console.log(response['url']);
    console.log(response['teacher_url']);
    console.log(response['student_url']);
    location.reload();
  }
</script>

<script>
  $(document).ready(function () {
    var url = window.location.href;
    if ((url.indexOf('?idle=true') != -1) && (url.indexOf('&redirected=true') != -1)) {
      $('#message-modal').modal('show');
      $('#message-modal').find('.modal-body').html(`You have been idle for a while. Therefore, you are redirected.`);
      // window.history.replaceState(null, null, window.location.pathname); // removes all query string i.e after '?'
      let newurl = removeURLParameter(url, 'redirected');
      newurl = removeURLParameter(newurl, 'idle');
      window.history.replaceState(null, null, newurl); // removes query string i.e after '?'
    } else if ((url.indexOf('?multitab=true') != -1) && (url.indexOf('&redirected=true') != -1)) {
      $('#message-modal').modal('show');
      $('#message-modal').find('.modal-body').html(`You are restricted to open multiple viewer tab please close previous one`);
      // window.history.replaceState(null, null, window.location.pathname); // removes all query string i.e after '?'
      let newurl = removeURLParameter(url, 'redirected');
      newurl = removeURLParameter(newurl, 'multitab');
      window.history.replaceState(null, null, newurl); // removes query string i.e after '?'
    }
    return false
  });

  // removes query parameter containing string parameter from URL
  function removeURLParameter(url, parameter) {
    //prefer to use l.search if you have a location/link object
    var urlparts = url.split('?');
    if (urlparts.length >= 2) {

      var prefix = encodeURIComponent(parameter) + '=';
      var pars = urlparts[1].split(/[&;]/g);

      //reverse iteration as may be destructive
      for (var i = pars.length; i-- > 0;) {
        //idiom for string.startsWith
        if (pars[i].lastIndexOf(prefix, 0) !== -1) {
          pars.splice(i, 1);
        }
      }

      url = urlparts[0] + '?' + pars.join('&');
      return url;
    } else {
      return url;
    }
  }

  $('.inningmap-btn').on('click', function () {
    inningMapDataLoad($(this), $(this).attr('data-sessionid'), $(this).attr('data-objectid'), '{% url 'chapterinninginfomap' %}')
  })
</script>
{% endblock %}