{% extends "teacher_module/base.html" %}
{% load static %}
{% block title %}
| Courses
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'teacher_home' %}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Course</li>
{% endblock %}
{% block content %}
{% include 'course/courseinfo_grid.html' %}
{% endblock %}

{% block javascript %}
<script>
    $(".query_form").submit(function (e) {
        val = $(this).find('input').val()
        if (!val.replace(/^\s+|\s+$/g, "").length != 0) {
            console.log('empty')
            alert('Please enter a search term')
            e.preventDefault()
        }
    });

    $('.card-overlay').each(function(){
        var theight = $(this).find('.course-title').height() + 25;
        $(this).css({height:theight});
        $(this).parent().hover(function () {
            $(this).find(".card-overlay").css({height:"100%"})
            $(this).find('.course-title').css({
                maxHeight: "40px",
                // whiteSpace: "wrap",
                overflow: "hidden",
                textOverflow: "ellipsis"})
        }, function () {
            $(this).find(".card-overlay").css({height:theight})
            $(this).find('.course-title').css({
                maxHeight: "100%",
                // whiteSpace: "wrap",
                overflow: "visible",
                textOverflow: "none"})
        });
    })
</script>
{% endblock %}