{% extends "teacher_module/base.html" %}
{% load static %}

{% block title %}
| Course Form
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'teacher_home' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'teacher_mycourses_list_active' %}">My Courses</a>
</li>
<li class="breadcrumb-item"><a href="{{ object.teacher_get_absolute_url }}">{{ object.Course_Name }}</a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    {% if '/create/' in request.path %}
    Create New Course
    {% else %}
    Edit Course Info
    {% endif %}
</li>
{% endblock %}

{% block content %}
{% include 'course/courseinfo_form.html' %}
{% endblock content %}

{% block javascript %}

<script src="{% static 'vendorsx/jquery-star-rating/simple-rating.js' %}"></script>
<script>
    $(document).ready(function () {
        $('.rating').rating({ 'min': 1 });
        for (var i = 0; i < 5; i++) {
            var starObj = $('.rating').next().children()[i];
            if (i < rating) {
                $(starObj).removeClass('fa-star-o');
                $(starObj).addClass('fa-star');
            }
        }
    });

</script>

{% endblock %}