{% extends "teacher_module/base.html" %}
{% load static %}
{% load model_template_relation %}
{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">My Assignments</li>


<style>
    h3 {
        margin-top: 10px;
        margin-bottom: 0px !important;
    }
</style>
{% endblock %}

{% block content %}


<h1 class="tableHeader"><b>List of My Assignments</b></h1>
<h4 class="text-center"><b>
        <button class="tablinks tabButton active" onclick="openTab(event, 'activeAssignments')">Active</button>
        <button class="tablinks tabButton" onclick="openTab(event, 'allAssignments')">All</button>
        <button class="tablinks tabButton" onclick="openTab(event, 'expiredAssignments')">Inactive</button>
    </b>
</h4>
<hr class="header_hr">

<div class="tabcontent" id="allAssignments" style="display: none;">
    {% for course in courses %}
    {% if course.assignments %}
    <h3 align="center">Course -
        <a href="{{ course.teacher_get_absolute_url }}"><b>{{ course }}</b> </a>
    </h3>
    {% for assignment in course.assignments %}
        <div class="col-md-12 col-sm-12 col-xs-12 " style="margin-bottom: 5px;">

            <div class="col-md-8 col-sm-8 col-xs-8 leftborder">
                <!-- <h5 style="padding-top: 3px; color: #000000"> Assignment No: {{ forloop.counter }}</h5> -->
                <h5>
                    <b style="color: #000000">{{ assignment.Assignment_Topic }}</b>
                </h5>
                <h5>Chapter - {{ assignment.Chapter_Code }}</h5>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
            <span class="assignment_status">
                {% if assignment.get_QuestionAndAnswer.0|length > 0 %}
                    {% getTeacherStatusoOfAssignment assignment user as teacher_assignment_status %}
                    {% if teacher_assignment_status.assg_status %}
                        <b style="color: green">
                                All Completed ({{ teacher_assignment_status.completed }}/{{ teacher_assignment_status.total_students }})
                            </b>
                    {% else %}
                        <b style="color: deepskyblue">
                            {{ teacher_assignment_status.completed }}/{{ teacher_assignment_status.total_students }} Completed
                            </b>
                    {% endif %}
                {% else %}
                    <b style="color: orangered">No Questions</b>
                {% endif %}
                </span>
                <a href="{{ assignment.teacher_get_absolute_url }}">
                    <button type="button" style="float: right;width:100px;height:25px;border: 1px solid #017a9b;color:#017a9b;background-color: white;border-radius: 4px;
                                margin-top: 20px;margin-bottom: 10px;">CONTINUE <i class="fa fa-arrow-right"></i>
                    </button>
                </a>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 leftborder">
                <hr style="margin-top: 1px; margin-bottom: 10px;">
                <p>Submission Deadline -
                    {% if assignment.status == 'inactive' %}
                        {% if assignment.end_date %}
                            <span class="text-danger dateconFullMonth">{{ assignment.end_date|date:"d M, Y h:i A" }} </span>
                            <span class="text-danger">(Expired)</span>
                        {% else %}
                            <span class="text-danger">Inactive</span>
                        {% endif %}
                    {% elif assignment.status == 'upcoming' %}
                        <span class="text-info dateconFullMonth">{{ assignment.end_date|date:"d M, Y h:i A" }} </span>
                        <span class="text-info">(upcoming)</span>
                    {% else %}
                        <span class="text-success">{{ assignment.end_date|timeuntil }} left </span>
                    {% endif %}</p>
            </div>
        </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
</div>

    <div class="tabcontent" id="activeAssignments">
    {% for course in courses %}
        {% if course.active_assignments %}
        <h3 align="center">Course -
            <a href="{{ course.teacher_get_absolute_url }}"><b>{{ course }}</b> </a>
        </h3>
        {% for assignment in course.active_assignments %}
        <div class="col-md-12 col-sm-12 col-xs-12 " style="margin-bottom: 5px;">
            <div class="col-md-8 col-sm-8 col-xs-8 leftborder">
                <!-- <h5 style="padding-top: 3px; color: #000000"> Assignment No: {{ forloop.counter }}</h5> -->
                <h5>
                    <b style="color: #000000">{{ assignment.Assignment_Topic }}</b>
                </h5>
                <h5>Chapter - {{ assignment.Chapter_Code }}</h5>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
            <span class="assignment_status">
                {% if assignment.get_QuestionAndAnswer.0|length > 0 %}
                    {% getTeacherStatusoOfAssignment assignment user as teacher_assignment_status %}
                    {% if teacher_assignment_status.assg_status %}
                        <b style="color: green">
                                All Completed ({{ teacher_assignment_status.completed }}/{{ teacher_assignment_status.total_students }})
                            </b>
                    {% else %}
                        <b style="color: deepskyblue">
                            {{ teacher_assignment_status.completed }}/{{ teacher_assignment_status.total_students }} Completed
                            </b>
                    {% endif %}
                {% else %}
                    <b style="color: orangered">No Questions</b>
                {% endif %}
                </span>
                <a href="{{ assignment.teacher_get_absolute_url }}">
                    <button type="button" style="float: right;width:100px;height:25px;border: 1px solid #017a9b;color:#017a9b;background-color: white;border-radius: 4px;
                                    margin-top: 20px;margin-bottom: 10px;">CONTINUE <i class="fa fa-arrow-right"></i>
                    </button>
                </a>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 leftborder">
                <hr style="margin-top: 1px; margin-bottom: 10px;">
                <p>Submission Deadline - {{ assignment.end_date|timeuntil }}</p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    {% endfor %}
    </div>
    <div class="tabcontent" id="expiredAssignments" style="display: none;">
    {% for course in courses %}
        {% if course.inactive_assignments %}
        <h3 align="center">Course -
            <a href="{{ course.teacher_get_absolute_url }}"><b>{{ course }}</b> </a>
        </h3>
        {% for assignment in course.inactive_assignments %}
        <div class="col-md-12 col-sm-12 col-xs-12 " style="margin-bottom: 5px;">

            <div class="col-md-8 col-sm-8 col-xs-8 leftborder">
                <!-- <h5 style="padding-top: 3px; color: #000000"> Assignment No: {{ forloop.counter }}</h5> -->
                <h5>
                    <b style="color: #000000">{{ assignment.Assignment_Topic }}</b>
                </h5>
                <h5>Chapter - {{ assignment.Chapter_Code }}</h5>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
            <span class="assignment_status">
                {% if assignment.get_QuestionAndAnswer.0|length > 0 %}
                    {% getTeacherStatusoOfAssignment assignment user as teacher_assignment_status %}
                    {% if teacher_assignment_status.assg_status %}
                        <b style="color: green">
                                All Completed ({{ teacher_assignment_status.completed }}/{{ teacher_assignment_status.total_students }})
                            </b>
                    {% else %}
                        <b style="color: deepskyblue">
                            {{ teacher_assignment_status.completed }}/{{ teacher_assignment_status.total_students }} Completed
                            </b>
                    {% endif %}
                {% else %}
                    <b style="color: orangered">No Questions</b>
                {% endif %}
                </span>
                <a href=" {{ assignment.teacher_get_absolute_url }}">
                    <button type="button" style="float: right;width:100px;height:25px;border: 1px solid #017a9b;color:#017a9b;background-color: white;border-radius: 4px;
                                    margin-top: 20px;margin-bottom: 10px;">CONTINUE <i class="fa fa-arrow-right"></i>
                    </button>
                </a>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 leftborder">
                <hr style="margin-top: 1px; margin-bottom: 10px;">
                <p>Submission Deadline -
                    {% if assignment.status == 'upcoming' %}
                        <span class="text-info dateconFullMonth">{{ assignment.end_date|date:"d M, Y h:i A" }} </span>
                        <span class="text-info">(upcoming)</span>
                    {% elif assignment.end_date %}
                        <span class="text-danger dateconFullMonth">{{ assignment.end_date|date:"d M, Y h:i A" }}</span>
                    {% else %}
                        <span class="text-danger">Inactive</span>
                    {% endif %}
                </p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}

{% block customjss %}

<script>
    document.getElementById("allAssignments").click();

    function openTab(event, tabName) {
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        event.currentTarget.className += " active";
    }
</script>

{% endblock %}