{% extends "teacher_module/base.html" %}
{% load static %}
{% block title %}
    Course
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">My Courses</li>
{% endblock %}
{% block content %}
    <div class="courseInfoListClass">
        <h2 class="tableHeader">List of My Courses</h2>


        <hr class="header_hr">
        <div class="row">
            <div class="col-md-12 text-right" style="padding: 20px 0;">
                <div class="row">
                    <div class="col-md-6">
                        <!-- <h5 class="text-left" style="padding-left: 10px; margin-bottom: 0;"><b>
                            <a id="cardButton" style="cursor: pointer;color:black">Card View</a> &nbsp;
                            <a id="tableButton" style="cursor: pointer">Table View</a></b>
                          
                        </h5> -->
                    </div>
                    <div class="col-md-6">

                        {% if '/active' in request.path %}
                        <a href="{% url 'teacher_mycourses_list_inactive' %}">
                            <span class="text-right " style="float:right;color:#5A738E">
                                <b>View <span>  Inactive  </span>courses</b> 
                             </span>
                        </a>
                    {% else %}
                        <a href="{% url 'teacher_mycourses_list_active' %}">
                            <span class="text-right " style="float:right;color:#5A738E">
                                View <span >  <b>Active</b>  </span>courses
                            </span>
                        </a>
                    {% endif %}
                    </div>
                </div>
       
                <!-- <span> <b>Show</b> </span>
                <label>
                    <select name="QuizTable_length" aria-controls="QuizTable" class="form-control input-sm"
                            id="paginate_courses">
                        <option value="6">6</option>
                        <option value="12">12</option>
                        <option value="18">18</option>
                        <option value="24">24</option>
                        <option value="30">30</option>
                        <option value="36">36</option>
                    </select>
                </label>
                <span> <b>Entries</b> </span> -->
            </div>
        </div>

        <div class="col-md-8 col-sm-6 col-xs-12">
            <form method="get" action="">
                <div class="col-md-4">
                    <input type="text" name="teacher_mycoursequery" placeholder="Search Course"
                           value="{{ request.GET.query }}" class="form-control">
                </div>
                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i>&nbsp;Search</button>

            </form>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 btn-createnew">
            <span> <b>Show</b> </span>
                <label>
                    <select name="QuizTable_length" aria-controls="QuizTable" class="form-control input-sm"
                            id="paginate_courses">
                        <option value="6">6</option>
                        <option value="12">12</option>
                        <option value="30">30</option>
                        <option value="60">60</option>
                      
                    </select>
                </label>
                <span> <b>Entries</b> </span>
            <!-- {% if '/active' in request.path %}
                <a href="{% url 'teacher_mycourses_list_inactive' %}">
                    <span class="text-right " style="float:right;color:#5A738E">
                        <b>View <span style="color: rgb(219, 0, 0); ">  Inactive  </span>courses</b> 
                     </span>
                </a>
            {% else %}
                <a href="{% url 'teacher_mycourses_list_active' %}">
                    <span class="text-right " style="float:right;color:#5A738E">
                        View <span style="color: rgb(48, 112, 55); ">  <b>Active</b>  </span>courses
                    </span>
                </a>
            {% endif %} -->
        </div>

        <br><br><br>
        <div class="container" id="divID">
            {% include 'WebApp/theme/alerts.html' %}
         <div class="col-md-12"  id="cardView">     
            {% for courses in response %}
                <div class="col-md-3 col-sm-6 col-xs-12" id="listCard">
                    <div class="gridContentsList">
                        <div class="card-header">
                            <a href="{{ courses.teacher_get_absolute_url }}">
                                <img id="courseListImage" class="card-img-top" src="
                            {% if courses.Course_Cover_File %}
                                /media/{{ courses.Course_Cover_File }}
                            {% else %}
                                {% static 'images/course.jpg' %}
                            {% endif %}" alt="Card image cap" width="100%" height="180px" style="object-fit: cover">
                            </a>
                        </div>
                        <div class="card-body" id="cardInfo">
                            <h2 class="card-title" style="height:45px; overflow: ;   overflow-wrap:break-word; ">
                                <strong><a
                                        href="{{ courses.teacher_get_absolute_url }}">{{ courses.Course_Name|truncatechars:45 }}</a></strong>
                            </h2>


                            {% if courses.get_teachers_of_this_course %}
                                <p style="height:45px ; padding: 10px; overflow:auto">
                                    Teacher(s):
                                    {% for eachTeacher in courses.get_teachers_of_this_course|slice:":4" %}
                                        {{ eachTeacher.getFullName|truncatechars:15 }}&nbsp;
                                    {% endfor %}
                                    {% if courses.get_teachers_of_this_course|length > 4 %}
                                        ....

                                    {% endif %}
                                </p>
                            {% else %}
                                <p style="height:30px ; padding: 10px; ">
                                    No Teacher Assigned


                                </p>
                            {% endif %}










                            <hr>

                            <h5 class="courseDescription" style="padding-bottom: 10px;">
                                {% if courses.Course_Description %}
                                    <p style="
                        padding-right: 10px;
                        line-height: 1.5em;
                        height: 3em;
                        overflow-wrap:break-word;
                        overflow: hidden;
                        white-space: normal;
                        text-overflow: ellipsis;">
                                        {{ courses.Course_Description }}
                                    </p>
                                {% else %}
                                    <p style="
                        padding-right: 10px;
                        line-height: 1.5em;
                        height: 3em;
                        overflow-wrap:break-word;
                        overflow: hidden;
                        white-space: normal;
                        text-overflow: ellipsis;">
                                        No Description
                                    </p> {% endif %}
                            </h5>

                        </div>
                    </div>
                </div>

            {% endfor %}
           <div class=" col-md-12 col-sm-12 col-xs-12 text-center">

           
            {% if response.has_other_pages %}
            <div class=" text-center">
                <ul class="pagination">
                    {% if response.has_previous %}
                        <li>
                            <a href="?page=
                                    {{ response.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in response.paginator.page_range %}
                        {% if response.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li>
    <a href="?page={{ i }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if response.has_next %}
                        <li>
                            <a href="?page=
                                    {{ response.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
        </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" >
            <div class="table-responsive" style="display:none;padding: 0;" id="tableView">
    
                <br>
                <span class="checkboxCheckedLength"></span>
                <table class="table table-striped table-bordered bg-white nowrap" id="course_dataTable">
                    <thead class="thead-light bg-primary">
                    <tr class="tableTitleRow">
                       
                        <td>ID</td>
                        <td>Course Name</td>
                        <td>Teachers</td>
                       
                       
                        <td>Course Provider</td>
                        <td>Course Level</td>
                      
                        <td>Action</td>
                    </tr>
                    </thead>
                    {% for object in object_list %}
                        <tr>
                            
                            <td style="vertical-align: middle;">{{ forloop.counter }}</td>
                            <td style="vertical-align: middle;">    <strong><a href="{% if '/students' in request.path %}
                                {{ object.student_get_absolute_url }}
                            {% else %}
                                {{ object.get_absolute_url }}
                            {% endif %}">{{ object.Course_Name|truncatechars:70 }} </a></strong></td>
                           
                            <td style="vertical-align: middle;">     {% if object.get_teachers_of_this_course %}
                                <p style="height: 30px; overflow:auto"> 
                                
                                {% for eachTeacher in object.get_teachers_of_this_course %}&nbsp;
                                {{ eachTeacher.getFullName }}
                                {% endfor%}
                
                                </p>
                                {% else %}
                                <p style="height: 30px; overflow:auto"> No Teacher </p>
                
                
                        
                            {% endif %}</td>
                            <td style="vertical-align: middle;">
                                {{ object.Course_Provider }}
    
    
    
                            </td>
                            <td style="vertical-align: middle;">
                                {{object.Course_Level}}
    
                            </td>
                           
                            <td class="text-center"><a class="btn btn-sm btn-info"
                                                       href="  /teachers{{ object.get_update_url }}">Edit</a>
                        </tr>
                    {% endfor %}
                </table>
            </div>
    
         </div>
        </div>

    </div>
  
{% endblock %}

{% block customjss %}
<script>
    document.querySelector("#cardButton").addEventListener('click', cardView);
    document.querySelector("#tableButton").addEventListener('click', tableView);
    function cardView() {
        $("#cardButton").css('color', 'black');
        $("#tableButton").css('color', 'grey');
        document.querySelector('#cardView').style.display = "inline-block";
        document.querySelector('#tableView').style.display = "none";
    }
    function tableView() {
        $("#cardButton").css('color', 'grey');
        $("#tableButton").css('color', 'black');
        document.querySelector('#tableView').style.display = "block";
        document.querySelector('#cardView').style.display = "none";

    }


</script>
    <script>
        $(document).ready(function () {
            if ('{{ request.GET.paginate_by }}') {
                $('#paginate_courses').val('{{ request.GET.paginate_by }}')
            }
            $('#paginate_courses').on('change', function () {
                window.location.href = "{{ request.path }}?paginate_by=" + this.value;
            })
        })
    </script>
{% endblock %}
