{% extends "teacher_module/base.html"%}
{% load static %}
{% load i18n %}


{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'teacher_home' %}">Home</a></li>
<li class="breadcrumb-item"><a
        href="{% url 'teacher_groupmapping_detail' pk=groupmapping.pk  %}">{{ groupmapping.GroupMapping_Name }}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ memberinfo.username  }}</li>
{% endblock %}

{% block content %}
<div class="student_card text-center">
    <figure class="avatar mr-2" style="height: 10rem; width: 10rem;">
        {% if memberinfo.Avatar %}
        <img src="{{ memberinfo.Avatar }}" class="rounded-circle" alt="avatar">
        {% else %}
        <img src="{% static 'media/image/user/man_avatar3.jpg'%}" class="rounded-circle" alt="avatar">
        {% endif %}
    </figure>
</div>
<table class="table table-striped table-bordered mt-3">
    <tr>
        <td style="max-width: 10rem;">
            <span class="font-weight-bold">{% trans "Member ID" %}</span>
            <small> ({% trans "Assigned by center" %})</small>
            <span class="pull-right">{{ memberinfo.Member_ID }}</span>
        </td>
        <td><span class="font-weight-bold">{% trans "Username" %}</span>
            <small> ({% trans "Used for login" %})</small>
            <span class="pull-right">
                {{ memberinfo.username }}
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="font-weight-bold">{% trans "Full Name" %}</span>
            <span class="pull-right"> {{ memberinfo.first_name }} {{ memberinfo.last_name }}</span>
        </td>
        <td>
            <span class="font-weight-bold">{% trans "Email" %}</span>
            <span class="pull-right">{{ memberinfo.email }}</span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="font-weight-bold">{% trans "Department" %}</span>
            <span class="pull-right"> {{ memberinfo.Member_Department }}</span>
        </td>
        {% if memberinfo.Is_Teacher %}
        <td>
            <span class="font-weight-bold">{% trans "Position" %}</span>
            <span class="pull-right"> {{ memberinfo.Member_Position }}</span>
        </td>
        {% endif %}
    </tr>
    <tr>
        <td>
            <span class="font-weight-bold">{% trans "Permanent Address" %}</span>
            <span class="pull-right"> {{ memberinfo.Member_Permanent_Address }}</span>
        </td>
        <td>
            <span class="font-weight-bold">{% trans "Temporary Address" %}</span>
            <span class="pull-right"> {{ memberinfo.Member_Temporary_Address }}</span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="font-weight-bold">{% trans "BirthDate" %}</span>
            <span class="pull-right">{{ memberinfo.Member_BirthDate|date:"F d, Y" }}</span>
        </td>
        <td>
            <span class="font-weight-bold">{% trans "Phone Number" %}</span>
            <span class="pull-right"> {{ memberinfo.Member_Phone }}</span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="font-weight-bold">{% trans "Gender" %}</span>
            <span class="pull-right">
                {% if memberinfo.Member_Gender == 'M' %}
                {% trans "Male" %}
                {% elif memberinfo.Member_Gender == 'F' %}
                {% trans "Female" %}
                {% endif %}
            </span>
        </td>
        <td>
            <span class="font-weight-bold">{% trans "Member Type" %}</span>
            <span class="pull-right">
                {% if memberinfo.Is_CenterAdmin %}
                &nbsp;{% trans "Admin" %}
                {% endif %}
                {% if memberinfo.Is_Teacher %}
                &nbsp;{% trans "Teacher" %}
                {% endif %}
                {% if memberinfo.Is_Student %}
                &nbsp;{% trans "Student" %}
                {% endif %}
            </span>
        </td>
    </tr>
</table>

<hr>

<div class="row">
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto">
    </div>
</div>

<hr>

<div class="row">
    <div id="PieChart_Quiz" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/highcharts.js' %}"></script>
<script src="{% static 'js/highchart_data.js' %}"></script>


<script>
    var chart = Highcharts.chart('container', {

        credits: {
            enabled: false
        },

        title: {
            text: 'Score obtained by {{ memberinfo.username }}'
        },

        // subtitle: {
        //     text: 'Source'
        // },

        yAxis: {
            title: {
                text: 'Score'
            }
        },

        xAxis: {
            type: 'datetime',
            min: Date.UTC(2018, 1, 1),
        },



        tooltip: {
            pointFormat: ' <b>{point.y}</b> %<br/>',
            shared: true
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        plotOptions: {
            series: {
                events: {
                    legendItemClick: function (event) {
                        var thisSeriesName = this.name;
                        var thisSeriesVisibility = this.visible ? true : false;
                        $(chart.series).each(function (i, e) {
                            if (thisSeriesName !== e.name) {
                                e.hide();
                            } else {
                                thisSeriesVisibility ? e.hide() : e.show();
                            }
                        });
                        event.preventDefault();
                    }
                }

            }
        },



        series: [{
            name: 'Pre-Test',
            data: [
                {% for i in sittings %}
                    {% if i.quiz.pre_test and i.end %}
    [Date.UTC({ { i.end | date: "Y" } }, { { i.end | date: "d" } }, { { i.end | date: "m" } }), { { i.get_percent_correct } }],
    {% endif %}
    {% endfor %}
            ], visible: true
        },
    {
        name: 'Post-Test',
            data: [{% for i in sittings %}
    {% if i.quiz.post_test and i.end %}
    [Date.UTC({ { i.end | date: "Y" } }, { { i.end | date: "d" } }, { { i.end | date: "m" } }), { { i.get_percent_correct } }],
        {% endif %}
    {% endfor %}], visible: false
        },
    {
        name: 'Exam Paper',
            data: [{% for i in sittings %}
    {% if i.quiz.exam_paper and i.end %}
    [Date.UTC({ { i.end | date: "Y" } }, { { i.end | date: "d" } }, { { i.end | date: "m" } }), { { i.get_percent_correct } }],
        {% endif %}
    {% endfor %}], visible: false
    },
    {
        name: 'Pre-Test / Post-Test',
            data: [{% for i in sittings %}
    {% if i.quiz.pre_test and i.quiz.post_test and i.end %}
    [Date.UTC({ { i.end | date: "Y" } }, { { i.end | date: "d" } }, { { i.end | date: "m" } }), { { i.get_percent_correct } }],
        {% endif %}
    {% endfor %}

                ], visible: false
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

    });
</script>


<script>

    var No_PreQuiz = 0;
    var No_PostQuiz = 0;
    var No_Exam = 0;
    var No_PreQuizPost_Quiz = 0;

    {% for c in sittings %}
    {% if c.quiz.pre_test and c.end %}
    No_PreQuiz += 1;
    {% endif %}

    {% if c.quiz.post_test and c.end %}
    No_PostQuiz += 1;
    {% endif %}

    {% if c.quiz.exam_paper and c.end %}
    No_Exam += 1;
    {% endif %}

    {% if c.quiz.post_test and c.quiz.pre_test and c.end %}
    No_PreQuizPost_Quiz += 1;
    {% endif %}



    {% endfor %}

    Highcharts.chart('PieChart_Quiz', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },

        credits: {
            enabled: false
        },

        title: {
            text: 'Total Quiz Played by {{ memberinfo.username }}'
        },
        tooltip: {
            pointFormat: '{series.name}:  <b>{point.y}</b><br/>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: <b>{point.y}</b><br/>'
                }
            }
        },
        series: [{
            name: 'Quiz',
            colorByPoint: true,
            data: [{
                name: 'Pre',
                y: No_PreQuiz,
                sliced: true,
                selected: true
            }, {
                name: 'Post',
                y: No_PostQuiz
            }, {
                name: 'Exam Paper',
                y: No_Exam
            }, {
                name: 'Pre/Post',
                y: No_PreQuizPost_Quiz
            }]
        }]
    });

</script>

{% endblock %}