{% load forum_tags %}
{% load i18n %}
{% load static %}
<div class="nav_menu">
    <nav>
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1">
                <div class="nav toggle">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <span class="centerNameTopNav">
                    {% if user.Center_Code %}
                        <img style="max-height: 50px" src="{{ user.Center_Code.Center_Logo.url }}" alt=""/>
                        <b style="padding-left: 1em;">{{ user.Center_Code }}</b>
                    {% endif %}
                </span>
        

            </div>
            <div class="col-md-4 col-sm-7 col-xs-12">
                
        <ul class="nav navbar-nav navbar-right" style="">

            {% if request.user.is_authenticated %}

                <li class="">
                    <a href="javascript:" class="user-profile dropdown-toggle" data-toggle="dropdown"
                       aria-expanded="false">

                        <img src="{{ request.user.Avatar }}" alt="">
                        {{ request.user.username }}
                        <span class="fa fa-angle-down" id="topNavSpan"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        {% if request.user.Is_Student %}
                            <li><a href="/students"> {% trans 'Login as Student' %}</a></li>
                        {% endif %}
                        {% if request.user.Is_Teacher %}
                            <li><a href="/teachers"> {% trans 'Login as Teacher' %}</a></li>
                        {% endif %}

                        <li><a href="{% url 'user_profile' %}"> {% trans 'Profile' %}</a></li>


                        <!-- <li><a href="javascript:">Help</a></li> -->
                        <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> {% trans 'Log Out' %}</a></li>
                    </ul>
                </li>

                <!-- Notification Start -->
                <li role="presentation" class="dropdown msg-box1">
                    <a href="javascript:" class="dropdown-toggle info-number" data-toggle="dropdown"
                       aria-expanded="false">
                        <i class="fa fa-bell-o"></i>

                        <span class="badge bg-green" id="notification_count"></span>

                    </a>
                    <ul id="notification_menu1" class="dropdown-menu list-unstyled msg_list" role="menu">


                    </ul>
                </li>

                <!-- End Of Notification -->

                {% comment %}
                <li role="presentation" class="dropdown msg-box1">
                    <a href="javascript:" class="dropdown-toggle info-number" data-toggle="dropdown"
                       aria-expanded="false">
                        <i class="fa fa-envelope-o"></i>
                        {% if unread_count %}
                            <span class="badge bg-green">{{ unread_count }}</span>
                        {% endif %}
                    </a>
                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                        {% for notification in notifications %}
                            <li>
                                {% if notification.thread %}
                                    {% url 'forum:thread' notification.thread_id as thread_url %}
                                    <a href="{{ thread_url }}">
                            <span class="image"><img src="/media/{{ notification.sender.Member_Avatar }}"
                                                     alt=""/></span>
                                        <span>
                                <span>{{ notification.sender }} </span>
                                <span class="time">{{ notification.pub_date }}</span>
                            </span>
                                        <span class="message">
                                {% blocktrans with username=notification.sender.username thread_title=notification.thread.title %}
                                    <strong> {{ username }} </strong> mentioned you in thread:
                                    <strong> {{ thread_title }}</strong>
                                {% endblocktrans %}

                            </span>
                                    </a>
                                {% else %}
                                    {% url 'forum:thread' notification.post.thread_id as thread_url %}
                                    <a href="{{ thread_url }}">
                            <span class="image"><img src="/media/{{ notification.sender.Member_Avatar }}"
                                                     alt=""/></span>
                                        <span>
                                <span>{{ notification.sender }} </span>
                                <span class="time">{{ notification.pub_date }}</span>
                            </span>
                                        <span class="message">
                                {% blocktrans with username=notification.sender.username thread_title=notification.post.thread.title %}
                                    <strong> {{ username }} </strong> mentioned you when replying to
                                    <strong> {{ thread_title }} </strong>
                                {% endblocktrans %}
                            </span>
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                        <li>
                            <div class="text-center">
                                <a href="{% url 'forum:notifications' %}">
                                    <strong>{% trans 'See All Notifications' %}</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>

                    {% endcomment %}

                    {% if request.path == '/messageinfo/' %}
                        <li>
                            <i class="fa fa-bell fa-2x" id="fa-bell" aria-hidden="true"></i>
                        </li>

                        <li>
                            <i class="fa fa-users fa-2x" id="fa-users" aria-hidden="true"></i>
                        </li>

                        <li>
                            <i class="fa fa-comment fa-2x" id="fa-comment" aria-hidden="true"></i>
                        </li>

                    {% endif %}

                </li>

            {% else %}

                <li><a href="/login">{% trans 'Log In' %}</a></li>
                <li><a href="/register">{% trans 'Register' %}</a></li>
            {% endif %}


        </ul>
            </div>
        </div>
      

       

    </nav>

</div>