{% load static %}
{% load i18n %}
{% include 'WebApp/theme/alerts.html' %}
<div class="modal fade" id="edit_basic_info_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold" id="edit_basic_info_modal_title">
                    {% trans "Edit Basic Information" %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body" id="edit_basic_info_modal_body">
                <form method="post" class="edit-basic-card">
                    {% csrf_token %}
                    <div class="text-center">
                        {% if 'students' not in request.path and 'teachers' not in request.path %}
                        <div class="form-group">
                            <label for="username">{% trans "Username" %} *</label>
                            <input type="text" class="form-control" name="username" id="id_username" type="text"
                                value="{{ user.username}}" required autofocus {% if not request.path == '/profile/' %}
                                readonly {% endif %}>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="first_name">{% trans "First Name" %} *</label>
                                    <input type="text" class="form-control" name="first_name" id="id_first_name"
                                        type="text" value="{{ user.first_name}}" required autofocus>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="last_name">{% trans "Last Name" %} *</label>
                                    <input type="text" class="form-control" name="last_name" id="id_last_name"
                                        type="text" value="{{ user.last_name}}" required autofocus>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Member_BirthDate">{% trans "Date of Birth" %} *</label>
                                    <input name="Member_BirthDate" type="date" class="form-control"
                                        id="id_Member_BirthDate" max="9999-12-31"
                                        value="{{ user.Member_BirthDate|date:'Y-m-d' }}" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="Member_Gender">{% trans "Gender" %} *</label>
                                <div class="form-group mb-4">
                                    <div class="form-check form-check-inline">
                                        <input type="radio" id="male" value="M" name="gender" class="form-check-input"
                                            {% if user.Member_Gender == 'M' %}checked{% endif %}>
                                        <label class="form-check-label" for="male">{% trans "Male" %}</label>
                                    </div>
                                    <div class="form-check form-check-inline ml-5">
                                        <input type="radio" id="female" value="F" name="gender" class="form-check-input"
                                            {% if user.Member_Gender == 'F' %}checked{% endif %}>
                                        <label class="form-check-label" for="female">{% trans "Female" %}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center my-3">
                            <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
                            <button class="btn btn-outline-secondary ml-4" type="reset" id="reset-basic-info"
                                data-dismiss="modal">{% trans "Cancel" %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="edit_contact_info_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold" id="edit_contact_info_modal_title">
                    {% trans "Edit Contact Information" %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body" id="edit_contact_info_modal_body">
                <form method="post" class="edit-contact-card">
                    {% csrf_token %}
                    <div class="text-center">
                        <div class="form-group">
                            <label for="email">{% trans "Personal Email" %} *</label>
                            <input type="email" value="{{ user.email }}" class="form-control" name="email" id="id_email"
                                type="text" required>
                        </div>
                        <div class="form-group">
                            <label for="Member_Phone">{% trans "Phone Number " %}*</label>
                            <input type="tel" name="Member_Phone" class="form-control" id="id_Member_Phone"
                                value="{{ user.Member_Phone }}" required>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Member_Temporary_Address">{% trans "Temporary Address" %}</label>
                                    <input type="text" name="Member_Temporary_Address" class="form-control"
                                        value="{{ user.Member_Temporary_Address }}" id="id_Member_Temporary_Address">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Member_Permanent_Address">{% trans "Permanent Address" %}</label>
                                    <input type="text" name="Member_Permanent_Address" class="form-control"
                                        value="{{ user.Member_Permanent_Address }}" id="id_Member_Permanent_Address">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center my-3">
                            <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
                            <button class="btn btn-outline-secondary ml-3" type="reset" id="reset-contact-info"
                                data-dismiss="modal">{% trans "Cancel" %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="edit_description_info_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold" id="edit_description_info_modal_title">
                    {% trans "Edit Description" %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body" id="edit_description_info_modal_body">
                <form method="post" class="edit-description-card">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_Member_Memo">{% trans "Info about User" %}</label>
                        <textarea class="textarea form-control" name="Member_Memo" id="id_Member_Memo" cols="30"
                            rows="10">{{ user.Member_Memo }}</textarea>

                    </div>
                    <div class="text-center my-3">
                        <button class="btn btn-primary pmd-ripple-effect pmd-btn-raised"
                            type="submit">{% trans "Submit" %}</button>
                        <button class="btn btn-outline-secondary pmd-ripple-effect ml-3" type="button"
                            id="reset-description-info" data-dismiss="modal">{% trans "Cancel" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="profile-container bg-dark align-items-center" style="height: 12rem;">
    <div class="profile-bar" style="background: none;">
        <div class="d-flex align-items-end justify-content-between w-100">
            <div class="d-flex align-items-center">
                <figure class="avatar mr-2" style="height: 8rem; width: 8rem;">
                    {% if request.user.Avatar %}
                    <img src="{{ request.user.Avatar }}" class="rounded-circle" alt="avatar">
                    {% else %}
                    <img src="{% static 'media/image/user/man_avatar3.jpg'%}" class="rounded-circle" alt="avatar">
                    {% endif %}
                </figure>
                <div class="ml-3">
                    <h3 class="mb-2">
                        {% if user.first_name %}
                        {{ user.getFullName }}
                        {% else %}
                        {{ user.username}}
                        {% endif %}
                    </h3>
                    <!-- <small class="opacity-7"> -->
                    <i class="fa fa-user"></i>&nbsp; {{ user.get_user_type }}
                    <!-- </small> -->
                </div>
            </div>
            <div class="upload-btn-wrapper">
                <form class="profile-pic-upload" enctype="multipart/form-data">
                    <button class="btn btn-sm text-white">{% trans "Change Avatar" %}</button>
                    <input type="file" name="Member_Avatar" id="id_Member_Avatar" accept="image/*">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-12 text-center text-primary">
    <h3>{% trans "Basic Information" %}
        <div class="dropdown pull-right">
            <div data-toggle="dropdown" class="cursor-pointer height-50 width-50">
                <i class="fa fa-ellipsis-v"></i>
            </div>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal"
                    data-target="#edit_basic_info_modal" data-animated>{% trans "Edit" %}</a>
            </div>
        </div>
    </h3>
</div>
<!-- <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 control-label">Avatar</label>
    <div class="col-md-6">
        <div class="media v-middle">
            <div class="media-left">
                <div class="icon-block width-100 bg-grey-100">
                    <i class="fa fa-photo text-light"></i>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="p-3">
    <div class="form-group row">
        <div class="d-flex justify-content-between align-items-baseline align-items-baseline col-lg-2 col-4">
            <label for="member_id" class="control-label">
                {% trans "Member ID" %}
            </label>
            <i class="fa fa-hashtag"></i>
        </div>
        <div class="col-lg-10 col-8">
            <h5>{{ user.Member_ID }}</h5>
        </div>
    </div>
    <div class="form-group row">
        <div class="d-flex justify-content-between align-items-baseline col-lg-2 col-4">
            <label for="username" class="control-label">
                {% trans "Username" %}
            </label>
            <i class="fa fa-at"></i>
        </div>
        <div class="col-lg-10 col-8">
            <h5>{{ user.username }}</h5>
        </div>
    </div>
    <div class="form-group row">
        <div class="d-flex justify-content-between align-items-baseline col-lg-2 col-4">
            <label for="full_name" class="control-label">{% trans "Full Name" %}</label>
            <i class="fa fa-user"></i>
        </div>
        <div class="col-lg-10 col-8">
            <h5>
                {% if user.first_name %}
                {{ user.getFullName }}
                {% else %}
                -
                {% endif %}
            </h5>
        </div>
    </div>
    <div class="form-group row">
        <div class="d-flex justify-content-between align-items-baseline col-lg-2 col-4">
            <label for="date_of_birth" class="control-label">
                {% trans "Date of Birth" %}
            </label>
            <i class="fa fa-calendar"></i>
        </div>
        <div class="col-lg-10 col-8">
            <h5>{{ user.Member_BirthDate|date }}</h5>
        </div>
    </div>
    <div class="form-group row">
        <div class="d-flex justify-content-between align-items-baseline col-lg-2 col-4">
            <label for="gender" class="control-label">
                {% trans "Gender" %}
            </label>
            <i class="fa fa-venus-mars"></i>
        </div>
        <div class="col-lg-10 col-8">
            <h5>{{ user.get_Member_Gender_display }}</h5>
        </div>
    </div>
</div>
<hr>

<div class="col-12 text-center text-primary">
    <h3>{% trans "Contact Information" %}
        <div class="dropdown pull-right">
            <div data-toggle="dropdown" class="cursor-pointer height-50 width-50">
                <i class="fa fa-ellipsis-v "></i>
            </div>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal"
                    data-target="#edit_contact_info_modal" data-animated>{% trans "Edit" %}</a>
            </div>
        </div>
    </h3>
</div>
<div class="p-3">
    <div class="form-group row">
        <div class="d-flex justify-content-between align-items-baseline col-lg-2 col-5">
            <label for="email" class="control-label">
                {% trans "Email" %}
            </label>
            <i class="fa fa-envelope"></i>
        </div>
        <div class="col-lg-10 col-7">
            <h5>{{ user.email }}</h5>
        </div>
    </div>
    <div class="form-group row">
        <div class="d-flex justify-content-between align-items-baseline col-lg-2 col-5">
            <label for="phone_number" class="control-label">
                {% trans "Phone Number" %}
            </label>
            <i class="fa fa-phone"></i>
        </div>
        <div class="col-lg-10 col-7">
            <h5>{{ user.Member_Phone }}</h5>
        </div>
    </div>
    <div class="form-group row">
        <div class="d-flex justify-content-between align-items-baseline col-lg-2 col-5">
            <label for="temporary_address" class="control-label">
                {% trans "Temporary Address" %}
            </label>
            <i class="fa fa-map-marker"></i>
        </div>
        <div class="col-lg-10 col-7">
            <h5>{{ user.Member_Temporary_Address }}</h5>
        </div>
    </div>
    <div class="form-group row">
        <div class="d-flex justify-content-between align-items-baseline col-lg-2 col-5">
            <label for="permanent_address" class="control-label">
                {% trans "Permanent Address" %}
            </label>
            <i class="fa fa-home"></i>
        </div>
        <div class="col-lg-10 col-7">
            <h5>{{ user.Member_Permanent_Address }}</h5>
        </div>
    </div>
</div>
<hr>
<div class="col-12 text-center text-primary">
    <h3>{% trans "Additional Information" %}</h3>
</div>
<div class="p-3">
    <div class="form-group row">
        <div class="d-flex justify-content-between align-items-baseline col-lg-2 col-4">
            <label for="center_code" class="control-label">
                {% trans "Center Name" %}
            </label>
            <i class="fa fa-institution"></i>
        </div>
        <div class="col-lg-10 col-8">
            <h5>{{ user.Center_Code.Center_Name }}</h5>
        </div>
    </div>
    <div class="form-group row">
        <div class="d-flex justify-content-between align-items-baseline col-lg-2 col-4">
            <label for="user_type" class="control-label">
                {% trans "User Type" %}
            </label>
            <i class="fa fa-user"></i>
        </div>
        <div class="col-lg-10 col-8">
            <h5>{{ user.get_user_type }}</h5>
        </div>
    </div>
    <div class="form-group row">
        <div class="d-flex justify-content-between align-items-baseline col-lg-2 col-4">
            <label for="user_type" class="control-label">
                {% trans "Joined Date" %}
            </label>
            <i class="fa fa-calendar"></i>
        </div>
        <div class="col-lg-10 col-8">
            <h5>{{ user.Register_DateTime|date }}</h5>
        </div>
    </div>
    <div class="form-group row">
        <div class="d-flex justify-content-between align-items-baseline col-lg-2 col-4">
            <label for="last_login" class="control-label">
                {% trans "Last Login" %}
            </label>
            <i class="fa fa-clock-o"></i>
        </div>
        <div class="col-lg-10 col-8">
            <h5>{{ user.last_login|timesince }} ago</h5>
        </div>
    </div>
</div>
<hr>

<div class="col-12 text-center text-primary">
    <h3>{% trans "Description" %}
        <div class="dropdown pull-right">
            <div data-toggle="dropdown" class="cursor-pointer height-50 width-50">
                <i class="fa fa-ellipsis-v "></i>
            </div>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal"
                    data-target="#edit_description_info_modal" data-animated>{% trans "Edit" %}</a>
            </div>
        </div>
    </h3>
    <p class="text-dark">
        {% if user.Member_Memo %}
        {{ user.Member_Memo|truncatewords:80 }}
        {% else %}
        {% trans "Please Add Description About You" %}
        {% endif %}
    </p>
</div>
<hr>

<div class="col-12 text-center text-primary">
    <!-- <h3>Password
    </h3> -->
    <p class="text-dark">
        <a class="btn btn-outline-primary" href="{% if 'teacher' in request.path %}
                                        {% url 'teacher_change_password' %}
                                    {% elif 'student' in request.path %}
                                        {% url 'student_change_password' %}
                                    {% else %}
                                        {% url 'centeradmin_change_password' %}
                                    {% endif %}">
            {% trans "Change Password" %}
        </a>

    </p>
</div>