@media (min-width:1052px) and (max-width:1139px){
    .obj-img-holder {
         height: 42px;
     }
     .individual-objects {
         padding: 20px 7px 15px 7%;
         font-size: 12px;
     }
  
 
 
 }
 @media (min-width:768px) and (max-width:1050px) {
     .small-canvases-list {
         margin-top: 10px;
         list-style: none;
         display: flex;
         align-items: unset;
         padding: 15px 15px 15px 10px;
     }
     .span-number{
         margin-right: 8px;
     }
 }
 
 @media (min-width:1000px) and (max-width:1050px){
    
     
     .ols-names{
         font-size: 12px;
     }
     .individual-objects {
         padding: 25px 7px 30px 7%;
         font-size: 12px;
     }
     .object-image-size{
         margin-right: 5px;
     }
     
 }
 
 @media (min-width:900px) and (max-width:999px){
     .ols-part{
         padding: 0 0px 0px 11px!important;
     }
     .individual-objects {
         padding: 20px 7px 14px 7%;
         font-size: 12px;
     }
     .object-image-size {
         height: 23px;
         width: 30px;
         margin-right: 4px;
     }
     .object-name-size{
         font-size:13px
     }
     .ols-name1{
         font-size:12px
     }
     .ols-name2{
         font-size:12px
     }
     .ols-name3{
         font-size:12px
     }
 
 }
 @media (min-width:768px) and (max-width:899px){
     .ols-part{
         padding: 0 0px 0px 11px!important;
     }
     .individual-objects {
         padding: 20px 7px 14px 7%;
         font-size: 12px;
     }
     .object-image-size {
         height: 23px;
         width: 30px;
         margin-right: 4px;
     }
     .object-name-size{
         font-size:11px
     }
     .ols-name1{
         font-size:11px
     }
     .ols-name2{
         font-size:11px
     }
     .ols-name3{
         font-size:11px
     }
 
 }
 
 @media all and (max-width:767px){
 
     .buttons-chapter-only{
         text-align: left;
     
     }
     .exit-button-only{
         text-align: left;
 
     }
     .btn-type1{
         padding: 4px 5px;
         margin-right: 3px;
         font-size: 11px;
         font-weight: 600;
         color: #79a6fb;
         text-transform: uppercase;
     
         border-radius: 50px;
         border:1.5px solid #79a6fb;
         
         background-color: #353c46;
        
     }
 
 }
 
 @media (min-width:300px) and (max-width:531px){
     .chapter-title-only{
         margin-bottom: 5px;
         text-align: left;
     }
     .btn-type1{
     padding: 4px 3px;
     margin-right: 4px;
     font-size: 9px;
     }
     .exit-button-only{
         text-align: left;
 
     }
     .buttons-chapter-only{
         text-align: left;
         margin-bottom: 5px;
 
     }
 
 
 }
 @media (min-width:532px) and (max-width:700px){
     
     .btn-type1{
     padding: 4px 3px;
     margin-right: 3px;
     font-size: 9px;
     }
  
 
 
 }
 @media (min-width:300px) and (max-width:575px){
     
    .component-container{
        height: 20vh;
    }
    .row-ols{
        height:13vh
    }
 
 
 }
 
 
 
 
 @media (min-height:800px) and (max-height:900px){
     .component-container {
         height: 6vh;
         
     }
     .ols-part{
         height: 94vh;
     }
     .preview-canvas-part{
         height: 94vh;
 
     }
     .main-canvas-part {
         height: 94vh;
 
     }
     .main-central-canvas {
         height: 63.5vh;
         background-color: white;
     }
     .row-ols {
         padding: 8px;
      
         height: 9vh;
     }
     .icon-boxes {
         height: 74vh;
     }
 }
 @media (min-height:901px) and (max-height:1000px){
     .component-container {
         height: 5.5vh;
         
     }
     .ols-part{
         height: 94.5vh;
     }
     .preview-canvas-part{
         height: 94.5vh;
 
     }
     .main-canvas-part {
         height: 94.5vh;
 
     }
     .main-central-canvas {
         height: 65.5vh;
         background-color: white;
     }
     .row-ols {
         padding: 7px;
      
         height: 8vh;
     }
     .icon-boxes {
         height: 77vh;
     }
 }
 @media (min-height:1001px) and (max-height:1100px){
     .component-container {
         height: 5vh;
         
     }
     .ols-part{
         height: 95vh;
     }
     .preview-canvas-part{
         height: 95vh;
 
     }
     .main-canvas-part {
         height: 95vh;
 
     }
     .main-central-canvas {
         height: 70vh;
         background-color: white;
     }
     .row-ols {
         padding: 7px;
      
         height: 7vh;
     }
     .icon-boxes {
         height: 80vh;
     }
 }
 @media (min-height:1101px) and (max-height:1200px){
     .component-container {
         height: 4.6vh;
         
     }
     .ols-part{
         height: 95.4vh;
     }
     .preview-canvas-part{
         height: 95.4vh;
 
     }
     .main-canvas-part {
         height: 95.4vh;
 
     }
     .main-central-canvas {
         height: 91vh;
         background-color: white;
     }
     .row-ols {
         padding: 7px;
      
         height: 6.5vh;
     }
     .icon-boxes {
         height: 88.9vh;
     }
 }
 @media (min-height:1201px) and (max-height:1300px){
     .component-container {
         height: 4vh;
         
     }
     .ols-part{
         height: 96vh;
     }
     .preview-canvas-part{
         height: 96vh;
 
     }
     .main-central-canvas {
         height: 92vh;
         background-color: white;
     }
     .main-canvas-part {
         height: 96vh;
     }
     .row-ols {
         padding: 7px;
      
         height: 6vh;
     }
     .icon-boxes {
         height: 90vh;
     }
 
     
 }
 @media (min-height:1301px) and (max-height:1500px){
     .component-container {
         height: 3.5vh;
         
     }
     .ols-part{
         height: 96.5vh;
     }
     .preview-canvas-part{
         height: 96.5vh;
 
     }
     .main-canvas-part {
         height: 96.5vh;
 
     }
     .main-central-canvas {
         height: 75vh;
         background-color: white;
     }
     .row-ols {
         padding: 10px;
      
         height: 6vh;
     }
     .icon-boxes {
         height: 82.5vh;
     }
 }
 @media (min-height:1501px) and (max-height:1600px){
     .component-container {
         height: 3.2vh;
         
     }
     .ols-part{
         height: 96.8vh;
     }
     .preview-canvas-part{
         height: 96.8vh;
 
     }
     .main-canvas-part {
         height: 96.8vh;
 
     }
     .main-central-canvas {
         height: 93vh;
         background-color: white;
     }
     .row-ols {
         padding: 10px;
      
         height: 5.5vh;
     }
     .icon-boxes {
         height: 91.3vh;
     }
 }
 
 
 @media (min-height:1025px) and (max-height:1550px){
   
     
     
     .individual-objects {
         padding: 20px 7px 40px 7%;
         font-size: 12px;
     }
 
 }
 
 
 