@media (min-width:1052px) and (max-width:1139px){
    .obj-img-holder {
         height: 42px;
     }
     .individual-objects {
         padding: 20px 7px 15px 7%;
         font-size: 12px;
     }
  
 
 
 }
 @media (min-width:1052px) and (max-width:1200px){}
 .small-canvases {
    height: 100px;
    width: 160px;
    background-color: white;
    /* margin: auto; */
    /* margin: 15px auto; */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    }
    .small-canvases::before{
        content: attr(data-before);
        margin-left: -22px;
    }
       
 @media (min-width:768px) and (max-width:800px) {
    
    .small-canvases {
        height: 90px;
        width: 115px;
        background-color: white;
        /* margin: auto; */
        /* margin: 15px auto; */
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        }
        .small-canvases::before {
            content: attr(data-before);
            margin-left: -15px;
        }
 }
 
 @media (min-width:801px) and (max-width:900px) {
    
    .small-canvases {
        height: 95px;
        width: 124px;
        background-color: white;
        /* margin: auto; */
        /* margin: 15px auto; */
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        }
        .small-canvases::before {
            content: attr(data-before);
            margin-left: -15px;
        }
        .note-chapter p {
            margin-bottom: 0px !important;
            font-size: 12px;
        }
 }
 @media (min-width:901px) and (max-width:999px) {
    
    .small-canvases {
        height: 98px;
        width: 128px;
        background-color: white;
        /* margin: auto; */
        /* margin: 15px auto; */
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        }
        .small-canvases::before {
            content: attr(data-before);
            margin-left: -15px;
        }
        .note-chapter p {
            margin-bottom: 0px !important;
            font-size: 13px;
        }
 }
 
 @media (min-width:1000px) and (max-width:1050px){
    
     
     .ols-names{
         font-size: 12px;
     }
     .individual-objects {
         padding: 25px 7px 14px 7%;
         font-size: 12px;
     }
     .object-image-size{
         margin-right: 5px;
     }
     .ols-name1 , .ols-name2 , .ols-name3{
         font-size: 11px;
     }
     
 }
 
 @media (min-width:900px) and (max-width:999px){
     .ols-part{
         padding: 0 0px 0px 11px!important;
     }
     .individual-objects {
         padding: 20px 7px 14px 7%;
         font-size: 12px;
     }
     .object-image-size {
         height: 23px;
         width: 30px;
         margin-right: 4px;
     }
     .object-name-size{
         font-size:13px
     }
     .ols-name1{
         font-size:12px
     }
     .ols-name2{
         font-size:12px
     }
     .ols-name3{
         font-size:12px
     }
 
 }
 @media (min-width:768px) and (max-width:899px){
     .ols-part{
         padding: 0 0px 0px 11px!important;
     }
     .individual-objects {
         padding: 20px 7px 14px 7%;
         font-size: 12px;
     }
     .object-image-size {
         height: 23px;
         width: 30px;
         margin-right: 4px;
     }
     .object-name-size{
         font-size:11px
     }
     .ols-name1{
         font-size:11px
     }
     .ols-name2{
         font-size:11px
     }
     .ols-name3{
         font-size:11px
     }
 
 }
 
 @media all and (max-width:767px){
 
     .buttons-chapter-only{
         text-align: left;
     
     }
     .exit-button-only{
         text-align: left;
 
     }
     .btn-type1{
         padding: 4px 5px;
         margin-right: 3px;
         font-size: 11px;
         font-weight: 600;
         color: #79a6fb;
         text-transform: uppercase;
     
         border-radius: 50px;
         border:1.5px solid #79a6fb;
         
         background-color: #353c46;
        
     }
  
 }
 
 @media (min-width:300px) and (max-width:531px){
     .chapter-title-only{
         margin-bottom: 5px;
         text-align: left;
     }
     .btn-type1{
     padding: 4px 3px;
     margin-right: 4px;
     font-size: 9px;
     }
     
 
 
 }
 @media (min-width:532px) and (max-width:700px){
     
     .btn-type1{
     padding: 4px 3px;
     margin-right: 3px;
     font-size: 9px;
     }
    
   
  
 
 
 }
 @media (min-width:300px) and (max-width:575px){
     
    .component-container{
        height: 20vh;
    }
    .row-ols{
        height:13vh
    }
 
 
 }

 @media (min-height:500px) and (max-height:600px){
     .component-container{
         height: 9vh;
     }
     .ols-part{
        height: 91vh;
    }
    .preview-canvas-part{
        height: 91vh;

    }
    .main-canvas-part {
        height: 91vh;

    }
    .note-holder {
        padding: 14px 16px !important;
        color: white;
        background-color: #353c46;
        height: 85px;
    }

    .additional-canvas{
        height: 51vh;
    }
    .add-page{
        padding-top: 8px;
    }
    .ols-objects{
        margin-top: 20px;
    }
    .ols-each-content{
        margin-bottom: 20px;
    }
    .small-canvases{
        height: 83px;
        width: 143px;
        margin-bottom: 15px;
    }


 }
 @media (min-height:601px) and (max-height:649px){
        .row-ols{
            height: 12vh;
        }
        .ols-each-content {
            background-color: #eef2f5;
            margin-bottom: 15px;
        }
        .small-canvases {
            height: 90px;
            width: 142px;
            background-color: white;
        }
        .add-page{
            padding-top: 10px;
        }

        .additional-canvas{
            height: 55vh;
        }
        .note-holder{
            height: 100px;
        }
 }

 
 
 @media (min-height:650px) and (max-height:750px){
    .additional-canvas {
        height: 58vh;
        overflow: auto;
    }
    .add-page {
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        padding-top: 10px;
    }
    .ols-each-content {
        background-color: #eef2f5;
        margin-bottom: 28px;
    }
    .note-holder{
        height: 100px;
    }

 }
 
 @media (min-height:800px) and (max-height:900px){
     .component-container {
         height: 6vh;
         
     }
     .ols-part{
         height: 94vh;
     }
     .preview-canvas-part{
         height: 94vh;
 
     }
     .main-canvas-part {
         height: 94vh;
 
     }
     .main-central-canvas {
         height: 63.5vh;
         background-color: white;
     }
     .row-ols {
         padding: 8px;
      
         height: 9vh;
     }
     .icon-boxes {
         height: 74vh;
     }
 }
 @media (min-height:901px) and (max-height:1000px){
     .component-container {
         height: 5.5vh;
         
     }
     .ols-part{
         height: 94.5vh;
     }
     .preview-canvas-part{
         height: 94.5vh;
 
     }
     .main-canvas-part {
         height: 94.5vh;
 
     }
     .main-central-canvas {
         height: 65.5vh;
         background-color: white;
     }
     .row-ols {
         padding: 7px;
      
         height: 8vh;
     }
     .icon-boxes {
         height: 77vh;
     }
 }
 @media (min-height:1001px) and (max-height:1100px){
     .component-container {
         height: 5vh;
         
     }
     .ols-part{
         height: 95vh;
     }
     .preview-canvas-part{
         height: 95vh;
 
     }
     .main-canvas-part {
         height: 95vh;
 
     }
     .main-central-canvas {
         height: 70vh;
         background-color: white;
     }
     .row-ols {
         padding: 7px;
      
         height: 7vh;
     }
     .icon-boxes {
         height: 80vh;
     }
 }
 @media (min-height:1101px) and (max-height:1200px){
     .component-container {
         height: 4.6vh;
         
     }
     .ols-part{
         height: 95.4vh;
     }
     .preview-canvas-part{
         height: 95.4vh;
 
     }
     .main-canvas-part {
         height: 95.4vh;
 
     }
     .main-central-canvas {
         height: 72vh;
         background-color: white;
     }
     .row-ols {
         padding: 7px;
      
         height: 6.5vh;
     }
     .icon-boxes {
         height: 81.5vh;
     }
 }
 @media (min-height:1201px) and (max-height:1300px){
     .component-container {
         height: 4vh;
         
     }
     .ols-part{
         height: 96vh;
     }
     .preview-canvas-part{
         height: 96vh;
 
     }
     .main-central-canvas {
         height: 57vh;
         background-color: white;
     }
     .main-canvas-part {
         height: 96vh;
     }
     .row-ols {
         padding: 7px;
      
         height: 6vh;
     }
     .icon-boxes {
         height: 90vh;
     }
     
 
     
 }
 @media (min-height:1301px) and (max-height:1500px){
     .component-container {
         height: 3.5vh;
         
     }
     .ols-part{
         height: 96.5vh;
     }
     .preview-canvas-part{
         height: 96.5vh;
 
     }
     .main-canvas-part {
         height: 96.5vh;
 
     }
     .main-central-canvas {
         height: 75vh;
         background-color: white;
     }
     .row-ols {
         padding: 10px;
      
         height: 6vh;
     }
     .icon-boxes {
         height: 82.5vh;
     }
    
 }
 @media (min-height:1501px) and (max-height:1600px){
     .component-container {
         height: 3.2vh;
         
     }
     .ols-part{
         height: 96.8vh;
     }
     .preview-canvas-part{
         height: 96.8vh;
 
     }
     .main-canvas-part {
         height: 96.8vh;
 
     }
     .main-central-canvas {
         height: 93vh;
         background-color: white;
     }
     .row-ols {
         padding: 10px;
      
         height: 5.5vh;
     }
     .icon-boxes {
         height: 91.3vh;
     }
   
 }

 
 
 @media (min-height:1025px) and (max-height:1550px){
   
     
     
     .individual-objects {
         padding: 20px 7px 36px 7%;
         font-size: 12px;
     }
 
 }
 
 
 