@media (min-width:1052px) and (max-width:1139px){
   .obj-img-holder {
        height: 63px;
    }
    .individual-objects {
        padding: 20px 7px 15px 7%;
        font-size: 12px;
    }
 


}
@media (min-width:768px) and (max-width:1050px) {
    .small-canvases-list {
        margin-top: 10px;
        list-style: none;
        display: flex;
        align-items: unset;
        padding: 15px 15px 15px 10px;
    }
    .span-number{
        margin-right: 8px;
    }
}

@media (min-width:1000px) and (max-width:1050px){
   
    .obj-img-holder {
        height: 60px;
    }
    .layout-img-holder{
        height: 60px;

    }
    .source-img-holder{
        height: 60px;

    }
    
    .ols-names{
        font-size: 12px;
    }
    .individual-objects {
        padding: 25px 7px 30px 7%;
        font-size: 12px;
    }
    .object-image-size{
        margin-right: 5px;
    }
    
}

@media (min-width:900px) and (max-width:999px){
    .ols-part{
        padding: 0 0px 0px 11px!important;
    }
    .individual-objects {
        padding: 20px 7px 14px 7%;
        font-size: 12px;
    }
    .object-image-size {
        height: 23px;
        width: 30px;
        margin-right: 4px;
    }
    .object-name-size{
        font-size:13px
    }
    .ols-name1{
        font-size:12px
    }
    .ols-name2{
        font-size:12px
    }
    .ols-name3{
        font-size:12px
    }

}
@media (min-width:768px) and (max-width:899px){
    .ols-part{
        padding: 0 0px 0px 11px!important;
    }
    .individual-objects {
        padding: 20px 7px 14px 7%;
        font-size: 12px;
    }
    .object-image-size {
        height: 23px;
        width: 30px;
        margin-right: 4px;
    }
    .object-name-size{
        font-size:11px
    }
    .ols-name1{
        font-size:11px
    }
    .ols-name2{
        font-size:11px
    }
    .ols-name3{
        font-size:11px
    }

}

@media all and (max-width:767px){

    .buttons-chapter-only{
        text-align: left;
    
    }
    .exit-button-only{
        text-align: left;

    }
    .btn-type1{
        padding: 4px 5px;
        margin-right: 3px;
        font-size: 11px;
        font-weight: 600;
        color: #79a6fb;
        text-transform: uppercase;
    
        border-radius: 50px;
        border:1.5px solid #79a6fb;
        
        background-color: #353c46;
       
    }

}

@media (min-width:300px) and (max-width:531px){
    .chapter-title-only{
        margin-bottom: 5px;
        text-align: left;
    }
    .btn-type1{
    padding: 4px 3px;
    margin-right: 4px;
    font-size: 9px;
    }
    .exit-button-only{
        text-align: left;

    }
    .buttons-chapter-only{
        text-align: left;
        margin-bottom: 5px;

    }


}
@media (min-width:532px) and (max-width:700px){
    
    .btn-type1{
    padding: 4px 3px;
    margin-right: 3px;
    font-size: 9px;
    }
 


}



@media (min-height:1024px) and (max-height:1550px){
    .ols-part{
        height: 95.5vh;
    }
    .preview-canvas-part{
        height: 95.5vh;

    }
    .main-canvas-part {
        height: 95.5vh;

    }
    .main-central-canvas {
        height: 90vh;
        background-color: white;
    }
    .icon-boxes{
        height:86vh
    }
    .individual-objects {
        padding: 20px 7px 30px 7%;
        font-size: 12px;
    }

}

