* {
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}


html, body {
    height: 100%;
    font-size: 16px;
}

a:hover {
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* header-part */
.container-fluid {
    padding: 0 !important;

}

.main-canvas-holder {
    margin: 78px 0 110px 0;
    padding-right: 40px !important;
}

.builder-top {

    padding-left: 10px;
    background-color: #353c46;

}

.component-container {

    height: 7vh;
    border-bottom: 2px solid #79a6fb;
}

.chapter-title-only {
    line-height: 50px;
    color: white;
    font-weight: 600;
}

.chapter-name i {
    color: #8592a4;
}

.buttons-chapter-only {
    text-align: right;
    padding-top: 10px;
    padding-right: 0px !important;


}


.buttons-chapter-only a {
    color: #79a6fb;
    text-decoration: none;
}

.exit-button-only a:hover, .exit-button-only a:active, .exit-button-only a:focus {

    text-decoration: none;

}
#SaveBtn:active , #SaveBtn:focus{
    text-decoration: none;
    color: white;
    background-color: #353c46;
}

.exit-button-only a:active, .exit-button-only a:focus {
    color: white;
}

.exit-button-only {
    text-align: center;

    line-height: 50px;
    color: #8592a4;

}

.exit-button-only a {
    color: #8592a4;
}

.exit-button-only a:hover {
    color: white;
    text-decoration: none;
}

.btn-type1 {
    padding: 4px 15px;
    margin-right: 5px;
    font-size: 12px;
    font-weight: 600;
    color: #79a6fb;
    text-transform: uppercase;

    border-radius: 50px;
    border: 1.5px solid #79a6fb;

    background-color: #353c46;

}

.btn-type1:focus {
    background: #bcd2fd;
    color: #353c46;
    outline: none !important;
}

#togglefull:hover {
    cursor: pointer;
}


/* Header-ends */


/* MAIN-BODY STARTS */


.container-body-part {

}

.body-holder {
    padding: 0px !important;
}

.ols-objects {
    text-align: center;
    margin-top: 40px;
}

.ols-part {
    background-color: #cbd4e1;
    padding: 0 20px 0px 20px !important;
    height: 93vh;
}

.ols-each-content {
    background-color: #eef2f5;
    margin-bottom: 40px;
}

.layouts-only {
    background-color: #eef2f5;
    height: 72vh;
}

.layout-type-holder {
    margin: 15px 10px 0 10px;
    height: 75px;
}

.layout-type-holder img {
    height: 100%;
    width: 100%;
}

.list-objects {
    padding-left: 0px !important;
    margin-bottom: 0px !important;
    text-align: left;
    list-style: none;

}

.individual-objects {
    padding: 15px 15px 4px 15%;
    font-size: 17px;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}

.individual-objects:hover {
    background-color: #e1e7f0;
    cursor: pointer;

}

.media-items-only {
    background-color: #eef2f5;
    height: 72vh;
}

.list-objects a {
    color: black;
    text-decoration: none;
}

.list-objects a:hover {
    color: black;
    text-decoration: none;

}

.custom-dropdown {
    text-align: center;
    width: 100%;
    margin-top: 20px

}
.custom-dropdown-2{
    text-align: center;
    width: 100%;
    

}
.chapter-listings{
    padding: 10px;
}
.form-group{
    margin-bottom: 0px!important;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    width: 100% !important;
}

.all-item-word:hover {
    color: black;
    text-decoration: none;
}

.own-padding {
    padding: 0px !important;
}

.object-image-size {
    height: 23px;
    width: 30px;
    margin-right: 10px;
}

.object-name-size {
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
}

.object-name-size:hover {
    color: black;
    text-decoration: none;
}

.icon-boxes {
    height: 72vh;
    overflow: auto;
}

.icon1 {
    font-size: 60px;
    color: white;
}

.icon1:hover {
    color: #79a6fb;
}

.icon1:focus {
    background-color: #79a6fb;

}

.main-canvas-part {

    height: 93vh;
    background-color: #cbd4e1;


}

.preview-canvas-part {
    padding: 0px !important;
    margin: 0px !important;
    height: 93vh;
    background-color: #eef2f5;

}

.row-ols {
    padding: 5px 8px;
    background-color: #353c46;
    height: 10vh;
}

.obj-img {

    width: 33.33%;
    float: left;
    padding: 1px;


}

.layout-img {
    width: 33.33%;
    float: left;
    padding: 1px;


}

.source-img {
    width: 33.33%;
    float: left;
    padding: 1px;


}

.obj-img-holder {
    height: 42px;


}

.obj-img-holder img {
    height: 100%;
    width: 100%;
    color: white;
}

.obj1 {
    display: none
}

.obj2 {
    display: block
}

.obj-img-holder:hover .obj2 {
    display: block;
}

.layout-img-holder {
    height: 42px;


}

.layout-img-holder img {
    height: 100%;
    width: 100%;
    color: white;
}

.layout-img-holder:hover .obj3 {
    display: none;
}

.obj4 {
    display: none
}

.layout-img-holder:hover .obj4 {
    display: block;
}

.source-img-holder {
    height: 42px;


}

.source-img-holder img {
    height: 100%;
    width: 100%;
    color: white;
}

.source-img-holder:hover .obj5 {
    display: none;
}

.obj6 {
    display: none
}

.source-img-holder:hover .obj6 {
    display: block;
}

.view-mode {
    padding: 10px;
    text-align: right;
}

.view-mode a {
    color: black;
}

.view-mode a:hover {
    color: black;
    text-decoration: none;
}

.main-central-canvas {
    height: 62vh;
    background-color: white;
    position: relative;
}

/* rightpart */
[data-title] {
    position: relative;
    cursor: help;
}

[data-title]:hover::before {
    content: attr(data-title);
    position: absolute;
    bottom: -29px;
    right: 6px;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 2px;
    background: #000;
    color: #fff;
    font-size: 12px;
    font-family: sans-serif;
    white-space: nowrap;
    z-index: 9999;

}

[data-title]:hover::after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: -12px;
    display: inline-block;
    color: #fff;
    border: 8px solid transparent;
    border-bottom: 8px solid #000;
    z-index: 9999;
}
.note-holder {
    padding: 9px 14px !important;
    color: white;
    background-color: #353c46;
    height: 76px;
}
.chapter-list-holder{
    background-color: #eef2f5;
}

.note-holder i {
    color: #8592a4;
}

.note-chapter p {
    margin-bottom: 0px !important;

}

.hr_header {
    margin: 5px 0px 8px 0px !important;
    width: 100%;
    height: 2px;
    background-color: #353c46;
}

.additional-canvas {

height: 64vh;

overflow: auto;
}

.small-canvases-list {
    margin-top: 10px;
    list-style: none;
    padding: 1px 9px 15px 13px;
}

.span-number {
    margin-right: 10px;
}

.small-canvases {
    height: 110px;
    width: 176px;
    background-color: white;
    /* margin: auto; */
    /* margin: 15px auto; */
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    }

.small-canvases::before{
    content: attr(data-before);
    margin-left: -20px;
}

.mini-canvas-btns {
    display: none;
}

.small-canvases:hover {
    border: 2px solid #bcd2fd;
    -webkit-box-shadow: 0 0 10px #bcd2fd;
    box-shadow: 0 0 10px #bcd2fd;

}

.small-canvases:hover .mini-canvas-btns {
    display: block;
}

.clone-button {
    background-color: #79a6fb;
    padding: 3px;
    border: none
}

.clone-button i {
    color: white;
}

.delete-button {
    background-color: #79a6fb;
    padding: 3px;
    border: none;
    margin-right: 2px;
}

.delete-button i {
    color: white;
}


hr {
    margin-top: 7px !important;
    margin-bottom: 7px !important;
    border: 0;
    border-top: 2px solid #8592a4 !important;
}

.add-page {
    text-align: center;

    font-size: 12px;
    font-weight: 500;
    padding-top: 33px;
    cursor: pointer;
}

.add-page a {
    color: black;
    cursor: pointer; text-decoration: none;

}

.add-page a:hover , .add-page a:active , .add-page a:focus  {
    text-decoration: none;
    color: black;

}

.full-screen-color li {
    display: inline-block;
}

/* mAIN-BODY ENDS */

/* OLD BUILDER CSS ONLY */


.draggable-style {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    z-index: 9;

}

.draggable-style:active {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}

/* ENDS */


/* Old chapterpagebuilder css */
.note-toolbar .btn-sm {
    font-size: 12px !important;
    padding: 0px;
    min-width: 25px !important;
}

.note-editor.note-frame .note-editing-area {
    height: 100%;
}

.panel-heading.note-toolbar {
    position: fixed;
    top: 6.5vh;
    bottom: 60vh;
    left: 20%;
    height: fit-content;
    width: auto;
}

.panel-default > .panel-heading {
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel {
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    background-color: transparent;
}

#text-actions {
    background: #ddd;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 90;
}


.messageText {
    width: 100%;
    height: 100%;
    padding: 10px;
    resize: none;
}

/* .textdiv:hover{
    cursor: move;
    background: #f4f4f4;

}

.textedit{
    border: 0ch;
    background: #fcfcfc;
    resize: none;
} */


/* ===pic== */

.pic {
    width: 400px;
    height: 200px;
    border: 3px dashed #ddd !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;


}

/* .cross{

    background-color: red;
    color:white;
    position: absolute;
    top:0;
    right:0;
    display: none;
    cursor: pointer;
} */

/* .pic:hover .cross {
   display: block;

} */

.pic h3 {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 0px;
}

#picture-drag {
    opacity: 0.3;
    font-size: 17px;
}


.btn-style {

    background: #39F;
    color: white;
    padding: 10px;
    outline: none;
    text-align: center;
    vertical-align: center;
    box-shadow: 2px 2px 2px #666;

}

.btn-style:hover {
    opacity: 0.5;
}

.btn-style:hover .cross {
    display: block;
    cursor: pointer;

}


.hover-draggable {
    padding: 5px;
}

/* .hover-draggable:hover .cross{
    display:block
}
 */

#pic-actions {
    width: 95%;
    position: absolute;
    left: 0;
    top: 0;
    background: #CCC;
    margin: 5px;
    display: none;
    z-index: 90;
}

.pic:hover #pic-actions {
    opacity: 0.8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

}

html {
    font-size: 14px;
}

.examiframeholder {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9999;
}

.closeiframebtn {
    display: none;
    position: fixed;
    float: right;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    top: 5vh;
    /* left: inherit; */
    right: 1%;
    cursor: pointer;
    bottom: 0;
    /* background-color: white; */
    /* width: 100%; */
    /* left: 48%; */
    text-align: center
}

.closeiframebtn button {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: #d6768c;
}

.closeiframebtn i {
    /* float: right; */
    font-size: xx-large;
    font-weight: bold;
    color: #d6768c;;
    /* border-bottom: groove; */
    /* text-align: center; */

}

.ribbon {
    position: absolute;
    right: 0;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: -webkit-linear-gradient(#9BC90D 0%, #79A70A 100%);
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.ribbon span::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.ribbon span::after {
    content: '';
    position: absolute;
    right: 0%;
    top: 100%;
    z-index: -1;
    border-right: 3px solid #79A70A;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.blue span {
    background: -webkit-linear-gradient(#2989d8 0%, #1e5799 100%);
    background: linear-gradient(#2989d8 0%, #1e5799 100%);
}

.blue span::before {
    border-left-color: #1e5799;
    border-top-color: #1e5799;
}

.blue span::after {
    border-right-color: #1e5799;
    border-top-color: #1e5799;
}

/* Tooltip css */

.tooltip1 {
    /* position: relative; */
    /* display: inline-block; */
    /* border-bottom: 1px dotted black; */
}

.tooltip1 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* left: 50%; */
    margin-left: -60px;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.tooltip1 .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* end of tooltip */

/* To remove the 'Drag Image or text Here' from summernote textbox */
.note-editor.dragover .note-dropzone {
    display: none !important
}

/* End of remove the 'Drag Image or text Here' */

.over {
    background-color: #17a2b8;
    border: 1px solid #17a2b8;
}

.note-toolbar .btn-sm {
    font-size: 12px !important;
    padding: 0px;
    min-width: 25px !important;
}

.note-editor.note-frame .note-editing-area {
    height: 100%;
}

.file-upload-icon {
    height: 85px;
    width: 85px;
    margin: auto;
    cursor: pointer;
}

.file-upload-icon:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

/* ============for video=============== */

.video-div {
    width: 400px;
    height: 200px;
    border: 2px dashed #ddd;
    /* display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center; */
}

#video-drag {
    font-size: 17px;
    opacity: 0.3;
    top: 50%;
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 99;
}

.video-text-div {
    top: 50%;
    position: absolute;
    width: 100%;
    text-align: center;
}

#video-actions {
    width: 95%;
    position: absolute;
    left: 0;
    top: 0;
    background: #CCC;
    margin: 5px;
    display: none;
    z-index: 90;
}

._3dobj-div {
    width: 400px;
    height: 200px;
    border: 3px dashed #ddd !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

#_3dobj-drag {
    font-size: 17px;
    opacity: 0.3;
}

#_3dobj-actions {
    width: 95%;
    position: absolute;
    left: 0;
    top: 0;
    background: #CCC;
    margin: 5px;
    display: none;
    z-index: 90;
}

._3dobj-div:hover #_3dobj-actions {
    opacity: 0.8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

}

.video-div:hover #video-actions {
    opacity: 0.8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

}

.pdfdiv {
    width: 400px;
    height: 200px;
    border: 3px dashed #ddd !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

#pdfdiv-drag {
    font-size: 17px;
    opacity: 0.3;
}

#pdfdiv-actions1 {
    width: 95%;
    position: absolute;
    left: 0;
    top: 0;
    background: #CCC;
    margin: 5px;
    display: none;
    z-index: 90;
}

.pdfdiv:hover #pdfdiv-actions1 {
    opacity: 0.8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

}

.tabs-to-click ul li.current {
    border: 2px solid #17a2b8;

}

/* ======================== End of Old CSS  ==================================================*/