* {
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

body{
    background-color: #191919;
    font-size: 14px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
  }
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
/* HEADER */
.top-header{
    background-color:#070707;

}

.top-holder-row{
    padding: 10px;
    height: 5vh;
}
.course-chapter-holder{
    padding: 0px!important;
    margin: 0px!important;
}
.course-chapter-holder li{
    display: inline-block;
    text-decoration: none;
}
.course-name{
    color:#8793a6;
}
.chapter-name{
    color: white;
}
.page-name-holder{
    text-align: right;

}
.page-name{
    color: white;
    text-align: right;
}

.whole-container{
    position: relative;
}
.chat-sidenav{
    position: absolute;
    top:20px;
    left: 17px;
    padding: 0px!important;
    margin: 0px!important;
    transition: all 0.3s ease;
}
.page-view-icon{
    position: absolute;
    bottom:20px;
    left: 17px;
    cursor: pointer;

}
.page-view-icon i{
    color: white;
    font-size: 25px;
}
.chat-sidenav-close{
    position: absolute;
    top:20px;
    left: 16%;
    padding: 0px!important;
    margin: 0px!important;
   
    z-index: 999;
    display: none;
}

.chat-sidenav li{
   list-style: none;
    margin-bottom: 20px;
}

.chat-sidenav-close li{
    list-style: none;
     margin-bottom: 20px;
 }
 .chat-sidenav-close li:hover{
     cursor: pointer;
 }
 .chat-icon{
    font-size: 30px;
    
}
.icon-video{
    font-size: 28px;
}
.icon-video:hover{
    cursor: pointer;
}
.icon-video:active , .icon-video:focus{
   
    color: #5a738e!important;
}
.chat-icon:active , .chat-icon:focus{
    font-size: 30px;
    color: #5a738e!important;
}
.icon-for-chat{
    text-decoration: none;
    cursor: pointer;
}
.icon-for-chat2{
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
    background: rgb(54, 60, 69,0.8);
    border-radius: 10%;
    padding:  0 3px;
    transition: color 0.3s ease;
}
.icon-for-chat2:hover{
    color: black;
   background-color: white;
}
.icon-for-video2{
    
    background-color: rgb(54, 60, 69,0.8);
    border-radius: 10%;
    padding:   3px;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;


}
.icon-for-video2:hover{
    color: black;
   background-color: white;
}
.icon-video2{
    font-size: 18px;
}
.icon-for-video2 i{
    font-size: 12px;
}
.icon1-largescreen{
    background: rgb(54, 60, 69,0.8);
    /* padding: 3px 10px; */
    color: white;
    font-size: 30px;
    border-radius: 10%;
    padding: 3px;
}


#hamburg-nav{
    font-size: 30px;
    cursor:pointer;
    color:white;
}
.close-icon-sidebar i{
    color: white;
    font-size: 24px;
    background: rgb(54, 60, 69,0.8);
    border-radius: 10%;
    padding: 5px;
    transition: color 0.3s ease;
}
.close-icon-sidebar i:hover{
    color: rgb(182, 36, 36);
   background-color: white;
}
.container12 {
    background-color: white;
    color: black;
    overflow-y: auto;
    overflow-x: hidden;
    width: 92vw;
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: 90%;
    
    max-height: 90vh;
    max-width: 192.78vh;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    
    padding-top: 0 !important;
}
.page-contents{
    height: 100%;
}
.custom-owl-slider{
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 74%;
    background-color: rgb(54, 60, 69,0.9);
    padding: 10px;
    z-index: 999;
}
.custom-owl-slider2{
    
    display: none;
}
.page-link-view{
    position: absolute;
    bottom: 16%;
    left: 1%;
    width: 9%;
    min-height: 90px;
    background-color: white;
    border: 1px solid #363c45;
    text-align: center;
    box-shadow: 0 0 6px rgba(0,0,0,0.6);
    display: none;
    z-index: 99;
    min-width: 120px;
}

.navigation-owl{
    position: absolute;
    bottom: 1%;
    left: 1%;
    width: 9%;
    min-height: 90px;
    background-color: rgb(54, 60, 69,0.9);
    min-width: 9em;
    z-index: 999;
}
.link-view-box{
    position: absolute;
    left: 18.9%;
    bottom: 1%;
    min-height: 94px;
    width: 6%;
    background-color: rgb(54, 60, 69,0.9);
    padding: 7px 0;
    z-index: 999;
}

.number-active{
    text-align: center;
    padding: 2px ;
    background-color: #363c45;
    margin: 20px 0;
    border: 1px solid #79a6fb;
    font-weight: 600;
    width: 35px;
    color: white;


}
.image-holder{
    height: 70px;
    width: auto;
    background-color: white;
    cursor: pointer;
}
.sidenavbar-part{
    height: 95vh;
    width: 15%;
    background-color:rgb(54, 60, 69,0.8);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: none;
    transition-delay: 2s;

}
.nav-view{
    padding: 0!important;
    margin: 0px !important;
    box-shadow: 0 4px 3px -2px rgba(0,0,0,0.4);
}
.nav-view li{
    display: inline-block;
    text-decoration: none;
    /* padding: 5px; */
    width: 30%;
    text-align: center;
    color: white;
    padding: 10px 0;
    cursor: pointer;
}
.view-icon{
    background-color: #363c45;
}
.nav-view li i{
    font-size: 18px;
}
.page-number-list{
    text-align: center;
    line-height: 50px;
}
.sidebar-top{
    height: 11vh;
}
.sidebar-buttom{
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #363c45;

    padding: 10px;
    
}
.sidebar-bottom-icons{
    margin: 0px!important;
}
.sidebar-bottom-icons li{
    display: inline-block;
    padding-right: 2px;
    
}
.glyphicon-fullscreen , .glyphicon-user , .glyphicon-phone , .glyphicon-off{
    color: white;
    font-size: 16px;
    margin: 0px 15px;
}
.profile-description{
    margin: 0!important;
    padding: 20px 15px;
    background-color: #363c45;
    /* padding: 0px; */
}
.profile-description li{
    display: inline-block

}
.profile-image{
    height: 45;
    width: 45px;
    background-color: white;
    border-radius: 50%;
}
.user-information{
   color: #8793a6;
   /* padding:2px; */
   font-size: 16px;
   padding: 0px 0px 0px 4px;
}
.user-name-part{
    margin: 0px!important;
    font-size:13px;
    
}
.chapter-lists-all{
    padding: 13% 10px 10px 11%;
    height: 80vh;
    overflow:auto;
}
.chapter-name1{
    color: #8793a6;
    font-weight: 600;
    text-align: left;
    font-size: 19px;
    margin-bottom: 10px;
}
.chapter-list{
    margin: 0px;
    padding: 0px;
}
.chapter-list li{
    margin: 0px;
    padding: 7px 0;
    color: white;
    list-style: none;
}
.chapter-list li a{
    text-decoration: none;
    color: white;
}
.chapter-list li a:hover , .chapter-list li a:focus , .chapter-list li a:active{
    text-decoration: none;
}

.both-views{
    padding: 0px;
    margin: 16px auto;
}
.both-views li{
   list-style: none;

}
.view-label{
    font-weight: 500;
    font-size: 16px;

}
.view-icon:hover .page-link-view{
    display: block;
}
/* ENDS */


/* CHATBOX STARTS */


.chat-dialogbox{
    height: 435px;
    width: 340px;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    display: none;
    
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
   
}
.video-box{
    height: 400px;
    width: 500px;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    display: none;
     
    position: absolute;
    top: 10px;
    left: 30%;
    z-index: 9999;
}
.video-call-option{
    padding: 0;
    text-align: right;
    background-color: rgba(255,255,255,0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    display: none;
}
.video-box:hover .video-call-option {
    display: block;
}
.video-call-option li {
    display: inline-block;
    margin-right: 10px;
    text-align: right;
    cursor: pointer;
} 
.relative-video-call{
    position: relative;
}
.chat-header{
    background-color: #00aeef;
    padding: 10px;
    margin: 0;
    display: inline-flex;
    width: 100%;
    align-items: center;

}
.chat-header li{
  
    list-style: none;
}
.chat-name-image{
    padding: 0;
    margin: 0;

}
.chat-name-image li {
    display: inline-block;
    list-style: none;

}
.chat-user-image{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
}
.chat-user-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.ham-icon{
    padding-right: 10px;
    COLOR: WHITE;
    cursor: pointer;
}
.user-image-padding{
    padding-right: 10px;
}
.name-user{
    /* padding-right: 20px; */
    COLOR: WHITE;
    /* font-weight: 500; */
    width: 37%;
}
.options-chat{
    /* padding-right: 37px; */
    /* padding-left: 40px; */
    color: white;
    cursor: pointer;
    width: 29%;
}
.close-chat{
    color: white;
    transition: color 0.3s ease-out;
    -webkit-transition:  0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}
.close-chat:hover{
    color: red;
    cursor: pointer;
   
}


.chat-body{
    
    padding: 0px;
    margin: 0;
    display: inline-flex;
    width: 100%;
    

}
.chat-body li{
  
    list-style: none;
}
.left-chat{
    background-color: #effafb;
    width: 22%;
    height: 350px;
    overflow: auto;
    display: none;
}
.chat-canvas{
    background: url('/static/chapterPageBuilder/images/chat-background.png');
    background-position: center;
    background-size: cover;
    background-color: white;
    width: 100%;
    height: 350px;
    padding: 15px 5px;
    overflow: auto;
}
.leftchat-userbox{
    padding: 0px 5px;
    margin: 0;
    display: inline-flex;
    width: 100%;
    align-items: center;
}
.leftchat-userbox li{
    list-style: none;

}
.chat-user-image2{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: white;
    margin-right: 3px;
}
.chat-user-image2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.eachbox{
    padding: 10px 0px;
    border-bottom: 1px solid black;

}
.chat-canavas-boxes{
    padding: 0;
    margin: 0;
    display: inline-flex;

}
.chat-canavas-boxes li{
    list-style: none;
    align-self: center;
}
.image-canvas-part{
    width: 15%;
    margin-right:15px;

}
.chat-space{
    max-width: 80%;
    min-width:60%

}

.chat-text{
    background-color: #c7edfc;
    color: black;
    padding: 10px 5px;
    border-radius: 5px;
    position: relative;
}
.chat-text::after {
    position: absolute;
    content: '';
    bottom: 35%;
    left: -18px;
    border-style: solid;
    border-width: 11px;
    border-color: transparent #c7edfc transparent transparent;
}
.chat-text2{
    background-color: #f0f4f7;
    color: black;
    padding: 10px 5px;
    border-radius: 5px;
    position: relative;
}
.chat-text2::after {
    position: absolute;
    content: '';
    bottom: 35%;
    left: -18px;
    border-style: solid;
    border-width: 11px;
    border-color: transparent #f0f4f7 transparent transparent;
}
.holder-chat{
    margin-bottom: 12px;
}
.image-canvas-part2{
    width: 15%;
    margin-left: 15px;
}
.custom-send{
    font-size:24px; 
    color: white;
    cursor: pointer;
    transition: color 0.5s ease;

}

.friend{
    order: -1;
}
.newdiv{
    display: flex;
}
.send-button{
    padding: 5px 0px 5px 9px;
    background-color: #00aeef;
    cursor: pointer;
    transition: background-color 0.5s ease;
 
}
.send-button:hover{
    background-color: white;
}
.send-button:hover .custom-send{
 color: #00aeef;
}

/* ENDS */
 .owl-prev {
    position: fixed;
    bottom: 10.5vh;
    left: 27.5%;
    border-radius: 50%;
    /* color: #337ab7 !important; */
    box-shadow: 2px 2px 3px #999;
    font-size: 20px!important;
    z-index: 999;
}
.owl-next {
    position: fixed;
    bottom: 10.5vh;
    right: 4.75%;
    border-radius: 50%;
    /* color: #337ab7 !important; */
    box-shadow: 2px 2px 3px #999;
    font-size: 20px !important;
    z-index: 999;
}

textarea.form-control {
    height: auto;
    resize: none !important;
}

.icon2-smallscreen {
    display: none;
}

.inactive-chapter {
    color: #CCC;
}

.videodim {
    height: 100%;
    width: 100%;
}
.bell-icon{
    
    font-size: 20px;
    color: white;
    transition: color 0.3s;
    margin-right: 15px;
  
}

.bell-icon-close{
   
  
    display: none;
    font-size: 20px;
    opacity: 0.7;
}
.volume-icon{
    font-size: 20px;
    color: white;
    transition: color 0.3s;
}    

.volume-icon-close{
    
    font-size: 20px;
    display: none;
    opacity: 0.7;

}
.msg-bubble {
    max-width: 273px!important;
    overflow-wrap: break-word!important;
}
.green-online{
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: green;
    margin-right: 5px;
}
/* .online-number{
    height: 20px;
    width: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    margin-bottom: -20px;
} */
.msg-bubble {
    background: #71bcd4!important;
    color: #252424!important;
    border-bottom-right-radius: 0;
}
.chat-canvas{
    position: relative;
}
.color-chat{
    color: #5a738e!important;
}
.chat-today{
    text-align: center;
    margin-bottom: 10px;

}
.chat-date{
  background-color: #71bbd457;
  border: 1px solid white;
  border-radius: 5px;
  padding:3px;
  
  max-width: 25%;
  color: rgb(54, 60, 69);
  
}
.edit-viewer{
    padding: 0px;

    position: absolute;
    top: 6%;
    right: 13px;
}
.edit-viewer li{
    list-style: none;
    font-size: 25px;
    color: #5a738e;
    cursor: pointer;

}
.edit-viewer li:hover{
    color: #23527c;
}
/* loader */
.loadspin {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #5a738e;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


/* ends */