@media  all and  (min-width:1700px) {

 

  

}
@media (min-width:1451px) and (max-width:1500px){
    .glyphicon-fullscreen , .glyphicon-user , .glyphicon-phone , .glyphicon-off{
        color: white;
        font-size: 16px;
        margin: 0px 14px;
    }
}  

 @media (min-width:1401px) and (max-width:1450px){
    .glyphicon-fullscreen , .glyphicon-user , .glyphicon-phone , .glyphicon-off{
        color: white;
        font-size: 16px;
        margin: 0px 13px;
    }


}
@media (min-width:1351px) and (max-width:1400px){
    .glyphicon-fullscreen , .glyphicon-user , .glyphicon-phone , .glyphicon-off{
        color: white;
        font-size: 16px;
        margin: 0px 12px;
    }
   
  
    
}
 @media (min-width:1301px) and (max-width:1350px){
    .glyphicon-fullscreen , .glyphicon-user , .glyphicon-phone , .glyphicon-off{
        color: white;
        font-size: 16px;
        margin: 0px 11px;
    }
   
  
    
}
@media (min-width:1251px) and (max-width:1300px){
    .glyphicon-fullscreen , .glyphicon-user , .glyphicon-phone , .glyphicon-off{
        color: white;
        font-size: 15px;
        margin: 0px 11px;
    }
   
  
    
}
@media (min-width:1201px) and (max-width:1250px){
    .glyphicon-fullscreen , .glyphicon-user , .glyphicon-phone , .glyphicon-off{
        color: white;
        font-size: 14px;
        margin: 0px 10px;
    }
   
  
    
}
@media (min-width:1101px) and (max-width:1200px){
    .glyphicon-fullscreen , .glyphicon-user , .glyphicon-phone , .glyphicon-off{
        color: white;
        font-size: 14px;
        margin: 0px 8px;
    }
   
  
   
 
} 
@media (min-width:1001px) and (max-width:1100px){
    .glyphicon-fullscreen , .glyphicon-user , .glyphicon-phone , .glyphicon-off{
        color: white;
        font-size: 14px;
        margin: 0px 6px;
    }
   
  
   
 
} 
@media (min-width:901px) and (max-width:1000px){
    .glyphicon-fullscreen , .glyphicon-user , .glyphicon-phone , .glyphicon-off{
        color: white;
        font-size: 13px;
        margin: 0px 5px;
    }
   
  
   
 
} 
@media (min-width:801px) and (max-width:900px){
    .glyphicon-fullscreen , .glyphicon-user , .glyphicon-phone , .glyphicon-off{
        color: white;
        font-size: 12px;
        margin: 0px 4px;
    }
   
  
   
 
} 
@media (min-width:701px) and (max-width:800px){
    .glyphicon-fullscreen , .glyphicon-user , .glyphicon-phone , .glyphicon-off{
        color: white;
        font-size: 10px;
        margin: 0px 3px;
    }
   
  
   
 
} 

 @media (min-width:1201px) and (max-width:1300px){
    .chat-sidenav {
        position: absolute;
        top: 20px;
        left: 10px;
        padding: 0px!important;
        margin: 0px!important;
        transition: all 0.3s ease;
    }
   

 }
 @media (min-width:1001px) and (max-width:1200px){
    .chat-sidenav {
        position: absolute;
        top: 20px;
        left: 14px;
        padding: 0px!important;
        margin: 0px!important;
        transition: all 0.3s ease;
        
    }
    .container12{
        width: 89vw;
    }
   
 
}      
 @media (min-width:700px) and (max-width:999px) {
     .container12{
         width: 86vw;
     }
    
 }