@media  all and  (min-width:1700px) {

 

  

}
@media (min-width:1451px) and (max-width:1500px){
    .glyphicon-fullscreen , .glyphicon-user , .glyphicon-phone , .glyphicon-off{
        color: white;
        font-size: 16px;
        margin: 0px 14px;
    }
}  

 @media (min-width:1401px) and (max-width:1450px){
    .glyphicon-fullscreen , .glyphicon-user , .glyphicon-phone , .glyphicon-off{
        color: white;
        font-size: 16px;
        margin: 0px 13px;
    }


}
@media (min-width:1351px) and (max-width:1400px){
    .glyphicon-fullscreen , .glyphicon-user , .glyphicon-phone , .glyphicon-off{
        color: white;
        font-size: 16px;
        margin: 0px 12px;
    }
   
  
    
}
 @media (min-width:1301px) and (max-width:1350px){
    .glyphicon-fullscreen , .glyphicon-user , .glyphicon-phone , .glyphicon-off{
        color: white;
        font-size: 16px;
        margin: 0px 11px;
    }
   
  
    
}
@media (min-width:1251px) and (max-width:1300px){
    .glyphicon-fullscreen , .glyphicon-user , .glyphicon-phone , .glyphicon-off{
        color: white;
        font-size: 15px;
        margin: 0px 11px;
    }
   
  
    
}
@media (min-width:1201px) and (max-width:1250px){
    .glyphicon-fullscreen , .glyphicon-user , .glyphicon-phone , .glyphicon-off{
        color: white;
        font-size: 14px;
        margin: 0px 10px;
    }
   
  
    
}
@media (min-width:1101px) and (max-width:1200px){
    .glyphicon-fullscreen , .glyphicon-user , .glyphicon-phone , .glyphicon-off{
        color: white;
        font-size: 14px;
        margin: 0px 8px;
    }
   
  
   
 
} 
@media (min-width:1001px) and (max-width:1100px){
    .glyphicon-fullscreen , .glyphicon-user , .glyphicon-phone , .glyphicon-off{
        color: white;
        font-size: 14px;
        margin: 0px 6px;
    }
   
  
   
 
} 
@media (min-width:901px) and (max-width:1000px){
    .glyphicon-fullscreen , .glyphicon-user , .glyphicon-phone , .glyphicon-off{
        color: white;
        font-size: 13px;
        margin: 0px 5px;
    }
   
  
   
 
} 
@media (min-width:801px) and (max-width:900px){
    .glyphicon-fullscreen , .glyphicon-user , .glyphicon-phone , .glyphicon-off{
        color: white;
        font-size: 12px;
        margin: 0px 4px;
    }
   
  
   
 
} 
@media (min-width:701px) and (max-width:800px){
    .glyphicon-fullscreen , .glyphicon-user , .glyphicon-phone , .glyphicon-off{
        color: white;
        font-size: 10px;
        margin: 0px 3px;
    }
   
  
   
 
} 
@media (min-width:601px) and (max-width:700px){
    .chat-sidenav{
        left: 13px;
    }
    .container12{
        width: 84vw;
    }
    .profile-description {
        margin: 0!important;
        padding: 8px 9px;
        background-color: #363c45;
    }
    .glyphicon-fullscreen, .glyphicon-user, .glyphicon-phone, .glyphicon-off {
       font-size: 12px;
       margin-right: 3px!important;
       margin: 0;
    }
    .sidebar-buttom{
        padding: 5px;
    }


}
@media (min-width:501px) and (max-width:600px){
    .chat-sidenav{
        left: 10px;
    }
    .container12{
        width: 85vw;
    }
    #hamburg-nav{
        font-size: 23px;
    }
    .chat-icon{
        font-size: 23px;
    }
    .profile-description {
        margin: 0!important;
        padding: 4px 2px;
        background-color: #363c45;
    }
    .glyphicon-fullscreen, .glyphicon-user, .glyphicon-phone, .glyphicon-off {
        font-size: 12px;
        margin-right: 2px!important;
        margin: 0;
     }
     .sidenavbar-part{
         width: 19%;
     }
     .chat-sidenav-close {
        position: absolute;
        top: 20px;
        left: 20%;
     
    }


}
@media (min-width:300px) and (max-width:499px){
    .sidenavbar-part{
        width: 100%;
        z-index: 9998;
    }
    .chat-sidenav{
        left: 9px;
    }
    #hamburg-nav{
        font-size: 20px;
    }
    .chat-icon{
        font-size: 20px;
    }
 
    .container12{
        width: 84vw;
    }
    .profile-description {
        margin: 0!important;
        padding: 10px 15px;
        background-color: #363c45;
        /* padding: 0px; */
        width: 100%;
    }
    .chat-sidenav-close {
        position: absolute;
        top: 10%;
        left: 90%;
        padding: 0px!important;
        margin: 0px!important;
        z-index: 9999;
        display: none;
    }
    .chapter-lists-all {
        padding: 2% 10px 10px 11%;
        height: 80vh;
        overflow: auto;
    }
    .icon-for-chat2{
        display: none;
    }
    .icon1-largescreen{
        display: none;
    }
    .icon2-smallscreen{
        display: block;
    }
    
}
@media (min-width:300px) and (max-width:567px){
    .owl-prev{
        /* left: 8.5%; */
        bottom: 5%;
        left: 3%;
    }
    .owl-next{
        right: 1.75%;
        bottom: 5%;
    }
    .custom-owl-slider{
        display: none;
    }
    .custom-owl-slider2{
        display: block;
        position: absolute;
        bottom: 1%;
        right: 1%;
        width: 100%;
        background-color: rgb(54, 60, 69,0.9);
        padding: 10px;
        z-index: 999;
    }
    .sidebar-bottom-icons{
        text-align: center;
    }

}


@media (min-width:300px) and (max-width:350px){
    .container12{
        width: 81vw;
    }

}


 @media (min-width:1201px) and (max-width:1300px){
    .chat-sidenav {
        position: absolute;
        top: 20px;
        left: 10px;
        padding: 0px!important;
        margin: 0px!important;
        transition: all 0.3s ease;
    }
   

 }
 @media (min-width:1001px) and (max-width:1200px){
    .chat-sidenav {
        position: absolute;
        top: 20px;
        left: 14px;
        padding: 0px!important;
        margin: 0px!important;
        transition: all 0.3s ease;
        
    }
    .container12{
        width: 89vw;
    }
   
 
}      
 @media (min-width:700px) and (max-width:999px) {
     .container12{
         width: 86vw;
     }
    
    
 }