{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'assignanswerinfo_list' %}">{% trans 'Assignment Answer' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ object.Assignment_Code }}</li>
{% endblock %}
{% block content %}
    <div class="outerdiv">

        <h2 class="detailListHeader">{% trans 'Assignment Answer' %}</h2>
        <hr class="header_hr">
        <br>
        <table class="table">
            <tr>
                <td>{% trans 'Assignment Code' %}</td>
                <td>{{ object.Assignment_Code }}</td>
            </tr>
            <tr>
                <td>{% trans 'Assignment Score' %}</td>
                <td>{{ object.Assignment_Score }}</td>
            </tr>
            <tr>
                <td>{% trans 'Question Code' %}</td>
                <td>{{ object.Question_Code }}</td>
            </tr>
            <tr>
                <td>{% trans 'Student Code' %}</td>
                <td>{{ object.Student_Code }}</td>
            </tr>
            <tr>
                <td>{% trans 'Use Flag' %}</td>
                <td>{{ object.Use_Flag }}</td>
            </tr>
            <tr>
                <td>{% trans 'Assignment Answer' %}</td>
                <td>{{ object.Assignment_Answer|safe }}</td>
            </tr>
        </table>
        <div class="text-center">
            <a class="btn btn-primary" href="{{ object.get_update_url }}">{% trans 'Edit Assignment' %}</a>
            <a class="btn btn-danger" href="{{ object.get_delete_url }}">{% trans 'Delete Assignment' %}</a>
        </div>
    </div>
{% endblock %}