{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'assignquestioninfo_list' %}">{% trans 'Question Assignment' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ object.Question_Code }}</li>
{% endblock %}
{% block content %}
    <div class="outerdiv">
        <h2 class="detailListHeader">{% trans 'Assigned Assignment' %}</h2>
        <hr class="header_hr">
        <br>
        <table class="table">
            <tr>
                <td>{% trans 'Question Code' %}</td>
                <td>{{ object.Question_Code }}</td>
            </tr>
            <tr>
                <td>{% trans 'Assignment Code' %}</td>
                <td>{{ object.Assignment_Code }}</td>
            </tr>
            <tr>
                <td>{% trans 'Register Agent' %}</td>
                <td>{{ object.Register_Agent }}</td>
            </tr>
            <tr>
                <td>{% trans 'Use Flag' %}</td>
                <td>{{ object.Use_Flag }}</td>
            </tr>

        </table>
        <a class="btn btn-primary" href="{{ object.get_update_url }}">{% trans 'Edit Question Assignment' %}</a>
        <a class="btn btn-danger" href="{{ object.get_delete_url }}">{% trans 'Delete Question Assignment' %}</a>
    </div>
{% endblock %}