{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/centerinfo_detail.css' %}">
<ol aria-label="breadcrumb" class="breadcrumb navClass">
    <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'centerinfo_list' %}">{% trans 'Center' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ object.Center_Name }}</li>
</ol>
<div class="outerDiv">
    <h2 class="detailListHeader">{% trans 'Center Information' %}</h2>
    <hr class="header_hr"><br>
    <table class="table">
        <tr>
            <td>{% trans 'Center Name' %}</td>
            <td>{{ object.Center_Name }}</td>
        </tr>
        <tr>
            <td>{% trans 'Center Address' %}</td>
            <td>{{ object.Center_Address }}</td>
        </tr>
        <tr>
            <td>{% trans 'Status' %}</td>
            <td>
                {% if object.Use_Flag == True %}
                <span class="text-success">{% trans 'Active' %}</span>
                {% else %}
                <span class="text-danger">{% trans 'Disable' %}</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>{% trans 'Register Agent' %}</td>
            <td>{{ object.Register_Agent }}</td>
        </tr>
        <tr>
            <td>{% trans 'Register DateTime' %}</td>
            <td>{{ object.Register_DateTime }}</td>
        </tr>
        <tr>
            <td>{% trans 'Updated DateTime' %}</td>
            <td>{{ object.Updated_DateTime }}</td>
        </tr>

    </table><br>
    <a class="btn btn-primary" href="{{object.get_update_url}}">{% trans 'Edit Center' %}</a>
    <a class="btn btn-danger" href="{% url 'centerinfo_delete' pk=object.pk %}"
       onclick="return confirm('Are you sure you want to delete the center:\n'+ '{{ object.Center_Name|safe }}' +'\n\nThis cannot be undone.')">
        Delete Center</a>
</div>

{% endblock %}