{% extends "base.html" %}
{% load static %}

{% block title %}
| Course Form
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'courseinfo_list' %}">Course</a></li>
{% if 'create' in request.path %}
    <li class="breadcrumb-item active" aria-current="page">Create New Course</li>
{% else %}
    <li class="breadcrumb-item" aria-current="page"><a href="{{ object.get_absolute_url }}">{{ object.Course_Name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Course Info</li>
{% endif %}
    


{% endblock %}
{% block content %}
{% include 'course/courseinfo_form.html' %}
{% endblock content %}
{% block customjss %}

<script src="{% static 'vendorsx/jquery-star-rating/simple-rating.js' %}"></script>
<script>
    $(document).ready(function () {
        $('.rating').rating();
        for (var i = 0; i < 5; i++) {
            var starObj = $('.rating').next().children()[i];
            if (i < rating) {
                $(starObj).removeClass('fa-star-o');
                $(starObj).addClass('fa-star');
            }
        }
    });

</script>

{% endblock %}