{% extends "base.html" %}
{% load static %}

{% block title %}
| Course Detail
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'start' %}">Home</a></li>
<li class="breadcrumb-item"><a href="
    {% if object.Use_Flag %}
        {% url 'courseinfo_grid_active' %}
    {% else %}
        {% url 'courseinfo_grid_inactive' %}
    {% endif %}
    ">Course</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ object.Course_Name }}</li>
{% endblock %}

{% block content %}
{% include 'course/courseinfo_detail.html' %}
{% endblock content %}