{% extends "base.html" %}
{% load static %}

{% block title %}
| Courses
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'start' %}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Course</li>
{% endblock %}

{% block content %}
{% include 'course/courseinfo_grid.html' %}
{% endblock content %}

{% block javascript %}
<script>
    $(".query_form").submit(function (e) {
        val = $(this).find('input').val()
        if (!val.replace(/^\s+|\s+$/g, "").length != 0) {
            console.log('empty')
            alert('Please enter a search term')
            e.preventDefault()
        }
    });
</script>
{% endblock %}