{% load crispy_forms_tags %}

<div class="x_content">
    <br>

    <form method="post" id="department_form">
        {% csrf_token %}
        <div class="alert alert-danger form-errors" style="display: none"></div>
        {{ form|crispy }}

        <button type="submit" class="submit-btn btn btn-primary">
            {% if '/update' in request.path %}
                Update
            {% else %}
                Create
            {% endif %}
        </button>

    </form>
</div>

<script>
    $("#department_form").submit(function (e) {
        e.preventDefault(); // avoid to execute the actual submit of the form.
        let url = form_url;
        $.ajax({
            url: url,  // URL to your view that serves new info
            data: $(this).serialize(),
            // get the form data
            type: "post", // GET or POST
            success: function (response) {
                console.log('Success')
                location.reload()
            },
            error: function (err) {
                $('.form-errors').empty();
                if (err.hasOwnProperty('responseJSON')) {
                    console.log('Error in posting chapter create form', err.responseJSON.errors.__all__[0])
                    $('.form-errors').append(err.responseJSON.errors.__all__[0]).css('display', 'block').fadeOut(2500)
                } else {
                    console.log('Error in posting chapter create form')
                }
            }
        });
    });
</script>
