{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'start' %}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Department</li>
{% endblock %}
{% block content %}
{% include 'department/department_list.html' %}
{% endblock %}

{% block javascript %}
<!-- <script src="{% static 'vendorsx/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script> -->
<script type="text/javascript">
    var form_url = "";
    $(document).ready(function () {

        $('.table').DataTable({
            dom: 'lBfrtip',
            responsive: true,
            buttons: [
                {
                    extend: 'csv',
                    title: 'Department List',
                    text: '<span class="exportcsv"><i class="fa fa-paper-plane-o"></i> Export to CSV </span>',
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5]
                    },
                },
                {
                    extend: 'print',
                    text: '<span class="print"><i class="fa fa-print"></i> Print </span>',
                    fieldSeparator: '\t',
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5]
                    },
                }]
        });



        $('#create_department-btn').on('click', function () {
            $('#department-modal .modal-body').empty();
            $('#department-modal .modal-title').text("Create New Department");
            $("#department-modal .modal-body").append('<div class="se-pre-con-ajax"></div>');

            let url = "{% url 'departmentinfo_create_ajax' %}";
            $.ajax({
                type: "GET",
                url: url,  // URL to your view that serves new info
                success: function (response) {
                    form_url = url;
                    $('#department-modal .modal-body').append(response);
                },
                error: function () {
                    console.log('Error in generating form')
                },
                complete: function () {
                    $(".se-pre-con-ajax").fadeOut("fast");
                }
            });
        });

        $('.edit_department-btn').on('click', function () {
            $('#department-modal .modal-body').empty();
            $('#department-modal .modal-title').text("Edit Department");
            $("#department-modal .modal-body").append('<div class="se-pre-con-ajax"></div>');

            let url = "/departmentinfo/update/" + this.value + "/ajax/";
            $.ajax({
                type: "GET",
                url: url,  // URL to your view that serves new info
                success: function (response) {
                    form_url = url;
                    $('#department-modal .modal-body').append(response);

                },
                error: function () {
                    console.log('Error in generating form')
                },
                complete: function () {
                    $(".se-pre-con-ajax").fadeOut("fast");
                }
            });
        });


    });
</script>
{% endblock %}