{% extends "base.html" %}
{% load static %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'start' %}">Home</a></li>
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'departmentinfo_list' %}">Departments</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ object.Department_Name }}</li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <div class="page-title d-block text-center">
            <h2>Department Information</h2>
        </div>
    </div>
    <table class="table table-striped table-bordered pt-3">
        <tr>
            <td>Department Name</td>
            <td>{{ object.Department_Name }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                {% if object.Use_Flag == True %}
                <span class="text-success">Active</span>
                {% else %}
                <span class="text-danger">Disable</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Register Agent</td>
            <td>{{ object.Register_Agent }}</td>
        </tr>
        <tr>
            <td>Register DateTime</td>
            <td>{{ object.Register_DateTime }}</td>
        </tr>
        <tr>
            <td>Updated DateTime</td>
            <td>{{ object.Updated_DateTime }}</td>
        </tr>

    </table>
    <div class="text-center">
        <button class="btn btn-primary" id="edit_department-btn" data-toggle="modal"
            data-target="#department-modal">Edit
        </button>

        {# <a class="btn btn-primary" href="{{ object.get_update_url }}">Edit</a> #}
        <a class="btn btn-danger ml-3" href="{% url 'departmentinfo_delete' pk=object.pk %}"
            onclick="return confirm('Are you sure you want to delete the Department:\n'+ '{{ object.Department_Name|safe }}' +'\n\nThis cannot be undone.')">
            Delete Department
        </a>
    </div>

</div>



<div class="modal fade" id="department-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block javascript%}
<script type="text/javascript">
    var form_url = "";
    $(document).ready(function () {
        $('#edit_department-btn').on('click', function () {
            $('#department-modal .modal-body').empty();
            $('#department-modal .modal-title').text("Edit Department");
            $("#department-modal .modal-body").append('<div class="se-pre-con-ajax"></div>');

            let url = "{% url 'departmentinfo_update_ajax' object.pk %}";
            $.ajax({
                type: "GET",
                url: url,  // URL to your view that serves new info
                success: function (response) {
                    form_url = url;
                    $('#department-modal .modal-body').append(response);
                },
                error: function () {
                    console.log('Error in generating form')
                },
                complete: function () {
                    $(".se-pre-con-ajax").fadeOut("fast");
                }
            });
        });
    });
</script>

{%endblock%}