{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
<link href="{% static 'vendorsx/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendorsx/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendorsx/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'start' %}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Student Group</li>
{% endblock %}

{% block content %}
<!-- Model for Import CSV file -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title"><b>CSV File Import</b>
                </h4>
                <button type="button" class="close closeImportCSV" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body" id="import_csv_body">
                <form method="POST" id="form_import_csv" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="id_import_csv">Choose the CSV file to Import Student Group Data</label>
                    <input type="file" name="import_csv" id="id_import_csv" accept=".csv">
                    <a target="_blank" class="text-center" href="{% static 'importStudentGroup_sample.csv' %}">
                        <h4 class="mt-4"><i class="fa fa-download" aria-hidden="true"></i> Download Sample CSV</h4>
                    </a>

                    <p class="button-info mt-4" style="cursor:pointer;color:#222"><b>Read Detail
                            Info...</b></p>
                    <ul class="info-text" style="display:none;background:azure;">
                        <li>- Username is Student username to be added to group (required)</li>
                        <li>- Group is name of group where student will be added (required)</li>
                        <li>- All Students account should have already been registered as Member</li>
                        <li>- If error occur in one group only that group will not be created </li>
                    </ul>

                    <div class="import-message"></div>
                    <div class="text-center mt-3">
                        <button class="btn btn-success" type="submit">Submit
                            File
                        </button>
                        <button class="btn btn-primary closeImportCSV" data-dismiss="modal" aria-label="Close">Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End of model -->
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
        <h2 class="text-primary">Registered Student Groups</h2>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 btn-createnew">
        <a class="btn btn-primary pull-right" href="{% url 'groupmapping_create' %}">Create New Group</a>
    </div>
</div>

<div class="table-responsive mt-4">
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Group Name</th>
                <th>No. of Student Enrolled</th>
                <th>Use Flag</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><b><a href="{{ object.get_absolute_url }}">{{ object.GroupMapping_Name }}</a></b></td>
                <td>{{ object.Students.count }}</td>
                <td>{{ object.Use_Flag }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
        $('.table').DataTable({
            dom: 'lBfrtip',
            responsive: true,
            buttons: [
                {
                    extend: 'csv',
                     title: 'Student Group List',
                    text: '<span class="exportcsv"><i class="fa fa-paper-plane-o"></i> Export to CSV </span>'
                },
                {
                    text: '<span class="exportcsv" data-toggle="modal" data-target="#exampleModal1" id="importcsv-btn"><i class="fa fa-cloud-download"></i> Import from CSV </span>'
                },
                {
                    extend: 'print',
                    text: '<span class="print"><i class="fa fa-print"></i> Print </span>',
                    fieldSeparator: '\t'
                }]
        });
    });

    $(".button-info").click(function () {
        $("ul.info-text").toggle();
    });

    $(document).ready(function () {
        $('#form_import_csv').submit(function (e) {
            e.preventDefault();
            var formData = new FormData($('form').get(0));
            // csrf = $('#csrfmiddlewaretoken').get(0).files[0];
            csrf = $('input[name="csrfmiddlewaretoken"]').attr('value');
            formData.append("csrfmiddlewaretoken", csrf);
            if ($('#id_import_csv').val()) {
                $('.import-message').append('<div class="se-pre-con-ajax"></div>');
                $.ajax({
                    type: "POST",
                    url: "{% url 'csv_import_student_group' %}",  // URL to your view that serves new info
                    data: formData,
                    cache: false,
                    processData: false,
                    contentType: false,
                    tryCount: 0,
                    retryLimit: 3,
                    success: function (response) {
                        $('.import-message').addClass(response.class);
                        $('.import-message').removeClass(response.rmclass);
                        $('.import-message').html(response.message);
                        if (response.class == "text-success") {
                            setTimeout(function () {
                                location.reload();
                            }, 2000);
                        }
                    },
                    error: function (request, status, error) {
                        if (request.status == 503) {
                            $('.import-message').addClass('text-danger');
                            $('.import-message').removeClass('text-sucess');
                            $('.import-message').html("Service Unavialable at the moment but your data may be added in background");
                        } else {
                            $('.import-message').addClass('text-danger');
                            $('.import-message').removeClass('text-sucess');
                            $('.import-message').html("Error while processing data please try again and verify the format.");
                        }
                    },
                    complete: function () {
                        $(".se-pre-con-ajax").fadeOut("fast");
                    },
                });
            } else {
                $('.import-message').addClass('text-danger');
                $('.import-message').html("Please upload a csv file with defined format.");
            }
        });
    });
</script>
{% endblock %}