{% extends base_file %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block stylesheets %}
    {{ form.media }}
{% endblock stylesheets %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'groupmapping_list' %}">{% trans 'Student Group' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">
        {% if '/groupmapping/create/' == request.path %}
            {% trans 'Create Student Group' %}
        {% elif '/saveasnew' in request.path %}
            {% trans 'Save New Student Group' %}
        {% else %}
            {% trans 'Edit Student Group' %}
        {% endif %}
    </li>
{% endblock %}
{% block content %}
    <style>
        .selector {
            width: auto !important;
        }

    .selector-available,
    .selector-chosen {
        width: 280px !important;
    }

    .selector select {
        width: 280px !important;
    }

        .selector .selector-available input {
            width: 210px !important;
        }
    </style>

    <div class="headerDiv">
        <h2 class="infoFormHeader">
            {% if '/groupmapping/create/' == request.path %}
                Create New Student Group
            {% elif '/saveasnew' in request.path %}
                Save New Group
            {% else %}
                Edit Student Group
            {% endif %}
        </h2>
        <hr class="header_hr">
    </div>
    <div class="col-md-7 col-md-offset-2 text-center" style="margin-top: 3%">
        <form method="post" id="FormID">
            {% csrf_token %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="m-2 alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="m-2 alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="col-md-12 col-sm-12 col-xs-12">
                {{ form.GroupMapping_Name|as_crispy_field }}
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-1 text-center">
                {{ form.Students }}
            </div>
            {% if '/groupmapping/create/' == request.path %}
                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                    <input type="hidden" id="id_Use_Flag" name="Use_Flag" value="True">
                </div>
        {% else %}
        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
            <label>
                Status
            </label><br>
            <input type="checkbox" id="id_Use_Flag" class="js-switch" name="Use_Flag" {% if object.Use_Flag == False %}
                &nbsp; {% else %} checked {% endif %}><br> <br></div>
        {% endif %}
        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
            <input type="hidden" name="Register_Agent" id="id_Register_Agent" value="{{ request.user.username }}"
                class="select form-control">
        </div>
            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                <input type="hidden" name="Center_Code" id="id_Center_Code" value="{{ request.user.Center_Code.id }}"
                       class="select form-control">
            </div>
            <div class="submitButton col-md-12">
                <button class="btn btn-success" type="submit">Submit</button>
            </div>
        </form>
    </div>

    <script src="{% static 'build/js/CustomSelectFilter2.js' %}"></script>
{% endblock %}