{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link href="{% static 'vendorsx/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendorsx/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendorsx/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Student Group</li>
{% endblock %}
{% block content %}
    <div class="groupmappingListClass">

        <hr class="header_hr">
        <h2 class="tableHeader">Registered Student Groups</h2>
        <hr class="header_hr">
        <div class="btn-createnew">
            <a class="btn btn-success" href="{% url 'groupmapping_create' %}">Create New Group</a>
        </div>
        <br><br><br>
        <div class="table-responsive">
            <table class="table table-striped table-bordered bg-white nowrap">
                <thead class="thead-light bg-primary">
                <tr>
                    <td>ID</td>
                    <td>Group Name</td>
                    <td>No. of Student Enrolled</td>
                    <td>Use Flag</td>
{#                    <td>Students</td>#}
                </tr>
                </thead>
                {% for object in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><b><a href="{{ object.get_absolute_url }}">{{ object.GroupMapping_Name }}</a></b></td>
                        <td>{{ object.Students.count }}</td>
                        <td>{{ object.Use_Flag }}</td>
{#                        <td>{{ object.memberinfo_id }}</td>#}

                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
{% block customjss %}
<script src="{% static 'vendorsx/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

<script src="{% static 'vendorsx/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-buttons/js/buttons.print.min.js' %}"></script>

<script src="{% static 'vendorsx/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').DataTable({
                dom: 'lBfrtip',
                responsive: true,
                buttons: [
                    {
                        extend: 'csv',
                        text: '<span class="exportcsv"><i class="fa fa-paper-plane-o"></i> Export to CSV </span>'
                    },
                    {
                        extend: 'print',
                        text: '<span class="print"><i class="fa fa-print"></i> Print </span>',
                        fieldSeparator: '\t'
                    }]
            });
        });
    </script>
{% endblock %}