{% extends "base.html" %}
{% load static %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'groupmapping_list' %}">Student Group</a></li>
{#    <li class="breadcrumb-item"><a href="{% url 'inninginfo_detail' object.Inning_Code.id %}">{{ object.Inning_Code }}</a></li>#}
<li class="breadcrumb-item active" aria-current="page">{{ object.GroupMapping_Name }}</li>
{% endblock %}
{% block content %}

<div class="outerdiv">

    <h2 class="detailListHeader">Group Mapping Information</h2>
    <hr class="header_hr">
    <br>
    <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
        <h5><b>
                <table class="table table-striped table-bordered">
                    <tr>
                        <td>Group Name</td>
                        <td>{{ object.GroupMapping_Name }}</td>
                    </tr>
                    <tr>
                        <td>Register Agent</td>
                        <td>{{ object.Register_Agent }}</td>
                    </tr>

                </table>
        </b>
        </h5>
        <br>
        <div class="text-center">
            <a class="btn btn-primary" href="{% url 'groupmapping_saveasnew' object.pk %}"> Save as New</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary" href="{{ object.get_update_url }}">Edit Group Mapping</a>
            <a class="btn btn-danger groupmapping-confirm-delete" id="{{ object.pk }}"
               style="cursor: pointer;">Delete Group Mapping</a>
            <form method="post" action="{% url 'groupmapping_delete' pk=object.pk %}"
                  id="deleteGroupMapping{{ object.pk }}">
                {% csrf_token %}
                <input type="hidden" value="{{ object.pk }}" name="groupmapping_id">
            </form>
        </div>
    </div>
</div> 
<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:20px"> 
        <h5 class="detailListHeader2">Enrolled Students</h5>

</div>
<div class="membertable col-md-12 col-sm-12 col-xs-12 table-responsive">
    <table class="table table-striped dt-responsive table-bordered bg-white nowrap">
        <thead class="thead-light bg-primary">
        <tr class="tableTitleRow">
            <td class="text-center">S. No.</td>
            <td>Username</td>
            <td>Member ID</td>
            <td>Full Name</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Phone</td>
            <td>Gender</td>
            
            <td>Temporary Address</td>
            <td>Permanent Address</td>
            <td>Birthdate</td>
            <td>Type</td>
            
        </tr>
        </thead>
        {% for object in object.Students.all %}
            
                <tr>
                    <td class="text-center" style=" padding-top: 15px;">{{ forloop.counter }}</td>
                    <td style="vertical-align: middle;"><b><a
                            href="{{ object.get_absolute_url }}">{{ object.username }}</a></b></td>
                    <td style="vertical-align: middle;">{{ object.Member_ID }}</td>
                    <td style="vertical-align: middle;">{{ object.first_name }}&nbsp;{{ object.last_name }}</td>
                    <td style="vertical-align: middle;">{{ object.first_name }}</td>
                    <td style="vertical-align: middle;">{{ object.last_name }}</td>
                    <td style="vertical-align: middle;">{{ object.email }}</td>
                    <td style=" padding-top: 15px;">{{ object.Member_Phone }}</td>
                    <td style="vertical-align: middle;">
                        {{ object.get_Member_Gender_display }}
                    </td>
                 
                    <td style="vertical-align: middle;">{{ object.Member_Temporary_Address }}</td>
                    <td style="vertical-align: middle;">{{ object.Member_Permanent_Address }}</td>
                    <td style="vertical-align: middle;">{{ object.Member_BirthDate|date:"m/d/Y" }}</td>
                    <td style="vertical-align: middle;">
                        {% if object.Is_Teacher == True and object.Is_Student == True %}
                            Teacher, Student
                        {% elif object.Is_Teacher == True %}
                            Teacher
                        {% elif object.Is_Student == True %}
                            Student
                        {% else %}
                            Not Assigned
                        {% endif %}
                    </td>
                   
                </tr>
          
        {% endfor %}
    </table>
</div>
{% endblock %}
{% block customjss %}
<script>
    $(document).on('click', '.groupmapping-confirm-delete', function () {
        ans = confirm('Are you sure you want to delete this GroupMapping?');
        if (ans == true) {
            $(`#deleteGroupMapping${this.id}`).submit();
        } else {
            return false;
        }
    });
</script>
    <script>
    $(document).ready(function(){
        $('#form_import_csv').submit(function (e) {
                e.preventDefault();
                var formData = new FormData($('form').get(0));
                // csrf = $('#csrfmiddlewaretoken').get(0).files[0];
                csrf = $('input[name="csrfmiddlewaretoken"]').attr('value');
                formData.append("csrfmiddlewaretoken", csrf);
                if ($('#id_import_csv').val()) {
                    $.ajax({
                        type: "POST",
                        url: "{% url 'csv_import_ajax' %}?groupmappingpk={{object.pk}}",  // URL to your view that serves new info
                        data: formData,
                        cache: false,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            $('.import-message').addClass(response.class);
                            $('.import-message').removeClass(response.rmclass);
                            $('.import-message').html(response.message);
                        },
                        error: function () {
                            $('.import-message').addClass('text-danger');
                            $('.import-message').removeClass('text-sucess');
                            $('.import-message').html("Error while processing data please try again and verify the format.");
                        },
                    });
                } else {
                    $('.import-message').addClass('text-danger');
                    $('.import-message').html("Please upload a csv file with defined format.");
                }
            });
        });

        $('.closeImportCSV').click(function () {
            window.location.reload();
        })
    </script>
{% endblock %}