{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link href="{% static 'vendorsx/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendorsx/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendorsx/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Student Group</li>
{% endblock %}
{% block content %}
    <!-- Model for Import CSV file -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title" id="exampleModalLabel"><b>CSV File Import</b>
                        <button type="button" class="close closeImportCSV" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>
                <div class="modal-body" id="import_csv_body" style="height: 60%;overflow:hidden">
                    <form method="POST" id="form_import_csv" enctype="multipart/form-data">
                        {% csrf_token %} <br><br>
                        <label for="id_import_csv">Choose the CSV file to Import Member Data</label>
                        <input type="file" name="import_csv" id="id_import_csv" accept=".csv"><br><br>
                        <a target="_blank" class="text-center" href="{% static 'importStudentGroup_sample.csv' %}"
                           style="padding-top: 2em;">
                            <h4><i class="fa fa-download" aria-hidden="true"></i> Download Sample CSV</h4>
                        </a><br>

                        <span class="button-info" style="cursor:pointer;padding:0.4em;color:#222"><b>Read Detail
                            Info...</b></span>
                        <ul class="info-text" style="display:none;background:azure;">
                            <li>- Username is Student username to be added to group (required)</li>
                            <li>- Group is name of group where student will be added (required)</li>
                            <li>- All Students account should have already been registered as Member</li>
                            <li>- If error occur in one group only that group will not be created </li>
                        </ul>

                        <div class="import-message"></div>
                        <div class="text-center">
                            <button class="btn btn-success" type="submit" style="margin:3em auto 2em auto">Submit
                                File
                            </button>
                            <button class="btn btn-primary closeImportCSV" data-dismiss="modal" aria-label="Close"
                                    style="margin:3em auto 2em auto">Close
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End of model -->

    <div class="groupmappingListClass">

        <hr class="header_hr">
        <h2 class="tableHeader">Registered Student Groups</h2>
        <hr class="header_hr">
        <div class="btn-createnew">
            <a class="btn btn-success" href="{% url 'groupmapping_create' %}">Create New Group</a>
        </div>
        <br><br><br>
        <div class="table-responsive">
            <table class="table table-striped table-bordered bg-white nowrap">
                <thead class="thead-light bg-primary">
                <tr>
                    <td>ID</td>
                    <td>Group Name</td>
                    <td>No. of Student Enrolled</td>
                    <td>Use Flag</td>
{#                    <td>Students</td>#}
                </tr>
                </thead>
                {% for object in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><b><a href="{{ object.get_absolute_url }}">{{ object.GroupMapping_Name }}</a></b></td>
                        <td>{{ object.Students.count }}</td>
                        <td>{{ object.Use_Flag }}</td>
{#                        <td>{{ object.memberinfo_id }}</td>#}

                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
{% block customjss %}
<script src="{% static 'vendorsx/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

<script src="{% static 'vendorsx/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-buttons/js/buttons.print.min.js' %}"></script>

<script src="{% static 'vendorsx/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').DataTable({
                dom: 'lBfrtip',
                responsive: true,
                stateSave: true, 
                buttons: [
                    {
                        extend: 'csv',
                        text: '<span class="exportcsv"><i class="fa fa-paper-plane-o"></i> Export to CSV </span>'
                    },
                    {
                        text: '<span class="exportcsv" data-toggle="modal" data-target="#exampleModal1" id="importcsv-btn"><i class="fa fa-cloud-download"></i> Import from CSV </span>'
                    },
                    {
                        extend: 'print',
                        text: '<span class="print"><i class="fa fa-print"></i> Print </span>',
                        fieldSeparator: '\t'
                    }]
            });
        });

        $(".button-info").click(function () {
            $("ul.info-text").toggle();
        });

        $(document).ready(function(){
        $('#form_import_csv').submit(function (e) {
                e.preventDefault();
                var formData = new FormData($('form').get(0));
                // csrf = $('#csrfmiddlewaretoken').get(0).files[0];
                csrf = $('input[name="csrfmiddlewaretoken"]').attr('value');
                formData.append("csrfmiddlewaretoken", csrf);
                if ($('#id_import_csv').val()) {
                    $('.import-message').append('<div class="se-pre-con-ajax"></div>');
                    $.ajax({
                        type: "POST",
                        url: "{% url 'csv_import_student_group' %}",  // URL to your view that serves new info
                        data: formData,
                        cache: false,
                        processData: false,
                        contentType: false,
                        tryCount : 0,
                        retryLimit : 3,
                        success: function (response) {
                            $('.import-message').addClass(response.class);
                            $('.import-message').removeClass(response.rmclass);
                            $('.import-message').html(response.message);
                            if (response.class == "text-success") {
                                setTimeout(function () {
                                    location.reload();
                                }, 2000);
                            }
                        },
                        error: function (request, status, error) {
                            if (request.status == 503) {
                                $('.import-message').addClass('text-danger');
                                $('.import-message').removeClass('text-sucess');
                                $('.import-message').html("Service Unavialable at the moment but your data may be added in background");
                            } else {
                                $('.import-message').addClass('text-danger');
                                $('.import-message').removeClass('text-sucess');
                                $('.import-message').html("Error while processing data please try again and verify the format.");
                            }
                        },
                        complete: function () {
                            $(".se-pre-con-ajax").fadeOut("fast");
                        },
                    });
                } else {
                    $('.import-message').addClass('text-danger');
                    $('.import-message').html("Please upload a csv file with defined format.");
                }
            });
        });
    </script>
{% endblock %}