{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link href="{% static 'vendorsx/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendorsx/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendorsx/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Session</li>
{% endblock %}
{% block content %}
<!-- Model for Import CSV file -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
   <div class="modal-content">
       <div class="modal-header text-center">
           <h4 class="modal-title" id="exampleModalLabel"><b>CSV File Import</b>
               <button type="button" class="close closeImportCSV" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
           </h4>
       </div>
       <div class="modal-body" id="import_csv_body" style="height: 60%;overflow:hidden">
           <form method="POST" id="form_import_csv" enctype="multipart/form-data">
               {% csrf_token %} <br><br>
               <label for="id_import_csv">Choose the CSV file to Import Session Data</label>
               <input type="file" name="import_csv" id="id_import_csv" accept=".csv"><br><br>
               <a target="_blank" class="text-center" href="{% static 'importSession_sample.csv' %}"
                  style="padding-top: 2em;">
                   <h4><i class="fa fa-download" aria-hidden="true"></i> Download Sample CSV</h4>
               </a><br>

               <span class="button-info" style="cursor:pointer;padding:0.4em;color:#222"><b>Read Detail
                   Info...</b></span>
               <ul class="info-text" style="display:none;background:azure;">
                   <li>- Session Name (required)</li>
                   <li>- Start date and End date should be in excel date format (required)</li>
                   <li>- Start date shouldn't be greater than end date</li>
                   <li>- Student Group Name should already be registered (required) </li>
                   <li>- Teacher Course Allocation Name should already be registered (required)</li>
                   <li>- Teacher Course Allocation Name should be seperated by comma</li>
               </ul>

               <div class="import-message"></div>
               <div class="text-center">
                   <button class="btn btn-success" id="submitcsv" type="submit" style="margin:3em auto 2em auto">
                       <span id="submitspinner"></span>Submit File
                   </button>
                   <button class="btn btn-primary closeImportCSV" data-dismiss="modal" aria-label="Close"
                           style="margin:3em auto 2em auto">Close
                   </button>
               </div>
           </form>
       </div>
   </div>
</div>
</div>
<!-- End of model -->

{% include 'inning/inninginfo_list.html' %}

{% endblock %}



{% block customjss %}
<script src="{% static 'vendorsx/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

<script src="{% static 'vendorsx/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-buttons/js/buttons.print.min.js' %}"></script>

<script src="{% static 'vendorsx/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.table').DataTable({
            dom: 'lBfrtip',
            responsive: true,
            buttons: [
                {
                    extend: 'csv',
                    text: '<span class="exportcsv"><i class="fa fa-paper-plane-o"></i> Export to CSV </span>'
                },
                {
                    text: '<span class="exportcsv" data-toggle="modal" data-target="#exampleModal1" id="importcsv-btn"><i class="fa fa-paper-plane fa-rotate-180"></i> Import CSV </span>'
                },
                {
                    extend: 'print',
                    text: '<span class="print"><i class="fa fa-print"></i> Print </span>',
                    fieldSeparator: '\t'
                }]
        });

        $(".button-info").click(function () {
            $("ul.info-text").toggle();
        });

        $('#form_import_csv').submit(function (e) {
                e.preventDefault();
                var formData = new FormData($('form').get(0));
                // csrf = $('#csrfmiddlewaretoken').get(0).files[0];
                csrf = $('input[name="csrfmiddlewaretoken"]').attr('value');
                formData.append("csrfmiddlewaretoken", csrf);
                if ($('#id_import_csv').val()) {
                    $('#submitspinner').html(`<i class="fa fa-spinner fa-spin"></i> `);
                    $('#submitcsv').attr('disabled', true);
                    $('.closeImportCSV').attr('disabled', true);
                    $.ajax({
                        type: "POST",
                        url: "{% url 'csv_import_inninginfo' %}",  // URL to your view that serves new info
                        data: formData,
                        cache: false,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            $('.import-message').addClass(response.class);
                            $('.import-message').removeClass(response.rmclass);
                            $('.import-message').html(response.message);
                        },
                        error: function () {
                            $('.import-message').addClass('text-danger');
                            $('.import-message').removeClass('text-sucess');
                            $('.import-message').html("Error while processing data please try again and verify the format.");
                        },
                        complete: function (){
                            $('#submitspinner').html(``);
                            $('#submitcsv').attr('disabled', false);
                            $('.closeImportCSV').attr('disabled', false);
                        }
                    });
                } else {
                    $('.import-message').addClass('text-danger');
                    $('.import-message').html("Please upload a csv file with defined format.");
                }
            });

        $('.closeImportCSV').click(function () {
            window.location.reload();
        });
    });
</script>
<script>
    document.querySelector("#cardButton").addEventListener('click', cardView);
    document.querySelector("#tableButton").addEventListener('click', tableView);
    function cardView() {
        $("#cardButton").css('color', 'black');
        $("#tableButton").css('color', 'grey');
        document.querySelector('#cardView').style.display = "inline-block";
        document.querySelector('#tableView').style.display = "none";
    }
    function tableView() {
        $("#cardButton").css('color', 'grey');
        $("#tableButton").css('color', 'black');
        document.querySelector('#tableView').style.display = "inline-block";
        document.querySelector('#cardView').style.display = "none";

    }


</script>

{% endblock %}