{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link href="{% static 'vendorsx/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendorsx/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendorsx/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Session</li>
{% endblock %}
{% block content %}
    <div class="inningInfoListClass">
        <hr class="header_hr">
        <h2 class="tableHeader">List of Sessions</h2>
        <br>
        <h3 class="text-center"><b>
            <a href="#" onclick="return show('cardView','tableView');">Card View</a> &nbsp; &nbsp; &nbsp;
            <a href="#" onclick="return show('tableView','cardView');">Table View</a></b>
        </h3>
        <hr class="header_hr">

        <div class="table-responsive" id="tableView" >
            <div class="btn-createnew">
                <a class="btn btn-success" href="{% url 'inninginfo_create' %}">Register New Session</a>
            </div>
            <br><br><br>
            <table class="table table-striped table-bordered bg-white nowrap">
                <thead class="thead-light bg-primary">
                <tr class="tableTitleRow">
                    <td>ID</td>
                    <td>Session Name</td>
                    <td>Student Group</td>
                    <td>No. of Courses</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                    <td>Action</td>
                </tr>
                </thead>
                {% for object in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><B><a href="{{ object.get_absolute_url }}">{{ object.Inning_Name }}</a></B></td>
                        <td>{{ object.Groups }}</td>
                        <td>{{ object.Course_Group.count }}</td>
                        <td>{{ object.Start_Date }}</td>
                        <td>{{ object.End_Date }}</td>
                        <td class="text-center"><a class="btn btn-sm btn-info" href="{{ object.get_update_url }}">Edit</a>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div id="cardView" style="display:none">
            <div class="btn-createnew">
                <a class="btn btn-success" href="{% url 'inninginfo_create' %}">Register New Session</a>
            </div>
            <br><br><br>
            <div class="container" id="divID">
                {% for object in object_list %}

                    <div class="col-md-3 col-sm-4 col-xs-12 card-body" id="listCard">

                        <div class="card-header" style="background: white">
                            <h5 class="card-title"><strong>Session : &nbsp;<a
                                    href="{{ object.get_absolute_url }}">{{ object.Inning_Name }}</a></strong>
                            </h5>
                            <h5 class="card-title"><b>Student Group &nbsp; : </b>&nbsp;{{ object.Groups }}</h5>
                            <h5 class="card-title"><b><u>Courses :</u></b></h5>
                            <span class="card-title"> {% for groups in object.Course_Group.all %}{{ groups.Course_Code }} , {% endfor %}</span><br>

                            <h5 class="card-title"><b>Start Date : </b>&nbsp;{{ object.Start_Date|date:'Y M d' }}</h5>
                            <h5 class="card-title"><b>End Date : </b>&nbsp;{{ object.End_Date|date:'Y M d' }}</h5>
                        </div>

                    </div>

                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}



{% block customjss %}
<script src="{% static 'vendorsx/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

<script src="{% static 'vendorsx/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-buttons/js/buttons.print.min.js' %}"></script>

<script src="{% static 'vendorsx/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').DataTable({
                dom: 'lBfrtip',
                responsive: true,
                buttons: [
                    {
                        extend: 'csv',
                        text: '<span class="exportcsv"><i class="fa fa-paper-plane-o"></i> Export to CSV </span>'
                    },
                    {
                        extend: 'print',
                        text: '<span class="print"><i class="fa fa-print"></i> Print </span>',
                        fieldSeparator: '\t'
                    }]
            });
        });
    </script>
    <script>
        function show(shown, hidden) {
            document.getElementById(shown).style.display = 'block';
            document.getElementById(hidden).style.display = 'none';
            return false;
        }
    </script>

{% endblock %}