{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
    <link href="{% static 'vendorsx/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendorsx/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendorsx/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Session</li>
{% endblock %}
{% block content %}
    <div class="inningInfoListClass">
        <hr class="header_hr">
        <h2 class="tableHeader">List of Inactive Sessions</h2>

        <h5 class="text-left" style="padding-left: 10px; margin-bottom: 0;"><b>
            <a id="cardButton" style="cursor: pointer">Card View</a> &nbsp;
            <a id="tableButton" style="cursor: pointer">Table View</a></b>
            <span style="float:right; padding-right: 10px;"><a href="{% url 'inninginfo_list' %}">View
                Active Sessions</a>
        </span>
        </h5>

        <div class="col-md-12">
            <hr class="header_hr">
            <form method="post" action="{% url 'inninginfo_inactive_delete_checked' %}">
                {% csrf_token %}
                <div class="row">
                    {% if request.user.Is_CenterAdmin and '/mysessions' not in request.path %}
                        <div class="btn-createnew">
                            <a class="btn btn-sm btn-success" href="{% url 'inninginfo_create' %}">Register New
                                Session</a>
                            <button class="btn btn-danger deleteCheckedInnings" type="submit"
                                    onclick="return confirm('Are you sure you want to delete ?')">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    {% endif %}
                </div>
                <div class="table-responsive" id="tableView">

                    <table class="table table-striped table-bordered bg-white nowrap">
                        <thead class="thead-light bg-primary">
                        <tr class="tableTitleRow">
                            <td></td>
                            <td>ID</td>
                            <td>Session Name</td>
                            <td>Student Group</td>
                            <td>No. of Courses</td>
                            <td>Start Date</td>
                            <td>End Date</td>
                            <td>Action</td>
                        </tr>
                        </thead>
                        {% for object in object_list %}
                            <tr>
                                <td>
                                    <input type="checkbox" name="inning_id[]" value="{{ object.pk }}">
                                </td>
                                <td style="vertical-align: middle;">{{ forloop.counter }}</td>
                                <td style="vertical-align: middle;"><B><a
                                        href="{{ object.get_absolute_url }}">{{ object.Inning_Name }}</a></B></td>
                                <td style="vertical-align: middle;">{{ object.Groups }}</td>
                                <td style="vertical-align: middle;">{{ object.Course_Group.count }}</td>
                                <td style="vertical-align: middle;">{{ object.Start_Date }}</td>
                                <td style="vertical-align: middle;">{{ object.End_Date }}</td>
                                <td class="text-center"><a class="btn btn-sm btn-info"
                                                           href="{{ object.get_update_url }}">Edit</a>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </form>
            <div id="cardView" style="display:none;padding: 0;" class="col-md-12 col-sm-12 col-xs-12">

                <div class="container" id="divID">
                    {% for object in object_list %}

                        <div class="col-md-4 col-sm-6 col-xs-12 card-body" id="listCard">

                            <div class="card-header" style="background: white">
                                <h5 class="card-title"><strong>Session : &nbsp;<a
                                        href="{{ object.get_absolute_url }}">{{ object.Inning_Name }}</a></strong>
                                </h5>
                                <h5 class="card-title"><b>Student Group &nbsp; : </b>&nbsp;{{ object.Groups }}</h5>
                                <h5 class="card-title"><b><u>Courses :</u></b></h5>
                                <span class="card-title"> {% for groups in object.Course_Group.all %}
                                    {{ groups.Course_Code }}
                                {% endfor %}</span><br>

                                <h5 class="card-title"><b>Start Date : </b>&nbsp;{{ object.Start_Date|date:'Y M d' }}
                                </h5>
                                <h5 class="card-title"><b>End Date : </b>&nbsp;{{ object.End_Date|date:'Y M d' }}</h5>
                            </div>

                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}



{% block customjss %}
    <script src="{% static 'vendorsx/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendorsx/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

    <script src="{% static 'vendorsx/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendorsx/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendorsx/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'vendorsx/datatables.net-buttons/js/buttons.print.min.js' %}"></script>

    <script src="{% static 'vendorsx/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'vendorsx/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').DataTable({
                dom: 'lBfrtip',
                responsive: true,
                buttons: [
                    {
                        extend: 'csv',
                        text: '<span class="exportcsv"><i class="fa fa-paper-plane-o"></i> Export to CSV </span>'
                    },
                    {
                        extend: 'print',
                        text: '<span class="print"><i class="fa fa-print"></i> Print </span>',
                        fieldSeparator: '\t'
                    }]
            });
        });
    </script>
    <script>
        document.querySelector("#cardButton").addEventListener('click', cardView);
        document.querySelector("#tableButton").addEventListener('click', tableView);

        function cardView() {
            $("#cardButton").css('color', 'black');
            $("#tableButton").css('color', 'grey');
            document.querySelector('#cardView').style.display = "inline-block";
            document.querySelector('#tableView').style.display = "none";
        }

        function tableView() {
            $("#cardButton").css('color', 'grey');
            $("#tableButton").css('color', 'black');
            document.querySelector('#tableView').style.display = "inline-block";
            document.querySelector('#cardView').style.display = "none";

        }
    </script>

{% endblock %}