{% extends base_file %}
{% load static %}
{% load crispy_forms_tags %}

{% block stylesheet %}
{{ form.media }}
<link rel="stylesheet" href="{% static 'vendors/select2/css/select2.min.css' %}" type=" text/css">
<link rel="stylesheet" href="{% static 'vendors/form-wizard/jquery.steps.css' %}" type=" text/css">
<!-- <link href="{% static 'vendorsx/nprogress/nprogress.css' %}" rel="stylesheet" />
<link href="{% static '/build/css/custom.min.css' %}" rel="stylesheet" />
<link href="{% static 'vendorsx/jQuery-Smart-Wizard/styles/smart_wizard.css' %}" rel="stylesheet" />
<link href="{% static 'vendorsx/jQuery-Smart-Wizard/styles/smart_wizard_theme_dots.css' %}" rel="stylesheet" /> -->
<!-- <style>
    .selector-available,
    .selector-chosen {
        width: 280px !important;
    }

    .selector select {
        width: 280px !important;
    }

    .selector .selector-available input {
        width: 210px !important;
    }
</style> -->
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'start' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'inninginfo_list' %}">Session</a></li>
{% if '/inninginfo/update/' in request.path %}
<li class="breadcrumb-item">
    <a href="{{ object.get_absolute_url }}"> {{object}} </a>
</li>
{% endif %}
<li class="breadcrumb-item active" aria-current="page">
    {% if '/inninginfo/create/' == request.path %} Register New Session {% else %}
    Edit Session {% endif %}
</li>
{% endblock %}

{% block content %}
<style>
    .selector {
        width: auto !important;
    }

    .selector-available,
    .selector-chosen {
        width: 280px !important;
    }

    .selector select {
        width: 280px !important;
    }

    .selector .selector-available input {
        width: 210px !important;
    }

    .selector .selector-chosen input {
        width: 210px !important;
    }
</style>

<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="create_session_modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold" id="create_session_modal_title">Add New Session
                    Name </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body" id="create_session_modal_body"></div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="create_groupmapping_modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content box2">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold" id="create_groupmapping_modal_title">Create
                    Students
                    Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body" id="create_groupmapping_modal_body"></div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="create_inninggroup_modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content box3">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold" id="create_inninggroup_modal_title">Assign Course
                    to Teachers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body" id="create_inninggroup_modal_body"></div>
        </div>
    </div>
</div>
<div class="page-header">
    <div class="page-title d-block text-center">
        <h2> {% if '/inninginfo/create/' == request.path %}
            Register New Session
            {% else %}
            Edit Session
            {% endif %}</h2>
    </div>
</div>



<form class="form-horizontal form-label-left" method="post" id="FormID">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div id="wizard-example">
                        <h3>Select Session Name</h3>
                        <section class="card card-body border mb-0">
                            <div class="text-center mb-2">
                                <h5>Select Session Name</h5>
                            </div>
                            <div id="step0">
                                {% block inning_name %}
                                <div class="form-group wd-xs-300">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-8" style="margin: auto;">
                                            <select class="select2" id="id_Inning_Name" name="Inning_Name">
                                                {% for x, y in form.fields.Inning_Name.choices %}
                                                <option value="{{ x }}"
                                                    {% if form.initial.Inning_Name == x %}selected{% endif %}>
                                                    {{ y }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                            <span id="step0Validate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="text-center mt-4">
                                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                            data-target="#create_session_modal" id="add-newsession-btn">
                                            + Add New
                                        </button>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <span class="text-info">These session name are already predefined by University.<br>
                                        Only if the session name is not defined previously you can create
                                        New.</span>
                                </div>
                                <div class="text-center mt-3">
                                    <button class="btn btn-link button-info" type="button">Read More Info...</button>
                                    <p class="info-text col-md-6 col-sm-12 col-xs-12" style="margin:auto">
                                        INFO: Session is the interval for which the particular
                                        Course are taught and finished within it. It is the
                                        breakdown of a program. For Ex: A Computer Engineering Bachelor
                                        program can be divided into 8 Session and each Session has a fixed
                                        Session Name, If it was taught yearwise then each year
                                        can be named as Session Name. So Session represents the breakdown
                                        of a particular study, where certain Courses are taught.
                                    </p>
                                </div>
                                {%  endblock %}
                            </div>
                        </section>
                        <h3>Select the duration of the Session</h3>
                        <section class="card card-body border mb-0">
                            <div class="text-center mb-2">
                                <h5>Select the duration of the Session</h5>
                            </div>
                            <div id="step1">
                                <div class="col-md-6 col-sm-12 text-center" style="margin:auto">
                                    <div class="form-group">
                                        <label for="id_Start_Date" class="control-label">
                                            Start Date*
                                        </label>
                                        <div class="controls">
                                            <input value="{{ object.Start_Date|date:'Y-m-d' }}" type="date"
                                                name="Start_Date" required="" id="id_Start_Date"
                                                class="datetimeinput form-control" max="9999-12-31" />
                                        </div>
                                        <span id="step1aValidate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="id_End_Date" class="control-label  requiredField">
                                            End Date*
                                        </label>
                                        <div class="controls">
                                            <input value="{{ object.End_Date | date:'Y-m-d' }}" type="date"
                                                name="End_Date" required="" id="id_End_Date"
                                                class="datetimeinput form-control" min="{{datetime|date:'Y-m-d'}}"
                                                max="9999-12-31" />
                                        </div>
                                        <span id="step1bValidate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <h3>Choose Student Group Session</h3>
                        <section class="card card-body border mb-0">
                            <div class="text-center mb-2">
                                <h5>Choose Student Group Session</h5>
                            </div>
                            <div id="step2">
                                <div class="form-group wd-xs-300">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-8" style="margin: auto;">
                                            <select class="select2" id="id_Groups" name="Groups">
                                                {% for x, y in form.fields.Groups.choices %}
                                                <option value="{{ x }}"
                                                    {% if form.initial.Groups == x %}selected{% endif %}>{{ y }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                            <span id="step2Validate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="text-center mt-4">
                                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                            data-target="#create_groupmapping_modal" id="add-newgroup-btn">
                                            + Create New Group
                                        </button>
                                    </div>
                                </div>
                                <div class="text-center mt-2">
                                    <button class="btn btn-link button-info" type="button">Read More Info...</button>
                                    <p class="info-text col-md-6 col-sm-12 col-xs-12" style="margin:auto">
                                        INFO: Please select the student group you have created for this
                                        session. The student group will consists all the students enrolled
                                        in this session. You can see it in detail in student group page.
                                        Please make sure you have already created the batch or you can
                                        also create it from here.
                                    </p>
                                </div>
                            </div>
                        </section>
                        <h3>Select Courses for Session</h3>
                        <section class="card card-body border mb-0">
                            <div class="text-center mb-2">
                                <h5>Select Courses for Session</h5>
                            </div>
                            <div id="step3">
                                <div class="form-group wd-xs-300">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12" style="margin: auto;">
                                            <!-- <select class="select2" id="id_Course_Group" name="Course_Group"
                                                multiple="multiple">
                                                {% for x, y in form.fields.Course_Group.choices %}
                                                <option value="{{ x }}"
                                                    {% if form.initial.Course_Group == x %}selected{% endif %}> {{ y }}
                                                </option>
                                                {% endfor %}
                                            </select> -->
                                            <div class="mt-4">
                                                {{ form.Course_Group }}
                                            </div>
                                            <div class="col-12 d-inline-block text-center">
                                                <span id="step3Validate" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center mt-4">
                                        <button type="button" class="btn btn-sm btn-primary" id="add-inninggroup-btn"
                                            data-toggle="modal" data-target="#create_inninggroup_modal">+ Assign New
                                            Course
                                        </button>
                                    </div>
                                </div>
                                <div class="text-center mt-2">
                                    <button class="btn btn-link button-info" type="button">Read More Info...</button>
                                    <p class="info-text col-md-6 col-sm-12 col-xs-12" style="margin:auto">
                                        INFO: Please select the courses that are included in this session.
                                        You can assign multiple courses, here the courses are mapped with
                                        teachers who taught them in this session, multiple teachers can be
                                        associated with the same course for particular session. Teacher
                                        allocation can be diffenent among same course in different session
                                        so a convient name can be given to it. EX: For Math course taught
                                        in computer can be named as MATH COMP. and same course can be
                                        taught by different teachers in electonics and named as MATH ELEX.
                                        It is just a grouping of a course and differnt teachers associated
                                        with it.
                                    </p>
                                </div>
                                <input type="hidden" id="id_Use_Flag" name="Use_Flag" value="True" />
                                <input type="hidden" name="Center_Code" id="id_Center_Code"
                                    value="{{ request.user.Center_Code.id }}" class="select form-control" />
                                <input type="hidden" name="Register_Agent" id="id_Register_Agent"
                                    value="{{ request.user.username }}" class="select form-control" />
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>


{% endblock %}

{% block javascript %}
<script src="{% static 'vendors/select2/js/select2.min.js' %}"></script>
<script src="{% static 'vendors/form-wizard/jquery.steps.min.js' %}"></script>
<script src="{% static 'build/js/CustomSelectFilter2.js' %}"></script>


<script>
    $(document).ready(function () {
        $('#id_Inning_Name').select2({
            placeholder: 'Select Session'
        });
        $('#id_Groups').select2({
            placeholder: 'Select Group'
        });
        // $('#id_Course_Group').select2({
        //     placeholder: 'Select Courses'
        // });
    })

    $('#wizard-example').steps({
        headerTag: 'h3',
        bodyTag: 'section',
        autoFocus: true,
        titleTemplate: '<span class="wizard-index">#index#</span> #title#',
        onStepChanging: function (event, currentIndex, newIndex) {
            if (currentIndex < newIndex) {
                //var form = document.getElementById('step0'),
                //    form2 = document.getElementById('step1');

                if (currentIndex === 0) {
                    console.log('zero', event, currentIndex, newIndex)
                    if ($("#id_Inning_Name").val() == "") {
                        event.preventDefault();
                        event.stopPropagation();
                        //form.classList.add('was-validated');
                        $("#step0Validate").html("Select a Session Name")
                    }
                    else {
                        $("#step0Validate").html("");
                        return true;
                    }

                } else if (currentIndex === 1) {
                    console.log('1', event, currentIndex, newIndex)
                    var startDate = document.getElementById("id_Start_Date").value;
                    var endDate = document.getElementById("id_End_Date").value;
                    if ($("#id_Start_Date").val() == "") {
                        event.preventDefault();
                        event.stopPropagation();
                        $("#step1aValidate").html("Insert Start Date")
                    }
                    else if ($("#id_End_Date").val() == "") {
                        event.preventDefault();
                        event.stopPropagation();
                        $("#step1aValidate").html("");
                        $("#step1bValidate").html("Insert End Date");
                    }
                    else if (Date.parse(endDate) <= Date.parse(startDate)) {
                        event.preventDefault();
                        event.stopPropagation();
                        $("#step1aValidate").html("");
                        $("#step1bValidate").html("End date should be greater than Start date");
                    }
                    else {
                        $("#step1aValidate").html("");
                        $("#step1bValidate").html("");
                        return true;
                    }

                } else if (currentIndex === 2) {
                    console.log('2', event, currentIndex, newIndex)
                    console.log('test', ($("#id_Course_Group_to").has('option').length == '0'))

                    if ($("#id_Groups").val() == "") {
                        event.preventDefault();
                        event.stopPropagation();
                        $("#step2Validate").html("Select a Student Group");
                    }
                    else {
                        $("#step2Validate").html("");
                        return true;
                    }
                }

            } else {
                return true;
            }
        },
        onFinished: function (event, currentIndex) {
            var form = document.getElementById("FormID");
            if ($("#id_Course_Group_to").has('option').length == '0') {
                event.preventDefault();
                event.stopPropagation();
                $("#step3Validate").html("Select a Course")
            }
            else {
                $("#step3Validate").html("");
                $('#id_Course_Group_to option').prop('selected', true);
                console.log('finished')
                form.submit();
            }
            // Submit form input

        },
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("p.info-text").hide();
    })
    // toggle read more info display
    $(".button-info").click(function () {
        //console.log('click')
        $("p.info-text").toggle();
    });
    // Display Add new session name popup modal
    $("#add-newsession-btn").on("click", function () {
        $("#create_session_modal_body").empty();
        $("#create_session_modal_body").append('<div class="se-pre-con-ajax"></div>');

        $.ajax({
            type: "GET",
            url: "{% url 'sessioninfo_create_ajax' %}", // URL to your view that serves new info
            success: function (response) {
                $("#create_session_modal_body").append(response);
            },
            error: function () {
                console.log("Error in generating session create form");
            },
            complete: function () {
                $(".se-pre-con-ajax").fadeOut("fast");
            }
        });

    });

    // Display add new student group popup modal
    $("#add-newgroup-btn").on("click", function () {
        $("#create_groupmapping_modal_body").empty();
        $("#create_groupmapping_modal_body").append('<div class="se-pre-con-ajax"></div>');

        $.ajax({
            type: "GET",
            url: "{% url 'group_create_ajax' %}", // URL to your view that serves new info
            success: function (response) {
                $("#create_groupmapping_modal_body").append(response);
            },
            error: function () {
                console.log("Error in generating group create form");
            },
            complete: function () {
                $(".se-pre-con-ajax").fadeOut("fast");
            }
        });

    });

    // Display add new teacher-course allocation popup modal
    $("#add-inninggroup-btn").on("click", function () {
        $("#create_inninggroup_modal_body").empty();
        $("#create_inninggroup_modal_body").append('<div class="se-pre-con-ajax"></div>');

        $.ajax({
            type: "GET",
            url: "{% url 'inninggroup_create_ajax' %}", // URL to your view that serves new info
            success: function (response) {
                $("#create_inninggroup_modal_body").append(response);
                window.addEventListener("load", function (e) {
                    $("select.selectfilter, select.selectfilterstacked").each(function () {
                        var $el = $(this),
                            data = $el.data();
                        SelectFilter.init(
                            $el.attr("id"),
                            data.fieldName,
                            parseInt(data.isStacked, 10)
                        );
                    });
                });
            },
            error: function () {
                console.log("Error in generating group create form");
            },
            complete: function () {
                $(".se-pre-con-ajax").fadeOut("fast");
            }
        });

    });

</script>

{% endblock %}