{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'start' %}">{% trans "Home" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans "Members" %}</li>
{% endblock %}
{% block content %}
<div class="modal fade" id="import_csv_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title text-primary font-weight-bold" id="edit_checked_details_modal_title">CSV File
                    Import
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body" id="import_csv_body">
                <form method="POST" id="form_import_csv" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="id_import_csv">Choose the CSV file to Import Member Data</label>
                    <input type="file" name="import_csv" id="id_import_csv" accept=".csv">
                    <a target="_blank" class="text-center" href="{% static 'importcsv_sample1.csv' %}">
                        <h4><i class="fa fa-download" aria-hidden="true"></i> Download Sample CSV</h4>
                    </a>
                    <span class="button-info" style="cursor:pointer;padding:0.4em;color:#222"><b>Read Detail
                            Info...</b></span>
                    <ul class="info-text" style="display:none;background:azure;">
                        <li>- Username must be unique for every member (required)</li>
                        <li>- Gender value must be M or F (required)</li>
                        <li>- Teacher column value should be 1 for teacher</li>
                        <li>- Student column value should be 1 for student</li>
                        <li>- If any problem occur in a row then no any member data will be created</li>
                        <li>- Error message will show the number of row in which the problem occur</li>
                        <li>- Default password will be 00000 for everyuser</li>
                    </ul>
                    <div class="import-message"></div>
                    <div class="text-center mt-3">
                        <button class="btn btn-success" id="submitcsv" type="submit">
                            <span id="submitspinner"></span>Submit File
                        </button>
                        <button class="btn btn-primary closeImportCSV ml-3" data-dismiss="modal"
                            aria-label="Close">Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2 class="text-primary">{% trans "List of Active Members" %}</h2>
    </div>
</div>

<div class="card px-2 bg-primary-gradient mt-3">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 py-3">
            <a class="mx-4" id="all_button" href="#">{% trans "All" %}</a>
            <a class="mx-4" id="teacher_button" href="#">{% trans "Teacher" %}</a>
            <a class="mx-4" id="student_button" href="#">{% trans "Student" %}</a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 btn-createnew py-3">
            <a class="pull-right text-white" href="{% url 'memberinfo_list_inactive' %}">
                {% trans "View Blocked Members" %}</a>
        </div>
    </div>
</div>
{% csrf_token %}
<div class="text-right">
    <nav id="navbar_parent" class="navbar-dark">
        <a class="btn btn-success text-white" href="{% url 'memberinfo_create' %}">Create new Member</a>
        <button class="btn btn-info btn-floating editCheckedMembers ml-2" type="button" data-toggle="modal"
            data-target="#edit_checked_details_modal">
            <i class="fa fa-edit"></i>
        </button>
        <form method="post" action="{% url 'memberinfo_delete_checked' %}" style="display: inline">
            {% csrf_token %}
            <button class="btn btn-danger btn-floating deleteCheckedMembers ml-2" type="submit"
                onclick="return confirm('Are you sure you want to delete ?')">
                <i class="fa fa-trash"></i>
            </button>
        </form>
    </nav>
</div>

<div class="table-responsive groupmappingtable mt-4" id="member_dataTable">
    <table class="table table-striped" cellspacing="0" width="100%" id="members_list_table">
        <thead class="thead-light">
            <tr>
                <th> <input type="checkbox" class="memberinfoCheckAll"> </th>
                <th class="text-center">{% trans "S. No." %}</th>
                <th>{% trans "Username" %}</th>
                <th>{% trans "Member ID" %}</th>
                <th>{% trans "Full Name" %}</th>
                <th>{% trans "First Name" %}</th>
                <th>{% trans "Last Name" %}</th>
                <th>{% trans "Email" %}</th>
                <th>{% trans "Department" %}</th>
                <th>{% trans "Phone" %}</th>
                <th>{% trans "Gender" %}</th>
                <th>{% trans "Student" %}</th>
                <th>{% trans "Teacher" %}</th>
                <th>{% trans "Temporary Address" %}</th>
                <th>{% trans "Permanent Address" %}</th>
                <th>{% trans "Birthdate" %}</th>
                <th>{% trans "Type" %}</th>
                <th class="text-center">{% trans "Action" %}</th>
            </tr>

        </thead>
        <!-- <tfoot>
            <tr>
                <th>S. No.</th>
                <th>Username</th>
                <th>Member ID</th>
                <th>Full Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Student</th>
                <th>Teacher</th>
                <th>Temporary Address</th>
                <th>Permanent Address</th>
                <th>Birthdate</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </tfoot> -->
        <tbody>

        </tbody>
    </table>
    <span class="checkboxCheckedLength"></span>
</div>

{% include 'WebApp/memberinfo_mass_option_form.html' %}

{% endblock %}

{% block javascript %}
<!-- <script src="{% static 'vendorsx/jquery/dist/jquery.min.js' %}"></script> -->

<script type="text/javascript">
    $("#all_button").css("color", "white");

    $("#student_button").css("color", "black");
    $("#teacher_button").css("color", "black");
    $(".button-info").click(function () {
        $("ul.info-text").toggle();
    });

    $(document).on('click', '.confirm-delete', function () {
        ans = confirm('Are you sure you want to delete this Member? (You can deactivate the member instead of deleting)');
        if (ans == true) {
            $.ajax({
                url: "{% url 'memberinfo_delete' pk='000123' %}".replace('000123', this.id),
                method: 'post',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function () {
                    location.reload();
                }
            })
            $(`#delete_form${this.id}`).submit();
        } else {
            return false;
        }
    });

    setTimeout(function () {
        $('#message').fadeOut('slow');
    }, 3000);

    $(document).ready(function () {

        // ServerSide export all data from "https://stackoverflow.com/a/57335685"

        /* For Export Buttons available inside jquery-datatable "server side processing" - Start
        - due to "server side processing" jquery datatble doesn't support all data to be exported
        - below function makes the datatable to export all records when "server side processing" is on */

        function newexportaction(e, dt, button, config) {
            var self = this;
            var oldStart = dt.settings()[0]._iDisplayStart;
            dt.one('preXhr', function (e, s, data) {
                // Just this once, load all data from the server...
                data.start = 0;
                data.length = -1; // if value is >100 :: only 100 data will be displayed
                dt.one('preDraw', function (e, settings) {
                    // Call the original action function
                    if (button[0].className.indexOf('buttons-copy') >= 0) {
                        $.fn.dataTable.ext.buttons.copyHtml5.action.call(self, e, dt, button, config);
                    } else if (button[0].className.indexOf('buttons-excel') >= 0) {
                        $.fn.dataTable.ext.buttons.excelHtml5.available(dt, config) ?
                            $.fn.dataTable.ext.buttons.excelHtml5.action.call(self, e, dt, button, config) :
                            $.fn.dataTable.ext.buttons.excelFlash.action.call(self, e, dt, button, config);
                    } else if (button[0].className.indexOf('buttons-csv') >= 0) {
                        $.fn.dataTable.ext.buttons.csvHtml5.available(dt, config) ?
                            $.fn.dataTable.ext.buttons.csvHtml5.action.call(self, e, dt, button, config) :
                            $.fn.dataTable.ext.buttons.csvFlash.action.call(self, e, dt, button, config);
                    } else if (button[0].className.indexOf('buttons-pdf') >= 0) {
                        $.fn.dataTable.ext.buttons.pdfHtml5.available(dt, config) ?
                            $.fn.dataTable.ext.buttons.pdfHtml5.action.call(self, e, dt, button, config) :
                            $.fn.dataTable.ext.buttons.pdfFlash.action.call(self, e, dt, button, config);
                    } else if (button[0].className.indexOf('buttons-print') >= 0) {
                        $.fn.dataTable.ext.buttons.print.action(e, dt, button, config);
                    }
                    dt.one('preXhr', function (e, s, data) {
                        // DataTables thinks the first item displayed is index 0, but we're not drawing that.
                        // Set the property to what it was before exporting.
                        settings._iDisplayStart = oldStart;
                        data.start = oldStart;
                    });
                    // Reload the grid with the original page. Otherwise, API functions like table.cell(this) don't work properly.
                    setTimeout(dt.ajax.reload, 0);
                    // Prevent rendering of the full data to the DOM
                    return false;
                });
            });
            // Requery the server with the new one-time export settings
            dt.ajax.reload();
        };
        //For Export Buttons available inside jquery-datatable "server side processing" - End



        var table_main = $('#members_list_table').DataTable({
            dom: 'lBfrtip',
            stateSave: true,
            responsive: true,
            processing: true,
            serverSide: true,
            ajax: "{% url 'memberinfo_listajax' %}",
            language: {
                "infoFiltered": "",
            },
            order: [],
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            buttons: [


                {
                    extend: 'csv',

                    title: function(){

                        if (table_main.ajax.url().includes("onlystudents=true"))
                        {
                             return "Student Member List";
                        }

                        else if ( table_main.ajax.url().includes("onlyteachers=true")){
                             return "Teacher Member List";
                        }
                        else{
                             return "All Member List";

                        }
                    },


                    text: '<span class="exportcsv"><i class="fa fa-paper-plane-o"></i> Export to CSV </span>',
                    exportOptions: {
                    //   columns: [1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
                        columns: [1, 2, 3, 5, 6, 7,  9, 10, 11, 12, 13, 14, 15, 8 ]
                    },
                    action: newexportaction,

                },



                {
                    text: '<span class="exportcsv" data-toggle="modal" data-target="#import_csv_modal" id="importcsv-btn"><i class="fa fa-paper-plane fa-rotate-180"></i> Import CSV </span>'
                },
                {
                    extend: 'print',

                    title: function(){

                        if (table_main.ajax.url().includes("onlystudents=true"))
                        {
                             return "Student Member List";
                        }

                        else if ( table_main.ajax.url().includes("onlyteachers=true")){
                             return "Teacher Member List";
                        }
                        else{
                             return "All Member List";

                        }
                    },



                    text: '<span class="print"><i class="fa fa-print"></i> Print </span>',
                     exportOptions: {
                       // columns: [1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
                          columns: [1, 2, 3, 5, 6, 7,  9, 10, 11, 12, 13, 14, 15, 8 ]
                    },
                    fieldSeparator: '\t',
                    action: newexportaction,
                }],
            "columnDefs": [
                {
                    "targets": [4, 5, 9, 10, 11, 12, 13],
                    "visible": false,
                    "searchable": true,
                },
                {
                    "orderable": false,
                    "targets": [0, 3, 11, 12, 13, 14, 15 ,16, 17]
                },
            ]
        });



        $("#student_button").bind("click", function () {

            $("#student_button").css("color", "white");
            $("#teacher_button").css("color", "black");
            $("#all_button").css("color", "black");



            table_main.ajax.url("{% url 'memberinfo_listajax' %}?onlystudents=true").load();
            //console.log(table_main.ajax.url().includes("onlystudents=true"));

        });
        $("#teacher_button").bind("click", function () {
            $("#student_button").css("color", "black");
            $("#teacher_button").css("color", "white");
            $("#all_button").css("color", "black");
            table_main.ajax.url("{% url 'memberinfo_listajax' %}?onlyteachers=true").load();
        });

        $("#all_button").bind("click", function () {
            $("#all_button").css("color", "white");
            $("#student_button").css("color", "black");
            $("#teacher_button").css("color", "black");
            table_main.ajax.url("{% url 'memberinfo_listajax' %}").load();
        });


        $('#form_import_csv').submit(function (e) {
            e.preventDefault();
            var formData = new FormData($('form').get(0));
            // csrf = $('#csrfmiddlewaretoken').get(0).files[0];
            csrf = $('input[name="csrfmiddlewaretoken"]').attr('value');
            formData.append("csrfmiddlewaretoken", csrf);
            if ($('#id_import_csv').val()) {
                $('#submitspinner').html(`<i class="fa fa-spinner fa-spin"></i> `);
                $('#submitcsv').attr('disabled', true);
                $('.closeImportCSV').attr('disabled', true);
                $.ajax({
                    type: "POST",
                    url: "{% url 'csv_import_ajax' %}",  // URL to your view that serves new info
                    data: formData,
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        $('.import-message').addClass(response.class);
                        $('.import-message').removeClass(response.rmclass);
                        $('.import-message').html(response.message);
                    },
                    error: function () {
                        $('.import-message').addClass('text-danger');
                        $('.import-message').removeClass('text-sucess');
                        $('.import-message').html("Error while processing data please try again and verify the format.");
                    },
                    complete: function () {
                        $('#submitspinner').html(``);
                        $('#submitcsv').attr('disabled', false);
                        $('.closeImportCSV').attr('disabled', false);
                    }
                });
            } else {
                $('.import-message').addClass('text-danger');
                $('.import-message').html("Please upload a csv file with defined format.");
            }
        });
    });


    $('.closeImportCSV').click(function () {
        window.location.reload();
    })
</script>


<script>



</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".editCheckedMembers").on('click', function () {
            let seleced_members = []
            $.each($('#member_dataTable input[type="checkbox"]:checked').not('.memberinfoCheckAll'), function (index) {
                seleced_members.push($(this).val())
            })
            $('#member_ids').val(seleced_members)
        });

        $('#id_Member_Department').select2({
            placeholder: 'Select Department'
        });
        $('#id_Member_Position').select2({
            placeholder: 'Select Position'
        });
        $('#id_Member_Gender').select2({
            placeholder: 'Select Gender'
        });
    });

    $('.memberinfoCheckAll').on('click', function () {
        $('#member_dataTable input:checkbox').not(this).prop('checked', this.checked);
        checkboxChangeEvent()
    });

    $('#member_dataTable').on('click', '.memberinfoCheckbox', function () {
        if ($('.memberinfoCheckbox').length === $('.memberinfoCheckbox:checked').length) {
            $('.memberinfoCheckAll').prop('checked', 'checked');
        } else {
            $('.memberinfoCheckAll').prop('checked', false);
        }
        checkboxChangeEvent()
    });

    function checkboxChangeEvent() {
        let checkBoxlength = $('#member_dataTable input[type="checkbox"]:checked').not('.memberinfoCheckAll').length
        if (checkBoxlength > 0) {
            $('.checkboxCheckedLength').text(checkBoxlength + ' of ' + $('.memberinfoCheckbox').length + ' selected')
            $('.editCheckedMembers, .deleteCheckedMembers').removeAttr('disabled')
        } else {
            $('.checkboxCheckedLength').text('')
            $('.editCheckedMembers, .deleteCheckedMembers').prop('disabled', 'disabled')
        }
    }

    checkboxChangeEvent();

    $('#changedepartment-btn').on('click', function () {
        toggleInput('#id_Member_Department')
        $("#changedepartment-btn").toggleClass('btn-outline-primary btn-primary')
    });

    $('#changememberposition-btn').on('click', function () {
        toggleInput('#id_Member_Position')
        $("#changememberposition-btn").toggleClass('btn-outline-primary btn-primary')
    });

    $('#changemembergender-btn').on('click', function () {
        toggleInput('#id_Member_Gender')
        $("#changemembergender-btn").toggleClass('btn-outline-primary btn-primary')
    });

    $('#changeisteacher-btn').on('click', function () {
        toggleInput('#id_Is_Teacher')
        toggleInput('#id_Is_Teacher_hidden')
        $("#changeisteacher-btn").toggleClass('btn-outline-primary btn-primary')
    });

    $('#changeisstudent-btn').on('click', function () {
        toggleInput('#id_Is_Student')
        toggleInput('#id_Is_Student_hidden')
        $("#changeisstudent-btn").toggleClass('btn-outline-primary btn-primary')
    });

    $('#changeActive-btn').on('click', function () {
        toggleInput('#id_Use_Flag')
        toggleInput('#id_Use_Flag_hidden')
        $("#changeActive-btn").toggleClass('btn-outline-primary btn-primary')
    });

    function toggleInput(inputID) {
        if ($(inputID).is(':disabled')) {
            $(inputID).removeAttr('disabled');
        } else {
            $(inputID).prop('disabled', 'disabled')
        }
    }

    $('#editCheckedMembers input, select').not('input[name=csrfmiddlewaretoken], #member_ids').attr('disabled', true)

    $(function () {
        $('#editCheckedMembers :checkbox').on('change', function () {
            if (this.checked == true) {
                $(this).val("1");
                $(this).parent().find('input[type=hidden]').val("1");
            } else {
                $(this).val("0");
                $(this).parent().find('input[type=hidden]').val("0");
            }
        });
    });

    // Form Submission

    $('#editCheckedMembers').on('submit', function (e) {
        e.preventDefault()
        if ($('#id_Member_Department').is(':disabled') && $('#id_Member_Position').is(':disabled') && $('#id_Member_Gender').is(':disabled')
            && $('#id_Is_Teacher').is(':disabled') && $('#id_Is_Student').is(':disabled') && $('#id_Use_Flag').is(':disabled')
        ) {
            alert('Please input data and enable required fields to submit')
            return false
        }

        var form = $(this);
        var url = form.attr('action');
        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements.
            success: function (data) {
                location.reload(); // show response from the php script.
            },
            error: function (e) {
                $('.error-div').empty()
                $('.error-div').css('display', 'block')
                $('.error-div').append(`
                        <p style="font-weight: bold; font-size: medium">${e.responseJSON.message}</p>
                    `)
                $.each(e.responseJSON.inning_list, function (index) {
                    $('.error-div').append(`
                            <p style="font-size: small">${e.responseJSON.inning_list[index]['Inning_Name']}</p>
                        `)
                })

            }
        });
    });
</script>
{% endblock %}