{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'start' %}">{% trans "Home" %}</a></li>
<li class="breadcrumb-item"><a href="{% url 'memberinfo_list' %}">{% trans "Member" %}</a></li>
{% if object.username %}
<li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object.username }}</a></li>
{% endif %}
<li class="breadcrumb-item active" aria-current="page">
    {% if '/memberinfo/create/' == request.path %}
    {% trans "Create New Member" %}
    {% else %}
    {% trans "Edit Member Info" %}
    {% endif %}
</li>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="page-title d-block text-center">
        <h2>{% if 'create' in request.path %}
            {% trans "Create New" %}{% elif 'update' in request.path %}
            {% trans "Edit" %} {% endif %}
            {% trans "Member" %}</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-md-12" style="margin:auto">
        <div id='form-errors'>{{ form_errors }}</div>
        <div id='form-errors'>{{ form.non_field_errors }}</div>
        <form method="post" id="FormID" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="accordion" id="member_create_accordion">
                <div class="card">
                    <div class="card-header" id="basic_info_header">
                        <button class="btn btn-link" type="button" data-toggle="collapse"
                            data-target="#basic_information" aria-expanded="true" aria-controls="basic_information">
                            {% trans "Basic Information" %}
                        </button>
                    </div>
                    <div id="basic_information" class="collapse show" aria-labelledby="basic_info_header"
                        data-parent="#member_create_accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id_Member_ID">{% trans "Registration ID" %} *</label>
                                        <input type="text" name="Member_ID" id="id_Member_ID" maxlength="20"
                                            value="{{ object.Member_ID }}" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label for="Member_Gender">{% trans "Gender" %} *</label>
                                        <select id="id_Member_Gender" name="Member_Gender" class="form-control">
                                            {% for x, y in form.fields.Member_Gender.choices %}
                                            <option value="{{ x }}" {% if form.initial.Member_Gender == x %}
                                                selected{% endif %}>{{ y }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id_first_name">{% trans "First Name" %} *</label>
                                        <input type="text" class="form-control" name="first_name" id="id_first_name"
                                            type="text" value="{{ object.first_name}}" required autofocus>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id_last_name">{% trans "Last Name" %} *</label>
                                        <input type="text" class="form-control" name="last_name" id="id_last_name"
                                            type="text" value="{{ object.last_name}}" required autofocus>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id_username">{% trans "Username" %} *</label>
                                        <input type="text" class="form-control" name="username" id="id_username"
                                            type="text" value="{{ object.username}}" required autofocus>
                                    </div>
                                </div>
                                {% if 'create' in request.path %}
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id_password">{% trans "Password" %} *</label>
                                        <input type="password" name="password" value="{{ object.password }}"
                                            id="id_password" required class="form-control">
                                    </div>
                                </div>
                                {% endif %}
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id_email">{% trans "Email" %} *</label>
                                        <input type="text" name="email" value="{{ object.email }}" id="id_email"
                                            required class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-1">
                                        <label for="id_email">{% trans "Member Type" %} *</label>
                                    </div>
                                    <input type="checkbox" name="Is_Student" id="id_Is_Student"
                                        {% if object.Is_Student %} checked {% endif %} class="checkboxinput">
                                    <label for="id_Is_Student">{% trans "Student" %}</label>
                                    <input type="checkbox" name="Is_Teacher" id="id_Is_Teacher"
                                        {% if object.Is_Teacher %} checked {% endif %} class="ml-5">
                                    <label for="id_Is_Teacher">{% trans "Teacher" %}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Member_Department">{% trans "Member Department" %}</label>
                                        <select id="id_Member_Department" name="Member_Department" class="form-control">
                                            {% for x, y in form.fields.Member_Department.choices %}
                                            <option value="{{ x }}" {% if form.initial.Member_Department == x %}
                                                selected{% endif %}>{{ y }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Member_Position">{% trans "Member Position" %}</label>
                                        <select id="id_Member_Position" name="Member_Position" class="form-control">
                                            {% for x, y in form.fields.Member_Position.choices %}
                                            <option value="{{ x }}" {% if form.initial.Member_Position == x %}
                                                selected{% endif %}>{{ y }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="assitional_info_header">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#additional_information" aria-expanded="false"
                            aria-controls="additional_information">
                            {% trans "Additional Information" %}
                        </button>
                    </div>
                    <div id="additional_information" class="collapse" aria-labelledby="assitional_info_header"
                        data-parent="#member_create_accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label
                                            for="id_Member_Permanent_Address">{% trans "Member Permanent Address" %}</label>
                                        <input type="text" name="Member_Permanent_Address"
                                            id="id_Member_Permanent_Address" maxlength="150"
                                            value="{{ object.Member_Permanent_Address }}" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label
                                            for="id_Member_Temporary_Address">{% trans "Member Temporary Address" %}</label>
                                        <input type="text" name="Member_Temporary_Address"
                                            id="id_Member_Temporary_Address" maxlength="150"
                                            value="{{ object.Member_Temporary_Address }}" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id_Member_BirthDate">{% trans "Date of Birth" %}</label>
                                        <input name="Member_BirthDate" type="date" class="form-control"
                                            id="id_Member_BirthDate" max="9999-12-31"
                                            value="{{ object.Member_BirthDate|date:'Y-m-d' }}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id_Member_Phone">{% trans "Phone Number" %}</label>
                                        <input type="tel" name="Member_Phone" class="form-control" id="id_Member_Phone"
                                            value="{{ object.Member_Phone }}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_Member_Memo">{% trans "Member Memo" %}</label>
                                <textarea class="form-control" name="Member_Memo" id="id_Member_Memo"
                                    rows="10">{{ object.Member_Memo }}</textarea>
                            </div>
                            <div class="mb-2">{% trans "Member Avatar" %}</div>
                            {{ form.Member_Avatar }}
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" name="Use_Flag" id="id_Use_Flag" value="true">
            <div class="text-center mt-4">
                <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>
    $('#id_Member_ID').change(function () {
        //suggest username
        if (window.location.href.indexOf("create") >= -1) {
            $('#id_username').val($('#id_Member_ID').val());
        }
    });
</script>
{% endblock %}