{% load static %}
{% load crispy_forms_tags %}

<!-- Modal -->
<div class="modal fade" id="edit_checked_details_modal" tabindex="-1" role="dialog"
    aria-labelledby="edit_checked_details_modal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold" id="edit_checked_details_modal_title">Edit
                    Selected Members
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="error-div" style="display: none">

            </div>

            <div class="modal-body">
                <form method="post" id="editCheckedMembers" action="
                    {% if '/inactive' in request.path %}
                        {% url 'memberinfo_inactive_edit_checked' %}
                    {% else %}
                        {% url 'memberinfo_edit_checked' %}
                    {% endif %}
                    ">
                    {% csrf_token %}
                    <input type="hidden" name="member_ids[]" id="member_ids">
                    <div class="form-group">
                        <div class="row">
                            <div class="col col-md-9">
                                <select class="select2" id="id_Member_Department" name="Member_Department">
                                    {% for x, y in partial_member_form.fields.Member_Department.choices %}
                                    <option value="{{ x }}"
                                        {% if partial_member_form.initial.Member_Department == x %}selected{% endif %}>
                                        {{ y }}
                                    </option>
                                    {% endfor %}
                                </select>
                                {{ partial_member_form.Member_Department }}
                            </div>
                            <div class="col col-md-3">
                                <button class="btn btn-block" type="button" id="changedepartment-btn">Change</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col col-md-9">
                                <select class="select2" id="id_Member_Position" name="Member_Position">
                                    {% for x, y in partial_member_form.fields.Member_Position.choices %}
                                    <option value="{{ x }}"
                                        {% if partial_member_form.initial.Member_Position == x %}selected{% endif %}>
                                        {{ y }}
                                    </option>
                                    {% endfor %}
                                </select>
                                {{ partial_member_form.Member_Position }}
                            </div>
                            <div class="col col-md-3">
                                <button class="btn btn-block" type="button" id="changememberposition-btn">Change
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col col-md-9">
                                <select class="select2" id="id_Member_Gender" name="Member_Gender">
                                    {% for x, y in partial_member_form.fields.Member_Gender.choices %}
                                    <option value="{{ x }}"
                                        {% if partial_member_form.initial.Member_Gender == x %}selected{% endif %}>
                                        {{ y }}
                                    </option>
                                    {% endfor %}
                                </select>
                                <!-- {{ partial_member_form.Member_Gender }} -->
                            </div>
                            <div class="col col-md-3">
                                <button class="btn btn-block" type="button" id="changemembergender-btn">Change</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col col-md-9">
                                <!--
                                If the checkbox is selected then the checkbox value will be submitted else, hidden value is submitted
                                This is because if checkbox is enabled but not checked, then the html won't submit off value.
                                 -->
                                <input id='id_Is_Teacher_hidden' type='hidden' value='0' name='Is_Teacher'>
                                {{ partial_member_form.Is_Teacher }}
                            </div>
                            <div class="col col-md-3">
                                <button class="btn btn-block" type="button" id="changeisteacher-btn">Change</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col col-md-9">
                                <input id='id_Is_Student_hidden' type='hidden' value='0' name='Is_Student'>
                                {{ partial_member_form.Is_Student }}
                            </div>
                            <div class="col col-md-3">
                                <button class="btn btn-block" type="button" id="changeisstudent-btn">Change</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col col-md-9">
                                <input id='id_Use_Flag_hidden' type='hidden' value='0' name='Use_Flag'>
                                {{ partial_member_form.Use_Flag }}
                            </div>
                            <div class="col col-md-3">
                                <button class="btn btn-block" type="button" id="changeActive-btn">Change</button>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary ml-3" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'vendorsx/jquery/dist/jquery.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $(".editCheckedMembers").on('click', function () {
            let seleced_members = []
            $.each($('#member_dataTable input[type="checkbox"]:checked').not('.memberinfoCheckAll'), function (index) {
                seleced_members.push($(this).val())
            })
            $('#member_ids').val(seleced_members)
        });

        $('#id_Member_Department').select2({
            placeholder: 'Select Department'
        });
        $('#id_Member_Position').select2({
            placeholder: 'Select Position'
        });
        $('#id_Member_Gender').select2({
            placeholder: 'Select Gender'
        });
    });

    $('.memberinfoCheckAll').on('click', function () {
        $('#member_dataTable input:checkbox').not(this).prop('checked', this.checked);
        checkboxChangeEvent()
    });

    $('#member_dataTable').on('click', '.memberinfoCheckbox', function () {
        if ($('.memberinfoCheckbox').length === $('.memberinfoCheckbox:checked').length) {
            $('.memberinfoCheckAll').prop('checked', 'checked');
        } else {
            $('.memberinfoCheckAll').prop('checked', false);
        }
        checkboxChangeEvent()
    });

    function checkboxChangeEvent() {
        let checkBoxlength = $('#member_dataTable input[type="checkbox"]:checked').not('.memberinfoCheckAll').length
        if (checkBoxlength > 0) {
            $('.checkboxCheckedLength').text(checkBoxlength + ' of ' + $('.memberinfoCheckbox').length + ' selected')
            $('.editCheckedMembers, .deleteCheckedMembers').removeAttr('disabled')
        } else {
            $('.checkboxCheckedLength').text('')
            $('.editCheckedMembers, .deleteCheckedMembers').prop('disabled', 'disabled')
        }
    }

    checkboxChangeEvent();

    $('#changedepartment-btn').on('click', function () {
        toggleInput('#id_Member_Department')
    });

    $('#changememberposition-btn').on('click', function () {
        toggleInput('#id_Member_Position')
    });

    $('#changemembergender-btn').on('click', function () {
        toggleInput('#id_Member_Gender')
    });

    $('#changeisteacher-btn').on('click', function () {
        toggleInput('#id_Is_Teacher')
        toggleInput('#id_Is_Teacher_hidden')
    });

    $('#changeisstudent-btn').on('click', function () {
        toggleInput('#id_Is_Student')
        toggleInput('#id_Is_Student_hidden')
    });

    $('#changeActive-btn').on('click', function () {
        toggleInput('#id_Use_Flag')
        toggleInput('#id_Use_Flag_hidden')
    });

    function toggleInput(inputID) {
        if ($(inputID).is(':disabled')) {
            $(inputID).removeAttr('disabled');
        } else {
            $(inputID).prop('disabled', 'disabled')
        }
    }

    $('#editCheckedMembers input, select').not('input[name=csrfmiddlewaretoken], #member_ids').attr('disabled', true)

    $(function () {
        $('#editCheckedMembers :checkbox').on('change', function () {
            if (this.checked == true) {
                $(this).val("1");
                $(this).parent().find('input[type=hidden]').val("1");
            } else {
                $(this).val("0");
                $(this).parent().find('input[type=hidden]').val("0");
            }
        });
    });

    // Form Submission

    $('#editCheckedMembers').on('submit', function (e) {
        e.preventDefault()
        if ($('#id_Member_Department').is(':disabled') && $('#id_Member_Position').is(':disabled') && $('#id_Member_Gender').is(':disabled')
            && $('#id_Is_Teacher').is(':disabled') && $('#id_Is_Student').is(':disabled') && $('#id_Use_Flag').is(':disabled')
        ) {
            alert('Please input data and enable required fields to submit')
            return false
        }

        var form = $(this);
        var url = form.attr('action');
        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements.
            success: function (data) {
                location.reload(); // show response from the php script.
            },
            error: function (e) {
                $('.error-div').empty()
                $('.error-div').css('display', 'block')
                $('.error-div').append(`
                        <p style="font-weight: bold; font-size: medium">${e.responseJSON.message}</p>
                    `)
                $.each(e.responseJSON.inning_list, function (index) {
                    $('.error-div').append(`
                            <p style="font-size: small">${e.responseJSON.inning_list[index]['Inning_Name']}</p>
                        `)
                })

            }
        });
    });
</script>