{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'memberinfo_list' %}">{% trans 'Member' %}</a></li>
    {% if object.username %}
        <li class="breadcrumb-item" aria-current="page"><a
                href="{{ object.get_absolute_url }}">{{ object.username }}</a></li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">
        {% if '/memberinfo/create/' == request.path %}
            {% trans 'Create New Member' %}
        {% else %}
            {% trans 'Edit Member Info' %}
        {% endif %}
    </li>
{% endblock %}
{% block content %}
    {% include 'WebApp/theme/alerts.html' %}


    <div class="headerDiv">
        <h2 class="infoFormHeader">
            {% if '/memberinfo/create/' == request.path %}
                {% trans 'Create New Member' %}
            {% else %}
               {% trans 'Edit Member Info' %}
            {% endif %}
        </h2>
        <hr class="header_hr">
    </div>

    <div id='form-errors'>{{ form_errors }}</div>
    <div id='form-errors'>{{ form.non_field_errors }}</div>


    <form method="post" id="FormID" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
    </form>

    {% include 'WebApp/theme/alerts.html' %}
    <div class="x_content">


    </div>



{% endblock %}

{% block customjss %}
    <script>


        $('#id_Member_ID').change(function () {
            //suggest username

            if (window.location.href.indexOf("create") >= -1) {
                $('#id_username').val($('#id_Member_ID').val());
            }
        });

        {##}
        {##}
        {#    $('#id_first_name').change(function () {#}
        {#        //suggest username#}
        {##}
        {#        if (window.location.href.indexOf("create") >= -1) {#}
        {#            $('#id_username').val($('#id_first_name').val() + $('#id_last_name').val());#}
        {#        }#}
        {#    });#}
        {##}
        {#    $('#id_last_name').change(function () {#}
        {#        //suggest username#}
        {##}
        {#        if (window.location.href.indexOf("create") >= -1) {#}
        {#            $('#id_username').val($('#id_first_name').val() + $('#id_last_name').val());#}
        {#        }#}
        {#    });#}
        {##}


    </script>
{% endblock %}