{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'start' %}">{% trans "Home" %}</a></li>
<li class="breadcrumb-item">{% trans "Members" %}</li>
<li class="breadcrumb-item active" aria-current="page">{% trans "Inactive Members" %}</li>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <h2 class="text-primary">{% trans "List of Inctive Members" %}</h2>
    </div>
    <!-- <div class="col-lg-4 col-md-4 col-sm-12 btn-createnew">
        <a class="btn btn-primary pull-right" href="{% url 'memberinfo_create' %}">Create new Member</a>
    </div> -->
</div>
<div class="card px-2 bg-primary-gradient mt-3">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 py-3">
            <a class="mx-4" id="all_button" href="#">{% trans "All" %}</a>
            <a class="mx-4" id="teacher_button" href="#">{% trans "Teacher" %}</a>
            <a class="mx-4" id="student_button" href="#">{% trans "Student" %}</a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 btn-createnew py-3">
            <a class="pull-right text-white" href="{% url 'memberinfo_list' %}">{% trans "View Active Members" %}</a>
        </div>
    </div>
</div>

<form method="post" action="{% url 'memberinfo_inactive_delete_checked' %}">
    {% csrf_token %}
    <div class="text-right">
        <nav id="navbar_parent" class="navbar-dark">
            <div class="btn-createnew">
                <button class="btn btn-info editCheckedMembers" type="button" data-toggle="modal"
                    data-target="#edit_checked_details_modal">
                    <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-danger deleteCheckedMembers" type="submit"
                    onclick="return confirm('Are you sure you want to delete ?')">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </nav>
    </div>

    <div class="membertable table-responsive" id="member_dataTable">
        <table class="table table-striped no-wrap" cellspacing="0" width="100%" id="members_list_table">
            <thead class="thead-light">
                <tr class="tableTitleRow">
                    <th>
                        <input type="checkbox" class="memberinfoCheckAll">
                    </th>
                    <th class="text-center">{% trans "S. No." %}</th>
                    <th>{% trans "Username" %}</th>
                    <th>{% trans "Member ID" %}</th>
                    <th>{% trans "Full Name" %}</th>
                    <th>{% trans "Email" %}</th>
                    <th>{% trans "Department" %}</th>
                    <th>{% trans "Phone" %}</th>
                    <th>{% trans "Gender" %}</th>
                    <th>{% trans "Student" %}</th>
                    <th>{% trans "Teacher" %}</th>
                    <th>{% trans "Type" %}</th>
                    <th class="text-center">{% trans "Action" %}</th>
                </tr>
            </thead>
            {% for object in object_list %}
            {% if object.id != request.user.id %}
            <tr>
                <td><input type="checkbox" class="memberinfoCheckbox" value="{{ object.id }}" name="memberinfo_id[]">
                </td>
                <td class="text-center" style="vertical-align: middle;">{{ forloop.counter }}</td>
                <td style="vertical-align: middle;"><b><a
                            href="{{ object.get_absolute_url }}">{{ object.username }}</a></b></td>
                <td style="vertical-align: middle;">{{ object.Member_ID }}</td>
                <td style="vertical-align: middle;">{{ object.first_name }}&nbsp;{{ object.last_name }}</td>
                <td>{{ object.email }}</td>
                <td>{{ object.Member_Department }}</td>
                <td>{{ object.Member_Phone }}</td>
                <td style="vertical-align: middle;">
                    {{ object.get_Member_Gender_display }}
                </td>
                <td style="vertical-align: middle;">{{ object.Is_Student }}</td>
                <td style="vertical-align: middle;">{{ object.Is_Teacher }}</td>
                <td>
                    {% if object.Is_Teacher == True and object.Is_Student == True %}
                    {% trans "Teacher" %}, {% trans "Student" %}
                    {% elif object.Is_Teacher == True %}
                    {% trans "Teacher" %}
                    {% elif object.Is_Student == True %}
                    {% trans "Student" %}
                    {% else %}
                    {% trans "Not Assigned" %}
                    {% endif %}
                </td>
                <td class="text-center">
                    <button class="btn btn-sm btn-success confirm-activate" id="{{ object.pk }}">
                        {% trans "Activate" %}
                    </button>
                    <form method="post" action="{% url 'memberinfo_activate'  pk=object.pk %}"
                        id="activateForm-{{ object.pk }}">
                        {% csrf_token %}
                        <input type="hidden" value='memberinfo_list_inactive' name='url'>
                    </form>
                    <button class="btn btn-sm btn-danger confirm-delete" id="{{ object.pk }}">{% trans "Delete" %}
                    </button>
                    <form method="post" action="{% url 'memberinfo_delete' pk=object.pk %}"
                        id="delete_form-{{ object.pk }}">
                        {% csrf_token %}
                        <input type="hidden" name="redirect" value="memberinfo_list_inactive">
                    </form>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</form>

{% include 'WebApp/memberinfo_mass_option_form.html' %}


{% endblock %}
{% block javascript%}

<!-- <script src="{% static 'vendorsx/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

<script src="{% static 'vendorsx/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-buttons/js/buttons.print.min.js' %}"></script>

<script src="{% static 'vendorsx/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'vendorsx/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script> -->

<script type="text/javascript">
    $(document).on('click', '.confirm-activate', function (event) {
        var id = event.target.id;
        ans = confirm('Are you sure you want to activate this Member?');
        if (ans == true) {
            $(`#activateForm-${id}`).submit();
        } else {
            return false;
        }
    });

    $(document).on('click', '.confirm-delete', function () {
        ans = confirm('Are you sure you want to delete this Member?');
        if (ans == true) {
            $(`#delete_form-${this.id}`).submit();
        } else {
            return false;
        }
    });


    $("#all_button").css("color", "white");
    $("#student_button").css("color", "black");
    $("#teacher_button").css("color", "black");

    setTimeout(function () {
        $('#message').fadeOut('slow');
    }, 3000);

    $(document).ready(function () {

        var table_main = $('.table').DataTable({
            dom: 'lBfrtip',
            stateSave: true,
            responsive: true,
            buttons: [
                {
                    extend: 'csv',
                    text: '<span class="exportcsv"><i class="fa fa-paper-plane-o"></i> Export to CSV </span>'
                },
                {
                    extend: 'print',
                    text: '<span class="print"><i class="fa fa-print"></i> Print </span>',
                    fieldSeparator: '\t'
                }],
            "columnDefs": [
                {
                    "targets": [7, 8],
                    "visible": false,
                    "searchable": true
                }

            ]

        });


        $("#student_button").bind("click", function () {
            $("#student_button").css("color", "white");
            $("#teacher_button").css("color", "black");
            $("#all_button").css("color", "black");
            table_main.columns().search('').draw();
            table_main.column(7).search("True").draw();


        });
        $("#teacher_button").bind("click", function () {
            $("#student_button").css("color", "black");
            $("#teacher_button").css("color", "white");
            $("#all_button").css("color", "black");

            table_main.columns().search('').draw();
            table_main.column(8).search("True").draw();

        });

        $("#all_button").bind("click", function () {
            $("#all_button").css("color", "white");
            $("#student_button").css("color", "black");
            $("#teacher_button").css("color", "black");
            table_main.columns().search('').draw();
        });


    });


</script>

{% endblock %}