{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'start' %}">{% trans "Home" %}</a></li>
<li class="breadcrumb-item"><a href="{% url 'memberinfo_list' %}">{% trans "Member" %}</a></li>
<li class="breadcrumb-item" aria-current="page">{{ object.username }}</li>
{% endblock %}
{% block content %}
<div class="container">
    <div class="page-header">
        <div class="page-title d-block text-center">
            <h2>{% trans "Member Information" %}</h2>
            <a class="float-right font-weight-bold text-warning my-3"
                href="{{ object.get_update_url }}">{% trans "Edit Member" %}</a>
        </div>
    </div>

    <table class="table table-striped table-bordered pt-3">
        <tr>
            <td>{% trans "Member ID" %}</td>
            <td>
                {{ object.Member_ID }} <small style="padding-left: 3em;"> {% trans "Assigned by center" %}</small>
            </td>
        </tr>
        <tr>
            <td>{% trans "Username" %}</td>
            <td>{{ object.username }} <small style="padding-left: 3em;"> {% trans "Used for login" %}</small></td>
        </tr>

        <tr>
            <td>{% trans "Full Name" %}</td>
            <td>{{ object.first_name }} {{ object.last_name }}</td>
        </tr>
        <tr>
            <td>{% trans "Email" %}</td>
            <td>{{ object.email }}</td>
        </tr>
        <tr>
            <td>{% trans "Department" %}</td>
            <td>{{ object.Member_Department }}</td>
        </tr>

        {% if object.Is_Teacher %}
        <tr>
            <td>{% trans "Position" %}</td>
            <td>{{ object.Member_Position }}</td>
        </tr>
        {% endif %}
        <tr>

        <tr>
            <td>{% trans "Permanent Address" %}</td>
            <td>{{ object.Member_Permanent_Address }}</td>
        </tr>
        <tr>
            <td>{% trans "Temporary Address" %}</td>
            <td>{{ object.Member_Temporary_Address }}</td>
        </tr>
        <tr>
            <td>{% trans "BirthDate" %}</td>
            <td>{{ object.Member_BirthDate|date:"F d, Y" }}</td>
        </tr>
        <tr>
            <td>{% trans "Phone Number" %}</td>
            <td>{{ object.Member_Phone }}</td>
        </tr>

        <tr>
            <td>{% trans "Gender" %}</td>
            <td>{% if object.Member_Gender == 'M' %}
                {% trans "Male" %}
                {% elif object.Member_Gender == 'F' %}
                {% trans "Female" %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>{% trans "Status" %}</td>
            <td>{% if  object.Use_Flag  == True %}
                <span class="text-success">{% trans "Active" %}</span>
                <a style="float: right;color: #2A3F54;cursor:pointer" class="confirm-deactivate" id="{{object.id}}"><u>
                        {% trans "Deactivate" %} </u></a>
                <form method="post" action="{% url 'memberinfo_deactivate'  pk=object.pk %}" id="deactivateForm">
                    {% csrf_token %}
                </form>
                {% else %}
                <span class="text-danger">{% trans "Blocked" %}</span>
                <a style="float: right;color: #2A3F54;cursor:pointer" class="confirm-activate" id="{{object.id}}"><u>
                        {% trans "Activate" %} </u></a>
                <form method="post" action="{% url 'memberinfo_activate'  pk=object.pk %}" id="activateForm">
                    {% csrf_token %}
                    <input type="hidden" value='' name='url'>
                </form>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>{% trans "Register DateTime" %}</td>
            <td class="datecon">{{ object.date_joined|date:'M d, Y H:i' }}</td>
        </tr>
        <tr>
            <td>{% trans "Member Type" %}</td>
            <td>
                {% if object.Is_CenterAdmin %}
                &nbsp;{% trans "Admin" %}
                {% endif %}
                {% if object.Is_Teacher %}
                &nbsp;{% trans "Teacher" %}
                {% endif %}
                {% if object.Is_Student %}
                &nbsp;{% trans "Student" %}
                {% endif %}

            </td>
        </tr>
        {% if object.password %}
        <tr>
            <td>{% trans "Password" %}</td>
            <td>&nbsp;******** <a style="float: right;color: #2A3F54" href="/change-password/{{ object.id }}/"><u>
                        {% trans "Change Password" %} </u></a>
            </td>
        </tr>
        {% elif not object.password %}
        <tr>
            <td>{% trans "Password" %}</td>
            <td><a style="float: middle" href="/change-password/{{ object.id }}/"><u> {% trans "Add New Password" %}
                    </u></a></td>
        </tr>
        {% endif %}
    </table>
    <div class="text-center">
        <a class="confirm-delete" style="color: #2A3F54;cursor:pointer">
            <b><u>{% trans "Delete Member" %}</u></b>
        </a><small style="color:#2A3F54"><u> ({% trans "Note" %}: {% trans "Instead of" %}
                {% trans "deleting a member" %} {% trans "you can" %} {% trans "deactivate" %}
                {% trans "him" %}/{% trans "her" %}
                {% trans "instead" %})</u></small>
        <br><br>
        <form method="post" action="{% url 'memberinfo_delete' pk=object.pk %}" id="delete_form">
            {% csrf_token %}
            <input type="hidden">
        </form>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    $(document).on('click', '.confirm-deactivate', function (event) {
        ans = confirm('Are you sure you want to deactivate this Member?');
        if (ans == true) {
            $('#deactivateForm').submit();
        } else {
            return false;
        }
    });
    $(document).on('click', '.confirm-activate', function (event) {
        ans = confirm('Are you sure you want to activate this Member?');
        if (ans == true) {
            $('#activateForm').submit();
        } else {
            return false;
        }
    });

    $(document).on('click', '.confirm-delete', function () {
        ans = confirm('Are you sure you want to delete this Member?');
        if (ans == true) {
            $('#delete_form').submit();
        } else {
            return false;
        }
    });
</script>
{% endblock %}