{% load static %}

<head>

    <link rel="icon" type="image/png" href="/static/images/logo.png"/>
    <meta name="viewport" content="width=device-width, intial-scale=1.0">

    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon"/>
    <link rel="shortcut icon" href="{% static 'chapterPageBuilder/images/favicon.ico' %}"/>

    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'chapterPageBuilder/css/bootstrap.min.css' %}">
   
    <link rel="stylesheet" href="{% static 'chapterPageBuilder/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'chapterPageBuilder/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'chapterPageBuilder/css/newChapterBuilder.css' %}">
    <link rel="stylesheet" href="{% static 'chapterPageBuilder/css/new-responsive.css' %}">

    <link rel="stylesheet" href="{% static 'chapterPageBuilder/css/bootstrap3.4.1.min.css' %}">
</head>
<body>
<section class=" container-fluid full-page-builder ">

    <header id="" class="builder-top col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row component-container">
            <div class="chapter-title-only col-md-2 col-sm-3 col-xs-12" >
                <span>Chapter Title <i class="fas fa-pencil-alt"></i></span>

            </div>
            <div class=" buttons-chapter-only col-md-8 col-sm-6 col-xs-12">
                <button class="btn-type1"><i style="color:white" class="fas fa-save"></i>&nbsp; Save</button>
                <button  class="btn-type1"><i style="color:white" class="fas fa-file-import"></i>&nbsp; Import</button>
                <button class="btn-type1"><i style="color:white" class="fas fa-file-export"></i>&nbsp; Export</button class="btn-type1">
                <button class="btn-type1"><i style="color:white" class="fas fa-play-circle"></i> &nbsp;Preview</button class="btn-type1">

                

            </div>
            <div class="exit-button-only col-md-2 col-sm-3 col-xs-12 ">
                <a class="" href="">  <span>  QUIT <i style="border:1px solid white; padding:1px 2px   " class="fas fa-times"></i> </span></a>  

            </div>

          
        </div>

    </header>


    <main class=" container-body-part col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="row body-holder">
    
            <div class=" ols-part col-lg-2 col-md-2 col-sm-2 col-xs-12">
                <div class="ols-objects">
                    <div class=" row-ols">
                        <div class="obj-img">
                            <div class="obj-img-holder">
                                <a  class="" href="#1a" data-toggle="tab"> <img id="id1" class="obj1" src="{% static 'chapterPageBuilder/icons/newicon/object-w.svg' %}">
                                    <img id="id2" class="obj2" src="{% static 'chapterPageBuilder/icons/newicon/object-b.svg' %}"></a>
                                <span  class="ols-name1" style="color: white; text-align:center">Object</span>
    
                            </div>
    
                        </div>
                        <div class="layout-img">
                            <div class="layout-img-holder">
                                <a class=" " href="#2a" data-toggle="tab"><img id="id3" class="obj3" src="{% static 'chapterPageBuilder/icons/newicon/layout-w.svg' %}">
                                    <img id="id4" class="obj4" src="{% static 'chapterPageBuilder/icons/newicon/layout-b.svg' %}"></a>
    
                                <span class="ols-name2" style="color: white; text-align:center">Layout</span>
    
                            </div>
    
                        </div>
                        <div class="source-img">
                            <div class="source-img-holder">
    
                                <a href="#3a" data-toggle="tab"><img id="id5" class="obj5" src="{% static 'chapterPageBuilder/icons/newicon/source.svg' %}">
                                    <img id="id6" class="obj6" src="{% static 'chapterPageBuilder/icons/newicon/source-b.svg' %}"></a>
    
                                <span class="ols-name3" style="color: white;">Source</span>
    
                            </div>
    
                        </div>
    
                    </div>
                </div>
    
                <div class="ols-each-content">
                    <div id="exTab1" class="">
    
                        <div class="tab-content ">
                           
                            <div  class="tab-pane active" id="1a">
                                <div class="icon-boxes">
                                    <ul class="list-objects">
                                       
                                            <li class="individual-objects">
                                             
                                                    <img class="object-image-size"
                                                     src="{% static 'chapterPageBuilder/icons/newicon/text.svg' %}">
                                                    <span class="object-name-size">TEXT BOX</span>
                                            </li>
                                      
    
                                       
                                            <li class="individual-objects">
                                                <span>
                                                 <img class="object-image-size"
                                                  src="{% static 'chapterPageBuilder/icons/newicon/link.svg' %}">
                                                </span> <span class="object-name-size">TEXT LINK</span>
                                            </li>
                                        
    
                                       
    
                                            <li class="individual-objects">
                                                <span>
                                                 <img class="object-image-size"
                                                  src="{% static 'chapterPageBuilder/icons/newicon/layer-link.svg' %}">
                                                </span> <span class="object-name-size">LAYER LINK</span>
                                            </li>
                                    
    
                                       
                                            <li class="individual-objects">
                                                <span>
                                                 <img class="object-image-size"
                                                  src="{% static 'chapterPageBuilder/icons/newicon/button.svg' %}">
                                                </span> <span class="object-name-size">BUTTON</span>
                                            </li>
                                      
                                       
                                            <li class="individual-objects">
                                                <span>
                                                 <img class="object-image-size"
                                                  src="{% static 'chapterPageBuilder/icons/newicon/download.svg' %}">
                                                </span> <span class="object-name-size">DOWNLOAD</span>
                                            </li>
                                      
                                        
                                            <li class="individual-objects">
                                                <span>
                                                 <img class="object-image-size"
                                                  src="{% static 'chapterPageBuilder/icons/picture.svg' %}">
                                                </span> <span class="object-name-size">PICTURE</span>
                                            </li>
                                        
                                        
                                            <li class="individual-objects">
                                                <span>
                                                 <img class="object-image-size"
                                                  src="{% static 'chapterPageBuilder/icons/newicon/video.svg' %}">
                                                </span> <span class="object-name-size">VIDEO</span>
                                            </li>
                                       
                                       
                                            <li class="individual-objects">
                                                <span>
                                                 <img class="object-image-size"
                                                  src="{% static 'chapterPageBuilder/icons/newicon/3d-cube.svg' %}">
                                                </span> <span class="object-name-size">3D OBJECT</span>
                                            </li>
                                     
                                        
                                            <li class="individual-objects">
                                                <span>
                                                 <img class="object-image-size"
                                                  src="{% static 'chapterPageBuilder/icons/newicon/pdf.svg' %}">
                                                </span> <span class="object-name-size">PDF</span>
                                            </li>
                                        
                                       
                                            <li class="individual-objects">
                                                <span>
                                                 <img class="object-image-size"
                                                  src="{% static 'chapterPageBuilder/icons/newicon/action.svg' %}">
                                                </span> <span class="object-name-size">ACTION</span>
                                            </li>
                                      
                                       
                                            <li class="individual-objects">
                                                <span>
                                                 <img class="object-image-size"
                                                  src="{% static 'chapterPageBuilder/icons/newicon/quiz.svg' %}">
                                                </span> <span class="object-name-size">QUIZ</span>
                                            </li>
                                        
                                  
                                            <li class="individual-objects">
                                                <span>
                                                 <img class="object-image-size"
                                                  src="{% static 'chapterPageBuilder/icons/newicon/survey.svg' %}">
                                                </span> <span class="object-name-size">SURVEY</span>
                                            </li>
                                       
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane " id="2a">

                              <div class=" layouts-only col-md-12" >
                                  <div class="row">
                                      <div class=" own-padding col-md-6">
                                          <div class="layout-type-holder">
                                            <img src="{% static 'chapterPageBuilder/images/saveimg1.png' %}"
                                            alt="like this">
                                          </div>

                                      </div>
                                      <div class="own-padding col-md-6">  <div class="layout-type-holder">
                                        <img src="{% static 'chapterPageBuilder/images/saveimg2.png' %}"
                                        alt="like this">
                                      </div></div>
                                      <div class=" own-padding col-md-6">  <div class="layout-type-holder">
                                        <img src="{% static 'chapterPageBuilder/images/saveimg3.png' %}"
                                        alt="like this">
                                      </div></div>
                                      <div class="own-padding col-md-6">  <div class="layout-type-holder">
                                        <img src="{% static 'chapterPageBuilder/images/saveimg4.png' %}"
                                        alt="like this">
                                      </div></div>
                                      <div class="own-padding col-md-6">  <div class="layout-type-holder">
                                        <img src="{% static 'chapterPageBuilder/images/saveimg5.png' %}"
                                        alt="like this">
                                        
                                      </div></div>
                                  </div>
                              </div>


    
                            </div>
                            <div style="color: black;" class="tab-pane" id="3a">
                                <div class="media-items-only col-md-12">
                              
                                   

                                   <div class="dropdown ">
                                    <button class="btn  dropdown-toggle custom-dropdown" type="button" data-toggle="dropdown"><span > All Items
                
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a href="#">IMAGES</a></li>
                                      <li><a href="#">VIDEOS</a></li>
                                      <li><a href="#">PDF</a></li>
                                      <li><a href="#">3D</a></li>
                                      <li class="divider"></li>
                                      <li><a href="#">DISPLAY ALL</a></li>
      
                                    </ul>
                                  </div>
                             
                                  
                                  


                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
    
            </div>



            <div class="main-canvas-part col-md-8 col-sm-8 col-xs-12">

                <div class="view-mode col-md-12">
                   
                  <a id="togglefull" data-toggle="tooltip" data-placement="top" title="" onclick="toggleFullScreen()"
                  data-original-title="FullScreen">
                    <span ><img  style="height: 15px; width:15px ; margin-top:-5px" src="{% static 'chapterPageBuilder/icons/newicon/expand.svg' %}">&nbsp;&nbsp;
                       <span style="font-size: 15px;">Full Screen</span> </a> </span>&nbsp;&nbsp;
                      <a href=""> <span style="font-size: 15px;">BG</span>
                    <span class="caret"></span></a>
                   
                  
                    
                </div>

                <div id="" class="main-central-canvas col-md-12">

                </div>
    
            </div>



            <div class="preview-canvas-part col-md-2 col-xs-12">
                <div class="note-holder">
                    <span style="color: white;">Note <i class="fas fa-pencil-alt"></i></span>
                    <div class="note-chapter">
                     
                            <p>You can enter the details of chapter here  </p>

                        
                        
                    </div>
                </div>

                <div class="additional-canvas">

                    <ul class="small-canvases-list">
                        <span class="span-number">1</span>
                        <li class="small-canvases">
                    
                        </li>
                    
                    </ul>
                    <ul class="small-canvases-list">
                        <span class="span-number">1</span>
                        <li class="small-canvases">
                    
                        </li>
                    
                    </ul>
                    <ul class="small-canvases-list">
                        <span class="span-number">1</span>
                        <li class="small-canvases">
                    
                        </li>
                    
                    </ul>
                    <ul class="small-canvases-list">
                        <span class="span-number">1</span>
                        <li class="small-canvases">
                    
                        </li>
                    
                    </ul>
                  
                   

                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr class="hr_header">

                </div>
               
                <div class="add-page">
                    <span>
                     <a href="">   <i class="fas fa-plus-circle"></i>&nbsp;Add page</a>
                    </span>
                </div>
              
               
    
            </div>
    
        </div>
    
    </main>
    



</section>
</body>
<script src="{% static 'chapterPageBuilder/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'chapterPageBuilder/js/jquery.min.js' %}"></script>
<script src="{% static 'chapterPageBuilder/js/bootstrap.min.js' %}"></script>

    <script>
        $(document).ready(function(){
          $(".obj-img-holder").click(function(){
            $("#id1").css("display", "none");
            $("#id2").css("display", "block");

            $("#id3").css("display", "block");
            $("#id4").css("display", "none");

            $("#id5").css("display", "block");
            $("#id6").css("display", "none");
          })
          $(".layout-img-holder").click(function(){
            $("#id3").css("display", "none");
            $("#id4 ").css("display", "block");

            $("#id1").css("display", "block");
            $("#id2").css("display", "none");

            $("#id5").css("display", "block");
            $("#id6").css("display", "none");


          })
          $(".source-img-holder").click(function(){
            $("#id5").css("display", "none");
            $("#id6 ").css("display", "block");

            $("#id1").css("display", "block");
            $("#id2").css("display", "none");

            $("#id3").css("display", "block");
            $("#id4").css("display", "none");


          })
        });
        </script>
    <script>
        function toggleFullScreen() {
            if ((document.fullScreenElement && document.fullScreenElement !== null) ||
                (!document.mozFullScreen && !document.webkitIsFullScreen)) {
                if (document.documentElement.requestFullScreen) {
                    document.documentElement.requestFullScreen();
                } else if (document.documentElement.mozRequestFullScreen) {
                    document.documentElement.mozRequestFullScreen();
                } else if (document.documentElement.webkitRequestFullScreen) {
                    document.documentElement.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
                }
            } else {
                if (document.cancelFullScreen) {
                    document.cancelFullScreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.webkitCancelFullScreen) {
                    document.webkitCancelFullScreen();
                }
            }
        }
    </script>
