{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'profile_list' %}">{% trans 'Profile Listing' %}</a></p>
<table class="table">
<tr>
<td>{% trans 'ID' %}</td><td>{% trans 'Link' %}</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'profile_create' %}">{% trans 'Create new Profile' %}</a>
{% endblock %}