{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'questioninfo_list' %}">{% trans 'Question' %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ object.Question_Title }}</li>
{% endblock %}
{% block content %}
<div class="outerdiv">

    <h2 class="detailListHeader">{% trans 'Question Information' %}</h2>
    <hr class="header_hr">
    <br>
    <table class="table">
        <tr>
            <td>{% trans 'Question Title' %}</td>
            <td>{{ object.Question_Title }}</td>
        </tr>
        <tr>
            <td>{% trans 'Question Score' %}</td>
            <td>{{ object.Question_Score }}</td>
        </tr>
        <tr>
            <td>{% trans 'Question Description' %}</td>
            <td>{{ object.Question_Description }}</td>
        </tr>
        <tr>
            <td>{% trans 'Answer Type' %}</td>
            <td>
                {% if object.Answer_Type == 'S' %}
                {% trans 'Short Answer' %}
                {% elif object.Answer_Type == 'F' %}
                {% trans 'File Upload' %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>{% trans 'Question Media File' %}</td>
            <td>{{ object.Question_Media_File }}</td>
        </tr>
        <tr>
            <td>{% trans 'Assignment Code' %}</td>
            <td>{{ object.Assignment_Code }}</td>
        </tr>

        <tr>
            <td>{% trans 'Register Agent' %}</td>
            <td>{{ object.Register_Agent }}</td>
        </tr>
        <tr>
            <td>{% trans 'Status' %}</td>
            <td>{{ object.Use_Flag }}</td>
        </tr>

    </table>
    <div class="text-center">
        <a class="btn btn-primary" href="{{ object.get_update_url }}">{% trans 'Edit Question' %}</a>
        <a class="btn btn-danger" href="{{ object.get_delete_url }}">{% trans 'Delete Question' %}</a>
    </div>
</div>
{% endblock %}