{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block stylesheets %}
{{ form.media }}

{% endblock stylesheets %}

{% block content %}
<style>
    .selector {
        width: auto !important;
    }

    .selector-available,
    .selector-chosen {
        width: 280px !important;
    }

    .selector select {
        width: 280px !important;
    }

    .selector .selector-available input {
        width: 210px !important;
    }
</style>
<div class="headerDiv">
    <h2 class="infoFormHeader">
        Manage Session Managers
    </h2>
    <hr class="header_hr">
</div>
<div class="col-md-7 col-md-offset-2  text-center" style="margin-top: 3%">

    <form method="post" id="FormID">
        {% csrf_token %}

        <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-1">

            {{ form }}

        </div>
        
        *You can select multiple students by holding <code> ctrl</code> key on Windows and <code> Command⌘</code> key on
        MAC.<br><br>
        <div class="submitButton col-md-12">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}