{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
<link href="{% static 'vendorsx/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendorsx/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendorsx/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'start' %}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Session Name</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
        <h2 class="text-primary">List of Session Names</h2>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 btn-createnew">
        <a class="btn btn-primary pull-right" href="{% url 'sessioninfo_create' %}">Create New Group</a>
    </div>
</div>
<div class="table-responsive mt-4">
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Session Name</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
        </thead>
        {% for object in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><b><a href="{{ object.get_absolute_url }}">{{ object.Session_Name }}</a></b></td>
            <td>{{ object.Description }}</td>
            <td>{{ object.Use_Flag }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
        $('.table').DataTable({
            dom: 'lBfrtip',
            responsive: true,
            buttons: [
                {
                    extend: 'csv',
                     title: 'Session Name List',
                    text: '<span class="exportcsv"><i class="fa fa-paper-plane-o"></i> Export to CSV </span>'
                },
                {
                    extend: 'print',
                    text: '<span class="print"><i class="fa fa-print"></i> Print </span>',
                    fieldSeparator: '\t'
                }]
        });
    });
</script>
{% endblock %}