{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block stylesheet %}
{{ form.media }}
<link rel="stylesheet" href="{% static 'vendors/select2/css/select2.min.css' %}" type=" text/css">
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'start' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'inninginfo_list' %}">Session</a></li>
<li class="breadcrumb-item">{{ object.sessioninfoobj }}</li>
<li class="breadcrumb-item" aria-current="page">Manage Session Managers</li>

{% endblock %}
{% block content %}
<style>
    .selector {
        margin-left: 8%;
        width: auto !important;
    }

    .selector-available,
    .selector-chosen {
        width: 280px !important;
    }

    .selector select {
        width: 280px !important;
    }

    .selector .selector-available input {
        width: 210px !important;
    }

    .selector .selector-chosen input {
        width: 210px !important;
    }
</style>
<div class="page-header">
    <div class="page-title d-block text-center">
        <h2>Manage Session Managers</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-12" style="margin:auto">
        <div class="card p-4">
            <form method="post" id="FormID" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mt-4" id="groupmappingselector">
                    {{ form.memberinfoobj }}
                </div>
                <div class="d-inline-block col-12 text-center">
                    * {% trans "You can select multiple students by holding" %}
                    <code> {% trans "ctrl" %}</code> {% trans "key on Windows and" %} <code> {% trans "Command" %}⌘</code>
                    {% trans "key on MAC" %} .
                </div>
                
                <div class="submitButton text-center mt-4">
                    <button class="btn btn-success" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
