{% extends "base.html" %}
{% load static %}
{% load model_template_relation %}
{% load define_action %}

{% block stylesheets %}
    <link href="{% static 'vendorsx/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendorsx/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendorsx/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">

    <style>
        .nochapter {
            background: #e6e6e6;
            text-align: center;
        }

        .hiddentd {
            display: none;
            background-color: #721c24;
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'teacher_report' %}">Teacher Report</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ user.username }}</li>
{% endblock %}
{% block content %}
    <div class="inningInfoListClass">
        <hr class="header_hr">
        <h2 class="tableHeader">Teacher Report of {{ teacher }}</h2>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <hr class="header_hr">
            <div class="h5"><b>Teacher Name:</b> {{ teacher.get_full_name }}</div>

            <div class="form-inline">
                <div class="h5 form-group"><b>Course: </b>

                <select class="form-group form-control">
                    {% for c in course_list %}
                        {% if c == course %}
                            <option value="{{ c.id }}" selected>{{ c }}</option>
                        {% else %}
                            <option value="{{ c.id }}">{{ c }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            
            
            <div class="table-responsive" id="tableView">

                <br>
                <span class="checkboxCheckedLength"></span>
                <table class="table table-striped table-bordered bg-white nowrap" id="inning_dataTable">
                    <thead class="thead-light bg-primary">
                    <tr class="tableTitleRow">
                        <th rowspan="2">S.No</th>
                        <th rowspan="2">Chapter Name</th>
                        <th rowspan="2">Content</th>
                        <th rowspan="2">ReadTime</th>
                        <th rowspan="2">Quiz</th>
                        <th rowspan="2">Assignment</th>
                        {% for session in sessions %}
                            <th colspan="3">{{ session }} (Total students={{ session.student_count }})</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for session in sessions %}
                            <th>Chapter Complete</th>
                            <th>Quiz complete</th>
                            <th>Assignment complete</th> 
                        {% endfor %}                           
                    </tr>
                    </thead>
                    <tbody>
                    {% for chapter in chapters %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{{ course.get_absolute_url }}">{{ chapter.Chapter_Name }}</a></td>
                            <!-- Chapter has content or not -->
                            <td style="text-align:center">
                                {% if chapter.has_content %}
                                    <span style="color: green;text-align: center;"
                                            class="chaptertd hasContent">✔</span>
                                {% else %}
                                    <span style="color: darkred;" class="chaptertd">❌</span>
                                {% endif %}
                            </td>
                            <td>{{ chapter.display_mustreadtime }}</td>
                            <td {% if chapter.quiz_count == 0 %}
                            style="background:#cccccc"{% endif %}>{{ chapter.quiz_count }}</td>
                            <td {% if chapter.assignment_count == 0 %}
                            style="background:#cccccc"{% endif %}>{{ chapter.assignment_count }}</td>
                            {% for session in sessions %}
                                <td {% if session.student_count == chapter.progressc|get_item:session.id %}
                                style="background:#b3e6cc"{% endif %}>{{ chapter.progressc|get_item:session.id }}</td>
                                <td {% if session.student_count == chapter.quizc|get_item:session.id %}
                                style="background:#b3e6cc"{% endif %}>{{ chapter.quizc|get_item:session.id }}</td>
                                <td {% if session.student_count == chapter.assignmentc|get_item:session.id %}
                                style="background:#b3e6cc"{% endif %}>{{ chapter.assignmentc|get_item:session.id }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}

{% block customjss %}
    <script src="{% static 'vendorsx/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendorsx/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

    <script src="{% static 'vendorsx/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendorsx/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendorsx/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'vendorsx/datatables.net-buttons/js/buttons.print.min.js' %}"></script>

    <script src="{% static 'vendorsx/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'vendorsx/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.chaptercount').each(function () {
                if ($(this).hasClass('totalhasContent')) {
                    $(this).text($(this).closest('tr').find('.hasContent').length)
                } else if ($(this).hasClass('totalChapters')) {
                    $(this).text($(this).closest('tr').find('.chaptertd').length)
                }
            });
        });
    </script>

{% endblock customjss %}