{% extends 'teacher_module/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}
{% block breadcrumb %}
    <!-- <li class="breadcrumb-item"><a href="{% url 'teacher_quiz_list' %}">Quiz</a></li> -->


    <li class="breadcrumb-item"><a href="{% url 'teacher_quiz_marking' %}">Marking list</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ quiz }}</li>
{% endblock %}


{% block content %}
    <link rel="stylesheet" href="{% static 'vendorsx/select2/dist/css/select2.min.css' %}">

    {% include "quiz_base/sitting_list.html" %}
{% endblock %}
{% block customjss %}
    <script src="{% static 'vendorsx/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendorsx/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

    <script src="{% static 'vendorsx/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendorsx/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendorsx/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'vendorsx/datatables.net-buttons/js/buttons.print.min.js' %}"></script>

    <script src="{% static 'vendorsx/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'vendorsx/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            var table_main = $('#MarkingList').DataTable({
                responsive: true,
                dom: 'lBfrtip',
                dom: 'lBfrtip',
                buttons: [
                    {
                        extend: 'csv',
                        text: '<span class="exportcsv"><i class="fa fa-paper-plane-o"></i> Export to CSV </span>',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'print',
                        text: '<span class="print"><i class="fa fa-print"></i> Print </span>',
                        fieldSeparator: '\t'
                    }
                ],
                "columnDefs": []

            });
        });


    </script>

    <script src="{% static 'vendorsx/select2/dist/js/select2.min.js' %}"></script>

    <script>
        $("#select_session").on("change", function () {
            {% if 'iframe' in request.GET %}
                {% if '/teachers' in request.path %}
                    window.location.href = `/teachers/quiz/marking/{{ quiz.id }}/inning/${this.value}/?iframe=1`;
                {% endif %}
            {% else %}
                {% if '/teachers' in request.path %}
                    window.location.href = `/teachers/quiz/marking/{{ quiz.id }}/inning/${this.value}/`;
                {% endif %}
            {% endif %}
        });
        $('#select_session').select2()
    </script>
{% endblock %}