{% extends 'teacher_module/base.html' %}
{% load static %}
{% load i18n %}
{% load quiz_tags %}
{% block title %}
    {% trans "Result of" %} {{ sitting.quiz.title }} {% trans "for" %} {{ sitting.user }}
{% endblock %}
{% block breadcrumb %}
    <!-- <li class="breadcrumb-item"><a href="{% url 'teacher_quiz_list' %}">Quiz</a></li>  -->
    <li class="breadcrumb-item"><a href="{% url 'teacher_quiz_marking' %}">Marking list</a></li>
    <li class="breadcrumb-item"><a
            href="{% url 'teacher_individual_quiz_marking' sitting.quiz.id %}">{{ sitting.quiz.title }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ sitting.user }}</li>
{% endblock %}

{% block content %}
    {% include "quiz_base/sitting_detail.html" %}

{% endblock %}

{% block customjss %}
    <script src="{% static 'vendorsx/datatables.net/js/jquery.dataTables.min.js' %}"></script>


    <script>
        $(".score_submit").click(function (e) {
            var user_input = parseFloat($(`#input${this.id}`).val());
            var full_marks = parseFloat($(`#score${this.id}`).html());
            if (user_input > full_marks) {
                e.preventDefault();
                alert("Score cannot be greater than full marks!");
                return false
            }
        });

        $(".score_submit_multiple").click(function (e) {
            score_json = [];
            $('.changeScoreCheck:checked').each(function () {
                var user_input = parseFloat($(`#input${$(this).attr('data-qid')}`).val());
                var full_marks = parseFloat($(`#score${$(this).attr('data-qid')}`).html());
                if (user_input > full_marks) {
                    e.preventDefault();
                    alert("Score cannot be greater than full marks!");
                    return false
                }
                score_json.push({
                    "q_id": $(this).attr('data-qid'),
                    "new_score": user_input,
                    "sitting_id": '{{ object.id }}'
                });
            });
            if ($('.changeScoreCheck:checked').length > 0) {
                $.ajax({
                type: "POST",
                url: "{% url 'teacher_quiz_marking_multiple' %}",  // URL to your view that serves new info
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'data': JSON.stringify(score_json)
                },
                success: function (response) {
                    location.reload();
                },
                error: function (request, status, error) {
                    console.log(error)
                },
                complete: function () {
                    $(".se-pre-con-ajax").fadeOut("fast");
                },
            });
            } else {
                alert('Please check at least one answer.')
            }

        });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            var table_main = $('#MarkingDetail').DataTable({
                responsive: true,
                dom: 'lBfrtip',
                buttons: [
                    {
                        extend: 'csv',
                        text: '<span class="exportcsv"><i class="fa fa-paper-plane-o"></i> Export to CSV </span>',
                        exportOptions: {
                            columns: [0, 1, 2, 3]
                        }
                    },
                    {
                        extend: 'print',
                        text: '<span class="print"><i class="fa fa-print"></i> Print </span>',
                        fieldSeparator: '\t'
                    }
                ],
                "columnDefs": []
            });
        });


    </script>

{% endblock %}
