{% extends 'teacher_module/base.html' %}
{% load i18n %}
{% load quiz_tags %}
{% block title %}
    {% trans "Result of" %} {{ sitting.quiz.title }} {% trans "for" %} {{ sitting.user }}
{% endblock %}
{% block breadcrumb %} 
<!-- <li class="breadcrumb-item"><a href="{% url 'teacher_quiz_list' %}">Quiz</a></li>  -->
<li class="breadcrumb-item"><a href="{% url 'teacher_quiz_marking' %}">Marking list</a></li> 
<li class="breadcrumb-item"><a href="{% url 'teacher_individual_quiz_marking' sitting.quiz.id %}">{{ sitting.quiz.title}}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ sitting.user}}</li>
{% endblock %} 

{% block content %}
{% include "quiz_base/sitting_detail.html" %}
    
{% endblock %}

{% block customjss %}
  <script>
    $(".score_submit").click(function (e) {
        console.log(parseFloat($(`#score${this.id}`).html()));
          var user_input = parseFloat($(`#input${this.id}`).val());
          var full_marks = parseFloat($(`#score${this.id}`).html());
          console.log(user_input);
          console.log(full_marks);
          if(user_input>full_marks){
              e.preventDefault();
              alert("Score cannot be greater than full marks!");
              return false
          }

      });
  </script>

{% endblock %}
