{% extends "student_module/base.html" %}
{% load static %}
{% block title %}
Course
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">My Courses</li>
{% endblock %}
{% block content %}
<div class="courseInfoListClass">
    <h2 class="tableHeader">List of Courses</h2>


    <hr class="header_hr">
    <div class="col-md-8 col-sm-6 col-xs-12">
        <form method="get" action="">
            <div class="col-md-4">
                <input type="text" name="studentmycoursequery" placeholder="Search Course"
                    value="{{ request.GET.queryset }}" class="form-control">
            </div>
            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i>&nbsp;Search</button>
        </form>
    </div>
    <br><br><br>
    <div class="container" id="divID">
        {% include 'WebApp/theme/alerts.html' %}
        {% for courses in response %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="listCard">
            <div class="gridContentsList">
                <div class="card-header">
                    <a href="{{ courses.Course_Code.student_get_absolute_url }}">
                        <img id="courseListImage" class="card-img-top" src="
                            {% if courses.Course_Code.Course_Cover_File %}
                                /media/{{ courses.Course_Code.Course_Cover_File }}
                            {% else %}
                                {% static 'images/course.jpg' %}
                            {% endif %}" alt="Card image cap" width="100%" height="180px" style="object-fit: cover">
                    </a>                
                </div>              
                <div class="card-body" id="cardInfo">
                    <h2 class="card-title"><strong><a
                                href="{{ courses.Course_Code.student_get_absolute_url }}">{{ courses.Course_Code.Course_Name }}</a></strong>
                    </h2>



          {% if courses.Course_Code.get_teachers_of_this_course%} 
          <p style="height:30px ; padding: 10px; " > 
            Teacher(s): &nbsp;
            {% for eachTeacher in courses.Course_Code.get_teachers_of_this_course %}
            {{ eachTeacher.getFullName }}&nbsp;
            {% endfor%}

          </p>
          {% else %}
          <p style="height:30px ; padding: 10px; " >
              No Teacher Assigned
              
        
        </p>


         
        {% endif %}


                        
                    <hr>
                    <h5 class="courseDescription" style="padding-bottom: 10px;">
                        {% if courses.Course_Code.Course_Description %}
                        <p style="
            padding-right: 10px;
            line-height: 1.5em;
            height: 3em;
            overflow-wrap:break-word; 
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;">
                            {{ courses.Course_Code.Course_Description }}
                        </p>
                        {% else %}
                        <p style="
                        padding-right: 10px;
                        line-height: 1.5em;
                        height: 3em;
                        overflow-wrap:break-word; 
                        overflow: hidden;
                        white-space: normal;
                        text-overflow: ellipsis;">
                            No Description
                        </p>
                        {% endif %}
                    </h5>

                </div>
            </div>
        </div>

        {% endfor %}
    </div>


</div>


    {% if response.has_other_pages %}
        <div class=" text-center">
            <ul class="pagination">
                {% if response.has_previous %}
                    <li>
<a href="?page={{ response.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo;</a>
                    </li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in response.paginator.page_range %}
                    {% if response.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li>
<a href="?page={{ i }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if response.has_next %}
                    <li>
<a href="?page={{ response.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&raquo;</a>
                    </li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}



{% endblock %}