{% extends "teacher_module/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load getMemberFromPk %}

{% block content %}
    <div class="container"> 
        <div class="attendance-detail">
            <div class="course-name">
                <span>
                    <span style="font-size:18px"> <b> Course: </b> </span> 
                </span>
                <span>{{course}}</span>
                <span>

                </span>

            </div>
            <div class="session-detail">
                <span>Session:</span> 
                <select id = "select_session">
                    {% for session in session_list %}
                    
                        <option value = "{{ session.pk }}"
                            {% if session.pk == inning.pk %}
                                selected
                            {% endif %}
                        > {{ session }}</option>
                    {% endfor %}
                </select>
                {% comment %} <span>{{inning}}</span> {% endcomment %}

            </div> 
            <div class="choose-date">
            <span style="font-size:18px"> <b> Choose Date: </b> </span>
            <div class="controls ">
                <input type="date" name="Assignment_Deadline_edit" class="datetimeinput form-control" id="id_Assignment_Deadline_edit" value="{{attend_date}}">
                </div>

            </div>
        <div>
            <button id = "goBtn" class="btn btn-info" style="display:none">Go</button>
        </div>
        </div>
        {%if not attendance %}
        <div class="no-attendance-display">
            <h3>No Attendance </h3>
            <p><a class="btn btn-default" href="{% url 'teacher_attendance_list' %}">Take Attendance</a></p>

        </div>
          {% else %}

        <div id="attendance-table">
            {% if attendance %}
            <a class="btn btn-primary" href="{% url 'course_attendance' inning.pk course.pk  attend_date %}">
                Edit</a>
                    <table id="QuizTable" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                        <tr>
                            <th>{% trans "Roll No." %}</th>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Attendance" %}</th>
                            
                            <th>{% trans "Updated On" %}</th>
                          
                        </tr>
                        </thead>
                        <tbody>


                        {% for a in attendance %}
                        

                            <tr>
                                <td>  {% getMemberFromPk a.initial.member_code.pk 'Member_ID' %} </td>
                                <td>  {{ a.initial.member_code }} </td>
                                <td>  {{a.initial.present }} </td>
                                <td>  {{a.initial.updated }} </td> 
                                <!-- #TODO send date in the list view -->
  
                            </tr>

                        {% endfor %}
                        </tbody>

                    </table>

            {% else %}
                <p>{% trans "There are no available quizzes" %}.</p>
            {% endif %}
        </div>
        
         
         <div class="total-students">
             <span>Total Present:</span><span id = "student_present"></span>
             <span>Total Absent:</span><span id = "student_absent"></span>
             <span>Total Students:</span><span>{{ attendance|length }}</span>
         </div>
         {% endif%}
    </div>

{% endblock %}   

{% block customjss %}   
<script>

    $('#goBtn').on('click', function(){
        changed_date = $('#id_Assignment_Deadline_edit').val()
        session = $('#select_session').val()
        window.location.href = "/teachers/attendance/class-list/"+session+"/1/"+changed_date
    })
    
    var present = 0;
    var absent = 0;

    $('#select_session, #id_Assignment_Deadline_edit').on('change', function(){
        $('#goBtn').css('display','block')
    })

    {% for x in attendance %}
        {% if x.initial.present %}
            present++;
        {% else %}
            absent++;
        {% endif %}
    {% endfor %}
    console.log(present)
    $('#student_present').text(present)
    $('#student_absent').text(absent)

</script>
{% endblock %}   