{% extends 'forum/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block breadcrumb %}

<li class="breadcrumb-item"><a href="{% url 'forum:index' %}">Forum</a></li>
<li class="breadcrumb-item active"><a href="{% url 'forum:create_topic' %}"> Create SubCategory</a>
</li>

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" /> -->

{% endblock %}



{% block main_contain %}
<div class="panel panel-default paper-shadow" data-z="2">
    <div class="panel-body">

        <form method="post" action="{% url 'forum:create_topic' %}">
            {% csrf_token %}

            <div class="x-title">
                <h2>Create SubCategory</h2>

            </div>
            <div class="ln_solid"></div>
            {{ form|crispy }}

            <label for="id_topic_icon" class="control-label  requiredField">
                Topic_icon<span class="asteriskField">*</span> </label>
            <input list="topic_icon_list" name="topic_icon" id="id_topic_icon"
                class="fa textinput textInput form-control topic_list">
            <datalist id="topic_icon_list">
                <select name="topic_icon_list" class="fa">
                    <option value=""></option>
                    <option value="fa fa-align-left">align-left</option>
                    <option value="align-right">&#xf038; align-right</option>
                    <option value="amazon">&#xf270; amazon</option>
                    <option value="ambulance">&#xf0f9; ambulance</option>
                    <option value="anchor">&#xf13d; anchor</option>
                    <option value="android">&#xf17b; android</option>
                    <option value="angellist">&#xf209; angellist</option>
                    <option value="angle-double-down">&#xf103; angle-double-down</option>
                    <option value="angle-double-left">&#xf100; angle-double-left</option>
                    <option value="angle-double-right">&#xf101; angle-double-right</option>
                    <option value="angle-double-up">&#xf102; angle-double-up</option>
                    <option value="angle-left">&#xf104; angle-left</option>
                    <option value="angle-right">&#xf105; angle-right</option>
                    <option value="angle-up">&#xf106; angle-up</option>
                    <option value="apple">&#xf179; apple</option>
                    <option value="archive">&#xf187; archive</option>
                    <option value="area-chart">&#xf1fe; area-chart</option>
                    <option value="arrow-circle-down">&#xf0ab; arrow-circle-down</option>
                    <option value="arrow-circle-left">&#xf0a8; arrow-circle-left</option>
                    <option value="arrow-circle-o-down">&#xf01a; arrow-circle-o-down</option>
                    <option value="arrow-circle-o-left">&#xf190; arrow-circle-o-left</option>
                    <option value="arrow-circle-o-right">&#xf18e; arrow-circle-o-right</option>
                    <option value="arrow-circle-o-up">&#xf01b; arrow-circle-o-up</option>
                    <option value="arrow-circle-right">&#xf0a9; arrow-circle-right</option>
                    <option value="arrow-circle-up">&#xf0aa; arrow-circle-up</option>
                    <option value="arrow-down">&#xf063; arrow-down</option>
                    <option value="arrow-left">&#xf060; arrow-left</option>
                    <option value="arrow-right">&#xf061; arrow-right</option>
                    <option value="arrow-up">&#xf062; arrow-up</option>
                    <option value="arrows">&#xf047; arrows</option>
                    <option value="arrows-alt">&#xf0b2; arrows-alt</option>
                    <option value="arrows-h">&#xf07e; arrows-h</option>
                    <option value="arrows-v">&#xf07d; arrows-v</option>
                    <option value="asterisk">&#xf069; asterisk</option>
                    <option value="at">&#xf1fa; at</option>
                    <option value="automobile">&#xf1b9; automobile</option>
                    <option value="backward">&#xf04a; backward</option>
                    <option value="balance-scale">&#xf24e; balance-scale</option>
                    <option value="ban">&#xf05e; ban</option>
                    <option value="bank">&#xf19c; bank</option>
                    <option value="bar-chart">&#xf080; bar-chart</option>
                    <option value="bar-chart-o">&#xf080; bar-chart-o</option>
                    <option value="battery-full">&#xf240; battery-full</option>
                    <option value="behance">&#xf1b4; behance</option>
                    <option value="behance-square">&#xf1b5; behance-square</option>
                    <option value="bell">&#xf0f3; bell</option>
                    <option value="bell-o">&#xf0a2; bell-o</option>
                    <option value="bell-slash">&#xf1f6; bell-slash</option>
                    <option value="bell-slash-o">&#xf1f7; bell-slash-o</option>
                    <option value="bicycle">&#xf206; bicycle</option>
                    <option value="binoculars">&#xf1e5; binoculars</option>
                    <option value="birthday-cake">&#xf1fd; birthday-cake</option>
                    <option value="bitbucket">&#xf171; bitbucket</option>
                    <option value="bitbucket-square">&#xf172; bitbucket-square</option>
                    <option value="bitcoin">&#xf15a; bitcoin</option>
                    <option value="black-tie">&#xf27e; black-tie</option>
                    <option value="bold">&#xf032; bold</option>
                    <option value="bolt">&#xf0e7; bolt</option>
                    <option value="bomb">&#xf1e2; bomb</option>
                    <option value="book">&#xf02d; book</option>
                    <option value="bookmark">&#xf02e; bookmark</option>
                    <option value="bookmark-o">&#xf097; bookmark-o</option>
                    <option value="briefcase">&#xf0b1; briefcase</option>
                    <option value="btc">&#xf15a; btc</option>
                    <option value="bug">&#xf188; bug</option>
                    <option value="building">&#xf1ad; building</option>
                    <option value="building-o">&#xf0f7; building-o</option>
                    <option value="bullhorn">&#xf0a1; bullhorn</option>
                    <option value="bullseye">&#xf140; bullseye</option>
                    <option value="bus">&#xf207; bus</option>
                    <option value="cab">&#xf1ba; cab</option>
                    <option value="calendar">&#xf073; calendar</option>
                    <option value="camera">&#xf030; camera</option>
                    <option value="car">&#xf1b9; car</option>
                    <option value="caret-up">&#xf0d8; caret-up</option>
                    <option value="cart-plus">&#xf217; cart-plus</option>
                    <option value="cc">&#xf20a; cc</option>
                    <option value="cc-amex">&#xf1f3; cc-amex</option>
                    <option value="cc-jcb">&#xf24b; cc-jcb</option>
                    <option value="cc-paypal">&#xf1f4; cc-paypal</option>
                    <option value="cc-stripe">&#xf1f5; cc-stripe</option>
                    <option value="cc-visa">&#xf1f0; cc-visa</option>
                    <option value="chain">&#xf0c1; chain</option>
                    <option value="check">&#xf00c; check</option>
                    <option value="chevron-left">&#xf053; chevron-left</option>
                    <option value="chevron-right">&#xf054; chevron-right</option>
                    <option value="chevron-up">&#xf077; chevron-up</option>
                    <option value="child">&#xf1ae; child</option>
                    <option value="chrome">&#xf268; chrome</option>
                    <option value="circle">&#xf111; circle</option>
                    <option value="circle-o">&#xf10c; circle-o</option>
                    <option value="circle-o-notch">&#xf1ce; circle-o-notch</option>
                    <option value="circle-thin">&#xf1db; circle-thin</option>
                    <option value="clipboard">&#xf0ea; clipboard</option>
                    <option value="clock-o">&#xf017; clock-o</option>
                    <option value="clone">&#xf24d; clone</option>
                    <option value="close">&#xf00d; close</option>
                    <option value="cloud">&#xf0c2; cloud</option>
                    <option value="cloud-download">&#xf0ed; cloud-download</option>
                    <option value="cloud-upload">&#xf0ee; cloud-upload</option>
                    <option value="cny">&#xf157; cny</option>
                    <option value="code">&#xf121; code</option>
                    <option value="code-fork">&#xf126; code-fork</option>
                    <option value="codepen">&#xf1cb; codepen</option>
                    <option value="coffee">&#xf0f4; coffee</option>
                    <option value="cog">&#xf013; cog</option>
                    <option value="cogs">&#xf085; cogs</option>
                    <option value="columns">&#xf0db; columns</option>
                    <option value="comment">&#xf075; comment</option>
                    <option value="comment-o">&#xf0e5; comment-o</option>
                    <option value="commenting">&#xf27a; commenting</option>
                    <option value="commenting-o">&#xf27b; commenting-o</option>
                    <option value="comments">&#xf086; comments</option>
                    <option value="comments-o">&#xf0e6; comments-o</option>
                    <option value="compass">&#xf14e; compass</option>
                    <option value="compress">&#xf066; compress</option>
                    <option value="connectdevelop">&#xf20e; connectdevelop</option>
                    <option value="contao">&#xf26d; contao</option>
                    <option value="copy">&#xf0c5; copy</option>
                    <option value="copyright">&#xf1f9; copyright</option>
                    <option value="creative-commons">&#xf25e; creative-commons</option>
                    <option value="credit-card">&#xf09d; credit-card</option>
                    <option value="crop">&#xf125; crop</option>
                    <option value="crosshairs">&#xf05b; crosshairs</option>
                    <option value="css3">&#xf13c; css3</option>
                    <option value="cube">&#xf1b2; cube</option>
                    <option value="cubes">&#xf1b3; cubes</option>
                    <option value="cut">&#xf0c4; cut</option>
                    <option value="cutlery">&#xf0f5; cutlery</option>
                    <option value="dashboard">&#xf0e4; dashboard</option>
                    <option value="dashcube">&#xf210; dashcube</option>
                    <option value="database">&#xf1c0; database</option>
                    <option value="dedent">&#xf03b; dedent</option>
                    <option value="delicious">&#xf1a5; delicious</option>
                    <option value="desktop">&#xf108; desktop</option>
                    <option value="deviantart">&#xf1bd; deviantart</option>
                    <option value="diamond">&#xf219; diamond</option>
                    <option value="digg">&#xf1a6; digg</option>
                    <option value="dollar">&#xf155; dollar</option>
                    <option value="download">&#xf019; download</option>
                    <option value="dribbble">&#xf17d; dribbble</option>
                    <option value="dropbox">&#xf16b; dropbox</option>
                    <option value="drupal">&#xf1a9; drupal</option>
                    <option value="edit">&#xf044; edit</option>
                    <option value="eject">&#xf052; eject</option>
                    <option value="ellipsis-h">&#xf141; ellipsis-h</option>
                    <option value="ellipsis-v">&#xf142; ellipsis-v</option>
                    <option value="empire">&#xf1d1; empire</option>
                    <option value="envelope">&#xf0e0; envelope</option>
                    <option value="envelope-o">&#xf003; envelope-o</option>
                    <option value="eur">&#xf153; eur</option>
                    <option value="euro">&#xf153; euro</option>
                    <option value="exchange">&#xf0ec; exchange</option>
                    <option value="exclamation">&#xf12a; exclamation</option>
                    <option value="exclamation-circle">&#xf06a; exclamation-circle</option>
                    <option value="exclamation-triangle">&#xf071; exclamation-triangle</option>
                    <option value="expand">&#xf065; expand</option>
                    <option value="expeditedssl">&#xf23e; expeditedssl</option>
                    <option value="external-link">&#xf08e; external-link</option>
                    <option value="external-link-square">&#xf14c; external-link-square</option>
                    <option value="eye">&#xf06e; eye</option>
                    <option value="eye-slash">&#xf070; eye-slash</option>
                    <option value="eyedropper">&#xf1fb; eyedropper</option>
                    <option value="facebook">&#xf09a; facebook</option>
                    <option value="facebook-f">&#xf09a; facebook-f</option>
                    <option value="facebook-official">&#xf230; facebook-official</option>
                    <option value="facebook-square">&#xf082; facebook-square</option>
                    <option value="fast-backward">&#xf049; fast-backward</option>
                    <option value="fast-forward">&#xf050; fast-forward</option>
                    <option value="fax">&#xf1ac; fax</option>
                    <option value="feed">&#xf09e; feed</option>
                    <option value="female">&#xf182; female</option>
                    <option value="fighter-jet">&#xf0fb; fighter-jet</option>
                    <option value="file">&#xf15b; file</option>
                    <option value="file-archive-o">&#xf1c6; file-archive-o</option>
                    <option value="file-audio-o">&#xf1c7; file-audio-o</option>
                    <option value="file-code-o">&#xf1c9; file-code-o</option>
                    <option value="file-excel-o">&#xf1c3; file-excel-o</option>
                    <option value="file-image-o">&#xf1c5; file-image-o</option>
                    <option value="file-movie-o">&#xf1c8; file-movie-o</option>
                    <option value="file-o">&#xf016; file-o</option>
                    <option value="file-pdf-o">&#xf1c1; file-pdf-o</option>
                    <option value="file-photo-o">&#xf1c5; file-photo-o</option>
                    <option value="file-picture-o">&#xf1c5; file-picture-o</option>
                    <option value="file-powerpoint-o">&#xf1c4; file-powerpoint-o</option>
                    <option value="file-sound-o">&#xf1c7; file-sound-o</option>
                    <option value="file-text">&#xf15c; file-text</option>
                    <option value="file-text-o">&#xf0f6; file-text-o</option>
                    <option value="file-video-o">&#xf1c8; file-video-o</option>
                    <option value="file-word-o">&#xf1c2; file-word-o</option>
                    <option value="file-zip-o">&#xf1c6; file-zip-o</option>
                    <option value="files-o">&#xf0c5; files-o</option>
                    <option value="film">&#xf008; film</option>
                    <option value="filter">&#xf0b0; filter</option>
                    <option value="fire">&#xf06d; fire</option>
                    <option value="fire-extinguisher">&#xf134; fire-extinguisher</option>
                    <option value="firefox">&#xf269; firefox</option>
                    <option value="flag">&#xf024; flag</option>
                    <option value="flag-checkered">&#xf11e; flag-checkered</option>
                    <option value="flag-o">&#xf11d; flag-o</option>
                    <option value="flash">&#xf0e7; flash</option>
                    <option value="flask">&#xf0c3; flask</option>
                    <option value="flickr">&#xf16e; flickr</option>
                    <option value="floppy-o">&#xf0c7; floppy-o</option>
                    <option value="folder">&#xf07b; folder</option>
                    <option value="folder-o">&#xf114; folder-o</option>
                    <option value="folder-open">&#xf07c; folder-open</option>
                    <option value="folder-open-o">&#xf115; folder-open-o</option>
                    <option value="font">&#xf031; font</option>
                    <option value="fonticons">&#xf280; fonticons</option>
                    <option value="forumbee">&#xf211; forumbee</option>
                    <option value="forward">&#xf04e; forward</option>
                    <option value="foursquare">&#xf180; foursquare</option>
                    <option value="frown-o">&#xf119; frown-o</option>
                    <option value="futbol-o">&#xf1e3; futbol-o</option>
                    <option value="gamepad">&#xf11b; gamepad</option>
                    <option value="gavel">&#xf0e3; gavel</option>
                    <option value="gbp">&#xf154; gbp</option>
                    <option value="ge">&#xf1d1; ge</option>
                    <option value="gear">&#xf013; gear</option>
                    <option value="gears">&#xf085; gears</option>
                    <option value="genderless">&#xf22d; genderless</option>
                    <option value="get-pocket">&#xf265; get-pocket</option>
                    <option value="gg">&#xf260; gg</option>
                    <option value="gg-circle">&#xf261; gg-circle</option>
                    <option value="gift">&#xf06b; gift</option>
                    <option value="git">&#xf1d3; git</option>
                    <option value="git-square">&#xf1d2; git-square</option>
                    <option value="github">&#xf09b; github</option>
                    <option value="github-alt">&#xf113; github-alt</option>
                    <option value="github-square">&#xf092; github-square</option>
                    <option value="gittip">&#xf184; gittip</option>
                    <option value="glass">&#xf000; glass</option>
                    <option value="globe">&#xf0ac; globe</option>
                    <option value="google">&#xf1a0; google</option>
                    <option value="google-plus">&#xf0d5; google-plus</option>
                    <option value="google-plus-square">&#xf0d4; google-plus-square</option>
                    <option value="google-wallet">&#xf1ee; google-wallet</option>
                    <option value="graduation-cap">&#xf19d; graduation-cap</option>
                    <option value="gratipay">&#xf184; gratipay</option>
                    <option value="group">&#xf0c0; group</option>
                    <option value="h-square">&#xf0fd; h-square</option>
                    <option value="hacker-news">&#xf1d4; hacker-news</option>
                    <option value="hand-grab-o">&#xf255; hand-grab-o</option>
                    <option value="hand-lizard-o">&#xf258; hand-lizard-o</option>
                    <option value="hand-o-down">&#xf0a7; hand-o-down</option>
                    <option value="hand-o-left">&#xf0a5; hand-o-left</option>
                    <option value="hand-o-right">&#xf0a4; hand-o-right</option>
                    <option value="hand-o-up">&#xf0a6; hand-o-up</option>
                    <option value="hand-paper-o">&#xf256; hand-paper-o</option>
                    <option value="hand-peace-o">&#xf25b; hand-peace-o</option>
                    <option value="hand-pointer-o">&#xf25a; hand-pointer-o</option>
                    <option value="hand-rock-o">&#xf255; hand-rock-o</option>
                    <option value="hand-scissors-o">&#xf257; hand-scissors-o</option>
                    <option value="hand-spock-o">&#xf259; hand-spock-o</option>
                    <option value="hand-stop-o">&#xf256; hand-stop-o</option>
                    <option value="hdd-o">&#xf0a0; hdd-o</option>
                    <option value="header">&#xf1dc; header</option>
                    <option value="headphones">&#xf025; headphones</option>
                    <option value="heart">&#xf004; heart</option>
                    <option value="heart-o">&#xf08a; heart-o</option>
                    <option value="heartbeat">&#xf21e; heartbeat</option>
                    <option value="history">&#xf1da; history</option>
                    <option value="home">&#xf015; home</option>
                    <option value="hospital-o">&#xf0f8; hospital-o</option>
                    <option value="hotel">&#xf236; hotel</option>
                    <option value="hourglass">&#xf254; hourglass</option>
                    <option value="hourglass-1">&#xf251; hourglass-1</option>
                    <option value="hourglass-2">&#xf252; hourglass-2</option>
                    <option value="hourglass-3">&#xf253; hourglass-3</option>
                    <option value="hourglass-end">&#xf253; hourglass-end</option>
                    <option value="hourglass-half">&#xf252; hourglass-half</option>
                    <option value="hourglass-o">&#xf250; hourglass-o</option>
                    <option value="hourglass-start">&#xf251; hourglass-start</option>
                    <option value="houzz">&#xf27c; houzz</option>
                    <option value="html5">&#xf13b; html5</option>
                    <option value="i-cursor">&#xf246; i-cursor</option>
                    <option value="ils">&#xf20b; ils</option>
                    <option value="image">&#xf03e; image</option>
                    <option value="inbox">&#xf01c; inbox</option>
                    <option value="indent">&#xf03c; indent</option>
                    <option value="industry">&#xf275; industry</option>
                    <option value="info">&#xf129; info</option>
                    <option value="info-circle">&#xf05a; info-circle</option>
                    <option value="inr">&#xf156; inr</option>
                    <option value="instagram">&#xf16d; instagram</option>
                    <option value="institution">&#xf19c; institution</option>
                    <option value="internet-explorer">&#xf26b; internet-explorer</option>
                    <option value="intersex">&#xf224; intersex</option>
                    <option value="ioxhost">&#xf208; ioxhost</option>
                    <option value="italic">&#xf033; italic</option>
                    <option value="joomla">&#xf1aa; joomla</option>
                    <option value="jpy">&#xf157; jpy</option>
                    <option value="jsfiddle">&#xf1cc; jsfiddle</option>
                    <option value="key">&#xf084; key</option>
                    <option value="keyboard-o">&#xf11c; keyboard-o</option>
                    <option value="krw">&#xf159; krw</option>
                    <option value="language">&#xf1ab; language</option>
                    <option value="laptop">&#xf109; laptop</option>
                    <option value="lastfm">&#xf202; lastfm</option>
                    <option value="lastfm-square">&#xf203; lastfm-square</option>
                    <option value="leaf">&#xf06c; leaf</option>
                    <option value="leanpub">&#xf212; leanpub</option>
                    <option value="legal">&#xf0e3; legal</option>
                    <option value="lemon-o">&#xf094; lemon-o</option>
                    <option value="level-down">&#xf149; level-down</option>
                    <option value="level-up">&#xf148; level-up</option>
                    <option value="life-bouy">&#xf1cd; life-bouy</option>
                    <option value="life-buoy">&#xf1cd; life-buoy</option>
                    <option value="life-ring">&#xf1cd; life-ring</option>
                    <option value="life-saver">&#xf1cd; life-saver</option>
                    <option value="lightbulb-o">&#xf0eb; lightbulb-o</option>
                    <option value="line-chart">&#xf201; line-chart</option>
                    <option value="link">&#xf0c1; link</option>
                    <option value="linkedin">&#xf0e1; linkedin</option>
                    <option value="linkedin-square">&#xf08c; linkedin-square</option>
                    <option value="linux">&#xf17c; linux</option>
                    <option value="list">&#xf03a; list</option>
                    <option value="list-alt">&#xf022; list-alt</option>
                    <option value="list-ol">&#xf0cb; list-ol</option>
                    <option value="list-ul">&#xf0ca; list-ul</option>
                    <option value="location-arrow">&#xf124; location-arrow</option>
                    <option value="lock">&#xf023; lock</option>
                    <option value="long-arrow-down">&#xf175; long-arrow-down</option>
                    <option value="long-arrow-left">&#xf177; long-arrow-left</option>
                    <option value="long-arrow-right">&#xf178; long-arrow-right</option>
                    <option value="long-arrow-up">&#xf176; long-arrow-up</option>
                    <option value="magic">&#xf0d0; magic</option>
                    <option value="magnet">&#xf076; magnet</option>

                    <option value="mars-stroke-v">&#xf22a; mars-stroke-v</option>
                    <option value="maxcdn">&#xf136; maxcdn</option>
                    <option value="meanpath">&#xf20c; meanpath</option>
                    <option value="medium">&#xf23a; medium</option>
                    <option value="medkit">&#xf0fa; medkit</option>
                    <option value="meh-o">&#xf11a; meh-o</option>
                    <option value="mercury">&#xf223; mercury</option>
                    <option value="microphone">&#xf130; microphone</option>
                    <option value="mobile">&#xf10b; mobile</option>
                    <option value="motorcycle">&#xf21c; motorcycle</option>
                    <option value="mouse-pointer">&#xf245; mouse-pointer</option>
                    <option value="music">&#xf001; music</option>
                    <option value="navicon">&#xf0c9; navicon</option>
                    <option value="neuter">&#xf22c; neuter</option>
                    <option value="newspaper-o">&#xf1ea; newspaper-o</option>
                    <option value="opencart">&#xf23d; opencart</option>
                    <option value="openid">&#xf19b; openid</option>
                    <option value="opera">&#xf26a; opera</option>
                    <option value="outdent">&#xf03b; outdent</option>
                    <option value="pagelines">&#xf18c; pagelines</option>
                    <option value="paper-plane-o">&#xf1d9; paper-plane-o</option>
                    <option value="paperclip">&#xf0c6; paperclip</option>
                    <option value="paragraph">&#xf1dd; paragraph</option>
                    <option value="paste">&#xf0ea; paste</option>
                    <option value="pause">&#xf04c; pause</option>
                    <option value="paw">&#xf1b0; paw</option>
                    <option value="paypal">&#xf1ed; paypal</option>
                    <option value="pencil">&#xf040; pencil</option>
                    <option value="pencil-square-o">&#xf044; pencil-square-o</option>
                    <option value="phone">&#xf095; phone</option>
                    <option value="photo">&#xf03e; photo</option>
                    <option value="picture-o">&#xf03e; picture-o</option>
                    <option value="pie-chart">&#xf200; pie-chart</option>
                    <option value="pied-piper">&#xf1a7; pied-piper</option>
                    <option value="pied-piper-alt">&#xf1a8; pied-piper-alt</option>
                    <option value="pinterest">&#xf0d2; pinterest</option>
                    <option value="pinterest-p">&#xf231; pinterest-p</option>
                    <option value="pinterest-square">&#xf0d3; pinterest-square</option>
                    <option value="plane">&#xf072; plane</option>
                    <option value="play">&#xf04b; play</option>
                    <option value="play-circle">&#xf144; play-circle</option>
                    <option value="play-circle-o">&#xf01d; play-circle-o</option>
                    <option value="plug">&#xf1e6; plug</option>
                    <option value="plus">&#xf067; plus</option>
                    <option value="plus-circle">&#xf055; plus-circle</option>
                    <option value="plus-square">&#xf0fe; plus-square</option>
                    <option value="plus-square-o">&#xf196; plus-square-o</option>
                    <option value="power-off">&#xf011; power-off</option>
                    <option value="print">&#xf02f; print</option>
                    <option value="puzzle-piece">&#xf12e; puzzle-piece</option>
                    <option value="qq">&#xf1d6; qq</option>
                    <option value="qrcode">&#xf029; qrcode</option>
                    <option value="question">&#xf128; question</option>
                    <option value="question-circle">&#xf059; question-circle</option>
                    <option value="quote-left">&#xf10d; quote-left</option>
                    <option value="quote-right">&#xf10e; quote-right</option>
                    <option value="ra">&#xf1d0; ra</option>
                    <option value="random">&#xf074; random</option>
                    <option value="rebel">&#xf1d0; rebel</option>
                    <option value="recycle">&#xf1b8; recycle</option>
                    <option value="reddit">&#xf1a1; reddit</option>
                    <option value="reddit-square">&#xf1a2; reddit-square</option>
                    <option value="refresh">&#xf021; refresh</option>
                    <option value="registered">&#xf25d; registered</option>
                    <option value="remove">&#xf00d; remove</option>
                    <option value="renren">&#xf18b; renren</option>
                    <option value="reorder">&#xf0c9; reorder</option>
                    <option value="repeat">&#xf01e; repeat</option>
                    <option value="reply">&#xf112; reply</option>
                    <option value="reply-all">&#xf122; reply-all</option>
                    <option value="retweet">&#xf079; retweet</option>
                    <option value="rmb">&#xf157; rmb</option>
                    <option value="road">&#xf018; road</option>
                    <option value="rocket">&#xf135; rocket</option>
                    <option value="rotate-left">&#xf0e2; rotate-left</option>
                    <option value="rotate-right">&#xf01e; rotate-right</option>
                    <option value="rouble">&#xf158; rouble</option>
                    <option value="rss">&#xf09e; rss</option>
                    <option value="rss-square">&#xf143; rss-square</option>
                    <option value="rub">&#xf158; rub</option>
                    <option value="ruble">&#xf158; ruble</option>
                    <option value="rupee">&#xf156; rupee</option>
                    <option value="safari">&#xf267; safari</option>
                    <option value="sliders">&#xf1de; sliders</option>
                    <option value="slideshare">&#xf1e7; slideshare</option>
                    <option value="smile-o">&#xf118; smile-o</option>
                    <option value="sort-asc">&#xf0de; sort-asc</option>
                    <option value="sort-desc">&#xf0dd; sort-desc</option>
                    <option value="sort-down">&#xf0dd; sort-down</option>
                    <option value="spinner">&#xf110; spinner</option>
                    <option value="spoon">&#xf1b1; spoon</option>
                    <option value="spotify">&#xf1bc; spotify</option>
                    <option value="square">&#xf0c8; square</option>
                    <option value="square-o">&#xf096; square-o</option>
                    <option value="star">&#xf005; star</option>
                    <option value="star-half">&#xf089; star-half</option>
                    <option value="stop">&#xf04d; stop</option>
                    <option value="subscript">&#xf12c; subscript</option>
                    <option value="tablet">&#xf10a; tablet</option>
                    <option value="tachometer">&#xf0e4; tachometer</option>
                    <option value="tag">&#xf02b; tag</option>
                    <option value="tags">&#xf02c; tags</option>
                </select>
            </datalist>





            <!-- {% if not node_group %}
            <div id="div_id_node_group" class="form-group"><label for="id_node_group"
                    class="control-label  requiredField">
                    Category<span class="asteriskField">*</span> </label>
                <div class="controls "><select name="node_group" id="id_node_group" required=""
                        class="select form-control">
                        <option value="" selected="">---------</option>
                        {% for c in form.fields.node_group.queryset %}
                        <option value="{{ c.id|capfirst }}">{{ c }}</option>
                        {% endfor %}
                    </select></div>
            </div>
            {% else %}
            <div id="div_id_node_group" class="form-group">
                <label for="id_node_group" class="control-label  requiredField">
                    Category<span class="asteriskField">*</span> </label>
                <input type="text" value="{{ node_group.0.title }}" required="" class="textinput textInput form-control"
                    maxlength="30" readonly>
                <input name="node_group" id="id_node_group" required="" value="{{ node_group.0.pk }}" hidden>
            </div>
            {% endif %}
            <div id="div_id_title" class="form-group"><label for="id_title" class="control-label  requiredField">
                    Title<span class="asteriskField">*</span> </label>
                <div class="controls "><input type="text" name="title" id="id_title" required=""
                        class="textinput textInput form-control" maxlength="30"></div>
            </div>
            <div id="div_id_description" class="form-group"><label for="id_description" class="control-label ">
                    Description
                </label>
                <div class="controls "> <textarea name="description" cols="40" id="id_description" rows="10"
                        class="textarea form-control"></textarea></div>
            </div>
            <div id="div_id_topic_icon" class="form-group"><label for="id_topic_icon"
                    class="control-label  requiredField">
                    Topic Icon<span class="asteriskField">*</span> </label>
                <div class="controls "><input type="text" name="topic_icon" id="id_topic_icon" required=""
                        class="textinput textInput form-control" maxlength="30"></div>
            </div>
            <div class="form-group"> -->
            <div class="controls "><input type="submit" name="submit" value="Submit" class="btn btn-primary"
                    id="submit-id-submit"></div>


        </form>
    </div>
</div>
{% endblock %}
{% block customjss %}


<script>


</script>

{% endblock %}