{% extends 'forum/base.html' %}
{% load i18n %}
{% load forum_tags %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block breadcrumb %}


<li class="breadcrumb-item"><a href="{% url 'forum:index' %}">Forum</a></li>
<li class="breadcrumb-item">
    <a href="{% url 'forum:nodegroup' pk=thread.topic.node_group.pk %}">{{ thread.topic.node_group.title }}</a>
</li>
<li class="breadcrumb-item active"><a href="{% url 'forum:topic' pk=thread.topic.pk %}">{{ thread.topic.title }}</a>
</li>

{% endblock %}


{% block main_contain %}

{% include 'ForumInclude/threadpage.html' %}
{% endblock %}