{% load i18n %}


{% block content %}
    <div class="page-header">
        <div class="page-title">
            <div>
                {% if 'students' in request.get_full_path %}

                {%else%}
                <button class="btn btn-primary create_event_button" data-toggle="modal"
                        data-target="#createEventModal">
                    <i class="ti-plus mr-2"></i> {% trans "Create Event" %}
                </button>
                {%endif%}
            </div>
        </div>
    </div>
    <div class="row app-block mb-4">
        <div class="col-md-3 app-sidebar">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title mb-2">{% trans "Events" %}</h6>
                     {% if 'students' in request.get_full_path %}
                     {%else%}
                    <p class="text-muted">{% trans "Drag and drop your event" %}</p>
                    {%endif%}
                    <div class="list-group mb-3" id="external-events">
                        <div class="row">
                            <div class="list-group-item px-0 fc-event col-sm-6" data_val="HO">
                                <i class="fa fa-circle text-danger" data-icon="car"></i> {% trans "Holiday" %}
                            </div>
                             <div class="col-sm-6">
                                <div class="mt-2" id="event_checkbox1">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="checkbox_holiday" class="custom-control-input event_filter"
                                               id="ho_checkbox" checked>
                                        <label class="custom-control-label" for="ho_checkbox"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="list-group-item px-0 fc-event col-sm-6" data_val="EX">
                                <i class="fa fa-circle text-primary" data-icon="building"></i> {% trans "Examination" %}
                            </div>
                            <div class="col-sm-6">
                                <div class="mt-2" id="event_checkbox2">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="checkbox_examination" class="custom-control-input event_filter"
                                               id="ex_checkbox" checked>
                                        <label class="custom-control-label" for="ex_checkbox"></label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        {% if not "students" in request.get_full_path %}
                         <div class="row">
                            <div class="list-group-item px-0 fc-event col-sm-6" data_val="ME">
                                <i class="fa fa-circle text-success" data-icon="users"></i> {% trans "Meeting" %}
                            </div>
                            <div class="col-sm-6">
                                <div class="mt-2" id="event_checkbox3">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="checkbox_meeting" class="custom-control-input event_filter"
                                               id="me_checkbox" checked>
                                        <label class="custom-control-label" for="me_checkbox"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endif %}
                        <div class="row">
                            <div class="list-group-item px-0 fc-event col-sm-6" data_val="PR">
                                <i class="fa fa-circle text-info" data-icon="building"></i> {% trans "Program" %}
                            </div>
                             <div class="col-sm-6">
                                <div class="mt-2" id="event_checkbox4">
                                    <div class="custom-control custom-checkbox event_filter">
                                        <input type="checkbox" name="checkbox_program" class="custom-control-input event_filter"
                                               id="pr_checkbox" checked>
                                        <label class="custom-control-label" for="pr_checkbox"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if "students" in request.get_full_path %}
                        <div class="row">
                            <div class="list-group-item px-0 fc-event col-sm-6">
                                <i class="fa fa-circle text-dark" data-icon="building"></i> {% trans "Assignment" %}
                            </div>
                            <div class="col-sm-6">
                                <div class="mt-2" id="event_checkbox5">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="checkbox_assignment" class="custom-control-input event_filter"
                                               id="as_checkbox" checked>
                                        <label class="custom-control-label" for="as_checkbox"></label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="list-group-item px-0 fc-event col-sm-6">
                                <i class="fa fa-circle text-secondary" data-icon="building"></i> {% trans "Survey" %}
                            </div>
                             <div class="col-sm-6">
                                    <div class="mt-2" id="event_checkbox6">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="checkbox_survey" class="custom-control-input event_filter"
                                                   id="sr_checkbox" checked>
                                            <label class="custom-control-label" for="sr_checkbox"></label>
                                        </div>
                                    </div>
                            </div>
                        </div>

                        {% endif %}
                    <div class="row">
                        <div class="list-group-item px-0 fc-event col-sm-6" data_val="CH">
                            <i class="fa fa-circle text-warning" data-icon="building"></i> {% trans "Chapter" %}
                        </div>
                         <div class="col-sm-6">
                            <div class="mt-2" id="event_checkbox7">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="checkbox_chapter" class="custom-control-input event_filter"
                                           id="ch_checkbox" checked>
                                    <label class="custom-control-label" for="ch_checkbox"></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 app-content">
            <div class="app-content-overlay"></div>
            <div class="card app-content-body">
                <div class="card-body">
                    <a href="#" class="app-sidebar-menu-button btn btn-outline-light mb-3">
                        <i data-feather="menu"></i>
                    </a>
                    <div id="calendar-demo"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- begin::Create Event Modal -->
    <div class="modal fade" id="createEventModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Create Event" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="ti-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="calendar_event_form" method="post"
                          {% if "teacher" in request.get_full_path %}
                         action="{% url 'teacher_event_calendar_create' %}" autocomplete="off">
                          {% elif "student" in request.get_full_path %}
                         action="{% url 'student_event_calendar_create' %}" autocomplete="off">
                            {% else %}
                          action="{% url 'event_calendar_create' %}" autocomplete="off">
                            {% endif %}
                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">{% trans "Title" %}</label>
                            <div class="col-sm-9">
                                <input id="id_title" type="text" name="title" value="Program" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">{% trans "Event Type" %}</label>
                            <div class="col-sm-9">
                                <div class="mt-2" id="event-type">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline1" name="event_type"
                                               class="custom-control-input" value="PR" checked>
                                        <label class="custom-control-label" for="customRadioInline1">{% trans "Program" %}</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline2" name="event_type"
                                               class="custom-control-input" value="ME">
                                        <label class="custom-control-label" for="customRadioInline2">{% trans "Meeting" %}</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline3" name="event_type"
                                               class="custom-control-input" value="HO">
                                        <label class="custom-control-label" for="customRadioInline3">{% trans "Holiday" %}</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline4" name="event_type"
                                               class="custom-control-input" value="EX">
                                        <label class="custom-control-label" for="customRadioInline4">{% trans "Examination" %}</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline5" name="event_type"
                                               class="custom-control-input" value="CH" checked>
                                        <label class="custom-control-label" for="customRadioInline5">{% trans "Chapter" %}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row chapter_dynamic">
                            <label class="col-sm-3 col-form-label">{% trans "Chapter List" %}</label>
                            <div class="col-sm-9">
                                <div class="mt-2" id="chapter_list">
                                     <select name="chapters" class="form-control select2-example"
                                            id="chapter_list_multiple" multiple>
                                        {% for c in chapter_list %}
                                             <option
                                        value="{{ c.pk }}">{{ c.Chapter_Name }}
                                            </option>
                                        {% endfor %}
                                    </select>
{#                                 <input type="hidden" name="chapters" id="chapter_list_hidden" value="">#}
                                </div>
                            </div>
                        </div>
                         <div class="form-group row chapter_dynamic">
                            <label class="col-sm-3 col-form-label">{% trans "Repeat Type" %}</label>
                            <div class="col-sm-9">
                                <div class="mt-2" id="repeat_order">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="repeatRadioInline1" name="repeat_type"
                                               class="custom-control-input" value="DA" checked>
                                        <label class="custom-control-label" for="repeatRadioInline1">{% trans "Daily" %}</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="repeatRadioInline2" name="repeat_type"
                                               class="custom-control-input" value="WE">
                                        <label class="custom-control-label" for="repeatRadioInline2">{% trans "Weekly" %}</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="repeatRadioInline3" name="repeat_type"
                                               class="custom-control-input" value="MO">
                                        <label class="custom-control-label" for="repeatRadioInline3">{% trans "Monthly" %}</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="repeatRadioInline4" name="repeat_type"
                                               class="custom-control-input" value="WD">
                                        <label class="custom-control-label" for="repeatRadioInline4">{% trans "Weekday" %}</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">{% trans "All Day Event" %}</label>
                            <div class="col-sm-9">
                                <div class="mt-2" id="all-day">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="is_all_day" class="custom-control-input"
                                               id="id_is_all_day" checked>
                                        <label class="custom-control-label" for="id_is_all_day"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row row-sm">
                            <label class="col-sm-3 col-form-label">{% trans "Start" %}</label>
                            <div class="col-sm-5">
                                <input id="event-start-date" type="text"
                                       class="form-control create-event-datepicker"
                                       placeholder="{% trans 'Date' %}">
                            </div>
                            <div class="col-sm-4 datetime_dynamic">
                                <input id="event-start-time" type="text" class="form-control create-event-demo"
                                       placeholder="{% trans 'Time' %}">
                            </div>
                            <input type="hidden" name="date_start" id="id_date_start">
                        </div>
                        <div class="form-group row row-sm">
                            <label class="col-sm-3 col-form-label">{% trans 'End' %}</label>
                            <div class="col-sm-5">
                                <input id="event-end-date" type="text" class="form-control create-event-datepicker"
                                       placeholder="{% trans 'Date' %}">
                            </div>
                            <div class="col-sm-4 datetime_dynamic">
                                <input id="event-end-time" type="text" class="form-control create-event-demo"
                                       placeholder="{% trans 'Time' %}">
                            </div>
                            <input type="hidden" name="date_end" id="id_date_end">
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">{% trans 'Participants Type' %}</label>
                            <div class="col-sm-9">
                                <div class="mt-2" >
                                    {% if "teacher" in request.get_full_path%}
                                     <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="id_participant_type_2" name="participation_type"  class="custom-control-input all_st" value="AS" checked>
                                        <label class="custom-control-label" for="id_participant_type_2" >{% trans 'All Students' %}</label>
                                    </div>
                                     <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="id_participant_type_4" name="participation_type"  class="custom-control-input" value="CH">
                                        <label class="custom-control-label" for="id_participant_type_4">{% trans 'Choose' %}</label>
                                    </div>


                                   <div class="custom-control custom-radio custom-control-inline">
                                    <div class="form-group row participant_dynamic">
                                        <div class="dropdown ml-3 ">
                                                <a href="#" class="btn btn-outline-light btn-floating btn-sm recipient_selector"
                                                   data-toggle="dropdown" title="{% trans 'Participants' %} ">
                                                <i class="fa fa-ellipsis-h"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right  ">


                                                        <a class="dropdown-item all_select" href="#">{% trans 'Select All' %}</a>

                                                </div>
                                        </div>

                                     </div>
                                   </div>



                                    {%else%}
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="id_participant_type_1" name="participation_type" class="custom-control-input" value="AL" >
                                        <label class="custom-control-label" for="id_participant_type_1">{% trans 'All Users' %}</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="id_participant_type_2" name="participation_type"  class="custom-control-input" value="AS" >
                                        <label class="custom-control-label" for="id_participant_type_2">{% trans 'All Students' %}</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="id_participant_type_3" name="participation_type" class="custom-control-input" value="AT">

                                        <label class="custom-control-label" for="id_participant_type_3">{% trans "All Teachers" %}</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="id_participant_type_4" name="participation_type"  class="custom-control-input" value="CH">
                                        <label class="custom-control-label" for="id_participant_type_4">{% trans "Choose" %}</label>
                                    </div>

                                    {%endif%}
                                </div>
                            </div>
                        </div>

                        <div class="form-group row participant_dynamic">
                            <label class="col-sm-3 col-form-label">{% trans "Filter By" %}</label>

                            <div class="col-sm-9">
                                <div class="mt-2" id="filter-type">
                                    {% if "teacher" in request.get_full_path %}
                                        {% for s in session %}
                                     <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="id_session_filter_type{{forloop.counter}}" name="session_filter_type"
                                               class="custom-control-input" value="{{s.pk}}"  {% if forloop.first %} checked {% endif %} >
                                        <label class="custom-control-label"
                                               for="id_session_filter_type{{forloop.counter}}">{{s}}</label>
                                    </div>
                                     {%endfor%}

                                    {% else %}
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="id_filter_type_1" name="filter_type"
                                               class="custom-control-input" value="A" checked>
                                        <label class="custom-control-label"
                                               for="id_filter_type_1">{% trans "Any" %}</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="id_filter_type_2" name="filter_type"
                                               class="custom-control-input" value="S">
                                        <label class="custom-control-label"
                                               for="id_filter_type_2">{% trans "Students" %}</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="id_filter_type_3" name="filter_type"
                                               class="custom-control-input" value="T">
                                        <label class="custom-control-label"
                                               for="id_filter_type_3">{% trans "Teachers" %}</label>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row participant_dynamic">
                            <label class="col-sm-3 col-form-label">{% trans "Participants" %}</label>
                            <div class="col-sm-9">
                                <select name="participants" class="form-control select2-example"
                                        id="id_participants" multiple>
                                    {% for u in user_list %}
                                        <option
                                                {% if u.Is_Student %}data-is_student="true"{% endif %}
                                                {% if u.Is_Teacher %}data-is_teacher="true"{% endif %}
                                                {% if u.Is_Student %}data-student_session="{{u.get_student_inning}}"{% endif %}
                                                value="{{ u.pk }}">{{ u.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">{% trans "Description" %}</label>
                            <div class="col-sm-9">
                                <textarea id="id_description" name="description" class="form-control" rows="6">

                                </textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3"></label>
                            <div class="col-sm-9">
                                <button type="submit" id="btn-save" class="btn btn-primary">{% trans "Create" %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end::Create Event Modal -->

<!-- begin::Event Info Modal -->
<div class="modal fade" id="viewEventModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="justify-content:flex-end;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-header d-inline" >
                <h5 class=" modal-title d-inline  ml-3">

                    <span class="event-title ">{% trans "Modal Title" %}</span>
                </h5>

                 {% if 'students' in request.get_full_path %}
                    <br><br>
                 <h5 class="srv-cat"></h5>
                {% else %}
                <form method="POST" class="delete_event  d-inline"  action=""
                      onsubmit="return confirm('{% trans 'Are you sure you want to delete?' %}');">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm  pull-right ml-2 mr-5 del_hide" data-toggle="tooltip"
                   title="{% trans 'Delete' %}"><i class="fa fa-trash ml-1"  aria-hidden="true"></i> &nbsp;</button></form>




                <button class="btn btn-sm btn-primary text-white pull-right del_hide"  data-toggle="tooltip"
                   title="{% trans 'Update' %}" name="update"
                        id="update_event_btn"><i class="fa fa-edit ml-1"  aria-hidden="true"></i> &nbsp;</button>
                 {%endif%}
                  </div>

            <br>


            <div class="modal-body" style="text-align:center">

                <div class="container">
                    <div class="row">
                        <div class="col-md-10" style="float:left;text-align:left;">
                            <h6> {% trans "Event Type" %}:</h6>
                            <div>
                                <span class="btn btn-sm   event-type"> </span>
                                <span class="btn btn-sm  type_event"> </span>
                            </div>
                        </div>
                    </div>
                    <br><br>



                    <div class="row chapter_info_dynamic">
                        <div class="col-md-6" style="text-align:left;">
                             <h6 class="chapter_class"> {% trans "Chapter Name" %}: </h6>
                            <div class="class_chapter"></div>
                        </div>
                         <div class="col-md-6" style="text-align:left;">
                              <h6 class="repeat_class"> {% trans "Repeat Type" %}: </h6>
                            <div class="class_repeat"></div>
                         </div>

                    </div>



                    <div class="row">

                        <div class="col-md-6" style="text-align:left;">
                            <h6 class="strt_at"> {% trans "Start At" %}: (MM/DD/YYYY)</h6>
                            <div class="start_at"></div>
                            <br>
                        </div>

                        <div class="col-md-6" style="text-align:left;">
                            <h6 class="en_at"> {% trans "End At" %}: (MM/DD/YYYY)</h6>
                            <div class="end_at"></div>
                        </div>


                    </div>
                    <br>


                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="participant" style="text-align:left;"> {% trans "Participants" %}:&nbsp;&nbsp;</h6>
                        </div>



<!--                        <div class="col-md-6 part_custom" style="text-align:left;">-->
<!--                            -->
<!--                        </div>-->





                        <div class="col-md-6 part_custom" style="text-align:left;">
                            <a class='btn btn-success btn-sm detail_btn' data-toggle="modal"
                        data-target="#custom_Participant_Modal">{% trans 'Details' %}</a>
                        </div>

                    </div>
                    <br>
                    <div class="row survey_event">
                        <div class="col-md-6 version_info" ></div>
                        <div class="col-md-6 view_result"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" style="text-align:left;">
                            <h6 class="dsp"> {% trans "Description" %}:&nbsp;&nbsp;</h6>
                            <div class="desc"></div>
                        </div>
                    </div>


                </div>


                <br>





            </div>


        </div>
    </div>
</div>
<!-- end::Event Info Modal -->




  <!-- begin::Custom Participant Modal -->
    <div class="modal fade" id="custom_Participant_Modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content cus_prt">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Participants" %}</h5>
                    <button type="button" class="close close_prt" data-dismiss="modal" aria-label="Close">
                        <i class="ti-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                  <div class="list-group list-group-flush part_list">
<!--                      <a href="#" class="list-group-item d-flex align-items-center">-->
<!--                            <div class="pr-3">-->
<!--                                <div class="avatar">-->
<!--                                  {#  <img src="{% static 'media/image/photo1.jpg' %}"   #}  -->
<!--                                         class="rounded-circle"-->
<!--                                         alt="image">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <h6 class="mb-1 participant_name">Francisco Ubsdale</h6>-->

<!--                            </div>-->

<!--                        </a>-->

                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end::Custom Participant Modal -->



{% endblock %}




