{% extends "teacher_module/base.html" %}
{% load static %}
{#{% block title %}#}
{#    Teacher survey#}
{#{% endblock %}#}
{% block stylesheets %}
  <link href="{% static 'build/css/studentCustom.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block breadcrumb %}
  <li class="breadcrumb-item active" aria-current="page">Survey</li>
{% endblock %}
{% block content %}
  {% include 'survey/surveyinfo_list.html' %}
{% endblock %}

{% block customjss %}

  {% for category in categories %}
    <script>
        $('#category_Add_Button{{ category.Category_Name }}').on('click', function () {
            $('#surveyForm').append('<div class="se-pre-con-ajax"></div>');

            $.ajax({
                type: "GET",
                data: {'category_name': '{{category.Category_Name}}'},
                url: "{% url 'TeacherSurveyInfo_ajax' %}",  // URL to your view that serves new info
                success: function (data) {
                    $("#surveyForm").html(data);
                },
                complete: function () {
                    $(".se-pre-con-ajax").fadeOut("fast");
                }
            });
        });
    </script>

  {% endfor %}

  <script>
      $(document).ready(function () {
          $.ajax({
              type: "GET",
              data: {
                  'category_name': "all_survey",
                  'date_filter': $("input[name='survey_filter_radio']:checked").val(),
              },
              url: "{% url 'teacherSurveyFilterCategory' %}",
              success: function (data) {
                  $("#rowCards").html(data);
              },
                complete: function () {
                    $(".se-pre-con-ajax").fadeOut("fast");
                }
          });
      });

      $('.category-name').on('click', function () {
          var category_name = this.id;
          $.ajax({
              type: "GET",
              data: {
                  'category_name': category_name,
                  'date_filter': $("input[name='survey_filter_radio']:checked").val(),
              },
              url: "{% url 'teacherSurveyFilterCategory' %}", // URL to your view that serves new info
              success: function (data) {
                  $("#rowCards").html(data);
              },
                complete: function () {
                    $(".se-pre-con-ajax").fadeOut("fast");
                }
          });
      });
      // -----------------------------ACTIVE AND EPIRE -------------------------------------
      $("#ActiveButton").on("click", function () {
          var category_name = $(".card-text.active .category-name").attr('id');
          $.ajax({
              type: "GET",
              data: {
                  'category_name': category_name,
                  'date_filter': 'active',
              },
              url: "{% url 'teacherSurveyFilterCategory' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#rowCards").html(data);
              },
                complete: function () {
                    $(".se-pre-con-ajax").fadeOut("fast");
                }
          });
      });
      $("#ExpireButton").on("click", function () {
          var category_name = $(".card-text.active .category-name").attr('id');
          $.ajax({
              type: "GET",
              data: {
                  'category_name': category_name,
                  'date_filter': 'expire',
              },
              url: "{% url 'teacherSurveyFilterCategory' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#rowCards").html(data);
              },
                complete: function () {
                    $(".se-pre-con-ajax").fadeOut("fast");
                }
          });
      });
      $("#LiveButton").on("click", function () {
          var category_name = $(".card-text.active .category-name").attr('id');
          $.ajax({
              type: "GET",
              data: {
                  'category_name': category_name,
                  'date_filter': 'live',
              },
              url: "{% url 'teacherSurveyFilterCategory' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#rowCards").html(data);
              },
                complete: function () {
                    $(".se-pre-con-ajax").fadeOut("fast");
                }
          });
      });
  </script>
  <script>
      function survey_create_content(response) {
          //location.reload();
          console.log(response['teacher_url']);
          window.location.href = String(response['teacher_url']);
      }
  </script>
{% endblock %}