{% load static %}

{% block stylesheets %}
<link href="{% static 'build/css/studentCustom.css' %}" rel="stylesheet">
{% endblock stylesheets %}

<div class="row" id="surveyheader">
    <div class="col-md-3 col-sm-12">
        <div class="btn-group" id="status" data-toggle="buttons">
            <label class="btn btn-default btn-on-3 btn-sm active" id="ActiveButton">
                <input type="radio" value="1" name="multifeatured_module[module_id][status]"
                    checked="checked">Active</label>
            <label class="btn btn-default btn-off-3 btn-sm " id="ExpireButton">
                <input type="radio" value="0" name="multifeatured_module[module_id][status]">Expire</label>
            <label class="btn btn-default btn-off-3 btn-sm " id="LiveButton">
                <input type="radio" value="2" name="multifeatured_module[module_id][status]">Live Survey</label>
        </div>
    </div>
    <div class="col-md-9 col-sm-12" id="searchBarSurvey">
        <form method="get" action="">
            <div role="search" id="surveySearch">
                <input type="text" id="keywordInput" name="query" placeholder="Type to search"
                       value="{{ request.GET.query }}" class="form-control">
                {#            <div class=" pull-right searchButton">#}
                <button type="submit" id="navSearchBtn" class="btn btn-inverse"
                        data-hover-z="1"><i class="fa fa-search"></i>
                </button>
                {#            </div>#}
            </div>
        </form>
    </div>
</div>

<div class="hR"></div>

<div class="row">
    <div class="col-md-12">
        {% for object in object_list %}
            {% if object.End_Date|date:'y m d' > currentDate|date:'y m d' and object.Survey_Live == False %}
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 active_survey">
                    <a href=" {% url 'surveyinfo_detail' object.pk %}">
                        <div class="box-part text-center">
                            {% if object.id in submittedSurvey %}
                                <i class="fa fa-check fa-5x" id="participatedSurvey" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-{{ object.Category_Code.Category_Icon }} fa-5x" id="participatedSurvey"
                                   aria-hidden="true"></i>
                            {% endif %}

                            <div class="title">
                                <h3>{{ object.Survey_Title|truncatechars:12 }}</h3>
                            </div>

                            <ul class="card_labels">
                                <li><label>Questions: {{ object.questions_count }}</label></li>
                                <li><label>Start date: {{ object.Start_Date }}</label></li>
                                <li><label>End date: {{ object.End_Date }}</label></li>
                            </ul>

                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}

        {% for object in object_list %}
            {% if object.End_Date|date:'y m d' < currentDate|date:'y m d' and object.Survey_Live == False %}
                <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-12 expire_survey " style="display: none;">
                    <a href=" {% url 'surveyinfo_detail' object.pk %}">
                        <div class="box-part text-center">
                            {% if object.id in submittedSurvey %}
                                <i class="fa fa-check fa-5x" id="participatedSurvey" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-{{ object.Category_Code.Category_Icon }} fa-5x" id="participatedSurvey"
                                   aria-hidden="true"></i>
                            {% endif %}

                            <div class="title">
                                <h3>{{ object.Survey_Title|truncatechars:12 }}</h3>
                            </div>

                            <ul class="card_labels">
                                <li><label>Questions: {{ object.questions_count }}</label></li>
                                <li><label>Start date: {{ object.Start_Date }}</label></li>
                                <li><label>End date: {{ object.End_Date }}</label></li>
                            </ul>

                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}

        {% for object in object_list %}
            {% if object.End_Date|date:'y m d' > currentDate|date:'y m d' and object.Survey_Live == True %}
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 live_survey " style="display: none;">
                    <a href=" {% url 'liveSurveyDetail' object.pk %}">
                        <div class="box-part text-center">
                            {% if object.id in submittedSurvey %}
                                <i class="fa fa-check fa-5x" id="participatedSurvey" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-{{ object.Category_Code.Category_Icon }} fa-5x" id="participatedSurvey"
                                   aria-hidden="true"></i>
                            {% endif %}

                            <div class="title">
                                <h3>{{ object.Survey_Title|truncatechars:12 }}</h3>
                            </div>

                            <ul class="card_labels">
                                <li><label>Questions: {{ object.questions_count }}</label></li>
                                <li><label>Start date: {{ object.Start_Date }}</label></li>
                                <li><label>End date: {{ object.End_Date }}</label></li>
                            </ul>

                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>

</div>

{#             </div>#}


<!-- ......................................Active section........................................ -->
{#<div class="active_survey ">#}
{#    {% for object in object_list %}#}
{#        {% if object.End_Date|date:'y m d' > currentDate|date:'y m d' and object.Survey_Live == False %}#}
{#    <div class="questionLists col-xs-12 col-sm-6 col-md-3 " id=" {{ object.id }}">#}
{#        <div class="card">#}
{#            <a href=" {% url 'surveyinfo_detail' object.pk %}">#}
{#                <div class="card-body">#}
{#                    <h2 class="card-title "><strong>{{ object.Survey_Title|truncatechars:12 }}</strong></h2>#}
{#                    <hr>#}
{#                    <ul class="card_labels">#}
{#                        <li><label>Questions: {{ object.questions_count }}</label></li>#}
{#                        <li><label>Start date: {{ object.Start_Date }}</label></li>#}
{#                        <li><label>End date: {{ object.End_Date }}</label></li>#}
{#                    </ul>#}
{#                </div>#}
{#            </a>#}
{#        </div>#}
{#    </div>#}
{##}
{#    {% endif %}#}
{#    {% endfor %}#}
{#</div>#}
{#<!-- ......................................Expire section.................................... -->#}
{#<div class="expire_survey " style="display: none;">#}
{#    {% for object in object_list %}#}
{#        {% if object.End_Date|date:'y m d' < currentDate|date:'y m d' and object.Survey_Live == False %}#}
{#    <div class="questionLists col-xs-12 col-sm-6 col-md-3 ">#}
{#        <div class="card">#}
{#            <a href=" {% url 'surveyinfo_detail' object.pk %}">#}
{#                <div class="card-body">#}
{#                    <h2 class="card-title "><strong>{{ object.Survey_Title|truncatechars:12 }}</strong>#}
{#                    </h2>#}
{#                    <hr>#}
{#                    <ul class="card_labels">#}
{#                        <li><label>Questions: {{ object.questions_count }} </label></li>#}
{#                        <li><label>Start date: {{ object.Start_Date }}</label></li>#}
{#                        <li><label>End date: {{ object.End_Date }}</label></li>#}
{#                    </ul>#}
{#                </div>#}
{#            </a>#}
{#        </div>#}
{#    </div>#}
{#    {% endif %}#}
{#    {% endfor %}#}
{##}
{#</div>#}
{##}
{#<!-- ......................................Live section.................................... -->#}
{#<div class="live_survey " style="display: none;">#}
{#    {% for object in object_list %}#}
{#        {% if object.End_Date|date:'y m d' > currentDate|date:'y m d' and object.Survey_Live == True %}#}
{#            <div class="questionLists col-xs-12 col-sm-6 col-md-3 ">#}
{#                <div class="card">#}
{#                    <a href=" {% url 'liveSurveyDetail' object.pk %}">#}
{#                        <div class="card-body">#}
{#                            <h2 class="card-title "><strong>{{ object.Survey_Title|truncatechars:12 }}</strong>#}
{#                            </h2>#}
{#                            <hr>#}
{#                            <ul class="card_labels">#}
{#                                <li><label>Questions: {{ object.questions_count }} </label></li>#}
{#                                <li><label>Start date: {{ object.Start_Date }}</label></li>#}
{#                                <li><label>End date: {{ object.End_Date }}</label></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#</div>#}


{% block customjss %}
    <script>
        $(document).ready(function categoryAddButton(categoryName) {
            // .................................................................................
            $(".mcq_question").on("click", function () {
                $("#mcq_que").show(100);
                $("#short_que").hide();
            });

            $(".short_question").on("click", function () {
                $("#short_que").show(100);
                $("#mcq_que").hide();
            });
        });

        // -----------------------------ACTIVE AND EPIRE -------------------------------------
        $("#ActiveButton").on("click", function () {
            $(".active_survey").show(200);
            //$(this).css('color', 'white');
            $(".expire_survey").hide();
            $(".live_survey").hide();
        });
        $("#ExpireButton").on("click", function () {
            $(".expire_survey").show(200);
            // $(this).css('color', 'white');
            $(".active_survey").hide();
            $(".live_survey").hide();
        });
        $("#LiveButton").on("click", function () {
            $(".live_survey").show(200);
            $(".expire_survey").hide();
            // $(this).css('color', 'white');
            $(".active_survey").hide();

        });

        $(document).ready(function () {
            var navListItems = $("div.setup-panel div a"),
                allWells = $(".setup-content"),
                allNextBtn = $(".nextBtn");

            allWells.hide();

            navListItems.click(function (e) {
                e.preventDefault();
                var $target = $($(this).attr("href")),
                    $item = $(this);

                if (!$item.hasClass("disabled")) {
                    navListItems.removeClass("btn-primary").addClass("btn-default");
                    $item.addClass("btn-primary");
                    allWells.hide();
                    $target.show();
                    $target.find("input:eq(0)").focus();
                }
            });

            allNextBtn.click(function () {
                var curStep = $(this).closest(".setup-content"),
                    curStepBtn = curStep.attr("id"),
                    nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]')
                        .parent()
                        .next()
                        .children("a"),
                    curInputs = curStep.find("input[type='text'],input[type='url']"),
                    isValid = true;

                $(".form-group").removeClass("has-error");
                for (var i = 0; i < curInputs.length; i++) {
                    if (!curInputs[i].validity.valid) {
                        isValid = false;
                        $(curInputs[i])
                            .closest(".form-group")
                            .addClass("has-error");
                    }
                }

                if (isValid) nextStepWizard.removeAttr("disabled").trigger("click");
            });

            $("div.setup-panel div a.btn-primary").trigger("click");
        });

    </script>
{% endblock %}