{#{% extends "base.html" %}#}
{% load static %}
{#{% block stylesheets %}#}
<link href="{% static 'build/css/studentCustom.css' %}" rel="stylesheet">
{#{% endblock stylesheets %}#}
{##}
{#{% block breadcrumb %}#}
{#  <li class="breadcrumb-item active" aria-current="page">Survey</li>#}
{#{% endblock %}#}
{% block content %}

    <div class="clearfix">

        <div id="mainSurveyPage">

            <div class="container">
                <div class="row">
                    <div id="surveyContainer">

                        <div class="col-md-3 col-sm-3 col-xs-12" style="z-index: 1;">
                            <div class="categoryContainer">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="card-title "><strong>Category</strong></h2>
                                        <hr>
                                        <div id="card_category">
                                            <h5 class="card-text active">
                                                <a href="#" class="category-name" id="0"><i
                                                        class="fa fa-bar-chart" id="categoryIcons"></i>All
                                                    survey</a>
                                            </h5>
                                            {% for category in categories %}
                                                <div class="row card-text">
                                                    <div class="col-md-8 ">
                                                        <a href="#" class="category-name" id=" {{ category.id }}"><i
                                                                class="fa fa-{{ category.Category_Icon }}"
                                                                id="categoryIcons"></i>
                                                            {{ category.Category_Name }}
                                                        </a>
                                                    </div>
                                                    <button class=" {{ category.Category_Name }} btn btn-success"
                                                            id="category_Add_Button{{ category.id }}" style="margin: 0;"
                                                            data-popup-open="popup-1">Add
                                                    </button>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="liveSurveyCreateButton">
                                <a href="{% if 'teachers' in request.path %} {% url 'teacherliveSurveyCreate' %} {% else %}{% url 'liveSurveyCreate' %}{% endif %} ">
                                    <button class="btn btn-success" id="liveSurveyBtn">Create Live survey</button>
                                </a>
                            </div>

                            <div class="popup" data-popup="popup-1">
                                <div class="popup-inner ">
                                    <article class="index-form">
                                        <div class="label_inputs">
                                            <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="x_panel">
                                                        <div class="x_content">
                                                            <br>
                                                            <div id="surveyForm">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9 col-sm-9 col-xs-12" style="z-index: 0;">
                            <div id="rowCards">
                                <div class="hR"></div>

                            </div>

                            <div class=" text-center">
                                {% if is_paginated %}
                                    <ul class="pagination">
                                        {% if page_obj.has_previous %}
                                            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                        {% else %}
                                            <li class="disabled"><span>&laquo;</span></li>
                                        {% endif %}
                                        {% for i in paginator.page_range %}
                                            {% if page_obj.number == i %}
                                                <li class="active">
                                                    <span>{{ i }} <span class="sr-only">(current)</span></span>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <a href="?page={{ i }}">{{ i }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                        {% else %}
                                            <li class="disabled"><span>&raquo;</span></li>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
