{% extends "base.html" %} {% load static %} {% block stylesheets %}
  <link href="{% static 'build/css/studentCustom.css' %}" rel="stylesheet"/>
{% endblock stylesheets %} {% block breadcrumb %}
  <li class="breadcrumb-item" aria-current="page">
    <a href="{% url 'surveyinfo_list' %}">Survey</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">{{ object.Survey_Title }}</li>
{% endblock %}
<style>

</style>
{% block content %}
  {% include 'survey/common/details.html' %}
{% endblock %}

{% block customjss %}
  {#  {% if object.Survey_Live %}#}

  <script>
      $(document).ready(function () {
          var current_progress = 0;
          var interval = setInterval(function () {
              if ($('#chk').prop('checked')) {

                  current_progress += 10;
                  $("#dynamic")
                      .css("width", current_progress + "%")
                      .attr("aria-valuenow", current_progress)
                      .text("Refreshing In :" + (10 - (current_progress / 10)));
              } else {
                  $("#dynamic").text("Paused");
              }

              if (current_progress >= 100) {
                  clearInterval(interval);
                  location.reload();
              }

          }, 1000);
      });

  </script>
  {#  {% endif %}#}
  <script>
      $('#retakeSurveyBtn').on('click', function () {

          $.ajax({
              type: "GET",
              data: {'category_name': "{{ object.Category_Code.Category_Name }}"},
              url: "{% url 'surveyinfo_retake_ajax' pk=object.id %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#surveyForm").html(data);
              },
              complete: function () {
                  $(".se-pre-con-ajax").fadeOut("fast");
              }
          });
      });
      $('#update_progress').on('click', function () {

          $.ajax({
              type: "GET",
              url: "{% url 'liveProgressResult' pk=object.id %}",  // URL to your view that serves new info
              success: function (data) {
                  console.log(data);
                  obj = JSON.parse(data);
                  console.log(obj);
                  console.log(obj[0]["fields"]);
                  console.log(obj[0].pk);
                  for (var i = 0; i < obj.length; i++) {
                      $("#progress" + obj[i].pk).css('width',  obj[i]["fields"]["Vote_Count"] + "%");
                      console.log($("#progress" + obj[i].pk).css('width'));
                      $("#progress_span" + obj[i].pk).html(obj[i]["fields"]["Vote_Count"] + "%");
                      console.log($("#progress_span" + obj[i].pk).html());
                      console.log(obj[i].pk)
                  }
              },


              complete: function () {
                  $(".se-pre-con-ajax").fadeOut("fast");
              }
          });
      });
  </script>

  <script>
      function survey_create_content(response) {
          //location.reload();
          console.log(response['url']);
          window.location.href = String(response['url']);
      }
  </script>

{% endblock %}