{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
  <link href="{% static 'build/css/studentCustom.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block breadcrumb %}
  <li class="breadcrumb-item active" aria-current="page">Survey</li>
{% endblock %}
{% block content %}
  {% include 'survey/surveyinfo_list.html' %}
{% endblock %}


{% block customjss %}

  {% for category in categories %}
    <script>
        $('#category_Add_Button{{ category.Category_Name }}').on('click', function () {
            $('.popup-inner').append('<div class="se-pre-con-ajax"></div>');
            $.ajax({
                type: "GET",
                data: {'category_name': '{{category.Category_Name}}'},
                url: "{% url 'surveyinfo_ajax' %}",  // URL to your view that serves new info
                success: function (data) {
                    $("#surveyForm").html(data);
                },
                complete: function () {
                    $(".se-pre-con-ajax").fadeOut("fast");
                }
            });
        });
    </script>

  {% endfor %}
  <script>
        $('#category_Add_Button_live').on('click', function () {
            $('.popup-inner').append('<div class="se-pre-con-ajax"></div>');
            $.ajax({
                type: "GET",
                data: {'category_name': 'live'},
                url: "{% url 'surveyinfo_ajax' %}",  // URL to your view that serves new info
                success: function (data) {
                    $("#surveyForm").html(data);
                },
                complete: function () {
                    $(".se-pre-con-ajax").fadeOut("fast");
                }
            });
        });
    </script>

  <script>

      $(document).ready(function () {

          $.ajax({
              type: "GET",
              data: {'category_name': "all_survey"},
              url: "{% url 'surveyFilterCategory' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#rowCards").html(data);
              },
              complete: function () {
                  $(".se-pre-con-ajax").fadeOut("fast");
              }
          });
      });

      $('.category-name').on('click', function () {
          var category_name = this.id;
          $.ajax({
              type: "GET",
              data: {'category_name': category_name},
              url: "{% url 'surveyFilterCategory' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#rowCards").html(data);
              },
              complete: function () {
                  $(".se-pre-con-ajax").fadeOut("fast");
              }
          });
      });


  </script>
{% endblock %}