{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block stylesheets %}
  <link href="{% static 'build/css/studentCustom.css' %}" rel="stylesheet">
  <style>
    ul,ol{
        list-style: none;
    }
  </style>
{% endblock stylesheets %}

{% block breadcrumb %}
  <li class="breadcrumb-item active" aria-current="page">{% trans 'Survey' %}</li>
{% endblock %}
{% block content %}
  {% include 'survey/surveyinfo_list.html' %}
{% endblock %}


{% block customjss %}

  {% for category in categories %}
    <script>
        $('#category_Add_Button{{ category.Category_Name }}').on('click', function () {
            $('#surveyForm').append('<div class="se-pre-con-ajax"></div>');
            $.ajax({
                type: "GET",
                data: {'category_name': '{{category.Category_Name}}'},
                url: "{% url 'surveyinfo_ajax' %}",  // URL to your view that serves new info
                success: function (data) {
                    $("#surveyForm").html(data);
                },
                complete: function () {
                    $(".se-pre-con-ajax").fadeOut("fast");
                }
            });
        });
    </script>

  {% endfor %}
  <script>
      $('#category_Add_Button_live').on('click', function () {
          $('#surveyForm').append('<div class="se-pre-con-ajax"></div>');
          $.ajax({
              type: "GET",
              data: {'category_name': 'live'},
              url: "{% url 'surveyinfo_ajax' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#surveyForm").html(data);
              },
              complete: function () {
                  $(".se-pre-con-ajax").fadeOut("fast");
              }
          });
      });
  </script>

  <script>

      $(document).ready(function () {

          $.ajax({
              type: "GET",
              data: {
                  'category_name': "all_survey",
                  'date_filter': $("input[name='survey_filter_radio']:checked").val(),
              },
              url: "{% url 'surveyFilterCategory' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#rowCards").html(data);
              },
              complete: function () {
                  $(".se-pre-con-ajax").fadeOut("fast");
              }
          });
      });

      $('.category-name').on('click', function () {
          var category_name = this.id;
          $.ajax({
              type: "GET",
              data: {
                  'category_name': category_name,
                  'date_filter': $("input[name='survey_filter_radio']:checked").val(),
              },
              url: "{% url 'surveyFilterCategory' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#rowCards").html(data);
              },
              complete: function () {
                  $(".se-pre-con-ajax").fadeOut("fast");
              }
          });
      });

      // -----------------------------ACTIVE AND EPIRE -------------------------------------
      $("#ActiveButton").on("click", function () {
          var category_name = $(".card-text.active .category-name").attr('id');
          $.ajax({
              type: "GET",
              data: {
                  'category_name': category_name,
                  'date_filter': 'active',
              },
              url: "{% url 'surveyFilterCategory' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#rowCards").html(data);
              },
              complete: function () {
                  $(".se-pre-con-ajax").fadeOut("fast");
              }
          });
      });
      $("#ExpireButton").on("click", function () {
         var category_name = $(".card-text.active .category-name").attr('id');
          $.ajax({
              type: "GET",
              data: {
                  'category_name': category_name,
                  'date_filter': 'expire',
              },
              url: "{% url 'surveyFilterCategory' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#rowCards").html(data);
              },
              complete: function () {
                  $(".se-pre-con-ajax").fadeOut("fast");
              }
          });
      });
      $("#LiveButton").on("click", function () {
          var category_name = $(".card-text.active .category-name").attr('id');
          $.ajax({
              type: "GET",
              data: {
                  'category_name': category_name,
                  'date_filter': 'live',
              },
              url: "{% url 'surveyFilterCategory' %}",  // URL to your view that serves new info
              success: function (data) {
                  $("#rowCards").html(data);
              },
              complete: function () {
                  $(".se-pre-con-ajax").fadeOut("fast");
              }
          });
      });


  </script>
  <script>
      function survey_create_content(response) {
          //location.reload();
          console.log(response['url']);
          window.location.href = String(response['url']);
      }

    // Survey import Script
    $(".button-info").click(function () {
        $("ul.info-text").toggle();
    });

    $('#form_import_csv').submit(function (e) {
        e.preventDefault();
        var formData = new FormData($('form').get(0));
        // csrf = $('#csrfmiddlewaretoken').get(0).files[0];
        csrf = $('input[name="csrfmiddlewaretoken"]').attr('value');
        formData.append("csrfmiddlewaretoken", csrf);
        if ($('#id_import_csv').val()) {
            $('#submitspinner').html(`<i class="fa fa-spinner fa-spin"></i> `);
            $('#submitcsv').attr('disabled', true);
            $('.closeImportCSV').attr('disabled', true);
            $.ajax({
                type: "POST",
                url: "{% url 'csv_import_survey' %}",  // URL to your view that serves new info
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                success: function (response) {
                    $('.import-message').addClass(response.class);
                    $('.import-message').removeClass(response.rmclass);
                    $('.import-message').html(response.message);
                },
                error: function (e) {
                    $('.import-message').addClass('text-danger');
                    $('.import-message').removeClass('text-sucess');
                    $('.import-message').html("Error while processing data please try again and verify the format.",e);
                },
                complete: function () {
                    $('#submitspinner').html(``);
                    $('#submitcsv').attr('disabled', false);
                    $('.closeImportCSV').attr('disabled', false);
                }
            });
        } else {
            $('.import-message').addClass('text-danger');
            $('.import-message').html("Please upload a csv file with defined format.");
        }
    });

  </script>
{% endblock %}