{% load static %}
{# <script src="https://player.vimeo.com/api/player.js"></script> #}

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" id="create_assignment_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="height: 90vh;   overflow-y: scroll;">
            <div class="modal-header text-center">
                <h4 class="modal-title" id="exampleModalLabel"><b>Create New Assignment</b>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </div>
            <input type="hidden" name="today_date" id="id_today_date" value="{{ datetime|date:"Y-m-d" }}"
                   class="select form-control">
            <div class="modal-body modal-auto" id="create_assignment_modal_body">
            </div>
        </div>
    </div>
</div>


<div class="outerDiv">
    {% include 'WebApp/theme/alerts.html' %}
    <div class="col-md-6 col-sm-12 col xs-12">

        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <h2 class="detailListHeader">Chapter {{ object.Chapter_No }}
                : {{ object.Chapter_Name }} </h2>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 text-center" id="buttons">
            <!-- <a class="btn-sm btn-info" href="#" id="course-viewer" data-toggle="modal"
                data-target="#course-modal">
                Content Viewer &nbsp;
            </a> -->
            <a class="btn-sm btn-info" href="
                {% if '/teachers' in request.path %}
                    {% url 'teacher_contentviewer' object.Course_Code.pk object.pk %}
                {% elif '/students' in request.path %}
                    {% url 'student_contentviewer' object.Course_Code.pk object.pk %}
                {% else %}
                    {% url 'contentviewer' object.Course_Code.pk object.pk %}
                {% endif %}" id="course-viewer" target="_self">
                <i class="fa fa-laptop"></i> Content Viewer &nbsp;
            </a>

            {% if '/students' not in request.path %}
                {% if '/teachers' in request.path %}
                    <a class="btn-sm btn-success"
                       href="{% url 'teachers_chapterpagebuilder' object.Course_Code.id object.id %}"> <i
                            class="fa fa-pencil"></i> Content
                        Builder
                        &nbsp;</a>
                {% else %}
                    <a class="btn-sm btn-success"
                       href="{% url 'chapterpagebuilder' object.Course_Code.id object.id %}"> <i
                            class="fa fa-pencil"></i> Content
                        Builder &nbsp;</a>
                {% endif %}
            {% endif %}

        </div>

        {% if '/students' not in request.path %}

            <div id="edit-delete" class="col-md-12 col-sm-12 col-xs-12">
                <br>
                <a style="margin-top:5px;margin-right: 15px;" href="{% if '/teachers' in request.path %}
        /teachers{{ object.get_update_url }}
    {% else %}
        {{ object.get_update_url }}
    {% endif %}"><b><u>Edit Chapter</u></b></a>
                <span>
                    <a id="{{ object.pk }}" class="chapter-confirm-delete"
                       style="color: rgb(255, 0, 0);cursor:pointer;float: right;margin-right: 60px;">Delete</a>
                </span>
                <form method="post" action="{% url 'chapterinfo_delete' pk=object.pk %}"
                      id="deleteChapter{{ object.pk }}">
                    {% csrf_token %}
                    <!-- <input type="hidden" value="{{questions.pk}}" name="question_id"> -->
                    <input type="hidden" value="{{ object.pk }}" name="chapter_id">
                    <input type="hidden" value="{{ object.Course_Code.id }}" name="course_id">
                </form>
            </div>
        {% endif %}
        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px;">

            <table class="table" style="margin-left: 0 ">
                <tr>
                    <td>Summary</td>
                    <td>{{ object.Summary }}</td>
                </tr>

                <tr>
                    <td>Status</td>
                    <td>{% if object.Use_Flag is True %}<span style="color:green"> <b>Active</b>
                        </span>{% elif object.Use_Flag is False %}
                        <span class="text-danger"><b>Inactive</b></span>{% endif %}</td>
                </tr>
                <tr>
                    <td>Start Date</td>
                    <td>{{ object.Start_Date|date:"d M, Y" }}</td>
                </tr>
                <tr>
                    <td>End Date</td>
                    <td>{{ object.End_Date|date:"d M, Y" }}</td>
                </tr>

                <tr>
                    <td>Register Agent</td>
                    <td>{{ object.Register_Agent }}</td>
                </tr>

                <tr>
                    <td>Course Code</td>
                    <td>{{ object.Course_Code }}</td>
                </tr>

                <!-- Pre Quiz Start -->
                <tr>
                    <td>Pre Test Quiz</td>
                    {% if 'students' in request.path %}
                        <td>
                            {% for pre_quiz in pre_quizes %}
                                <div class="col-md-9">
                                    <span> {{ pre_quiz.title }} </span>
                                </div>
                                <div class="col-md-3">
                                    <a href="{% url 'quiz_question' quiz_name=pre_quiz.url %}">
                                        <button id="feedbackbtn-quiz{{ pre_quiz.id }}" type="button"
                                                class=" qts-button " data-toggle="modal" data-target="#quizmodal">
                                            Play Quiz
                                        </button>
                                    </a>
                                </div>
                            {% empty %}
                                <p>No pre quiz</p>
                            {% endfor %}
                        </td>
                    {% else %}
                        <td width="60%">
                            {% for pre_quiz in pre_quizes %}
                                <form method="post" action="{% url 'change_quiz_test' %}" class="pre_test_change"
                                      id="radiobtn{{ pre_quiz.id }}">
                                    {% csrf_token %}
                                    <a target="_blank" href="
                          {% if 'teachers' in request.path %}
                            {% url 'teacher_quiz_detail' pre_quiz.id %}
                          {% else %}
                            {% url 'quiz_detail' pre_quiz.id %}
                          {% endif %}
                        ">{{ pre_quiz.title }} </a><br>
                                    <div class="btn-group" id="status" data-toggle="buttons">
                                        <label class="btn btn-default btn-on-3 btn-sm {% if pre_quiz.draft == False %}active{% endif %}"
                                               id="ActiveButton">
                                            <input type="radio" value="1" name="pre-test-radio" id="id_pre-test-radio"
                                                   {% if pre_quiz.draft == False %}checked{% endif %}>ON
                                        </label>
                                        <label class="btn btn-default btn-off-3 btn-sm {% if pre_quiz.draft == True %}active{% endif %}"
                                               id="ExpireButton">
                                            <input type="radio" value="0" name="pre-test-radio"
                                                   {% if pre_quiz.draft == True %}checked{% endif %}>OFF
                                        </label>
                                    </div>
                                    <input type="hidden" name="quiz_id" value="{{ pre_quiz.id }}">
                                </form>
                            {% empty %}
                                No pre quiz, Add new by clicking +
                            {% endfor %}
                        </td>
                        <td width="20%">
                            <button type="button" class="btn qts-button" id="pre_test_popup" data-toggle="modal"
                                    data-target="#quiz_create_popup">
                                <i class="fa fa-plus"></i>
                            </button>
                        </td>
                    {% endif %}

                </tr>
                <!--Pre Quiz End  -->

                <!-- Post Quiz Start -->
                <tr>
                    <td> Post Test Quiz</td>
                    {% if 'students' in request.path %}
                        <td>
                            {% for post_quiz in post_quizes %}
                                <div class="col-md-6">
                                    <span> {{ post_quiz.title }} </span>
                                </div>
                                <div class="col-md-6">
                                    <a href="{% url 'quiz_question' quiz_name=post_quiz.url %}">
                                        <button id="feedbackbtn-quiz{{ post_quiz.id }}" type="button"
                                                class=" qts-button " data-toggle="modal" data-target="#quizmodal">Play
                                            Quiz
                                        </button>
                                    </a>
                                </div>
                            {% empty %}
                                <p>No post quiz</p>
                            {% endfor %}
                        </td>
                    {% else %}
                        <td width="60%">
                            {% for post_quiz in post_quizes %}
                                <form method="post" action="{% url 'change_quiz_test' %}" class="post_test_change"
                                      id="radiobtn{{ post_quiz.id }}">
                                    {% csrf_token %}
                                    <a href="/quiz/detail/{{ post_quiz.id }}">{{ post_quiz.title }} </a><br>
                                    <div class="btn-group" id="status2" data-toggle="buttons">
                                        <label class="btn btn-default btn-on-3 btn-sm {% if post_quiz.draft == False %}active{% endif %}"
                                               id="ActiveButton">
                                            <input type="radio" value="1" name="post-test-radio" id="id_post-test-radio"
                                                   {% if post_quiz.draft == False %}checked{% endif %}>ON
                                        </label>
                                        <label class="btn btn-default btn-off-3 btn-sm {% if post_quiz.draft == True %}active{% endif %}"
                                               id="ExpireButton">
                                            <input type="radio" value="0" name="post-test-radio"
                                                   {% if post_quiz.draft == True %}checked{% endif %}>OFF
                                        </label>
                                    </div>
                                    <input type="hidden" name="quiz_id" value="{{ post_quiz.id }}">
                                </form>
                            {% empty %}
                                No post quiz, Add new by clicking +
                            {% endfor %}
                        </td>
                        <td width="20%">
                            <button type="button" class="btn qts-button" id="post_test_popup" data-toggle="modal"
                                    data-target="#quiz_create_popup">
                                <i class="fa fa-plus"></i>
                            </button>
                        </td>
                    {% endif %}
        </div>

        </tr>
        <!-- Post Quiz End -->

        </table>

    </div>
</div>

<div class="col-md-6 col-sm-12 xol-xs-12">

    <div class="col-md-12 col-sm-12 col-xs-12 ">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <h2 class="detailListHeader">Assignments</h2>
        </div>

        {% if '/students' not in request.path %}
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <button type="button" class="btn-sm btn-success" data-toggle="modal" data-target="#exampleModal1"
                        id="add-newassignment-btn">
                    Create New Assignment
                </button>
            </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <hr class="header_hr">
        {% if object.Use_Flag is False %}
            <p style="color:red">Note: Chapter is inactive, therefore assignments are not assigned to students.</p>
        {% endif %}
        {% for o in assignments %}
            <div class="col-md-12 col-sm-12 col-xs-12 leftborder" style="margin-bottom: 5px;">
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <h5 style="padding-top: 3px; color: #000000"> Assignment No: {{ forloop.counter }}
                        {% now "Y-m-d" as todays_date %}
                        {% if o.Use_Flag == False %}
                            <span class="text-danger"><b>[Inactive]</b></span>
                        {% endif %}
                    </h5>
                    <h5>
                        <b style="color: #000000">{{ o.Assignment_Topic }}</b>
                    </h5>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <a href="{% if '/students' in request.path %}
                                {{ o.student_get_absolute_url }}
                            {% elif '/teachers' in request.path %}
                                {{ o.teacher_get_absolute_url }}
                            {% else %}
                               {{ o.get_absolute_url }}
                            {% endif %}">
                        <button type="button" style="float: right;width:100px;height:25px;border: 1px solid #017a9b;color:#017a9b;background-color: white;border-radius: 4px;
                                margin-top: 20px;margin-bottom: 10px;">CONTINUE <i class="fa fa-arrow-right"></i>
                        </button>
                    </a>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <hr style="margin-top: 1px; margin-bottom: 10px;">
                    <p>Start Date - {{ o.Assignment_Start }}</p>
                    <p>Submission Deadline - {{ o.Assignment_Deadline }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade custom-modal" id="quizmodal" role="dialog">
    <div class="modal-dialog"
         style="margin:0px!important; width:100%!important; padding:0px!important;height:100%!important">


        <!-- Modal content-->
        <div class="modal-content" style="height:100%">ur
            <div class="modal-header">
                <div class="col-md-12">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <a data-toggle="tooltip" data-placement="right" title="" onclick="toggleFullScreen()"
                       data-original-title="FullScreen" style="float:right ; padding-right:20px">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>

                </div>

                <h4 class="modal-title ">Quiz </h4>

            </div>
            <div class="modal-body" id="quizmodalbody">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">

            </div>


        </div>
    </div>

</div>

<div id="quiz_create_popup" class="modal fade">
    <div class="modal-dialog" style="width: 80%;">
        <div class="modal-content" style="    height: 90vh;    overflow: auto;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Quiz</h4>
            </div>
            <div class="modal-body modal-auto" id="quiz_form_ajax" style="    padding: 10%;">
                <img src="/static/images/uLMS2019_Loading_SVG.svg" alt="">

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div id="question_form_popup" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="overflow-y: scroll;">
            <div class="modal-header">
                <button type="button" class="close" id="qn_close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="question_model_title">Add Question</h4>
            </div>
            <div class="modal-body" id="question_form_ajax">
                <img src="/static/images/uLMS2019_Loading_SVG.svg" alt="">

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

{% block customjss %}

    <script src="{% static 'vendorsx/jquery/dist/jquery.min.js' %}"></script>
    <script>
        $(document).on('click', '.chapter-confirm-delete', function () {
            ans = confirm('Are you sure you want to delete this Chapter?');
            if (ans == true) {
                $(`#deleteChapter${this.id}`).submit();
            } else {
                return false;
            }
        });
    </script>
    <script>
        let params = new URLSearchParams(location.search);
        $(document).ready(function () {


            if (params.get('ifquiz')) {
                $('.left_col, .top_nav , .breadcrumb  , .detailListHeader , #buttons , #add-newassignment-btn , .header_hr , #edit-delete , #footerText').remove();
                $('#pre_test_popup').click();

            }
            params.get('ifquiz')
        });


    </script>

    <script>
        {% for quiz in pre_quizes %}
            $('#feedbackbtn-quiz{{ quiz.id }}').click(function () {
                $('#quizmodalbody').html(`<iframe style="height: 90vh; width: 100%"
        src="/quiz/{{ quiz.url }}/take/"
        frameborder="0px"></iframe>`);
            })

        {% endfor %}
    </script>

    <script>


        $(document).ready(function () {
            $('.pre_test_change').change(function () {
                // console.log(this.id);
                // console.log($('#radio-buttons input[name=pre-test-radio]:checked').val());
                $.ajax({
                    url: "{% url 'change_quiz_test' %}", // URL to your view that serves new info
                    data: $(this).serialize(), // get the form data
                    type: $(this).attr('method'), // GET or POST
                    success: function (response) {
                        console.log('posted form');
                    },
                    error: function () {
                        console.log('Error in posting form');
                    }
                });

            });
            $('.post_test_change').change(function () {
                // console.log($('#radio-buttons1 input[name=post-test-radio]:checked').val());
                $.ajax({
                    url: "{% url 'change_quiz_test' %}", // URL to your view that serves new info
                    data: $(this).serialize(), // get the form data
                    type: $(this).attr('method'), // GET or POST
                    success: function (response) {
                        console.log('posted form');
                    },
                    error: function () {
                        console.log('Error in posting form');
                    }
                });
            });
        });


        $('#course-viewer').click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: "{% url 'chapterviewer' %}",  // URL to your view that serves new info
                data: {
                    'chapterID': '{{ object.id }}'
                },
                success: function (response) {
                    if (response.data == "0") {
                        alert("There are no contents available in this chapter.");
                        return
                    }
                    window.open($('#course-viewer').attr('href'), '_self');
                },
                error: function () {
                    console.log('Error in getting chapters')
                }
            });
        });
    </script>


    <script src=" {% static 'vendorsx/jQuery-Smart-Wizard/js/jquery.smartWizard.js' %}"></script>
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        });

        $('#add-newassignment-btn').on('click', function () {
            $('#create_assignment_modal_body').empty();
            $('#create_assignment_modal_body').append(
                `<input type="hidden" name="Course_Code" id="id_Course_Code" value="{{ object.Course_Code.id }}"
               class="select form-control">
            <input type="hidden" name="Chapter_Code" id="id_Chapter_Code" value="{{ object.id }}"
               class="select form-control">`
            )

            $.ajax({
                type: "GET",
                url: "{% url 'assignmentinfo_create_ajax' %}",  // URL to your view that serves new info
                success: function (response) {
                    $('#create_assignment_modal_body').append(response);
                    $('#id_Assignment_Deadline').attr('min', '{{datetime|date:"Y-m-d"}}');
                    Switchery(document.querySelector('.js-switch'));
                },
                error: function () {
                    console.log('Error in generating assignment create form')
                },
                complete: function () {
                    $(".se-pre-con-ajax").fadeOut("fast");
                }
            });
        });
    </script>

    <script>
        $('#pre_test_popup').on('click', function () {
            $.ajax({
                type: "GET",
                data: {
                    'course_id': '{{ object.Course_Code.id }}',
                    'chapter_id': {{ object.id }},
                    'test_type': 'pre_test',
                },
                url: "{% url 'quiz_create_ajax'%}",  // URL to your view that serves new info
                success: function (data) {
                    $("#quiz_form_ajax").html(data);
                }
            });
        });
        $('#post_test_popup').on('click', function () {
            $.ajax({
                type: "GET",
                data: {
                    'course_id': '{{ object.Course_Code.id }}',
                    'chapter_id': {{ object.id }},
                    'test_type': 'post_test',
                },
                url: "{% url 'quiz_create_ajax'%}",  // URL to your view that serves new info
                success: function (data) {
                    $("#quiz_form_ajax").html(data);
                }
            });
        });
        $('#qn_close').on("click", function () {
            $("#quiz_create_popup").modal("show");
        });

        function quiz_create_content(response) {
            console.log(response['url']);
            console.log(response['teacher_url']);
            console.log(response['student_url']);
            location.reload();
        }
    </script>
{% endblock %}