{% load static %}
{% load i18n %}
{% load model_template_relation %}
{% load comment_tags %}

{# Loading the template tag #}

<style>
    .custom-table-width {
        max-width: 40%;

    }

    .date-width {
        max-width: 25%
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .custom-table-width {
            max-width: 38%;
        }

        .date-width {
            max-width: 30%
        }

    }
</style>


<div class="modal fade" id="create_assignment_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold" id="create_assignment_modal_title">
                    {% trans "Create Assignment" %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body" id="create_assignment_modal_body">
            </div>
        </div>
    </div>
</div>

<div class="modal fade custom-modal" id="quizmodal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content" style="height:100%">ur
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold">
                    {% trans 'Quiz' %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
                <a data-toggle="tooltip" data-placement="right" title="" onclick="toggleFullScreen()"
                    data-original-title="FullScreen" style="float:right ; padding-right:20px">
                    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                </a>

            </div>
            <div class="modal-body" id="quizmodalbody">
                <p>{% trans 'Some text in the modal' %}.</p>
            </div>
        </div>
    </div>
</div>

<div id="quiz_create_popup" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold">
                    {% trans 'Create Quiz' %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body modal-auto" id="quiz_form_ajax">
                <img src="/static/images/uLMS2019_Loading_SVG.svg" alt="">
            </div>
        </div>
    </div>
</div>

<div id="question_form_popup" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold">
                    {% trans 'Add Question' %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body" id="question_form_ajax">
                <img src="/static/images/uLMS2019_Loading_SVG.svg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-md-12">
        <div class="text-center">
            <div class="page-title">
                <h2 class="text-primary">{% trans "Chapter Information" %}</h2>
            </div>
        </div>
        <hr/>
        <div class="row mb-3">
            <div class="col-lg-5 col-md-12 col-sm-12 text-center">
                <div class="card p-3 card-scroll" style="min-height: 40em;">
                    <div class="text-center mb-3">
                        <h3 class="text-primary">Chapter {{ object.Chapter_No }} . {{ object.Chapter_Name }}</h3>
                    </div>
                    <div class="mb-4">
                        <a class="btn btn-info text-white" href="
                                        {% if '/teachers' in request.path %}
                                            {% url 'teacher_NewContentViewer' object.Course_Code.pk object.pk %}
                                        {% elif '/students' in request.path %}
                                            {% url 'student_NewContentViewer' object.Course_Code.pk object.pk %}
                                        {% else %}
                                            {% url 'NewContentViewer' object.Course_Code.pk object.pk %}
                                        {% endif %}" id="course-viewer" target="_self"><i class="fa fa-laptop"></i>
                            {% trans "Content Viewer" %}</a>
                        &nbsp;
                        {% if '/students' not in request.path %}
                        {% if '/teachers' in request.path %}
                        <a class="btn btn-success text-white" href="{% url 'teachers_newChapterBuilder' object.Course_Code.id object.id %}">
                            <i class="fa fa-pencil"></i>
                            {% trans "Content Builder" %}
                            &nbsp;</a>
                        {% else %}
                        <a class="btn btn-success text-white" href="{% url 'newChapterBuilder' object.Course_Code.id object.id %}">
                            <i class="fa fa-pencil"></i>
                            {% trans "Content Builder" %} &nbsp;</a>
                        {% endif %}
                        {% endif %}
                    </div>
                    <p class="m-0 truncatedDescription d-block">
                        {{ object.Summary|truncatechars:170 }}
                    </p>
                    <p class="m-0 fullDescription d-none">
                        {{ object.Summary }}
                    </p>
                    <div class="text-center mt-1">
                        {% if object.Summary|length > 170 %}
                        <span class="info-text text-info cursor-pointer text-center">{% trans "Read More" %} </span>
                        {% endif %}
                        {% if not object.Summary %}
                        {% trans "No description" %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="card card-scroll" style="height: 40em; overflow-y :scroll">
                    <div class="d-flex justify-content-between align-items-center p-3">
                        <h4 class="text-primary m-0">{% trans "List of Assignments" %}</h4>
                        {% if '/students' not in request.path %}
                        <div>
                            <button class="btn btn-sm btn-success" data-z="1" data-toggle="modal" data-target="#create_assignment_modal"
                                data-animated id="add-newassignment-btn">
                                {% trans "Create New Assignment" %}
                            </button>
                        </div>
                        {% endif %}
                    </div>
                    <!--<h4 class="text-primary px-3 pt-3">{% trans "List of Assignments" %}</h4>-->
                    {% if object.Use_Flag is False %}
                    <p class="text-danger px-3">{% trans "Note" %} :
                        {% trans "Chapter is inactive, therefore assignments are not assigned to students" %}.
                    </p>
                    {% endif %}
                    <div>
                        {% for assignment in assignments %}
                        <div class="accordion" id="assignmentList{{assignment.pk}}">
                            <div class="card shadow-none border">
                                <div class="card-header justify-content-between" id="headingOne">
                                    <div class="d-flex align-items-center">
                                        <figure class="avatar avatar-sm">
                                            <span class="avatar-title rounded-circle"> {{ forloop.counter }}</span>
                                        </figure>
                                        <h5 data-toggle="collapse" data-target="#assignment{{assignment.pk}}" aria-expanded="true"
                                            aria-controls="collapseOne" class="text-secondary m-0 pl-3 cursor-pointer">
                                            {{ assignment.Assignment_Topic }}
                                        </h5>
                                    </div>
                                    <a class="btn btn-sm btn-outline-info" type="button" href="
                                                                                        {% if '/students' in request.path %}
                                                                                            {{ assignment.student_get_absolute_url }}
                                                                                        {% elif '/teachers' in request.path %}
                                                                                            {{ assignment.teacher_get_absolute_url }}
                                                                                        {% else %}
                                                                                           {{ assignment.get_absolute_url }}
                                                                                        {% endif %}">
                                        {% trans "Continue" %} <i class="fa fa-arrow-right ml-2"></i>
                                    </a>
                                </div>
                                <div id="assignment{{assignment.pk}}" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#assignmentList{{assignment.pk}}">
                                    <div class="p-3">
                                        <p class="m-0">{% trans "Start Date" %} - {{ assignment.Assignment_Start }}</p>
                                        <p class="m-0">{% trans "Submission Deadline" %} -
                                            {{ assignment.Assignment_Deadline }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="px-4 pt-4">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5 class="text-primary">{% trans "Course Code" %} : {{ object.Course_Code }}</h5>
                    {% if '/student' not in request.get_full_path %}
                    <div class="d-inline-block dropdown">
                        <a href="javascript:void(0)" class="btn btn-outline-light btn-floating btn-sm" data-toggle="dropdown">
                            <i class="ti-more-alt"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item text-primary" data-z="1" data-animated href="{% if '/teachers' in request.path %}
                                            /teachers{{ object.get_update_url }}
                                            {% else %}
                                                {{ object.get_update_url }}
                                            {% endif %}">
                                {% trans "Edit Chapter" %}
                            </a>
                            <a href="javascript:void(0)" class="dropdown-item text-danger chapter-confirm-delete" id="{{ object.pk }}">
                                {% trans "Delete Chapter" %}
                            </a>
                            <form method="post" action="{% url 'chapterinfo_delete' pk=object.pk %}" id="deleteChapter{{ object.pk }}">
                                {% csrf_token %}
                                <!-- <input type="hidden" value="{{questions.pk}}" name="question_id"> -->
                                <input type="hidden" value="{{ object.pk }}" name="chapter_id">
                                <input type="hidden" value="{{ object.Course_Code.id }}" name="course_id">
                            </form>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% if '/students' not in request.path %}
                <p>
                    {% trans "Status" %} : &nbsp;
                    {% if object.Use_Flag is True %}
                    <span class="badge badge-success">{% trans "Published" %}</span>
                    {% elif object.Use_Flag is False %}
                    <span class="badge badge-danger">{% trans "Not Published" %}</span>
                    {% endif %}
                </p>
                {% endif %}
                <p>
                    {% trans "Chapter Time" %} : {{ object.mustreadtime }} {% trans "minutes" %}
                </p>
                <p>
                    {% trans "Register Agent" %} : {{ object.Register_Agent }}
                </p>
                <p>
                    {% trans "Discussion" %} : &nbsp;
                    {% if object.is_commentable %}
                    <span class="badge badge-success">{% trans 'Active' %}</span>
                    {% else %}
                    <span class="badge badge-danger">{% trans 'Inactive' %}</span>
                    {% endif %}
                </p>
            </div>
         
        </div>
        {% if assigned_session %}
        <div class="card">
            <table class="table table-striped mb-1">
                <tr>
                    <th class="custom-table-width border-top-0">{% trans 'Session' %}</th>
                    <th class="date-width border-top-0">{% trans 'Start Date' %}</th>
                    <th class="date-width border-top-0">{% trans 'End Date' %}</th>
                    <th class="border-top-0">{% trans 'Chapter Status' %}</th>
                    {% if '/students' not in request.path %}
                    <th class="border-top-0">{% trans 'Action' %}</th>
                    {% endif %}
                </tr>
                {% for sessions in assigned_session %}
                <tr>
                    <td class="custom-table-width border-bottom">
                        {{ sessions }}
                        {% if '/students' not in request.path and '/teachers' not in request.path %}
                        {% if sessions.is_active %}
                        <span class="text-success"> <b style="text-transform: uppercase; font-size:14px">
                            [{% trans 'Active' %}]</b> </span>
                        {% else %}
                        <span class="text-danger"><b style="text-transform: uppercase; font-size:14px">
                            [{% trans 'Inactive'%}]</b></span>
                        {% endif %}
                        {% endif %}
                    </td>
                    {% getSessionMap object 'chapterinfo' sessions as sessionmap %}
                    {# {% for sessionmap in object.chapter_sessionmaps.all %}#}
                    {# {% if sessionmap.Session_Code == sessions %}#}
                    <td class="start-date dateconFullMonth date-width border-bottom">{{ sessionmap.0.Start_Date|date:"d M, Y h:i A" }}</td>
                    <td class="end-date dateconFullMonth date-width border-bottom">{{ sessionmap.0.End_Date|date:"d M, Y h:i A" }}</td>
                    <td class="border-bottom">
                        {% now "Y-m-d H:i" as todays_datewithtime %}
                        {% if sessionmap.0.Start_Date and todays_datewithtime < sessionmap.0.Start_Date|date:"Y-m-d H:i" %}
                            <span class="badge badge-info">{% trans 'Upcoming' %}</span>
                            {% elif sessionmap.0.End_Date and todays_datewithtime > sessionmap.0.End_Date|date:"Y-m-d H:i" %}
                            <span class="badge badge-danger">{% trans 'Expired' %}</span>
                            {% else %}
                            <span class="badge badge-success">{% trans 'Active' %}</span>
                            {% endif %}
                    </td>
                    {# {% endif %}#}
                    {# {% endfor %}#}
                    {% if '/students' not in request.path %}
                    <td class="border-bottom">
                        <button type="button" class="btn btn-sm btn-primary inningmap-btn" data-toggle="modal"
                            data-target="#inningmap_form_modal" data-sessionid="{{ sessions.id }}"
                            data-objectid="{{ object.id }}">
                            {% trans 'Change' %}
                        </button>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                <!-- End Of start/end date -->
                <!-- <tr>
                    <td class="border-top-0">
                        {% trans 'Discussion' %}
                    </td>
                    <td class="border-top-0" colspan="4">
                        {% if object.is_commentable %}
                        <span class="badge badge-success">{% trans 'Active' %}</span>
                        {% else %}
                        <span class="badge badge-danger">{% trans 'Inactive' %}</span>
                        {% endif %}
                    </td>
                </tr> -->
            </table>
        </div>
        {% endif %}
        <div class="card">
            <div class="px-4 pt-4">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5 class="text-primary">{% trans 'Pre Test Quiz' %}</h5>
                    {% if not "students" in request.get_full_path %}
                    <button type="button" class="btn btn-primary btn-sm qts-button" id="pre_test_popup" data-toggle="modal"
                        data-target="#quiz_create_popup">
                        <i class="fa fa-plus"></i>
                    </button>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-between mb-3">
                    {% if 'students' in request.path %}
                    {% for pre_quiz in pre_quizes %}
                    <div> {{ pre_quiz.title }} </div>
                    {% getUserQuizStatus pre_quiz.sitting_set.all user as student_quiz_status %}
                    {% if student_quiz_status.isExist and student_quiz_status.isComplete %}
                    {% if pre_quiz.single_attempt %}
                    <span class="text-success font-weight-bold">{% trans 'Completed' %}</span>
                    {% else %}
                    <a href="{% url 'quiz_question' quiz_name=pre_quiz.url %}">
                        <button id="feedbackbtn-quiz{{ pre_quiz.id }}" type="button" class="qts-button "
                            data-toggle="modal" data-target="#quizmodal" style="background-color: #65f665">
                            {% trans 'Play Again' %}
                        </button>
                    </a>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'quiz_question' quiz_name=pre_quiz.url %}">
                        <button id="feedbackbtn-quiz{{ pre_quiz.id }}" type="button" class="qts-button "
                            data-toggle="modal" data-target="#quizmodal">
                            {% trans 'Play Quiz' %}
                        </button>
                    </a>
                    {% endif %}
                    {% empty %}
                    <p>{% trans 'No Pre Quiz' %}</p>
                    {% endfor %}
                    {% else %}
                    {% for pre_quiz in pre_quizes %}
                    <form method="post" action="{% url 'change_quiz_test' %}" class="pre_test_change"
                        id="radiobtn{{ pre_quiz.id }}">
                        {% csrf_token %}
                        <a target="_blank" href="
                                          {% if 'teachers' in request.path %}
                                            {% url 'teacher_quiz_detail' pre_quiz.id %}
                                          {% else %}
                                            {% url 'quiz_detail' pre_quiz.id %}
                                          {% endif %}
                                        ">{{ pre_quiz.title }} </a><br>
                        <div class="btn-group" id="status" data-toggle="buttons">
                            <label
                                class="btn btn-default btn-on-3 btn-sm {% if pre_quiz.draft == False %}active{% endif %}"
                                id="ActiveButton" style="text-transform: uppercase;">
                                <input type="radio" value="1" name="pre-test-radio" id="id_pre-test-radio" 
                                {% if pre_quiz.draft == False %}checked{% endif %}>{% trans 'On' %}
                            </label>
                            <label
                                class="btn btn-default btn-off-3 btn-sm {% if pre_quiz.draft == True %}active{% endif %}"
                                id="ExpireButton" style="text-transform: uppercase;">
                                <input type="radio" value="0" name="pre-test-radio" 
                                {% if pre_quiz.draft == True %}checked{% endif %}>{%
                                trans 'Off' %}
                            </label>
                        </div>
                        <input type="hidden" name="quiz_id" value="{{ pre_quiz.id }}">
                    </form>
                    {% empty %}
                    {% trans 'No pre quiz, Add new by clicking ' %}+
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="px-4 pt-4">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5 class="text-primary">{% trans 'Post Test Quiz' %}</h5>
                    {% if not "students" in request.get_full_path %}
                    <button type="button" class="btn btn-primary btn-sm qts-button" id="post_test_popup" data-toggle="modal"
                        data-target="#quiz_create_popup">
                        <i class="fa fa-plus"></i>
                    </button>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-between mb-3">
                    {% if 'students' in request.path %}
                    {% for post_quiz in post_quizes %}
                    <span> {{ post_quiz.title }} </span>
                    {% getUserQuizStatus post_quiz.sitting_set.all user as student_quiz_status %}
                    {% if student_quiz_status.isExist and student_quiz_status.isComplete %}
                    {% if post_quiz.single_attempt %}
                    <span class="text-success font-weight-bold">{% trans 'Completed' %}</span>
                    {% else %}
                    <a href="{% url 'quiz_question' quiz_name=post_quiz.url %}">
                        <button id="feedbackbtn-quiz{{ post_quiz.id }}" type="button" class=" qts-button "
                            data-toggle="modal" data-target="#quizmodal" style="background-color: #65f665">
                            {% trans 'Play Again' %}
                        </button>
                    </a>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'quiz_question' quiz_name=post_quiz.url %}">
                        <button id="feedbackbtn-quiz{{ post_quiz.id }}" type="button" class=" qts-button "
                            data-toggle="modal" data-target="#quizmodal">
                            {% trans 'Play Quiz' %}
                        </button>
                    </a>
                    {% endif %}
                    {% empty %}
                    <p>{% trans 'No Post Quiz' %}</p>
                    {% endfor %}
                    {% else %}
                    {% for post_quiz in post_quizes %}
                    <form method="post" action="{% url 'change_quiz_test' %}" class="post_test_change"
                        id="radiobtn{{ post_quiz.id }}">
                        {% csrf_token %}
                        <a href="/quiz/detail/{{ post_quiz.id }}">{{ post_quiz.title }} </a><br>
                        <div class="btn-group" id="status2" data-toggle="buttons">
                            <label
                                class="btn btn-default btn-on-3 btn-sm {% if post_quiz.draft == False %}active{% endif %}"
                                id="ActiveButton" style="text-transform: uppercase;">
                                <input type="radio" value="1" name="post-test-radio" id="id_post-test-radio" 
                                {% if post_quiz.draft == False %}checked{% endif %}>{% trans 'On' %}
                            </label>
                            <label
                                class="btn btn-default btn-off-3 btn-sm {% if post_quiz.draft == True %}active{% endif %}"
                                id="ExpireButton" style="text-transform: uppercase;">
                                <input type="radio" value="0" name="post-test-radio" 
                                {% if post_quiz.draft == True %}checked{% endif %}>{%
                                trans 'Off' %}
                            </label>
                        </div>
                        <input type="hidden" name="quiz_id" value="{{ post_quiz.id }}">
                    </form>
                    {% empty %}
                    {% trans 'No post quiz, Add new by clicking ' %} +
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{# <div class="row"> #}
    {% render_comments object request comments_per_page=10 %}
    <!-- Render all the comments belonging to a passed object -->
{# </div> #}
