{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

<div class="page-header">
    <div class="page-title d-block text-center">
        <h2>{% if 'create' in request.path %}
            {% trans "Create New" %}{% elif 'edit' in request.path %}
            {% trans "Edit" %} {% endif %}
            {% trans "Chapter" %}
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-md-12" style="margin:auto">
        <div class="card">
            <div class="card-body">
                <form method="post" id="ajaxchapterinfoform">
                    {% csrf_token %}
                    {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="id_Chapter_No" class="font-weight-bold">
                                    {% trans "Chapter No" %}.
                                </label>
                                <input type="number" class="form-control" name="Chapter_No" id="id_Chapter_No"
                                    placeholder="Enter Chaper Number" value="{{object.Chapter_No}}" min="0" max="999" required>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label for="id_Chapter_Name" class="font-weight-bold">
                                    {% trans "Chapter Name" %}</label>
                                <input type="text" class="form-control" name="Chapter_Name" id="id_Chapter_Name"
                                    placeholder="Enter Chaper Number" value="{{object.Chapter_Name}}" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_Summary" class="font-weight-bold">{% trans "Summary" %}</label>
                        <textarea name="Summary" id="id_Summary" class="form-control"
                            rows="10">{{object.Summary}}</textarea><span class="ma-form-highlight"></span><span
                            class="ma-form-bar"></span>
                    </div>
                    <!-- <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Start_Date" class="font-weight-bold">{% trans "Start Date" %}</label>
                                <input name="Start_Date" type="date" class="form-control" id="id_Start_Date"
                                    max="9999-12-31" value="{{ object.Start_Date|date:'Y-m-d' }}">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="End_Date" class="font-weight-bold">{% trans "End Date" %}</label>
                                <input name="End_Date" type="date" class="form-control" id="id_End_Date"
                                    max="9999-12-31" value="{{ object.End_Date|date:'Y-m-d' }}">
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group mustreadtime">
                                <label for="id_mustreadtime" class="font-weight-bold">
                                    {% trans "Running Time" %} ({% trans "in minutes" %})
                                </label>
                                <input type="number" class="form-control" name="mustreadtime" id="id_mustreadtime"
                                    placeholder="Enter Running Time for Chapter" value="{{ object.mustreadtime }}"
                                    min="0" max="5000" required>
                            </div>
                            <!--{{ form.mustreadtime|as_crispy_field }}-->
                        </div>
                        <div class="col-lg-6 text-center row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="id_Use_Flag" class="font-weight-bold">{% trans "Publish" %}</label>
                                    <br>
                                    <input type="checkbox" {% if object.Use_Flag %}checked{% endif %} name="Use_Flag"
                                        id="id_Use_Flag" class="checkboxinput">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="id_is_commentable" class="font-weight-bold">
                                        {% trans "Comment" %}
                                    </label>
                                    <br>
                                    <input type="checkbox" id="id_is_commentable" class="checkboxinput"
                                        name="is_commentable" {% if object.is_commentable %} checked {% endif %}>
                                </div>
                            </div>

                        </div>
                    </div>
                    <input type="hidden" name="Register_Agent" id="id_Register_Agent" value="{{ request.user }}"
                        class="select form-control">
                    <input type="hidden" name="Course_Code" id="id_Course_Code" value="{{ Course_Code.id }}"
                        class="select form-control">
                    <div class="text-center pt-3">
                        <button type="submit" class="btn btn-primary m-auto">{% trans "Submit" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>