{% load static %}
{% load model_template_relation %}


<div class="modal fade" id="create_assignment_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary font-weight-bold" id="create_assignment_modal_title">Create
                    Assignment
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body" id="create_assignment_modal_body">

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-md-12">
        <div class="page-header">
            <div class="page-title">
                <h3 class="d-flex align-items-center"><span
                        class="icon-block text-primary">{{ object.Chapter_No }}</span> &nbsp;
                    {{ object.Chapter_Name }}
                </h3>
            </div>
            <p>{{ object.Summary }}</p>
        </div>
        <div class="text-center my-4">
            <a class="btn btn-lg btn-info" href="
            {% if '/teachers' in request.path %}
                {% url 'teacher_NewContentViewer' object.Course_Code.pk object.pk %}
            {% elif '/students' in request.path %}
                {% url 'student_NewContentViewer' object.Course_Code.pk object.pk %}
            {% else %}
                {% url 'NewContentViewer' object.Course_Code.pk object.pk %}
            {% endif %}" id="course-viewer" target="_self"><i class="fa fa-laptop"></i> Content Viewer</a>
            &nbsp;
            {% if '/students' not in request.path %}
            {% if '/teachers' in request.path %}
            <a class="btn btn-lg btn-success"
                href="{% url 'teachers_newChapterBuilder' object.Course_Code.id object.id %}"> <i
                    class="fa fa-pencil"></i> Content
                Builder
                &nbsp;</a>
            {% else %}
            <a class="btn btn-lg btn-success" href="{% url 'newChapterBuilder' object.Course_Code.id object.id %}">
                <i class="fa fa-pencil"></i> Content
                Builder &nbsp;</a>
            {% endif %}
            {% endif %}
        </div>
        <div class="my-5">
            <h4 class="text-primary mb-4">List of Assignments</h4>
            {% if object.Use_Flag is False %}
            <p style="color:red">Note: Chapter is inactive, therefore assignments are not assigned to students.
            </p>
            {% endif %}
            {% for assignment in assignments %}
            <div class="accordion mb-4" id="assignmentList{{assignment.pk}}">
                <div class="card shadow-none border">
                    <div class="card-header justify-content-between" id="headingOne">
                        <div class="d-flex align-items-center">
                            <figure class="avatar avatar-sm">
                                <span class="avatar-title rounded-circle"> {{ forloop.counter }}</span>
                            </figure>
                            <h5 data-toggle="collapse" data-target="#assignment{{assignment.pk}}" aria-expanded="true"
                                aria-controls="collapseOne" class="text-secondary m-0 pl-3 cursor-pointer">
                                {{ assignment.Assignment_Topic }}
                            </h5>
                        </div>
                        <a class="btn btn-outline-info" type="button" href="{% if '/students' in request.path %}
                        {{ assignment.student_get_absolute_url }}
                    {% elif '/teachers' in request.path %}
                        {{ assignment.teacher_get_absolute_url }}
                    {% else %}
                       {{ assignment.get_absolute_url }}
                    {% endif %}">
                            Continue <i class="fa fa-arrow-right ml-2"></i>
                        </a>
                    </div>
                    <div id="assignment{{assignment.pk}}" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#assignmentList{{assignment.pk}}">
                        <div class="p-3">
                            <p class="m-0">Start Date - {{ assignment.Assignment_Start }}</p>
                            <p class="m-0">Submission Deadline - {{ assignment.Assignment_Deadline }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="px-4 pt-4">
                <h5 class="text-primary mb-3">Course Code : {{ object.Course_Code }}</h5>
                <p>
                    Status :
                    {% if object.Start_Date and todays_date < object.Start_Date|date:"Y-m-d" %}
                    <span class="text-danger"><b>Inactive</b></span>
                    {% elif object.End_Date and todays_date > object.End_Date|date:"Y-m-d" %}
                    <span class="text-danger"><b>Expired</b></span>
                    {% else %}
                    <span class="text-success"><b>Active</b></span>
                    {% endif %}
                </p>
                <p>
                    Start Date : {{ object.Start_Date|date:'m/d/Y' }}
                </p>
                <p>
                    End Date : {{ object.End_Date|date:'m/d/Y' }}
                </p>
                <p>
                    Register Agent : {{ object.Register_Agent }}
                </p>
            </div>
            <ul class="text-center">
                <li class="p-2 border-top">
                    <a class="btn btn-primary relative" data-z="1" data-animated href="{% if '/teachers' in request.path %}
                    /teachers{{ object.get_update_url }}
                    {% else %}
                        {{ object.get_update_url }}
                    {% endif %}">Edit Chapter</a>
                    &nbsp;
                    <button class="btn btn-danger chapter-confirm-delete" id="{{ object.pk }}">Delete
                        Chapter</button>
                    <form method="post" action="{% url 'chapterinfo_delete' pk=object.pk %}"
                        id="deleteChapter{{ object.pk }}">
                        {% csrf_token %}
                        <!-- <input type="hidden" value="{{questions.pk}}" name="question_id"> -->
                        <input type="hidden" value="{{ object.pk }}" name="chapter_id">
                        <input type="hidden" value="{{ object.Course_Code.id }}" name="course_id">
                    </form>
                </li>
                {% if '/students' not in request.path %}
                <li class="p-2 border-top">
                    <button class="btn btn-success" data-toggle="modal" data-target="#create_assignment_modal"
                        id="add-newassignment-btn">
                        Create New Assignment
                    </button>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>