<script>
    var StoreTeacherPage = 0;

    function HandlePageInStudents(data) {
        StoreTeacherPage = data.page;
        console.log(data.page)
        if (parseInt(data.force)) ChangePageTo(data.page);
    };


    window.addEventListener('load', function () {
        document.getElementById("followteacher").onclick = function () {
            ChangePageTo(StoreTeacherPage)
        };
    });

    function ChangePageTo(PageNum) {
        currentpage = PageNum
        changePage(currentpage)
    }



</script>

