<script>
    var StoreTeacherPage = 1;


    function HandlePageInStudents(data) {
        teacherOnline();
        StoreTeacherPage = data.page;
        if (parseInt(data.force)) ChangePageTo(data.page);

    };


    function teacherOnline() {
        if (document.getElementById("followteacher").className === "offline-followteacher") {
            var followteacher = document.getElementById("followteacher");
            followteacher.className = "followteacher";
            followteacher.innerHTML = `Follow Teacher<i class="fa fa-book">`;
            displayNotif({'chat_message': "Teacher is Online", "sender_name": "System"});
            document.getElementsByClassName("followteacher")[0].onclick = function () {
                ChangePageTo(StoreTeacherPage)
            };
        }

    }


    function ChangePageTo(PageNum) {
        currentpage = PageNum
        changePage(currentpage)
    }


</script>

