{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
    <!-- Fullcalendar -->
    <link rel="stylesheet" href="{% static 'vendors/fullcalendar/fullcalendar.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'vendors/clockpicker/bootstrap-clockpicker.min.css' %}" type="text/css">


{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'start' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="#">Calendar</a></li>
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="page-title">
            <div>
                <button class="btn btn-primary" data-toggle="modal"
                        data-target="#createEventModal">
                    <i class="ti-plus mr-2"></i> Create Event
                </button>
            </div>
        </div>
    </div>
    <div class="row app-block mb-4">
        <div class="col-md-3 app-sidebar">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title mb-2">Events</h6>
                    <p class="text-muted">Drag and drop your event</p>
                    <div class="list-group mb-3" id="external-events">
                        <div class="list-group-item px-0 fc-event">
                            <i class="fa fa-circle text-success" data-icon="car"></i> Holidays
                        </div>
                        <div class="list-group-item px-0 fc-event">
                            <i class="fa fa-circle text-danger" data-icon="users"></i> Travel
                        </div>
                        <div class="list-group-item px-0 fc-event">
                            <i class="fa fa-circle text-info" data-icon="coffee"></i> Friend
                        </div>
                        <div class="list-group-item px-0 fc-event">
                            <i class="fa fa-circle text-warning" data-icon="diamond"></i> Company
                        </div>
                        <div class="list-group-item px-0 fc-event">
                            <i class="fa fa-circle text-primary" data-icon="glass"></i> Team Assing
                        </div>
                        <div class="list-group-item px-0 fc-event">
                            <i class="fa fa-circle text-secondary" data-icon="glass"></i> Family
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drop-remove" checked="">
                        <label class="custom-control-label" for="drop-remove">Remove after drop</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 app-content">
            <div class="app-content-overlay"></div>
            <div class="card app-content-body">
                <div class="card-body">
                    <a href="#" class="app-sidebar-menu-button btn btn-outline-light mb-3">
                        <i data-feather="menu"></i>
                    </a>
                    <div id="calendar-demo"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- begin::Create Event Modal -->
    <div class="modal fade" id="createEventModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="ti-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Title</label>
                            <div class="col-sm-9">
                                <input id="event-title" type="text" class="form-control" placeholder="Title">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Event type</label>
                            <div class="col-sm-9">
                                <div class="mt-2" id="event-type">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                               class="custom-control-input">
                                        <label class="custom-control-label"
                                               for="customRadioInline1">Appointment</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                               class="custom-control-input">
                                        <label class="custom-control-label" for="customRadioInline2">Meeting</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row row-sm">
                            <label class="col-sm-3 col-form-label">Start</label>
                            <div class="col-sm-5">
                                <input id="event-start-date" type="text"
                                       class="form-control create-event-datepicker"
                                       placeholder="Date">
                            </div>
                            <div class="col-sm-4">
                                <input id="event-start-time" type="text" class="form-control create-event-demo"
                                       placeholder="Time">
                            </div>
                        </div>
                        <div class="form-group row row-sm">
                            <label class="col-sm-3 col-form-label">End</label>
                            <div class="col-sm-5">
                                <input id="event-end-date" type="text" class="form-control create-event-datepicker"
                                       placeholder="Date">
                            </div>
                            <div class="col-sm-4">
                                <input id="event-end-time" type="text" class="form-control create-event-demo"
                                       placeholder="Time">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Participate</label>
                            <div class="col-sm-9">
                                <div class="avatar-group">
                                    <figure class="avatar avatar-sm">
                                        <span class="avatar-title bg-success rounded-circle">K</span>
                                    </figure>
                                    <figure class="avatar avatar-sm">
                                        <span class="avatar-title bg-danger rounded-circle">S</span>
                                    </figure>
                                    <figure class="avatar avatar-sm">
                                        <span class="avatar-title bg-primary rounded-circle">C</span>
                                    </figure>
                                    <figure class="avatar avatar-sm">
                                        <img src="../../assets/media/image/user/women_avatar3.jpg"
                                             class="rounded-circle"
                                             alt="image">
                                    </figure>
                                </div>
                                <button type="button" class="btn btn-outline-light btn-sm btn-floating">
                                    <i class="ti-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Description</label>
                            <div class="col-sm-9">
                                <textarea id="event-desc" class="form-control" rows="6"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3"></label>
                            <div class="col-sm-9">
                                <button type="submit" id="btn-save" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end::Create Event Modal -->

    <!-- begin::Event Info Modal -->
    <div class="modal fade" id="viewEventModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span class="event-icon mr-2"></span>
                        <span class="event-title">Modal Title</span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="ti-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="event-body"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end::Event Info Modal -->
{% endblock %}

{% block javascript %}

    <!-- Datepicker Example -->
    <script src="{% static 'js/examples/datepicker.js' %}"></script>

    <!-- Fullcalendar -->
    <script src="{% static 'vendors/fullcalendar/moment.min.js' %}"></script>
    <script src="{% static 'vendors/fullcalendar/fullcalendar.min.js' %}"></script>
    <!-- <script src="{% static 'js/examples/fullcalendar.js' %}"></script> -->

    <!-- Clockpicker -->
    <script src="{% static 'vendors/clockpicker/bootstrap-clockpicker.min.js' %}"></script>
    <script src="{% static 'js/examples/clockpicker.js' %}"></script>

    <!-- Initialize Calendar -->
    <script>
        $(document).ready(function () {

            var date = new Date();

            var events = [
                //{
                //    title: 'Travel',
                //    start: date.getFullYear() + '-' + ("0" + (date.getMonth() + 1)).slice(-2) + '-01',
                //    constraint: 'businessHours',
                //    className: 'bg-danger',
                //    icon: "camera",
                //    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu pellentesque nibh. In nisl nulla, convallis ac nulla eget, pellentesque pellentesque magna.',
                //},
                //{
                //    title: 'Team Assing',
                //    start: date.getFullYear() + '-' + ("0" + (date.getMonth() + 1)).slice(-2) + '-01',
                //    end: date.getFullYear() + '-' + ("0" + (date.getMonth() + 1)).slice(-2) + '-05',
                //    constraint: 'availableForMeeting',
                //    className: 'bg-primary',
                //    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu pellentesque nibh. In nisl nulla, convallis ac nulla eget, pellentesque pellentesque magna.',
                //},
                //{
                //    title: 'Friend',
                //   start: date.getFullYear() + '-' + ("0" + (date.getMonth() + 1)).slice(-2) + '-07',
                //    end: date.getFullYear() + '-' + ("0" + (date.getMonth() + 1)).slice(-2) + '-09',
                //    className: 'bg-info',
                //    icon: "user-o",
                //    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu pellentesque nibh. In nisl nulla, convallis ac nulla eget, pellentesque pellentesque magna.',
                //},
                //{
                //    title: 'Holidays',
                //    start: date.getFullYear() + '-' + ("0" + (date.getMonth() + 1)).slice(-2) + '-09',
                //    className: 'bg-success',
                //    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu pellentesque nibh. In nisl nulla, convallis ac nulla eget, pellentesque pellentesque magna.',
                //},
                //{
                //    title: 'Company',
                //    start: date.getFullYear() + '-' + ("0" + (date.getMonth() + 1)).slice(-2) + '-12',
                //    end: date.getFullYear() + '-' + ("0" + (date.getMonth() + 1)).slice(-2) + '-17',
                //    className: 'bg-secondary',
                //    icon: "building-o",
                //    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu pellentesque nibh. In nisl nulla, convallis ac nulla eget, pellentesque pellentesque magna.',
                //},
                //{
                //    id: 'availableForMeeting',
                //    start: date.getFullYear() + '-' + ("0" + (date.getMonth() + 1)).slice(-2) + '-12',
                //    end: date.getFullYear() + '-' + ("0" + (date.getMonth() + 1)).slice(-2) + '-16',
                //    rendering: 'background',
                //    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu pellentesque nibh. In nisl nulla, convallis ac nulla eget, pellentesque pellentesque magna.',
                //},
                //{
                //    start: date.getFullYear() + '-' + ("0" + (date.getMonth() + 1)).slice(-2) + '-20',
                //    end: date.getFullYear() + '-' + ("0" + (date.getMonth() + 1)).slice(-2) + '-25',
                //    overlap: false,
                //    rendering: 'background',
                //    color: '#ff9f89',
                //    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu pellentesque nibh. In nisl nulla, convallis ac nulla eget, pellentesque pellentesque magna.',
                //}
            ];

            $('#external-events .fc-event').each(function () {

                // store data so the calendar knows to render an event upon drop
                $(this).data('event', {
                    title: $.trim($(this).text()), // use the element's text as the event title
                    stick: true, // maintain when user navigates (see docs on the renderEvent method),
                    color: $(this).find('i').css("color"),
                    icon: $(this).find('i').data('icon')
                });

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });

            });

            $('#calendar-demo').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listMonth'
                },
                editable: true,
                droppable: true,
                drop: function () {
                    // is the "remove after drop" checkbox checked?
                    if ($('#drop-remove').is(':checked')) {
                        // if so, remove the element from the "Draggable Events" list
                        $(this).remove();
                    }
                },
                weekNumbers: true,
                eventLimit: true, // allow "more" link when too many events
                events: events,
                eventRender: function (event, element) {
                    if (event.icon) {
                        element.find(".fc-title").prepend("<i class='mr-1 fa fa-" + event.icon + "'></i>");
                    }
                },
                dayClick: function () {
                    $('#createEventModal').modal();
                },
                eventClick: function (event, jsEvent, view) {
                    var modal = $('#viewEventModal');
                    modal.find('.event-icon').html("<i class='fa fa-" + event.icon + "'></i>");
                    modal.find('.event-title').html(event.title);
                    modal.find('.event-body').html(event.description);
                    modal.modal();
                },
            });
        });
    </script>

{% endblock %}


