{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
    <!-- Fullcalendar -->
    <link rel="stylesheet" href="{% static 'vendors/fullcalendar/fullcalendar.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'vendors/clockpicker/bootstrap-clockpicker.min.css' %}" type="text/css">

    <!-- Select2 -->
    <link rel="stylesheet" href="{% static 'vendors/select2/css/select2.css' %}" type="text/css">


{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'start' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="#">Calendar</a></li>
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="page-title">
            <div>
                <button class="btn btn-primary create_event_button" data-toggle="modal"
                        data-target="#createEventModal">
                    <i class="ti-plus mr-2"></i> Create Event
                </button>
            </div>
        </div>
    </div>
    <div class="row app-block mb-4">
        <div class="col-md-3 app-sidebar">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title mb-2">Events</h6>
                    <p class="text-muted">Drag and drop your event</p>
                    <div class="list-group mb-3" id="external-events">
                        <div class="list-group-item px-0 fc-event">
                            <i class="fa fa-circle text-success" data-icon="car"></i> Holiday
                        </div>
                        <div class="list-group-item px-0 fc-event">
                            <i class="fa fa-circle text-danger" data-icon="users"></i> Meeting
                        </div>
                        <div class="list-group-item px-0 fc-event">
                            <i class="fa fa-circle text-info" data-icon="building"></i> Program
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 app-content">
            <div class="app-content-overlay"></div>
            <div class="card app-content-body">
                <div class="card-body">
                    <a href="#" class="app-sidebar-menu-button btn btn-outline-light mb-3">
                        <i data-feather="menu"></i>
                    </a>
                    <div id="calendar-demo"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- begin::Create Event Modal -->
    <div class="modal fade" id="createEventModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="ti-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="calendar_event_form" method="post"
                          action="{% url 'event_calendar_create' %}" autocomplete="off">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Title</label>
                            <div class="col-sm-9">
                                <input id="id_title" type="text" name="title" value="Program" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Event type</label>
                            <div class="col-sm-9">
                                <div class="mt-2" id="event-type">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline1" name="event_type"
                                               class="custom-control-input" value="PR" checked>
                                        <label class="custom-control-label" for="customRadioInline1">Program</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline2" name="event_type"
                                               class="custom-control-input" value="ME">
                                        <label class="custom-control-label" for="customRadioInline2">Meeting</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline3" name="event_type"
                                               class="custom-control-input" value="HO">
                                        <label class="custom-control-label" for="customRadioInline3">Holiday</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">All Day Event</label>
                            <div class="col-sm-9">
                                <div class="mt-2" id="all-day">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="is_all_day" class="custom-control-input"
                                               id="id_is_all_day" checked>
                                        <label class="custom-control-label" for="id_is_all_day"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row row-sm">
                            <label class="col-sm-3 col-form-label">Start</label>
                            <div class="col-sm-5">
                                <input id="event-start-date" type="text"
                                       class="form-control create-event-datepicker"
                                       placeholder="Date">
                            </div>
                            <div class="col-sm-4 datetime_dynamic">
                                <input id="event-start-time" type="text" class="form-control create-event-demo"
                                       placeholder="Time">
                            </div>
                            <input type="hidden" name="date_start" id="id_date_start">
                        </div>
                        <div class="form-group row row-sm">
                            <label class="col-sm-3 col-form-label">End</label>
                            <div class="col-sm-5">
                                <input id="event-end-date" type="text" class="form-control create-event-datepicker"
                                       placeholder="Date">
                            </div>
                            <div class="col-sm-4 datetime_dynamic">
                                <input id="event-end-time" type="text" class="form-control create-event-demo"
                                       placeholder="Time">
                            </div>
                            <input type="hidden" name="date_end" id="id_date_end">
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Participants Type</label>
                            <div class="col-sm-9">
                                <div class="mt-2" >
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="id_participant_type_1" name="participation_type" class="custom-control-input" value="AL" >

                                        <label class="custom-control-label" for="id_participant_type_1">All Users</label>


                                    </div>



                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="id_participant_type_2" name="participation_type"  class="custom-control-input" value="AS" >

                                        <label class="custom-control-label" for="id_participant_type_2">All Students</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="id_participant_type_3" name="participation_type" class="custom-control-input" value="AT">

                                        <label class="custom-control-label" for="id_participant_type_3">All Teachers</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="id_participant_type_4" name="participation_type"  class="custom-control-input" value="CH">

                                        <label class="custom-control-label" for="id_participant_type_4">Choose</label>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row participant_dynamic">
                            <label class="col-sm-3 col-form-label">Filter By</label>
                            <div class="col-sm-9">
                                <div class="mt-2" id="filter-type">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="id_filter_type_1" name="filter_type"
                                               class="custom-control-input" value="A" checked>
                                        <label class="custom-control-label"
                                               for="id_filter_type_1">Any</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="id_filter_type_2" name="filter_type"
                                               class="custom-control-input" value="S">
                                        <label class="custom-control-label"
                                               for="id_filter_type_2">Students</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="id_filter_type_3" name="filter_type"
                                               class="custom-control-input" value="T">
                                        <label class="custom-control-label"
                                               for="id_filter_type_3">Teachers</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row participant_dynamic">
                            <label class="col-sm-3 col-form-label">Participants</label>
                            <div class="col-sm-9">
                                <select name="participants" class="form-control select2-example"
                                        id="id_participants" multiple>
                                    {% for u in user_list %}
                                        <option
                                                {% if u.Is_Student %}data-is_student="true"{% endif %}
                                                {% if u.Is_Teacher %}data-is_teacher="true"{% endif %}
                                                value="{{ u.pk }}">{{ u.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Description</label>
                            <div class="col-sm-9">
                                <textarea id="id_description" name="description" class="form-control" rows="6">

                                </textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3"></label>
                            <div class="col-sm-9">
                                <button type="submit" id="btn-save" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end::Create Event Modal -->

<!-- begin::Event Info Modal -->
<div class="modal fade" id="viewEventModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="justify-content:flex-end;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-header d-inline" >
                <h5 class=" modal-title d-inline  ml-3">

                    <span class="event-title ">Modal Title</span>
                </h5>



                <form method="POST" class="delete_event d-inline " action=""
                      onsubmit="return confirm('Are you sure you want to delete?');">
                    {% csrf_token %}

                    <button type="submit" class="btn btn-danger btn-sm d-inline pull-right ml-2 mr-5" data-toggle="tooltip"
                   title="Delete">
                        <i class="fa fa-trash ml-1"  aria-hidden="true" ></i> &nbsp;
                    </button>
                </form>

                <button class="btn btn-sm btn-primary text-white pull-right "  data-toggle="tooltip"
                   title="Update" name="update"
                        id="update_event_btn"
                ><i class="fa fa-edit ml-1"  aria-hidden="true"></i> &nbsp;
                </button>









            </div>


            <div class="modal-body" style="text-align:center">

                <div class="container">
                    <div class="row">
                        <div class="col-md-8" style="float:left;text-align:left;">
                            <h6> Event Type:</h6>
                            <div>
                                <span class="btn btn-sm   event-type"> </span>
                                <span class="btn btn-sm  type_event"> </span>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="row">

                        <div class="col-md-6" style="text-align:left;">
                            <h6 class="strt_at"> Start At: (MM/DD/YYYY)</h6>
                            <div class="start_at"></div>
                            <br>
                        </div>

                        <div class="col-md-6" style="text-align:left;">
                            <h6 class="en_at"> End At: (MM/DD/YYYY)</h6>
                            <div class="end_at"></div>
                        </div>


                    </div>
                    <br>


                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="participant" style="text-align:left;"> Participants:&nbsp;&nbsp;</h6>
                        </div>
                        <div class="col-md-6 part_custom" style="text-align:left;">
                            <a class='btn btn-success btn-sm detail_btn' data-toggle="modal"
                        data-target="#custom_Participant_Modal">Details</a>
                        </div>

                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md-12" style="text-align:left;">
                            <h6> Description:&nbsp;&nbsp;</h6>
                            <div class="desc"></div>
                        </div>
                    </div>


                </div>


                <br>





            </div>


        </div>
    </div>
</div>
<!-- end::Event Info Modal -->




  <!-- begin::Custom Participant Modal -->
    <div class="modal fade" id="custom_Participant_Modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Participants</h5>
                    <button type="button" class="close close_prt" data-dismiss="modal" aria-label="Close">
                        <i class="ti-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                  <div class="list-group list-group-flush part_list">
<!--                      <a href="#" class="list-group-item d-flex align-items-center">-->
<!--                            <div class="pr-3">-->
<!--                                <div class="avatar">-->
<!--                                  {#  <img src="{% static 'media/image/photo1.jpg' %}"   #}  -->
<!--                                         class="rounded-circle"-->
<!--                                         alt="image">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <h6 class="mb-1 participant_name">Francisco Ubsdale</h6>-->

<!--                            </div>-->

<!--                        </a>-->

                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end::Custom Participant Modal -->



{% endblock %}

{% block javascript %}

    <!-- Datepicker Example -->
    <script src="{% static 'js/examples/datepicker.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>

    <!-- Fullcalendar -->
    <script src="{% static 'vendors/fullcalendar/moment.min.js' %}"></script>
    <script src="{% static 'vendors/fullcalendar/fullcalendar.min.js' %}"></script>
    <!-- <script src="{% static 'js/examples/fullcalendar.js' %}"></script> -->

    <!-- Clockpicker -->
    <script src="{% static 'vendors/clockpicker/bootstrap-clockpicker.min.js' %}"></script>
    <script src="{% static 'js/examples/clockpicker.js' %}"></script>

    <!-- Select2 -->
    <script src="{% static 'vendors/select2/js/select2.full.js' %}"></script>

    <!-- Initialize Calendar -->
    <script>
        $(document).ready(function () {


        // Detail For Update Modal

        function update_fxn(e){
                    let event = e.data.param1;
                //    console.log("update fxn");


                    var modal = $('#createEventModal');
                    modal.find('.modal-title').text("Update Event");
                    modal.find('#id_title').val(event.title);
                   if (event.type === "Holiday")
                   {
                        modal.find("#customRadioInline3").prop("checked", true);
                   }else if (event.type === "Meeting")
                    {
                        modal.find("#customRadioInline2").prop( "checked", true );
                   }else{
                         modal.find("#customRadioInline1").prop( "checked", true );
                    }



                   if (event.allDay)
                    {
                      modal.find('#id_is_all_day').prop("checked", true);
                      $(".datetime_dynamic").hide();


                   }else {
                    modal.find('#id_is_all_day').prop("checked", false);
                    $(".datetime_dynamic").show();
                   }



                  let start = event.start;
                  start = start._d.toLocaleString();
                  let start_date = start.split(' ')[0].replace(/[,]/g, ' ');
                  let start_time = start.split(' ')[1];
                  let st = start.split(' ')[2];
                  let hours = Number(start_time.match(/^(\d+)/)[1]);
                  let minutes = Number(start_time.match(/:(\d+)/)[1]);
                  if (st == 'PM' && hours<12) hours = hours+12;
                  if(st == "AM" && hours==12) hours = hours-12;
                  var sHours = hours.toString();
                  var sMinutes = minutes.toString();
                  if(hours<10) sHours = "0" + sHours;
                  if(minutes<10) sMinutes = "0" + sMinutes;
                  stime = sHours + ":" + sMinutes





                  let end = event.end;
                  if (!end)
                  {
                  end = event.start;
                  }
                  end = end._d.toLocaleString();
                  let end_date = end.split(' ')[0].replace(/[,]/g, ' ');
                  let end_time = end.split(' ')[1];


                  let et = end.split(' ')[2];
                  let hours1 = Number(end_time.match(/^(\d+)/)[1]);
                  let minutes1 = Number(end_time.match(/:(\d+)/)[1]);
                  if (et == 'PM' && hours1<12) hours1 = hours1+12;
                  if(et == "AM" && hours1==12) hours1 = hours1-12;
                  var eHours = hours1.toString();
                  var eMinutes = minutes1.toString();
                  if(hours1<10) eHours = "0" + eHours;
                  if(minutes1<10) eMinutes = "0" + eMinutes;
                  etime = eHours + ":" + eMinutes



                modal.find('#event-start-date').val(start_date);
                modal.find('#event-start-time').val(stime);

                modal.find('#event-end-date').val( end_date);
                modal.find('#event-end-time').val(etime);


                $("#event-start-date").daterangepicker({
                        startDate: new Date(start_date),
                        endDate: new Date(start_date),
                        singleDatePicker: true,
                    })

               $("#event-end-date").daterangepicker({
                        startDate: new Date(end_date),
                        endDate: new Date(end_date),
                        singleDatePicker: true,
                    })








                    if (event.part === "All User")
                     {
                     modal.find("#id_participant_type_1").prop( "checked", true );
                     $(".participant_dynamic").hide();
                    }else if (event.part === "All Student")
                    {
                    $(".participant_dynamic").hide();
                    modal.find("#id_participant_type_2").prop( "checked", true );
                    }else if (event.part === "All Teacher")
                    {
                     $(".participant_dynamic").hide();
                     modal.find("#id_participant_type_3").prop( "checked", true );
                    }else
                    {
                     modal.find("#id_participant_type_4").prop( "checked", true );

                            $(".participant_dynamic").show();

                           console.log(event.event_part_list.length);
                           id = [];
                           for (i=0; i<event.event_part_list.length; i++){

                                id.push(event.event_part_list[i].id);
                               // console.log(id);
                          }
                          console.log(id);
                          $('#id_participants').val(id);
                          $('#id_participants').trigger('change');

                    }





                    modal.find("#id_description").html(" ");
                    modal.find("#id_description").html(event.description);
                    modal.find("#btn-save").text("Update");
                  //  modal.find(".close").click(function() {
                  //  location.reload();

                 //   })

                    modal.find("#calendar_event_form").attr('action', "{% url 'event_calendar_updated' pk=12345 %}".replace("12345", event.id.replace("event_id_", "")));


                    modal.modal();
                     $("#createEventModal").css("overflow-y", "scroll");
        }



            $("input[name='participation_type']").change();
            $("#id_is_all_day").change();

            var date = new Date();

            var events = [
                {% for event in object_list %}
                    {
                        title: '{{ event.title }}',
                        id: 'event_id_{{ event.pk }}',
                        type: '{{ event.get_event_type_display }}',
                        start: '{{ event.date_start.isoformat}}',
                       // end: '{{ event.date_end.isoformat }}',
                        end: '{{ event.get_end_date.isoformat }}',
                      //  allDay: false,
                        part: '{{ event.get_participation_type_display }}',
                        event_part: '{% for e in event.get_participants %} {{e.username}} {% endfor %}',
                        event_part_list: [
                            {% for part in event.get_participants %}
                                {   id: '{{ part.pk }}',
                                    username: '{{ part.username }}',
                                    fullname: '{{ part.getFullName }}',
                                    avatar: '{{ part.Avatar }}',

                                },
                            {% endfor %}
                            ],






                        //icon: "user-o",
                        description: `{{ event.description }}`,

                        {% if event.is_all_day %}
                            allDay: true,

                        {% else %}
                            allDay: false,

                        {% endif %}


                        {% if event.event_type == "PR" %}
                            icon: "building-o",
                            className: 'btn btn-info',
                        {% elif event.event_type == "ME" %}
                            icon: "user-o",
                            className: 'btn btn-danger',
                        {% elif event.event_type == "HO" %}
                            icon: "car",
                            className: 'btn btn-success',
                        {% else %}
                            // default values
                            icon: "diamond",
                            className: 'btn btn-info',
                        {% endif %}

                    },
                {% endfor %}
            ];

            $('#external-events .fc-event').each(function () {
                // store data so the calendar knows to render an event upon drop
                $(this).data('event', {
                    title: $.trim($(this).text()), // use the element's text as the event title
                    stick: true, // maintain when user navigates (see docs on the renderEvent method),
                    color: $(this).find('i').css("color"),
                    icon: $(this).find('i').data('icon')
                });

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });
            });


            $('#calendar-demo').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listMonth'
                },
                timezone:"local",
                nextDayThreshold: '00:00',
                editable: true,
                droppable: true,
                drop: function () {
                    // is the "remove after drop" checkbox checked?
                    if ($('#drop-remove').is(':checked')) {
                        // if so, remove the element from the "Draggable Events" list
                        $(this).remove();
                    }
                },
                eventStartEditable: true,
                eventResizableFromStart: true,
                eventDurationEditable: true,
                weekNumbers: true,
                eventLimit: true, // allow "more" link when too many events
                events: events,
                eventRender: function (event, element) {
                    if (event.icon) {
                        element.find(".fc-title").prepend("<i class='mr-1 fa fa-" + event.icon + "'></i>");
                    }
                },
                dayClick: function (date, jsEvent, view) {

                    $('#createEventModal').modal();
                    $(".modal-title").text("Create Event");
                    $("#id_title").val(" ");
                    $("#customRadioInline1").prop("checked", true);

                  //  let start_date = iso_to_django(event.start._d);
                    let start_date = date._d;


                    console.log(start_date);
                    let end_date = start_date;

                    $("#event-start-date").daterangepicker({
                            startDate: new Date(start_date),
                            endDate: new Date(start_date),
                            singleDatePicker: true,
                        })

                   $("#event-end-date").daterangepicker({
                            startDate: new Date(end_date),
                            endDate: new Date(end_date),
                            singleDatePicker: true,
                        })


                 $("#id_participant_type_1").prop("checked", true);
                 $("#id_description").html(" ");
                 $("#createEventModal #btn-save").text("Create");



                },



                  eventClick: function (event, jsEvent, view) {

                    var modal = $('#viewEventModal');


                        if (event.type == "Program")
                            {
                            modal.find('.event-type').removeClass('btn btn-danger btn-success');
                            modal.find('.event-type').addClass('btn btn-info');


                            }
                          if (event.type == "Holiday")
                            {
                            modal.find('.event-type').removeClass('btn btn-danger btn-info');
                            modal.find('.event-type').addClass('btn btn-success');

                            }
                          if (event.type == "Meeting")
                            {
                            modal.find('.event-type').removeClass("btn btn-success btn-info");
                            modal.find('.event-type').addClass("btn btn-danger");

                            }


                    // modal.find('.event-type').addClass(event.className);
                    modal.find('.event-type').html("<i class=' fa fa-" + event.icon + " '></i> &nbsp;" + event.type);
                    modal.find('.event-title').html(event.title);

                      let start = event.start;
                      start = start._d.toLocaleString();
                      let start_date = start.split(' ')[0].replace(/[,]/g, ' ');
                      let start_time = start.split(' ')[1];
                      let st = start.split(' ')[2];
                      let hours = Number(start_time.match(/^(\d+)/)[1]);
                      let minutes = Number(start_time.match(/:(\d+)/)[1]);
                      if (st == 'PM' && hours<12) hours = hours+12;
                      if(st == "AM" && hours==12) hours = hours-12;
                      var sHours = hours.toString();
                      var sMinutes = minutes.toString();
                      if(hours<10) sHours = "0" + sHours;
                      if(minutes<10) sMinutes = "0" + sMinutes;
                      stime = sHours + ":" + sMinutes


                      let end = event.end;
                    //  console.log(end);
                      if (!end)
                      {
                      end = event.start;
                      }
                   //   console.log(end);
                      end = end._d.toLocaleString();
                      console.log(end);
                      let end_date = end.split(' ')[0].replace(/[,]/g, ' ');
                      let end_time = end.split(' ')[1];
                      let et = end.split(' ')[2];
                      let hours1 = Number(end_time.match(/^(\d+)/)[1]);
                      let minutes1 = Number(end_time.match(/:(\d+)/)[1]);
                      if (et == 'PM' && hours1<12) hours1 = hours1+12;
                      if(et == "AM" && hours1==12) hours1 = hours1-12;
                      var eHours = hours1.toString();
                      var eMinutes = minutes1.toString();
                      if(hours1<10) eHours = "0" + eHours;
                      if(minutes1<10) eMinutes = "0" + eMinutes;
                      etime = eHours + ":" + eMinutes




                    if (event.allDay){
                        modal.find('.type_event').html("<a class='btn btn-sm btn-light'>All Day Event</a>");
                        if (start_date == end_date){
                             modal.find('.strt_at').html("Date: (MM/DD/YYYY)");
                             modal.find('.start_at').html(start_date);
                             modal.find('.end_at').empty();
                             modal.find('.en_at').empty();
                           //  modal.find('.en_at').hide();
                        }
                        else{


                            modal.find('.strt_at').html("Start At: (MM/DD/YYYY)")
                            modal.find('.en_at').html("End At: (MM/DD/YYYY)")
                            modal.find('.start_at').html(start_date);
                            modal.find('.end_at').html(end_date);
                        }

                    }else{
                        modal.find('.type_event').empty();
                        modal.find('.en_at').html("Time: (24Hrs.)");
                        modal.find('.end_at').html(stime + "&nbsp; to &nbsp;" + etime );
                        if(start_date == end_date){
                             modal.find('.strt_at').html("Date: (MM/DD/YYYY)")
                             modal.find('.start_at').html(start_date);

                        }
                        else{
                             modal.find('.strt_at').html("From: (MM/DD/YYYY)");
                             modal.find('.start_at').html(start_date +" &nbsp; to &nbsp; "+ end_date);
                        }
                    }


                    if (event.part == 'Choose User')
                    {
                        console.log(event.event_part_list);
                         modal.find('.participant').html("Participants:&nbsp;"+event.event_part_list.length);
                         $('.part_list').empty();
                        for (i = 0; i < event.event_part_list.length; i++){
                             $('.part_list').append(` <a href='#' class='list-group-item d-flex align-items-center'>
                                <div class='pr-3'>
                                    <div class='avatar'>
                                        <img src="${event.event_part_list[i].avatar}"
                                             class='rounded-circle'
                                             alt='image'>
                                    </div>
                                </div>
                                <div>
                                    <h6 class='mb-1 participant_name '> ${event.event_part_list[i].fullname} </h6>
                                </div>
                             </a>`);
                        }


                   // modal.find('.participant_name').text(event.event_part);
                    modal.find('.part_custom').show();



                    }else{
                  //   modal.find('.participant').append(event.part);
                     modal.find('.participant').html("Participants:&nbsp;"+ event.part);
                     modal.find('.part_custom').hide();
                    }
                    modal.find('.desc').html(" ");
                    modal.find('.desc').html(event.description);


                    let event_id = event.id.replace("event_id_", "");
                    modal.find('.delete_event').attr('action', '{% url "event_calendar_delete" 12345 %}'.replace("12345", event_id));


                  //// update button upon pressing display Form Detail Modal
                    $("#update_event_btn").click({param1: event}, update_fxn);
                    modal.find(".close").click(function() {
                    //    location.reload();
                     })


                    modal.modal();

                },


                eventResize: function (event, delta, revertFunc, jsEvent, ui, view) {
                    console.log("event resized", event);
                    if (event.id) {
                        console.log("event update", event.id);
                        update_event(event, delta, revertFunc, jsEvent, ui, view);
                    } else {
                        console.log("event create", event.id);
                        create_event(event, delta, revertFunc, jsEvent, ui, view);
                    }
                },
                eventDrop: function (event, delta, revertFunc, jsEvent, ui, view) {
                    console.log("event dragged", event);
                    if (event.id) {
                        console.log("event update", event.id);
                        update_event(event, delta, revertFunc, jsEvent, ui, view);
                    } else {
                        console.log("event create", event.id);
                        create_event(event, delta, revertFunc, jsEvent, ui, view);
                    }
                },
                eventReceive: function (event,  delta, revertFunc, jsEvent, ui, view) {
                    console.log("event received", event);
                    if (event.id) {
                        console.log("event update", event.id);
                        update_event(event, delta, revertFunc, jsEvent, ui, view);
                    } else {
                        console.log("event create", event.id);
                        // create_event(event, delta, revertFunc, jsEvent, ui, view);
                        drag_create(event);


                    }
                },

            });

            function drag_create(event){
                $('#createEventModal').modal();

                       $(".modal-title").text("Create Event");
                       $("#id_title").val(" ");

                       if (event.title === "Holiday"){
                            $("#customRadioInline3").prop("checked", true);

                         }
                         if (event.title === "Program"){
                            $("#customRadioInline1").prop("checked", true);
                         }
                         if (event.title === "Meeting"){
                            $("#customRadioInline2").prop("checked", true);
                         }

                       let start_date = iso_to_django(event.start._d);
                       let end_date = start_date;

                            $("#event-start-date").daterangepicker({
                                    startDate: new Date(start_date),
                                    endDate: new Date(start_date),
                                    singleDatePicker: true,
                                })

                           $("#event-end-date").daterangepicker({
                                    startDate: new Date(end_date),
                                    endDate: new Date(end_date),
                                    singleDatePicker: true,
                                })


                         $("#id_participant_type_1").prop("checked", true);
                         $("#id_description").html(" ");
                         $("#createEventModal #btn-save").text("Create");

                          $(".close").click(function (){
                            location.reload();

                         })

            }

            function update_event(event, delta, revertFunc, jsEvent, ui, view) {
                //// obtain event data
                let start_date = iso_to_django(event.start._d);
                let end_date = null;
                if (event.end) {
                    end_date = iso_to_django(event.end._d);
                } else {
                    end_date = start_date;
                }
                let post_data = {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    date_start: start_date,
                    date_end: end_date,
                }
                //// make ajax request to change the related object in the database
                $.ajax({
                    url: "{% url 'event_calendar_update' pk=12345 %}".replace("12345", event.id.replace("event_id_", "")), // URL to your view that serves new info
                    type: 'POST', // GET or POST
                    data: post_data,
                    success: function (response) {
                        //// on success, notify user about success
                        alert("Event change success !!!");
                    },
                    error: function () {
                        console.log('Error in posting form');
                        alert("Can't change event !!!");
                        revertFunc();

                    },
                    complete: function () {
                    }
                });
            }

            function create_event(event, delta, revertFunc, jsEvent, ui, view) {
                //// obtain event data

                let start_date = iso_to_django(event.start._d);
                console.log("sd_create",start_date);
                let end_date = null;
                let event_type = "PR";
                if (event.title === "Holiday") {
                    event_type = "HO";
                } else if (event.title === "Meeting") {
                    event_type = "ME";
                } else if (event.title === "Program") {
                    event_type = "PR";
                }
                console.log("et_create",event_type);
                if (event.end) {
                    end_date = iso_to_django(event.end._d);
                } else {
                    end_date = start_date;
                }
                console.log("ed_create", end_date);
                let post_data = {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    title: event.title,
                    event_type: event_type,
                    participation_type:"AL",
                    description: event.description,
                    date_start: start_date,
                    date_end: end_date,
                    is_all_day: true,
                }
                console.log(post_data);
                //// make ajax request to change the related object in the database
                $.ajax({
                    url: "{% url 'event_calendar_create' %}?return=json", // URL to your view that serves new info
                    type: 'POST', // GET or POST
                    data: post_data,
                    success: function (response) {
                        //// on success, notify user about success
                        alert("Event Create Success !!!");
                        console.log(response['pk']);
                        event.id = "event_id_" + response['pk'];
                        event.type = response['type'];
                        event.part = response['part'];

                        $('#calendar-demo').fullCalendar('updateEvent', event);
                    },
                    error: function () {
                        console.log('Error in posting form');
                        alert("Can't change event !!!");
                        event.id = "remove_event"
                        $('#calendar-demo').fullCalendar('updateEvent', event);
                        $('#calendar-demo').fullCalendar('removeEvents', ["remove_event",]);
                    },
                    complete: function () {
                    }
                });


            }
        });


        function iso_to_django(date_obj) {
            let mo = (date_obj.getUTCMonth() + 1).toString();       // month starts form zero
            let y = date_obj.getUTCFullYear().toString();
            let d = (date_obj.getUTCDate()).toString();
            let h = date_obj.getUTCHours().toString();
            let mi = date_obj.getUTCMinutes().toString();
            return y + "-" + mo + "-" + d + " " + h + ":" + mi;
        }

    </script>

    <script>
        $(".select2-example").select2({
            placeholder: 'Select',
           width: "element",
             multiple: true,
            templateResult: function (state) {
                // how dropdown list is displayed
                let filter_type = $("input[name='filter_type']:checked").val();
                let is_student = $(state.element).attr('data-is_student');
                let is_teacher = $(state.element).attr('data-is_teacher');
                if (filter_type === "A") {        // all user
                    return state.text;
                }
                if (filter_type === "S" && is_student === "true") {        // Students only
                    return state.text;
                }
                if (filter_type === "T" && is_teacher === "true") {        // Teachers only
                    return state.text;
                }
                return null;
            },
        });

        //// Calendar Event Create Form Submit:
        $("#calendar_event_form").submit(function (e) {




            //// Convert date and time inputs to UTC and required format for django:

            let d_end = new Date($("#event-end-date").val() + " " + $("#event-end-time").val());
            let d_start = new Date($("#event-start-date").val() + " " + $("#event-start-time").val());

            //// Using one of django's default format: '%Y-%m-%d %H:%M', '2006-10-25 14:30':
            $("#id_date_end").val(iso_to_django(d_end));
            $("#id_date_start").val(iso_to_django(d_start));

            //// Validation Here:
            let is_valid = true;


             let title = $("#createEventModal #id_title").val();
             let sd = $("#event-start-date").val();
             let st = $("#event-start-time").val();
             let ed = $("#event-end-date").val();
             let et = $("#event-end-time").val();
             let is_ad = $("#createEventModal #id_is_all_day").is(':checked');
             let is_custom = $("#createEventModal #id_participant_type_4").is(':checked');
             let p_l = $(".select2-selection__rendered > li").length;




             if (title.length < 1){
                 $("#createEventModal #id_title").after('<span class="text-danger">This field is required</span>');
                is_valid = false;

             }
              if (sd === ""){
                 $("#event-start-date").after('<span class="text-danger">This field is required</span>');
                is_valid = false;

             }
              if (ed === ""){
                 $("#event-end-date").after('<span class="text-danger">This field is required</span>');


                is_valid = false;

             }
             if(!is_ad){
                if(st === ""){
                    $("#event-start-time").after('<span class=" text-danger">This field is required</span>');
                    is_valid = false;
                }
                if(et === ""){
                    $("#event-end-time").after('<span class=" text-danger">This field is required</span>');
                    is_valid = false;
                }

             }
            if(is_custom){
                if( p_l < 2 ){
                     $("#id_participants").after('<span class=" text-danger">This field is required</span>');
                     is_valid = false;

                }
            }



            if (!is_valid) {
                e.preventDefault();
                return false;
            }
        });

        $("input[name='participation_type']").change(function () {
            let ch_val = $("input[name='participation_type']:checked").val();
            //console.log("part_type changed: ", ch_val, ch_val === "CH");
            if (ch_val === "CH") {
                $(".participant_dynamic").show();
            } else {
                $(".participant_dynamic").hide();
                $(".select2-example").val("");
                $(".select2-example").trigger("change");
            }
        });

        $(".create_event_button").click(function () {



            //console.log("event create button click");
            $("#calendar_event_form").trigger("reset");
            $('#createEventModal .modal-title').text("Create Event");
            $('#createEventModal #id_is_all_day').prop("checked", true);

                    if ($("#createEventModal #id_is_all_day").is(':checked')) {
                         $(".datetime_dynamic").hide();
                         $("#event-start-time").val("00:00");
                         $("#event-end-time").val("00:00");
                    } else {
                        $(".datetime_dynamic").show();
                    }
            $("#event-start-date").val("");
            $("#event-end-date").val("");
            $("#event-start-time").val("");
            $("#event-end-time").val("");
            $("#createEventModal #id_title").val("Program");
            $("#createEventModal #id_description").val("");
            $("#createEventModal #btn-save").text("Create");
            $("#createEventModal").trigger("change");



            $("#id_participant_type_1").click();
            $("#id_filter_type_1").click();
        })

        $("#id_is_all_day").change(function () {
            if ($(this).is(':checked')) {
                $(".datetime_dynamic").hide();
            } else {
                $(".datetime_dynamic").show();
            }
        })



    </script>

<script>
    $("#update_event_btn").click(function(){
      $('#viewEventModal').modal('toggle');
    })

    $(".detail_btn").click(function(){
        $('#viewEventModal').removeClass("show");
    })

     $("#custom_Participant_Modal .close_prt").click(function(){
        $('#viewEventModal').addClass("show");
    })





</script>


{% endblock %}


