<div id="survey_content_modal" class="modal fade" style="height: -webkit-fill-available;">
  <div class="modal-dialog" style="width: fit-content">
    <div class="modal-content" style="height: -webkit-fill-available; overflow: auto; overflow-x: hidden;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Survey</h4>
      </div>
      <div class="modal-body" id="survey_form_ajax">
        <div>
          <img src="/static/images/uLMS2019_Loading_SVG.svg" alt="">
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div id="quiz_create_popup" class="modal fade" style="height: -webkit-fill-available;">
  <div class="modal-dialog" style="width: fit-content">
    <div class="modal-content" style="height: -webkit-fill-available; overflow: auto; overflow-x: hidden;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Quiz</h4>
      </div>
      <div class="modal-body" id="quiz_form_ajax">
        <div>
          <img src="/static/images/uLMS2019_Loading_SVG.svg" alt="">
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div id="question_form_popup" class="modal fade" style="height: -webkit-fill-available;">
  <div class="modal-dialog" style="width: fit-content">
    <div class="modal-content" style="height: -webkit-fill-available; overflow: auto; overflow-x: hidden;">
      <div class="modal-header">
        <button type="button" class="close" id="qn_close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="question_model_title">Add Question</h4>
      </div>
      <div class="modal-body" id="question_form_ajax">
        <div>
          <img src="/static/images/uLMS2019_Loading_SVG.svg" alt="">
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

{#<script src="/static/vendorsx/jquery/dist/jquery.min.js"></script>#}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('#QuickQuiz').click(function () {
            $.ajax({
                type: "GET",
                data: {
                    'course_id': '{{ course.id }}',
                    'chapter_id': {{ chapter.id }},
                    'test_type': 'pre_test',
                },
                url: "{% url 'quiz_create_ajax'%}",  // URL to your view that serves new info
                success: function (data) {
                    $("#quiz_form_ajax").html(data);
                }
            });
        });
        $('#QuickSurvey').click(function () {
            console.log("survey_create");
            $.ajax({
                type: "GET",
                data: {"category_name": "live", "course_code": "{{ course.id }}"},
                url: "{% url 'TeacherSurveyInfo_ajax' %}",  // URL to your view that serves new info
                success: function (data) {
                    $("#survey_form_ajax").html(data);
                }
            });
        });

        $('#qn_close').on("click", function () {
            $("#quiz_create_popup").modal("show");
        });


    }, false);

    function close_quick_model(id) {
        // get modal
        const quick_modal = document.getElementById(id);

        // change state like in hidden modal
        quick_modal.classList.remove('show');
        quick_modal.setAttribute('aria-hidden', 'true');
        quick_modal.setAttribute('style', 'display: none');

        // get modal backdrop
        const modalBackdrops = document.getElementsByClassName('modal-backdrop');

        // remove opened modal backdrop
        document.body.removeChild(modalBackdrops[0]);
    }

    function survey_create_content(response) {
            //location.reload();
            console.log(response['url']);
            console.log(response['teacher_url']);
            console.log(response['student_url']);
            $(".note-editable").append(`<a href="${response['student_url']}">Take Quick Survey</a>`);
            close_quick_model("survey_content_modal");
            document.getElementById("chatmessageinput").innerHTML = response['student_url'];
            window.open(response['teacher_url'], '_blank');

            //window.location.href = String(response['url']);
        }

    function quiz_create_content(response) {
        //location.reload();
        console.log(response['url']);
        console.log(response['teacher_url']);
        console.log(response['student_url']);
        $(".note-editable").append(`<a href="${response['student_url']}">Take Quick Quiz</a>`);
        close_quick_model("quiz_create_popup");
        document.getElementById("chatmessageinput").innerHTML = response['student_url'];
        window.open(response['teacher_url'], '_blank');

        //window.location.href = String(response['url']);
    }

</script>

