{% extends "teacher_module/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load getMemberFromPk %}




{% block breadcrumb %}

    <li class="breadcrumb-item active" aria-current="page"><a href="{% url  'attendance' %}">Attendance</a></li>
    <li class="breadcrumb-item active" aria-current="page">Update</li>

{% endblock %}

{% block content %}


    {% include 'WebApp/theme/alerts.html' %}

    <div id="attendance-table">
        {% if attendance %}
            <h3 class="detailListHeader2 ">Attendance List</h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6 col-sm-6 col-xs-12"> 
                        <div class="total-students text-center">
                            <div>
                                <span style="font-size:16px; font-weight: 600">Total Present:- &nbsp;</span><span
                                    style="font-size:16px;" id="student_present"></span>
                            </div>
                            <div>
                                <span style="font-size:16px; font-weight: 600">Total Absent:-  &nbsp;</span><span
                                    style="font-size:16px;" id="student_absent"></span>
                            </div>
                            <div>
                                <span style="font-size:16px; font-weight: 600">Total Students:- &nbsp;</span><span
                                    style="font-size:16px;">{{ attendance|length }}</span>
                            </div>
        
        
                        </div>

                    </div>
                  
                </div>
            

            </div>
            <form method="POST">
                {% csrf_token %} {{ attendance.management_form }}

                <table id="QuizTable" class="table table-striped table-bordered" style="width:100%">
                    <thead class="thead-light bg-primary">

                    <th>{% trans "Roll No." %}</th>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Attendance" %}
                        <span style="float: right;">Select All <input type="checkbox" id="select_all"
                                                                      value="all"></span>
                    </th>

                    <th>{% trans "Attendance Date" %}</th>


                    </thead>
                    <tbody>
                    {% for a in attendance %}


                        <tr>


                            <td>  {{ a.initial.member_code }} </td>
                            <td>  {% getMemberFromPk a.initial.member_code.pk 'Member_ID' %} </td>
                            <td>

                                {{ a.as_p }}

                            </td>
                            <td>  {{ attend_date }} </td>
                            <!-- #TODO send date in the list view -->

                        </tr>

                    {% endfor %}
                    </tbody>

                </table>
                <button class="btn btn-success formsubmitBtn" type="submit" href="#">
                    Submit
                </button>
            </form>

          



        {% else %}
            <p>{% trans "There are no available attendance" %}.</p>

        {% endif %}
    </div>



{% endblock %}
{% block customjss %}


    <script type="text/javascript">
        var submitFlag = false;
        $(document).ready(function () {

            var table_main = $('#QuizTable').DataTable({
                stateSave: true, 
                responsive: true,
                paging: true,

            });
            $('.formsubmitBtn').on('click', function (e) {
                if (submitFlag === false) {
                    e.preventDefault()
                    submitFlag = true;
                    table_main.destroy()

                    // table_main.settings()[0]._iDisplayLength = table_main.settings()[0].fnRecordsTotal();
                    // table_main.draw();
                    $('.formsubmitBtn').click();
                }
            });
            $("#select_all").change(function (e) {  //"select all" change
                var cells = table_main.column(2).cells().nodes();
                $(cells).find(':checkbox').prop('checked', $(this).is(':checked'));
            });
        });
    </script>

   
{% endblock %}
