{% load i18n %}
{% load forum_tags %}
{% load humanize %}
{% load static %}



{% block main_contain %}
<div class="panel panel-default paper-shadow" data-z="0.5">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="media v-middle">
                <div class="media-body">
                    <h2 class="text-headline margin-none" style="color:#368BC1">
                        Search Results
                    </h2>


                </div>


            </div>
        </li>


        {% if threads %}


        <div class="paper-shadow" data-z="0.5" style="margin-top: -15px">
            {% for thread in threads %}
            <li class="list-group-item media v-middle">
                <div class="media-left">
                    <div class="icon-block half img-circle bg-grey-300">
                        {% if thread.topic.topic_icon %}
                        <i class="fa fa-{{ thread.topic.topic_icon }}"></i>
                        {% else %}
                        <i class="fa fa-book"></i>
                        {% endif %}
                    </div>
                </div>

                <div class="media-body">
                    <h4 class="text-subhead margin-none thread_title">
                        <a href="{% if '/teachers' in request.path %}
                            {% url 'teacher_thread' pk=thread.pk %}
                            {% elif '/students' in request.path %}
                            {% url 'student_thread' pk=thread.pk %}
                            {% elif '/forum' in request.path %}
                            {% url 'forum:thread' pk=thread.pk %}
                            {% endif %}" class="link-text-color">{{ thread.title }}</a>
                    </h4>


                    <div class="text-light text-caption">
                        Category:
                        <a href="{% if '/teachers' in request.path %}
                            {% url 'teacher_nodegroup' thread.topic.node_group.pk %}
                            {% elif '/students' in request.path %}
                            {% url 'student_nodegroup' thread.topic.node_group.pk %}
                            {% elif '/forum' in request.path %}
                            {% url 'forum:nodegroup' thread.topic.node_group.pk %}
                            {% endif %}" class="link-text">{{ thread.topic.node_group.title }}</a>
                        |

                        Sub Category:
                        <a href="
                            {% if '/teachers' in request.path %}
                            {% url 'teacher_topic' pk=thread.topic.pk %}
                            {% elif '/students' in request.path %}
                            {% url 'student_topic' pk=thread.topic.pk %}
                            {% elif '/forum' in request.path %}
                            {% url 'forum:topic' pk=thread.topic.pk %}
                            {% endif %}" class="link-text">{{ thread.topic.title }}</a>


                        <br>
                        posted by
                        <a href="
                            {% if '/teachers' in request.path %}
                            {% url 'teacher_info' pk=thread.user.pk %}
                            {% elif '/students' in request.path %}
                            {% url 'student_info' pk=thread.user.pk %}
                            {% elif '/forum' in request.path %}
                            {% url 'forum:user_info' pk=thread.user.pk %}
                            {% endif %}" class="link-text">
                            <img src="
                                    {% if thread.user.Member_Avatar %}
                                        {{ thread.user.Member_Avatar.url }}
                                    {% elif thread.user.Member_Gender == 'M' %}
                                        {% static 'images/profile/male.jpg' %}
                                    {% elif thread.user.Member_Gender == 'F' %}
                                        {% static 'images/profile/female.png' %}
                                    {% else %}
                                        {% static 'images/profile/profile.png' %}
                                    {% endif %}" alt="..." class="img-circle width-20" />
                            {{ thread.user.username }}</a>
                        | <i class="fa fa-clock-o fa-fw"></i> {{ thread.pub_date }} |
                        &nbsp;
                        |<i class="fa fa-clock-o fa-fw"></i> Last Replied: {{ thread.last_replied }}


                    </div>

                </div>


                <div class="media-right">
                    <a href=" {% if '/teachers' in request.path %}
                        {% url 'teacher_thread' pk=thread.pk %}
                        {% elif '/students' in request.path %}
                        {% url 'student_thread' pk=thread.pk %}
                        {% elif '/forum' in request.path %}
                        {% url 'forum:thread' pk=thread.pk %}
                        {% endif %}
                        " class="btn btn-white text-light"><i class="fa fa-comments fa-fw"></i>
                        {{ thread.reply_count }}</a>

                    <span class="btn btn-white text-light">{% blocktrans with view_count=thread.view_count %}
                        <i class="fa fa-eye"></i>
                        {{ view_count }}
                        {% endblocktrans %}</span>

                </div>



                {% endfor %}



            </li>
        </div>




        {% else %}
        <li class="list-group-item">
            <div class="media v-middle">
                <div class="media-body">

                    <h6 class="text-headline margin-none">
                        No Results Found
                    </h6>


                </div>


            </div>
        </li>

        {% endif %}

    </ul>
</div>
{% endblock %}