{% load i18n %}
{% load forum_tags %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}
{% load markdown_extras %}



{% block main_contain %}


<div class="panel panel-default">
    <div class="panel panel-heading">
        <h2>{% blocktrans with username=user.username %}
            Replies from {{ username }}
            {% endblocktrans %}</h2>

    </div>
    <!-- List group -->

    <ul class="list-group topic-list">
        {% for reply in replies %}
        <li class="list-group-item reply-entry reply-entry-title">

            <ul class=" messages">
                <li>
                    <p>
                        <h2>
                            <div class="content_reply">
                                <img src="
                                        {% if reply.user.Member_Avatar %}
                                            {{ reply.user.Member_Avatar.url }}
                                        {% elif reply.user.Member_Gender == 'M' %}
                                            {% static 'images/profile/male.jpg' %}
                                        {% elif reply.user.Member_Gender == 'F' %}
                                            {% static 'images/profile/female.png' %}
                                        {% else %}
                                            {% static 'images/profile/profile.png' %}
                                        {% endif %}" alt="..."
                                    class="image avatar-96wp-user-avatar wp-user-avatar-96 alignnone photo avatar-default " />
                                <div class="pull-left reply_username"> {{ reply.user.username }}</div>

                            </div>

                            <div class="reply_title">
                                <a href="
                                {% if '/teachers' in request.path %}
                                {% url 'teacher_thread' pk=reply.thread.pk %}
                                {% elif '/students' in request.path %}
                                {% url 'student_thread' pk=reply.thread.pk %}
                                {% elif '/forum' in request.path %}
                                {% url 'forum:thread' pk=reply.thread.pk %}
                                {% endif %}        
                                " class="entry-link">{{ reply.thread.title }}</a>
                            </div>

                        </h2>

                    </p>

                    <div class="message_date">
                        <p class="date">{{ reply.pub_date|date:"d M, Y" }}</p>
                        <p class="month">{{ reply.pub_date|date:"H:i  A" }}<p>
                    </div>


                    <div class="content_render">

                        <h4 class="">{{ reply.content_rendered|markdown|safe }} </h4>

                    </div>
                    {% endfor %}
                </li>
            </ul>

        </li>
    </ul>


    <div class=" text-center">
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="active">
                <span>{{ i }} <span class="sr-only">(current)</span></span>
            </li>
            {% else %}
            <li>
                <a href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>


<!-- List group -->
<ul class="list-group topic-list">
    {% for topic in topics %}
    <li class="list-group-item topic-entry">
        <div class="entry media">
            <div class="media-body media-middle">{% trans 'topic' %}:
                <a href="

                {% if '/teachers' in request.path %}
                {% url 'teacher_topic' pk=topic.pk %}
                        {% else %}
                        {% url 'forum:topic' pk=topic.pk %}
                        {% endif %}
                " class="entry-link">
                    {{ topic.title }}
                </a>
                <p class="entry-meta">{% trans 'node group' %}:
                    <a href="
                    {% if '/teachers' in request.path %}
                    {% url 'teacher_nodegroup' topic.node_group.pk %}
                        {% else %}
                        {% url 'forum:nodegroup' topic.node_group.pk %}
                        {% endif %}
                    
                    ">
                        <span class="label label-default meta-node">
                            {{ topic.node_group.title }}
                        </span>
                    </a>
                    <span class="meta meta-pub_date">
                        {{ topic.pub_date | naturaltime }}
                    </span>
                    <span class="meta meta-last_replied hidden-xs">
                        {% trans "Last Replied" %}: {{ topic.last_replied | naturaltime }}
                    </span>
                </p>
            </div>
            <div class="media-right media-middle">
                <span class="badge">{{ topic.reply_count }}</span>
            </div>

        </div>
    </li>
    {% endfor %}
</ul>


{% endblock %}