@charset "UTF-8";

.select2-container .select2-selection--single {
  height: 2.45em !important;
  border: 1px solid #ced4da !important;
}
.select2-selection--multiple {
  height: 2.55em !important;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 36px !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 7px !important;
}
.select2-search__field {
  margin-top: 0px !important;
}
.align-items-center {
  align-items: center;
}

/* Change in theme layout */
.layout-wrapper .content-wrapper .content-body .content {
  padding-top: 80px;
}
.header {
  padding-top: 10px;
  padding: 15px;
}

/* Breadcrumb custom style */
.breadcrumb-item.active {
  font-weight: bold;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}
.breadcrumb {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  list-style: none;
  /* background-color: #c3c8e7 !important; */
  /* border-radius: 50px !important; */
  padding: 10px !important;
}

/* .bg-primary-gradient-reverse {
  background: linear-gradient(230deg, #939dd5, #5c6bc0) !important;
  color: white !important;
} */

.dt-buttons {
  display: block;
  text-align: center !important;
}

/* form wizard */
.wizard > .content {
  padding-left: 0 !important;
  background-color: white !important;
  min-height: fit-content !important;
}
.wizard > .content > .body {
  height: 100% !important;
  width: 100% !important;
  position: relative !important;
}

/* profile avatar change */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper button {
  cursor: pointer !important;
  border: 2px solid white;
  color: white;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* password change css */

.has-error .help-block {
  font-style: normal;
  color: red;
}

#div_id_new_password1 .controls ul {
  color: #ff9f43;
}
