@charset "UTF-8";

.select2-container .select2-selection--single {
  height: 2.45em !important;
  border: 1px solid #ced4da !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 36px !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 7px !important;
}

.align-items-center {
  align-items: center;
}

/* Change in theme layout */
.layout-wrapper .content-wrapper .content-body .content {
  padding-top: 80px;
}
.header {
  padding-top: 10px;
  padding: 15px;
}

/* Breadcrumb custom style */
.breadcrumb-item.active {
  font-weight: bold;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}
.breadcrumb{
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
 
  margin-bottom: 1rem;
  list-style: none;

  background-color: #c3c8e7!important;
  border-radius: 50px!important;;
  padding: 10px!important;;
}

/* .bg-primary-gradient-reverse {
  background: linear-gradient(230deg, #939dd5, #5c6bc0) !important;
  color: white !important;
} */

.dt-buttons {
  display: block;
  text-align: center !important;
}
